#{extends viewUtils.themeProperty('themeLayout') /}
#{set title:'Collection ' + collection.name + ' of user ' + browsedFullName /}

#{breadcrumbs /}

<h1>${collection.name}</h1>

<div class="unit size1of3">

    <img src="${views.context.package.thumbnailUrl(collection.thumbnail_object_id)}" width="220" alt="${collection.name}"/>

</div>

<div class="unit size2of3">
    <div class="item metadata">
        <h4>Owner:</h4>
        <p>${browsedFullName}</p>

        <h4>Date created:</h4>
        <p>${views.context.package.niceTime(collection._id.getTime())}</p>

        <h4>Date modified:</h4>
        <p>${views.context.package.niceTime(collection.TS_update)}</p>

        <h4>Description:</h4>
        <p>${views.context.package.niceText(collection.description.isEmpty() ? "No description available" : collection.description.get())}</p>

        <h4>Objects:</h4>
        #{if objects.length() > 0}
        <ul class="items small">
            #{list objects, as: 'o'}


            <li class="item">

                <a href="/${o.userName}/collection/${collection._id}/object/${o.id}" rel="nofollow">

                    <div class="media medium container">
                        <div class="inner">
                            <img src='${views.context.package.thumbnailUrl(o.thumbnail)}' alt="${o.title}"/>
                        </div>
                    </div>

                    <div class="metadata">
                        <div class="title">
                            <div class="inner">
                                ${o.title.shorten(50)}
                            </div>
                        </div>
                        <div class="more-info">
                            <div class="inner">
                                <span class="detail">${views.context.package.fullName(o.userName)}</span>
                            </div>
                        </div>
                    </div>
                </a>




            </li>


            #{/list}
        </ul>
        #{/if}
        #{else}
        <p>No objects found for this collection</p>
        #{/else}
    </div>

</div>

#{if userName == browsedUserName}
<div class="buttons">
    <a class="button" href="/${collection.userName}/collection/${collection._id}/update">
        <span class="icon icon145"></span>
        <span class="label">Edit Collection</span>
    </a>
</div>
#{/if}

<!--<div id="add-comment-dialog" title="Add a comment">-->
    <!--<h3>Add a comment</h3>-->
    <!--<div class="inputs">-->
        <!--<textarea name="comment" id="comment"></textarea>-->
        <!--<button class="dui-button ui-state-default ui-priority-primary ui-corner-all">Add</button>-->
    <!--</div>-->
<!--</div>-->

<!--<div id="add-label-dialog" title="Add a label">-->
    <!--<h3>Add a label</h3>-->
    <!--<div class="inputs">-->
        <!--<input type="text" class="textinput"/>-->
        <!--<button class="dui-button ui-state-default ui-priority-primary ui-corner-all">Add</button>-->
    <!--</div>-->
<!--</div>-->

<script type="text/javascript">
    jQuery(document).ready(function() {
//        jQuery('#itemcarousel').jcarousel();
        jQuery("#add-comment").click(function(event) {
          event.preventDefault();
          jQuery("#add-comment-dialog").dialog({
              modal: true,
              close: function(event, ui) {
                  $("#add-comment").removeClass("ui-state-active");
              }
          });
        });
        jQuery("#add-label").click(function(event) {
          event.preventDefault();
          jQuery("#add-label-dialog").dialog({
              modal: true,
              close: function(event, ui) {
                  $("#add-label").removeClass("ui-state-active");
              }
          });
        })
    });
</script>