#{extends viewUtils.themeProperty('themeLayout') /}

#{set title: viewUtils.getKey('thing.collection') + ' ' + collection.name + ' - ' + viewUtils.getKey('thing.owner') + ': ' + browsedFullName /}

#{breadcrumbs /}

<h1 class="sep">${collection.name}</h1>

<div class="row">
    <div class="g-12of12">
        <div class="media record">
            <img src="${views.context.package.thumbnailUrl(collection.thumbnail_id, 350)}" width="350" alt="${collection.name}" class="img"/>

            <div class="extra">
                #{if objects.length() > 0}
                <div class="collection-objects">
                    <div class="inner">
                    <ul>
                    #{list objects, as: 'object'}
                        <li>
                           <a href="/${object.userName}/collection/${collection._id}/object/${object.id}" title="${object.title}">
                                <img src="${views.context.package.thumbnailUrl(object.thumbnail, 80)}" width="80" alt="${object.title}"/>
                            </a>
                       </li>
                    #{/list}
                    </ul>
                    </div>

                </div>
                #{/if}
            </div>
            <div class="bd">
                #{thingToolbar owner: collection.userName, id: collection._id, currentUser: userName, type:"collection"/}
                <div class="metadata">
                    <h5>&{'thing.description'}:</h5>
                    <p>${views.context.package.niceText(collection.description.isEmpty() ? "No description available" : collection.description)}</p>

                    <div class="row">
                        <div class="g-1of2 alpha">
                            #{metadataField label: viewUtils.getKey('thing.name'), data: collection.name /}
                             #{metadataField label: viewUtils.getKey('thing.owner'), data: browsedFullName /}
                            #{metadataField label: viewUtils.getKey('thing.objectcount'), data: objects.length() /}
                        </div>

                        <div class="g-1of2 omega">
                            <h5>&{'thing.datecreated'}:</h5>
                            <p>${views.context.package.niceTime(collection._id.getTime())}</p>

                            <h5>&{'thing.datemodified'}:</h5>
                            <p>${views.context.package.niceTime(collection.TS_update)}</p>
                            *{<!-- Labels commented out for now -->
                            <h5>&{'thing.labels'}:</h5>
                            <p class="labels">
                                #{list labels, as: 'l'}
                                <span class="label">${l.labelType} - ${l.value}</span><br/>
                                #{/list}
                            </p>
                            }*
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>

</div>