/*
	root element for the scrollable.
	when scrolling occurs this element stays still.
*/
.story-container {
    width: 710px;
    margin: 0 auto;
	/*height:500px;*/
    position: relative;
}

.story-container h2 {
    margin-top: 0px;
    font-size: 24px;
}

.scroll-nav {
    height: 32px;
    /*line-height: 32px;*/
    position: relative;
    top: 0px;
    clear: both;
}

.scroll-nav .prev {
    display: inline-block;
}

.scroll-nav .next {
    display: inline-block;

}

.scrollable {
 	/* required settings */
	position:relative;
	overflow:hidden;
    /*width: 700px;*/
    margin:  0 auto;
	/* custom decorations */
    top: 0px;
    display: block;
}

/*
	root element for scrollable items. Must be absolutely positioned
	and it should have a extremely large width to accomodate scrollable items.
	it's enough that you set the width and height for the root element and
	not for this element.
*/
.scrollable .items {
	/* this cannot be too large */
	width:20000em;
	position:absolute;
	clear:both;
    background: #f1f1f1;
}

.scrollable .page {
	float:left;
	width: 700px;
    position: relative;
    top: 0px;
    left: 0px;
}

.scrollable .page-left {
    float: left;
}

.scrollable .page-right {
    float: left;
}

.scrollable .title-page {
    text-align: center;
}

.scrollable .title-page h2 {
   color: #000;
}

/* Navigation */

.story .browse {
    cursor: pointer;
    display: inline-block;
}
.story .browse.disabled {
    color: #ccc;
    cursor: default;
}


