/* Actions */


/* ACTIONS ************************************************/
/*
    Icon sets used:
    1) Silk icons from http://wwww.famfamfam.com (Mark James
    2) Fugues icons from http://p.yusukekamiyamane.com (Yusuke Kamiyamane)
    3) Silk icons companions from http://damieng.com/ (Damien Guard)
*/

.action {
    background-position: 4px 4px;
    background-repeat: no-repeat;
    padding:  6px 10px 6px 24px;
    text-decoration: none;
        vertical-align: middle;
}

button.action {
    background-position: 8px 4px;
    border:  1px solid #ccc;
    padding: 2px 4px 8px 34px;
    border-radius: 4px;
}

.action.no-icon {
    background-image: none;
    padding-left: 0px !important;
}

.action.i-right {
    background-position: right 50%;
    padding-right: 20px;
    padding-left: 0px !important;
}

.action.f-right {
    float: right;
}

.action.disabled {
    opacity: .8;
}

.action.current {
    text-decoration: underline;
}

.action.goto{
    background-image: url("../images/page_white_go.png");
}

.action.save {
    background-image:  url("../images/disk.png");
}

.action.delete {
    background-image:  url("../images/delete.gif");
}

.action.new-window {
    background-image:  url("../images/application_double.png");
}

.action.next {
   background-image:  url("../images/control_fastforward.png");
}

.action.previous {
   background-image:  url("../images/control_rewind.png");
}

.action.edit {
   background-image:  url("../images/pencil_go.gif");
}

/* actions for pages */

.action.delete.page {
   background-image:  url("../images/page_delete.png");
    color: #cc0000;
}

.action.edit.page {
   background-image:  url("../images/page_edit.png");
    color: #669900;
}

.action.add.page {
    background-image:  url("../images/page_add.gif");
}

.action.save.page {
    background-image:  url("../images/page_save.png");
}

/* actions for stories */

.action.view.story {
    background-image: url("../images/bg-book.png");
}

/* actions for images/objects */

.action.add.image {
   background-image:  url("../images/image_add.png");
}

.action.edit.image {
   background-image:  url("../images/image_edit.png");
}

.action.delete.image {
   background-image:  url("../images/image_delete.png");
    color: #cc0000;
}

.action.share {
    background-image:  url("../images/share.png");
}

.action.story-add {
    background-image:  url("../images/book_add.png");
}

.action.read {
    background-image:  url("../images/book_open.gif");
}

.action.collection-add {
    background-image:  url("../images/folder_add.gif");
}

.action.label.add {
    background-image: url("../images/tag_blue_add.png");
}

.action.label.delete {
    background-image: url("../images/tag_blue_delete.png");
}

.actions {
    margin-bottom: 10px;
}

.actions .action:last-of-type {
    margin-right: 0;
}


