
/* DUI BUTTONS AND TOOLBAR */

.dui-button {
    background: -moz-linear-gradient(center top , #F5F5F5, #F1F1F1) repeat scroll 0 0 transparent;
    border: 1px solid rgba(0, 0, 0, 0.1);
    -moz-border-radius:border-radius: 2px 2px 2px 2px;
    -webkit-border-radius: border-radius: 2px 2px 2px 2px;
    border-radius: 2px 2px 2px 2px;
    color: #666666;
    cursor: default;
    /*font: 75% arial,sans-serif;*/
    margin: 0 8px 0 0;
    outline: medium none;
    padding: 3px 12px;
    text-align: center;
    vertical-align: middle;
    white-space: nowrap;
}
.dui-button .ui-icon {
    position: absolute;
    top: 50%;
    margin-top: -8px;
    left: 50%;
    margin-left: -8px;
}

a.dui-button {
    float: left;
}

/* remove extra button width in IE */
button.dui-button {
    width: auto;
    overflow: visible;
}

.dui-button-icon-left {
    padding-left: 2.1em;
}

.dui-button-icon-right {
    padding-right: 2.1em;
}

.dui-button-icon-left .ui-icon {
    right: auto;
    left: .2em;
    margin-left: 0;
}

.dui-button-icon-right .ui-icon {
    left: auto;
    right: .2em;
    margin-left: 0;
}

.dui-button-icon-solo {
    display: block;
    width: 8px;
    text-indent: -9999px;
}

/* solo icon buttons must have block properties for the text-indent to work */

.dui-buttonset {
    float: left;
    margin-bottom: 10px;
}

.dui-buttonset .dui-button {
    float: left;
}

.dui-buttonset-single .dui-button,
.dui-buttonset-multi .dui-button {
    margin-right: -1px;
}

.dui-toolbar {
    padding: .5em;
    margin: 0;
}

.dui-toolbar .dui-buttonset {
    margin-right: 1.5em;
    padding-left: 1px;
}

.dui-toolbar .dui-button {
    font-size: 1em;
}