
/* DUI BUTTONS AND TOOLBAR */

.dui-button {
    background-color: #f5f5f5;
    background-color: -moz-linear-gradient(center top , #F5F5F5, #F1F1F1);
    background-color: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#F5F5F5), color-stop(100%,#F1F1F1)); /* Chrome,Safari4+ */
    background-color: -webkit-linear-gradient(top, #F5F5F5 0%,#F1F1F1 100%); /* Chrome10+,Safari5.1+ */
    background-color: -o-linear-gradient(top, #F5F5F5 0%,#F1F1F1 100%); /* Opera11.10+ */
    background-color: -ms-linear-gradient(top, #F5F5F5 0%,#F1F1F1 100%); /* IE10+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#F5F5F5', endColorstr='#F1F1F1',GradientType=0 ); /* IE6-9 */
    background-color: linear-gradient(top, #F5F5F5 0%,#F1F1F1 100%); /* W3C */
    border: 1px solid rgba(0, 0, 0, 0.1);
    -moz-border-radius:border-radius: 2px 2px 2px 2px;
    -webkit-border-radius: border-radius: 2px 2px 2px 2px;
    border-radius: 2px 2px 2px 2px;
    color: #666666;
    cursor: pointer;
    font-size: 12px;
    margin: 0 8px 0 0;
    outline: medium none;
    padding: 3px 12px;
    text-align: center;
    vertical-align: middle;
    white-space: nowrap;
}

.dui-button:hover {
    border: 1px solid #999999;
}

.dui-button[disabled] {
    cursor: default;
    opacity:0.4;
    filter:alpha(opacity=40)
}

.dui-button .ui-icon {
    position: absolute;
    top: 50%;
    margin-top: -8px;
    left: 50%;
    margin-left: -8px;
}

/*a.dui-button {*/
    /*float: left;*/
/*}*/

/* remove extra button width in IE */
button.dui-button {
    width: auto;
    overflow: visible;
}

.dui-button-icon-left {
    padding-left: 2.1em;
}

.dui-button-icon-right {
    padding-right: 2.1em;
}

.dui-button-icon-left .ui-icon {
    right: auto;
    left: .2em;
    margin-left: 0;
}

.dui-button-icon-right .ui-icon {
    left: auto;
    right: .2em;
    margin-left: 0;
}

.dui-button-icon-solo {
    display: block;
    width: 8px;
    text-indent: -9999px;
}

/* solo icon buttons must have block properties for the text-indent to work */

.dui-buttonset {
    float: left;
    margin-bottom: 10px;
}

.dui-buttonset .dui-button {
    float: left;
}

.dui-buttonset-single .dui-button,
.dui-buttonset-multi .dui-button {
    margin-right: -1px;
}

.dui-toolbar {
    padding: .5em;
    margin: 0;
}

.dui-toolbar .dui-buttonset {
    margin-right: 1.5em;
    padding-left: 1px;
}

.dui-toolbar .dui-button {
    font-size: 1em;
}