body {
    color: #000;
    background: #f1f1f1;
    font-family: Arial, Helvetica, sans;
    font-size: 16px;
    text-align: center;
    line-height: 150%;
}

h1, h2, p {
    margin: 0;
    padding: 10px;
    border-bottom: 1px solid #fff;
}

h1 {
    font-size: 200%;
    background: #000;
    color: #fff;
}

h2 {
    font-size: 150%;
    background: #990000;
    color: #fff;
}
.fourothree h2 {
    background: #eca500;
}

.fivehundred h2 {
    background: #999900;
}
p {
    background: #000;
    color: #fff;
}


img {
    margin: 0;
    padding: 0;
    display: block;
}

.container {
    background: #fff;
    border: 1px solid #555;
    padding: 10px;
    width: 300px;
    margin: 60px auto;
}

.options {
    background: #fff;
    padding: 10px;
}