/* FORM ELEMENT STYLES */

form {
    margin: 0;
    padding: 0;
}

form.box {
    background: #eaeaea;
    border: 1px solid #ccc;
    padding: 1em;
    border-radius: 4px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
}

label {
    display: block;
    color: #555;

}

.required-note {
    color: #777777;
    display: block;
    font-size: 1em;
}

.required-note span {
    color: #cc0000;
}

div.field {
    border-bottom: 1px dotted #ccc;
    margin-bottom: 10px;
    overflow: hidden;
    padding-bottom: 10px;
    position: relative;
}

div.field label,
div.field div.label {
    color: #444444;
    display: block;
    /*float: left;*/
    /*font-size: 1.1em;*/
    font-weight: bold;
    margin-bottom: 0.5em;
    text-align: left;
    width: 200px;
}

label.fileinput-button {
    margin-bottom:  0 !important;
}

/*div.field label:after {*/
    /*content: ":";*/
/*}*/

div.field label.required:after {
    color: #cc0000;
    content: " *";
    font-size: 14px;
    font-weight: normal;
}

.field .inputs {
    /*float: left;*/
    overflow: hidden;
    width: 100%;
}

.field .help {
    display: block;
    color: #888;
    font-size: 85%;
}

input.textinput, select, textarea {
    background-color: #FFFFFF;
    border: 1px solid #DDDAD3;
    /*font-size: 1.1em;*/
    padding: 3px;
}

select {
    padding: 2px;
}

.inputs textarea {
    width: 98.5%;
    min-height: 150px;
}

input.textdisplay {
    border: none;
}

input[type=submit],
input[type=button],
input[type=file],
button {
    border: none;
    background-color: #999;
    color: #fff;
    /*font-size: 1.1em;*/
    /*font-weight: bold;*/
    padding: 4px 10px;
    border-radius: 4px;
    height: 30px;
}

input[type=file] {
    background: #fff;
}

input[type=submit]:hover,
input[type=button]:hover,
input[type=file]:hover,
button:hover{
    background-color: #555;
}

input[type=submit]:active,
input[type=button]:active,
input[type=file]:active,
button:active{
    background-color: #888;
}

input[type=radio],
input[type=checkbox] {
    margin: 4px 4px 0 0;
}

button[disabled] {
    background-color: #888;
    cursor: default;
    opacity:0.4;
    filter:alpha(opacity=40)
}




