.extHelp {
    background-image: url(buttons/button-icons-color.png)!important;
    background-position: -72px -90px;
    background-repeat: no-repeat;
    display: inline-block;
    float:  none !important;
}