hr {
    border:  none;
    border-top:  1px solid #ccc;
    margin:  10px 0;
}

.user-name {
    display: inline-block;
    float: left;
    margin-right: 10px;
}

.extHelp {
    background-image: url(buttons/button-icons-color.png)!important;
    background-position: -72px -90px;
    background-repeat: no-repeat;
    display: inline-block;
    float:  none !important;
}

strong {
    font-weight: bold;
}

.toolbar {
    position: relative;
    z-index: 11;
    margin: 10px;
}

.toolbar .buttons {
    display: table;
    background: none repeat scroll 0 0 #F1F1F1;
    border: 1px solid #D2D2D2;
    padding: 0px;
    width: 100%;
    font-size: 85%;
}

.toolbar .pager {
    display: inline-block;
    float: left;
    margin-top: 5px;
}

.toolbar.organization {
    margin-top: 10px;
}

/* dialogs */

/* labels and comments dialogue*/
#add-label-dialog,
#add-comment-dialog {
    display: none;
}

/* button addition class */


.button.prominent {
    width: 98%;
    clear: both;
    text-align: center;
}

.button.prominent .label {
    float: none;
    margin:  0 auto;
}

button[disabled],
.button[disabled]{
    cursor: default;
    -moz-opacity: 0.50;
    opacity: 0.50;
    -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=50);

}

.info-box .label {
    color: #888;
    float: left;
    clear: left;
    display: block;
    width: 120px;
    text-align: left;
}

.info-box.long .label {
    width: 150px;
}

.info-box .text {
    display: block;
    float: left;
}

/* media */

/* media overrides */

.media .img {
    margin-right: 10px;
}

.media.record .img {
    margin-right: 50px;
    max-width: 300px;
}

.media .extra {
    display: block;
    clear: left;
    float: left;
}

.media .toolbar {
    margin: 10px 0;
}

/* metadata */

.metadata h5 {
    margin:  0;
}

.metadata p {
    margin-bottom: 10px;
}

div.dropdown-slider .ddm.heading .label {
    color: #fff;
}
div.dropdown-slider .ddm.heading {
    background: #555;
    color: #fff;
    text-shadow: 0 1px 0 #000;

}

.private {
    background-color: #fffff0;
}

.private span {
    margin: 10px 4px 4px 0px;
    padding:  4px;
    border:  1px solid #000;
    display: block;
    /*padding:  4px;*/
    font-size: 80%;
}
