/* ITEM LIST *************************************************************************************/

ul.items {
    list-style: none outside none;
    margin: 10px 0;
    overflow: auto;
    padding: 0;
}

ul.items li {
    /*background:  #f1f1f1;*/
    display: inline-block;
    float: left;
    margin: 10px 20px 10px 0;
    min-height: 150px;
    position: relative;
    width: 180px;
}

ul.items li.item {
    position: relative;
}

ul.items li.item a {
    display: block;
    width: 100%;
    height: 100%;
}

ul.items h2 {

    color: #555;
    position: absolute;
    bottom: 0px;
    font-size: 90%;
    font-weight: normal;
    height: 30px;
    /*margin: 5px 0 0;*/
    overflow: hidden;
    width: 100%;
}

ul.items a {
    text-decoration: none;
}

ul.items li.item .more-info {
    font-size: 85%;
    font-weight: normal;
    line-height: 100%;
    position: absolute;
    overflow: hidden;
    bottom: 0;
    left: 0;
    width: 100%;
    height: auto;
    max-height: 75%;
    opacity: 0;
    color: white;
    background-color: rgba(0, 0, 0, .8);
    -moz-transition: .25s linear opacity;
    -webkit-transition: .25s linear opacity;
    margin: 0;
    padding: 5px;
}

ul.items li:hover .more-info {
opacity: 1;
}

/*.item {*/
    /*display: block;*/
    /*position: relative;*/
    /*overlow: hidden;*/
/*}*/


/*.item h4 {*/
    /*font-weight: bold;*/
    /*margin: 0;*/
    /*padding: 0 20px 0 0;*/
/*}*/

/*.item h4 a:link,*/
/*.item h4 a:visited {*/
    /*color: #0066cc;*/
    /*text-decoration: none;*/
/*}*/

/*.item h4 a:hover {*/
    /*color: #0066cc;*/
    /*text-decoration: underline;*/
/*}*/

/*.item .media {*/
    /*float: left;*/
    /*display: table-cell;*/
    /*position: relative;*/
    /*margin: 0 10px 10px 0;*/
    /*clear: left;*/
/*}*/

/*.item .media.small {*/
    /*width: 50px;*/
    /*height: 40px;*/
/*}*/

/*.item .media.medium {*/
    /*width: 100px;*/
    /*height: 75px;*/
/*}*/

/*.item .media.large {*/

/*}*/

/*.item .media.small img {*/
    /*position:absolute;*/
    /*clip:rect(0px,50px,40px,0px);*/
/*}*/

/*.item .media.medium img{*/
    /*position:absolute;*/
    /*clip:rect(0px,100px,75px,0px);*/
/*}*/

/*.item .media.large img{*/

/*}*/

/*.item .metadata {*/
     /*display: table-cell;*/
    /*font-size: 85%;*/
    /*line-height: 136%;*/
/*}*/

/*.item .metadata .hd {*/

/*}*/

/*.item .metadata .bd {*/
    /*margin-bottom: 4px;*/
/*}*/

/*.item .metadata .ft {*/

/*}*/

/*.item h2 {*/
    /*font-size: 120%;*/
    /*margin:  0;*/
/*}*/


/*.item p {*/
    /*margin: 0;*/
/*}*/


/*.metadata p {*/
   /*margin-bottom: 10px;*/
/*}*/

/*.item .detail {*/
    /*display: inline-block;*/
    /*font-size: 90%;*/
    /*margin-right: 10px;*/
/*}*/

    /*.one-col {*/
        /*clear: both;*/
        /*padding: 0 1% 1em 1%;*/
    /*}*/

    /*.two-col {*/
        /*display: inline-block;*/
        /*float: left;*/
        /*margin: 0 2% 1em 0;*/
        /*width: 48%;*/
    /*}*/

    /*.three-col {*/
        /*display: inline-block;*/
        /*float: left;*/
        /*margin: 0 2% 1em 0;*/
        /*width: 31.33%;*/
    /*}*/

    /*.four-col {*/
        /*display: inline-block;*/
        /*float: left;*/
        /*margin: 0 2% 1em 0;*/
        /*width: 23%;*/
     /*}*/



