a, a:active, a:visited { color: #0066ff; }
a:hover { color: #10a1ff; }

a.current {
    font-weight: bold;
}

/* MAIN NAV, #USER-NAV *****************************************************************************************/

ul.nav{
    margin:  0;
    padding:  0;
}

ul.nav li{
    border-left:  1px solid #ccc;
    margin:  0;
    padding:  0;
    display: inline-block;
    float: left;
}

ul.nav li:first-of-type {
    border-left:  none;
}

ul.nav li a {
    padding:  0 10px;
}

span.pipe {
    display: inline-block;
    margin: 0 8px;
    padding:  0;
    color: #777
}

.breadcrumbs {
    height: 20px;
    margin-bottom: 20px;
}

.breadcrumbs span.arrow {
    background:  transparent url(../images/arrows-next-horizontal.png) -80px 4px no-repeat;
    display: inline-block;
    height: 16px;
    margin:  0 10px 0 12px;
    width: 16px;
    text-indent: -999em; overflow: hidden;
}

.breadcrumbs .current {
    color: #888;
}