#pager {
    background:  #ccc;
    display: block;
    margin-bottom: 20px;
    width: 100%;
}

.pagination {
    font-size: 14px;
    width: 100%;
    height: inherit;
}

.pagination a {
    background: #fff;
    text-decoration: none;
    /*border: solid 1px #AAE;*/
    color: #15B;
    margin: 0;
}

.pagination a, .pagination span {
    display: inline-block;
    /*float: left;*/ /*Use display: inline-block instead of float left to get rid of parent/child float glitch */
    margin: 0;
    min-width: 1em;
    padding: 1px 6px;
    text-align: center;
}

.pagination .current {
    background: #26B;
    color: #fff;
    /*border: solid 1px #AAE;*/
}

.pagination .prev,
.pagination .next {
    background: #eaeaea;
}

.pagination .current.prev, .pagination .current.next {
    color: #999;
    /*border-color:#999;*/
}
