.pagination {
    font-size: 14px;
    clear: both;
    height: 28px;
    background: #ccc;
}

.pagination a {
    background: #fff;
    text-decoration: none;
    /*border: solid 1px #AAE;*/
    color: #15B;
    margin: 0;
}

.pagination a, .pagination span {
    display: block;
    float: left;
    padding: 1px 6px;;
    /*margin-right: 5px;*/
    /*margin-bottom: 5px;*/
    margin: 0;
    min-width: 1em;
    text-align: center;
}

.pagination .current {
    background: #26B;
    color: #fff;
    /*border: solid 1px #AAE;*/
}

.pagination .prev,
.pagination .next {
    background: #eaeaea;
}

.pagination .current.prev, .pagination .current.next {
    color: #999;
    /*border-color:#999;*/
}
