/*
	root element for the scrollable.
	when scrolling occurs this element stays still.
*/
.story-container {
    width: 960px;
    margin: 0 auto;
	/*height:500px;*/
    position: relative;
}

.story-container h2 {
    margin-top: 0px;
    font-size: 24px;
}

.story-navigation {
    height: 32px;
    position: relative;
    top: 20px;
    clear: both;
}

.story-navigation .prev {
    float: left;
    /*margin-left: 75px;*/

}

.story-navigation .next {
    float: right;
    /*margin-right: 75px;*/

}

.scrollable {
 	/* required settings */
	position:relative;
	overflow:hidden;
	overflow-y: auto;
    width: 960px;
    margin:  0 auto;
    min-height: 500px;

	/* custom decorations */
    top: 40px;
}

/*
	root element for scrollable items. Must be absolutely positioned
	and it should have a extremely large width to accomodate scrollable items.
	it's enough that you set the width and height for the root element and
	not for this element.
*/
.scrollable .items {
	/* this cannot be too large */
	width:20000em;
	position:absolute;
	clear:both;
}

.scrollable .page {
	float:left;
	width:960px;
    position: relative;
    top: 20px;
    left: 0px;
}

.scrollable .page img {
    max-height: 300px;
    max-width: 350px;
}

.scrollable .page-left {
    float: left;
    /*width: 48%;*/
    /*margin-right:  1%;*/
}

.scrollable .page-right {
    float: left;
    /*width: 48%;*/
    /*margin-left:  1%;*/
}

.scrollable .title-page {
    text-align: left;
}

/*.scrollable .title-page h1 {*/
    /*font-size: 300%;*/
    /*margin: 30px 0 10px 0;*/
/*}*/

.scrollable .title-page h2 {
   color: #000;
}

/*.scrollable .page h2 {*/
    /*color: #555;*/
    /*font-size: 150%;*/
/*}*/

/* single scrollable item */
/*.scrollable img {*/
	/*float:left;*/
    /*margin:  0 20px 20px 0;*/
/*}*/

/* active item */
/*.scrollable .active {*/
	/*border:2px solid #000;*/
	/*position:relative;*/
	/*cursor:default;*/
/*}*/

/* Navigation */

.story .browse {
    cursor: pointer;
    display: inline-block;
    /*margin-right: 20px;*/
}
.story .browse.disabled {
    color: #ccc;
    cursor: default;
}


