/*
	root element for the scrollable.
	when scrolling occurs this element stays still.
*/
.story-container {
    background:  #fff url(../images/bg-book.png) bottom center no-repeat;
    width: 940px;
    margin: 0 auto;
	height:500px;
    position: relative;
}

.story-navigation {
    position: relative;
    top: 40px;
    clear: both;
}

.story-navigation .prev {
    float: left;
    margin-left: 75px;

}

.story-navigation .next {
    float: right;
    margin-right: 75px;

}

.scrollable {
 	/* required settings */
	position:relative;
	overflow:hidden;
	overflow-y: auto;
    width: 860px;
    margin:  0 auto;
    height: 500px;

	/* custom decorations */
    top: 40px;
}

/*
	root element for scrollable items. Must be absolutely positioned
	and it should have a extremely large width to accomodate scrollable items.
	it's enough that you set the width and height for the root element and
	not for this element.
*/
.scrollable .items {
	/* this cannot be too large */
	width:20000em;
	position:absolute;
	clear:both;
}

.scrollable .page {
	float:left;
	width:860px;
    position: relative;
    top: 20px;
    left: 0px;
    /*padding: 50px 70px;*/
}

.scrollable .page img {
    max-height: 300px;
    max-width: 350px;
}

.scrollable .page-left,
.scrollable .page-right {
    float: left;
    width: 42%;
    margin:  0 4%;
}

.scrollable .title-page {
    text-align: center;
}

.scrollable .title-page h1 {
    font-size: 200%;
    margin: 30px 0 10px 0;
}

.scrollable .title-page h2 {
   color: #000;
   margin-top: 20px;
}

.scrollable .page h2 {
    color: #555;
    font-size: 150%;
}

/* single scrollable item */
/*.scrollable img {*/
	/*float:left;*/
    /*margin:  0 20px 20px 0;*/
/*}*/

/* active item */
/*.scrollable .active {*/
	/*border:2px solid #000;*/
	/*position:relative;*/
	/*cursor:default;*/
/*}*/

/* Navigation */

.story .browse {
    cursor: pointer;
    display: inline-block;
    /*margin-right: 20px;*/
}
.story .browse.disabled {
    color: #ccc;
    cursor: default;
}

