html, body {
    /*background: #F0F0F0;*/
    font-family: 'Lucida grande', verdana, sans-serif;
    margin:  0 0 0 0;
    height: 100%;
    padding: 0;
}

#login {
    width: 500px;
    margin: 40px auto;
    padding:  10px;
    text-align: center;
    height: 100% !important;
}

#login h1 {
    color: #555;
}

#login h2 {
    font-weight: bold;
    color: #555;
    text-transform: uppercase;
    text-align: center;
}

#login-registration {
    text-align: right;
}

#login #branding {
    margin:  0;
}

#login #branding h1 {
    margin:  0 0 20px 0;
}

#login form {
    /*border: 10px solid #ccc;*/
    background: #fff;
    padding: 10px;
    text-align: left;
}

#login form p {
    margin: 3px;
}

#username-field {
    margin-top: 10px !important;
}

#username-field label, #password-field label {
    display: block;
    width: 150px;
    float: left;
    text-align: right;
    margin-right: 5px;
    color: #333;
    /*font-size: 15px;*/
}

#username-field input {
    width: 200px;
}

#password-field input {
    width: 150px;
}

#remember-field input {
    margin-left: 155px;
}

#remember-field {
    font-size: 12px;
    color: #666;
}

#signin-field input {
    margin-left: 155px;
    margin-top: 10px;
}

#login .error, #login .success  {
    color: #fff;
    font-size: 12px;
    text-align: center;
    margin-bottom: 10px;
    padding: 5px;
}

#login .error {
    background: #c00 !important;
}

#login .success {
    background: #008800 !important;
}

#login nav {
    background-color: #fff;
    padding:  0 20px 10px;
}
