<!--
  Template
    List of available objects with checkbox to select them

  Template parameters
    availableObjects         observable array of objects
    selectedIds              observable array of selected object IDs
-->
<div style="overflow-y: auto">
    {{each(i, object) $item.availableObjects()}}
    <div class="g-1of2">
            <div class="media">
                <span class="img clip clip-40"><img src='${object.thumbnail}' width="50" alt="${object.title}" /></span>
                <input type="checkbox" value="${object.id}" data-bind="checked: $item.selectedIds" class="imgExt"/>
                <div class="bd">
                   ${object.title}
                </div>
            </div>
            <hr/>
    </div>
    {{/each}}
</div>

