<!--
 Template
   Table of selected objects with possibility to remove them / use them as thumbnail

 Template parameters
   title                     title of the table
   objects                   observable array holding the objects
   thumbnail                 observable holding the selected thumbnail ID

 ViewModel requirements
   removeObject(object)      function to remove an object

-->

<table width="100%" class="list">
    <caption>${$item.title}</caption>
    <thead>
        <tr>
            <th>&{'thing.object'}</th>
            <th>&{'thing.name'}</th>
            <th>&{'tmpl.selectedObjects.useAsDefault'} <strong>*</strong></th>
            <th>&{'thing.action'}</th>
        </tr>
    </thead>
    <tfoot>
        <tr>
            <td colspan="4">
                 <div>
                     <strong>*</strong> &{'tmpl.selectedObjects.defaultImage'}
                 </div>
            </td>
        </tr>
    </tfoot>
    <tbody>
    {{each(i, object) $item.objects()}}
    <tr>
        <td width="50"><img src='${object.thumbnail}' width="50" alt=""/></td>
        <td>${object.title}</td>
        <td width="90"><input type="radio" name="is_thumb" value="${id}" data-bind='visible: (hubType() == "object" ), checked: $item.thumbnail'></td>
        <td width="120">
            <a href="#" class="button" data-bind="click: function() { this.removeObject(object) }">
                <span class="icon icon186"></span>
                <span class="label">&{'ui.label.delete'}</span>
            </a>
        </td>
    </tr>
    {{/each}}
</table>