/* FORM ELEMENT STYLES */

form {
    background: #f1f1f1;
    margin: 0;
    padding: 0;
}

.data-grid form {
    padding: 0px
}

form.box {
    background: #eaeaea;
    padding:  10px;
}

form.data-set {
    display: inline-block;
    background:  transparent;
}

legend {
    background:  #555;
    color: #fff;
    font-weight: bold;
    width: 100%;
}

legend span {
    display:block;
    padding:  10px;
}

form h3 {
    background-color: #555;
    color: #fff;
    /*font-size: 18px;*/
    margin:  0 0 10px 0;
    padding: 2px 10px;
}

.field {
    display: table;
    clear: both;
    /*margin-bottom: 10px;*/
    margin: 0 10px;
    padding: 10px 0;
    vertical-align: top;
}

.field:hover,
.field:active {
    background-color: #fff;
}

form .buttons {
    padding:  10px;
}
label.label {
    color: #555;
    display: inline-block;
    font-weight: bold;
    width: 120px;
    text-align: right;
    margin-right: 6px;
    vertical-align: top;
    padding-left: 6px;

}

.field .inputs {
    display: table-cell;
    width: 100%;
}

.field .inputs .extra {
    display: inline-block;
    vertical-align: top;
}

.field .inputs textarea,
.field .inputs input {
    vertical-align: top;
}


.field .help {
    color: #888;
    display: block;
    font-size: 85%;
    font-style: italic;
    word-wrap: break-word;
}

.field .help strong {
    display: inline-block;
    margin-right: 8px;
}

.field .extHelp {
    cursor:help;
}

.field .input[type=radio] {
    display: block;
}

.field input.textinput,
.field select,
.field textarea {
    background-color: #FFFFFF;
    border: 1px solid #DDDAD3;
    padding: 3px;
}

.field textarea {
   min-width: 300px;
   min-height: 100px;
}

.success {
    color: green;
    /*padding:  4px;*/
}
.error {
    color: #cc0000;
    /*padding:  4px;*/
}

/* this is for the LIMIT plugin */

.small-text
{
    font-size: 12px;
}
.char-count span
{
    display: inline-block;
    width: 30px;
    padding: 0 5px;
    text-align: center;
    background-color: #008000;
    color: #FFF;
}
.char-count span.char-count-over-limit
{
    background-color: #800000;
    color: #FFF;
}

.char-count span.char-count-under-limit
{
    background-color: #FC0;
    color: #000;
}




