#{extends viewUtils.themeProperty('themeLayout') /}
#{set title: viewUtils.getKey('profile.title') + ': ' + userName /}

#{breadcrumbs /}

<h1 class="sep">&{'profile.title'}: <span>${user.fullname()}</span></h1>
<div class="row">
    <div class="g-4of12">
        <div class="info-box">
            <span class="label">&{'ui.label.username'}:</span><span class="text">${user.userName}</span>
            <span class="label">&{'ui.label.fullname'}:</span><span class="text">${user.fullname()}</span>
            <span class="label">&{'profile.activesince'}:</span><span class="text">${views.context.package.niceTime(user._id.getTime())}</span>
        </div>
    </div>
    <div class="g-6of12">
        <div class="info-box long">
            <span class="label">&{'thing.objectcount'}:</span><span class="text"><a href="/${user.userName}/object"> ${objects.length()}</a></span>
            <span class="label">&{'thing.collectionscount'}:</span><span class="text"><a href="/${user.userName}/collection">${collections.length()}</a></span>
            <span class="label">&{'thing.storycount'}:</span><span class="text"><a href="/${user.userName}/story">${stories.length()}</a></span>
        </div>
    </div>

</div>