@(stories: List[controllers.ShortStory], page: Int, count: Int)

@import views.context._
@import views.tags.html._

@header(if(browsedUserName != null) "List of stories for user %s".format(browsedUserName) else "List of stories") {
<div class="breadcrumbs">
    <a href="@action(controllers.Application.index)">Home</a><span class="arrow"> &gt; </span>
    <span class="current">Stories</span>
</div>

    <div class="grid_16 alpha">

        @if(browsedUserName != null) {
            <h2>All stories owned by: <span>@browsedUserName</span> (@count)</h2>
        } else {
            <h2>Browse Stories (@count)</h2>
        }

        @if(stories.length > 0) {
        <div class="item-nav">
            <div id="pager">@pagination(selector = "#pager", count = count, start = page)</div>
        </div>
        }   else {
            <p>There are currently no stories available</p>
        }

        @for(story <- stories) {

        <div class="item one-col">
            <div class="media medium">
                <img src='@thumbnailUrl(story.thumbnail)' width="84"/>
            </div>
            <div class="metadata">
            <h4><a href="/@story.userName/story/@story.id">@story.name</a></h4>
                <p>@story.shortDescription</p>
            </div>
            @if(story.userName == userName) {
                <div class="actions"><a class="edit" href="/@story.userName/story/@story.id/update">Edit Story</a></div>
            }
        </div>
        }

    </div>
    <!--<div class="grid_4 omega">-->
        <!--@if(connectedIsBrowsed) {-->
            <!--<div class="actions ar">-->
                 <!--<a class="add story-add" href='/@userName/story/add'>Create a new story</a>-->
            <!--</div>-->
        <!--}-->
    <!--</div>-->

}