@(user:models.User)

@import views.context._

@header("Browse Stories") {
    <div class="grid_12 alpha">

        @if(browsedUserName != null) {
            <h2>All stories owned by: <span>@browsedUserName</span></h2>
        } else {
            <h2>Browse Stories</h2>
        }

        @for(i <- 0 until 6) {

        <div class="item three-col">
            <img src='@asset("/public/images/dummy-object.png")' width="84"/>
            <h4><a href="">Title_@i</a></h4>
            <!--<label>Owner</label><a href="">User Name</a><br/>-->
            <span class="description">Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor.</span>
            @if(renderArgs.get("displayName") != null) {
                <span class="options"><a href>Edit Story</a></span>
            }
        </div>
        }

    </div>
    <div class="grid_4 omega">
        @if(renderArgs.get("displayName") != null) {
            <div class="actions ar">
                 <a class="add story-add" href='/@renderArgs.get("displayName")/story/add'>Create a new story</a>
            </div>
        }
    </div>

}