@(stories: List[controllers.ShortStory], page: Int, count: Int)

@import views.context._

@header(if(browsedUserName != null) "List of stories for user %s".format(browsedUserName) else "List of stories") {
    <div class="grid_12 alpha">

        @if(browsedUserName != null) {
            <h2>All stories owned by: <span>@browsedUserName</span></h2>
        } else {
            <h2>Browse Stories</h2>
        }

        @for(story <- stories) {

        <div class="item three-col">
            <img src='@story.thumbnailUrl' width="84"/>
            <h4><a href="">@story.name</a></h4>
            <!--<label>Owner</label><a href="">User Name</a><br/>-->
            <span class="description">@story.shortDescription</span>
            @if(story.userName == userName) {
                <span class="options"><a href>Edit Story</a></span>
            }
        </div>
        }

    </div>
    <div class="grid_4 omega">
        @if(connectedIsBrowsed) {
            <div class="actions ar">
                 <a class="add story-add" href='/@userName/story/add'>Create a new story</a>
            </div>
        }
    </div>

}