@(story: models.Story)

@import views.context._

@header("Story " + story.name + " of user " + fullName(story.userName) ) {

<link rel="stylesheet" type="text/css" href='@asset("/public/themes/common/stylesheets/scrollable.css")'/>


<div class="story">

<h1>@story.name</h1>
<!-- "previous page" action -->
<a class="prev browse left">Previous</a>

<!-- root element for scrollable -->
<div class="scrollable">

   <!-- root element for the items -->
   <div class="items">

     @for(page <- story.pages) {
      <div class="page">
         <h2>@page.title</h2>
         <div class="media">
           @for(i <- page.objects.headOption) {
              <img src="@imageUrl(i.dobject_id)" alt="@page.title">
           }
         </div>
          <div class="text">
            @Html(page.text)
          </div>
      </div>
     }

   </div>

</div>

<!-- "next page" action -->
<a class="next browse right">Next</a>

    </div>

<script type="text/javascript">
// execute your scripts when the DOM is ready. this is mostly a good habit
$(function() {

	// initialize scrollable
	$(".scrollable").scrollable();

});
</script>
}