@(story: models.Story)

@import views.context._

@header("Story " + story.name + " of user " + fullName(story.userName) ) {

<link rel="stylesheet" type="text/css" href='@asset("/public/themes/common/stylesheets/scrollable.css")'/>

<div class="story">

    <h1>@story.name</h1>

    <div class="story-container">

        <div class="story-navigation">
            <a class="prev browse left">Previous page</a>
            <a class="next browse right">Next page</a>
        </div>

        <div class="scrollable">

            <!-- root element for the items -->
            <div class="items">

                <div class="page title-page">
                    <div class="page-left" style="text-align: center">
                          &#160;
                    </div>
                    <div class="page-right" style="text-align: center">
                           <h1>@story.name</h1>
                         <div><img src="@thumbnailUrl(story.thumbnail)" /></div>
                          <h2>By: @fullName(story.userName)</h2>
                    </div>
                </div>

                @for(page <- story.pages) {
                <div class="page">
                    <div class="page-left">
                        <h2>@page.title</h2>
                        @Html(page.text)
                    </div>
                    <div class="page-right">
                       @for(i <- page.objects.headOption) {
                          <img src="@imageUrl(i.dobject_id)" alt="@page.title">
                       }
                    </div>
                </div>
                }

            </div>

        </div>

    </div>
</div>

<script type="text/javascript">
    // execute your scripts when the DOM is ready. this is mostly a good habit
    $(function() {

        // initialize scrollable
        $(".scrollable").scrollable();

    });
</script>
}


