#{extends viewUtils.themeProperty('themeLayout') /}
#{set title: id.isEmpty() ? viewUtils.getKey('user.collection.title.create', fullName) : viewUtils.getKey('user.collection.title.update', fullName) /}

#{breadcrumbs /}

<h1>${id.isEmpty() ? viewUtils.getKey('user.collection.create') : viewUtils.getKey('user.collection.update') }</h1>

<div id="edit-collection" class="mod">

    <div data-bind="text: errors().global"></div>

    <form method="post" action="" id="collectionForm">
    <h3>&{'user.collection.info'}</h3>

    #{textField name:"name", label:viewUtils.getKey('thing.name'), dataBind:"value: name", labelClass:"required", required: true /}
    #{textArea name:"description", label:viewUtils.getKey('thing.description'), dataBind:"value: description", required: true, help:viewUtils.getKey('user.collection.help.description') /}

    <h3>&{'user.collection.objects'}</h3>

    <div class="buttons">
        #{btnHref label:viewUtils.getKey('user.collection.label.addObjects'), iconClass:"icon3", id:"addObject" /}
    </div>

    <div id="objectList" class="mod data-grid" data-bind="template: {name:'objectsList', templateOptions: {title: '&{'user.collection.title.objectsList'}', objects: objects, thumbnail: thumbnail} }"></div>

    <div class="objects-container" id="objects-dialogue" title="&{'user.collection.title.selectObjects'}">
        <div id="objects-list" data-bind="template: {name: 'availableObjectsList', templateOptions: {selectedIds: selectedObjects, availableObjects: availableObjects}}"></div>
    </div>


    <h3>&{'user.collection.status'}</h3>
    <div class="field" for="objectVisibility">
        <label class="label">&{'ui.label.visibility'}</label>

        <div class="inputs">
            <input type="radio" name="public" value="${models.Visibility.PRIVATE().value}" data-bind="checked: visibility"/>&{'ui.label.visibility.notpublic'} <br/>
            <input type="radio" name="public" value="${models.Visibility.PUBLIC().value}" data-bind="checked: visibility"/>&{'ui.label.visibility.public'}
        </div>
    </div>

    <hr/>

    <div class="buttons">
      #{btnButton label:viewUtils.getKey('user.collection.save'), id:"saveButton", extraClass:"blue", type:"submit"  /}
      <div class="wait"></div>
    </div>

</form>
</div>




<script type="text/javascript" language="javascript">
    $(document).ready(function() {

        // load templates
        $.get("/asset?path=/public/themes/common/templates/_availableObjects.tmpl.html", null, function(template) {
          addTemplate('availableObjectsList', template);
        });
        $.get("/asset?path=/public/themes/common/templates/_selectedObjects.tmpl.html", null, function(template) {
          addTemplate('objectsList', template);
        });

        var collectionModel = {
            selectedObjects: ko.observableArray(),
            removeObject: function(object) {
                this.availableObjects.push(object);
                this.objects.remove(object);
            }
        };

        $('#objects-dialogue').dialog({
            autoOpen: false,
            buttons: {
                "&{'user.collection.label.addObjects'}": function() {
                    addSelectedObjects(collectionModel.objects, collectionModel.selectedObjects, collectionModel.availableObjects);
                    $(this).dialog('close');
                }
            }
        });

        $("#addObject").click(function(event) {
            event.preventDefault();
            $("#objects-dialogue").dialog('open');
        });

        $('#saveButton').click(function(event) {
            event.preventDefault();
            handleSubmit('/${userName}/collection/submit', collectionModel, '#collectionForm', '/${userName}/collection/');
        });

        load('/${userName}/collection/load/${id.isEmpty() ? "" : id.get()}', collectionModel);

        var viewModel = { };

        var annotation = function (name, type) {
            this.name = name;
            this.type = type;
            this.remove = function() {
              viewModel.annotations.remove(this)
            }
        }
    });
</script>