#{set 'visibility'}hidden#{/}
#{extends viewUtils.themeProperty('themeLayout') /}
#{set title: id.isEmpty() ? viewUtils.getKey('user.collection.title.create', fullName) : viewUtils.getKey('user.collection.title.update', fullName) /}

#{breadcrumbs /}

<h1 class="sep">${id.isEmpty() ? viewUtils.getKey('user.collection.create') : viewUtils.getKey('user.collection.update') }</h1>

<div class="row">

    <div id="edit-collection" class="g-10of12 grid_10">

    <div data-bind="text: errors().global"></div>

    <form method="post" action="" id="collectionForm">

    <fieldset>
    <legend><span>&{'user.collection.info'}</span></legend>

    #{textField name:"name", label:viewUtils.getKey('thing.name'), dataBind:"value: name", labelClass:"required", required: true /}
    #{textArea name:"description", label:viewUtils.getKey('thing.description'), dataBind:"value: description", required: true, help:viewUtils.getKey('user.collection.help.description') /}
    </fieldset>

    <fieldset>
    <legend><span>&{'user.collection.objects'}</span></legend>
    <div class="buttons">
        #{btnHref label:viewUtils.getKey('user.collection.label.addObjects'), iconClass:"icon3", id:"addObject" /}
    </div>

    <div id="objectList" class="data-grid mam" data-bind="template: {name:'objectsList', templateOptions: {title: '&{'user.collection.title.objectsList'}', objects: objects, thumbnail: thumbnail} }"></div>

    <div class="objects-container" id="objects-dialogue" title="&{'user.collection.title.selectObjects'}">
        <div id="objects-list" data-bind="template: {name: 'availableObjectsList', templateOptions: {selectedIds: selectedObjects, availableObjects: availableObjects}}"></div>
    </div>
    </fieldset>
    <fieldset>
        <legend><span>&{'user.collection.status'}</span></legend>
    <div class="field" for="objectVisibility">
        <label class="label">&{'ui.label.visibility'}</span></label>

        <div class="inputs">
            <input type="radio" name="public" value="${models.Visibility.PRIVATE().value}" data-bind="checked: visibility"/>&{'ui.label.visibility.notpublic'} <br/>
            <input type="radio" name="public" value="${models.Visibility.PUBLIC().value}" data-bind="checked: visibility"/>&{'ui.label.visibility.public'}
        </div>
    </div>
    </fieldset>


    <div class="buttons">
        #{btnButton label: viewUtils.getKey('ui.label.cancel'), extraClass:"cancelButton beware", id:"cancelButton", type:"reset" /}
        #{btnButton label: viewUtils.getKey('ui.label.reset'), extraClass:"submit", type:"reset" /}
        #{btnButton label:viewUtils.getKey('user.collection.save'), id:"saveButton", extraClass:"action complete", type:"submit"  /}
        <div class="wait"></div>
    </div>

</form>
</div>
</div>






<script type="text/javascript" language="javascript">
    $(document).ready(function() {

        // load templates and data
        $.get("/asset?path=/public/common/templates/_availableObjects.tmpl.html", null, function(template) {
          addTemplate('availableObjectsList', template);
          $.get("/asset?path=/public/common/templates/_selectedObjects.tmpl.html", null, function(template) {
            addTemplate('objectsList', template);
            load(${data.raw()}, collectionModel, null, function() {
              $("body").css('visibility', 'visible');
            });
          });
        });

        var collectionModel = {
            selectedObjects: ko.observableArray(),
            removeObject: function(object) {
                this.availableObjects.push(object);
                this.objects.remove(object);
            }
        };

        $('#objects-dialogue').dialog({
            autoOpen: false,
            buttons: {
                "&{'user.collection.label.addObjects'}": function() {
                    addSelectedObjects(collectionModel.objects, collectionModel.selectedObjects, collectionModel.availableObjects, collectionModel.thumbnail);
                    $(this).dialog('close');
                }
            }
        });

        $("#addObject").click(function(event) {
            event.preventDefault();
            $("#objects-dialogue").dialog('open');
        });

        $('#saveButton').click(function(event) {
            event.preventDefault();
            handleSubmit('/${userName}/collection/submit', collectionModel, '#collectionForm', '/${userName}/collection/');
        });
    });
</script>