#{extends 'header.html' /}
#{set title: id.isEmpty() ? 'Create new collection for user ' + fullName : 'Update collection for user ' + fullName /}
#{breadcrumbs /}

<section id="edit-collection">

<h1>${id.isEmpty() ? "Create a collection" : "Update collection" }</h1>

<div data-bind="text: errors().global"></div>
  <form method="post" action="" id="collectionForm">

    <span class="required-note"><span>*</span> Required Fields</span>

    #{textField name:"name", label:"Name", dataBind:"value: name", labelClass:"required" /}
    #{textArea name:"description", label:"Description", dataBind:"value: description", labelClass:"required" /}

    <div class="actions">
      <button class="action add image dui-button" id="addObject">Add object(s)</button>
    </div>

    <div id="objectList" class="data-grid" data-bind="template: {name:'objectsList', templateOptions: {title: 'Objects in your collection', objects: objects, thumbnail: thumbnail} }"></div>

    <div class="objects-container" id="objects-dialogue" title="Select Object(s)">
        <div id="objects-list" data-bind="template: {name: 'availableObjectsList', templateOptions: {selectedIds: selectedObjects, availableObjects: availableObjects}}"></div>
    </div>

    <div class="field">
        <label for="public-0">Public</label>

        <div class="inputs">
            <input type="radio" checked="checked" value="0" id="public-0" name="public">Not Public
            <input type="radio" value="1" id="public-1" name="public">Public
        </div>
    </div>

    <div class="actions">
      <button class="action save collection dui-button" id="saveButton" type="submit">Save Collection</button>
      <div class="wait"></div>
    </div>

</form>
</div>

</section>

<script type="text/javascript" language="javascript">
    $(document).ready(function() {

        // load templates
        $.get("@{'/public/themes/common/templates/_availableObjects.tmpl.html'}", null, function(template) {
          addTemplate('availableObjectsList', template);
        });
        $.get("@{'/public/themes/common/templates/_selectedObjects.tmpl.html'}", null, function(template) {
          addTemplate('objectsList', template);
        });

        var collectionModel = {
            selectedObjects: ko.observableArray(),
            removeObject: function(object) {
                this.availableObjects.push(object);
                this.objects.remove(object);
            }
        };

        $('#objects-dialogue').dialog({
            autoOpen: false,
            buttons: {
                "Add selected objects": function() {
                    addSelectedObjects(collectionModel.objects, collectionModel.selectedObjects, collectionModel.availableObjects);
                    $(this).dialog('close');
                }
            }
        });

        $("#addObject").click(function(event) {
            event.preventDefault();
            $("#objects-dialogue").dialog('open');
        });

        $('#saveButton').click(function(event) {
            event.preventDefault();
            handleSubmit('/${userName}/collection/submit', collectionModel, '#collectionForm', '/${userName}/collection/');
        });

        load('/${userName}/collection/load/${id.isEmpty() ? "" : id.get()}', collectionModel);

        var viewModel = { };

        var annotation = function (name, type) {
            this.name = name;
            this.type = type;
            this.remove = function() {
              viewModel.annotations.remove(this)
            }
        }
    });
</script>