<?xml version="1.0" encoding="ISO-8859-1"?>

<!DOCTYPE web-app
        PUBLIC "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
        "http://java.sun.com/dtd/web-app_2_3.dtd">

<web-app>

    <!-- Gateway Servlet to IIPImage FCGI server -->

    <servlet>
        <servlet-name>fcgi</servlet-name>
        <servlet-class>net.jr.fastcgi.FastCGIServlet</servlet-class>
        <init-param>
            <param-name>server-address</param-name>
            <param-value>127.0.0.1:7000</param-value>
        </init-param>
    </servlet>

    <servlet-mapping>
        <servlet-name>fcgi</servlet-name>
        <url-pattern>/fcgi-bin/iipsrv.fcgi</url-pattern>
    </servlet-mapping>

</web-app>
