tmp
*.pyc
*.iws
test-result
chromedriver.log
.DS_Store
.idea
logs
/out
dist/
/system.out
/conf/production.conf
/conf/*_themes.xml
/conf/development.conf
target/
extras/servlet-server/solr/*/data/
extras/servlet-server/work/
/public/sip-creator/*.jar
/public/sip-creator/*.zip
/public/sip-creator/*.jnlp
/public/themes/*
!/public/themes/default
/extras/iipsrv-0.9.9
/extras/jpeg-8c
/extras/tiff-3.9.5
/extras/iipsrv-0.9.9.tar.bz2
/extras/jpegsrc.v8c.tar.gz
/extras/tiff-3.9.5.tar.gz
/module-extra/
/public/javascripts/press
/public/stylesheets/press
params.sh

project/project
project/target
target
tmp
RUNNING_PID

test-logger.xml

.idea
.idea_modules
