tmp
*.pyc
test-result
*.iml
.DS_Store
.idea
/modules
/lib
target/
extras/servlet-server/solr/*/data/
extras/servlet-server/work/
legacyServices/lib/*.jar
/precompiled
/public/sip-creator/*.jar
/public/sip-creator/*.zip
/public/sip-creator/*.jnlp

