tmp
*.pyc
test-result
*.iml
.DS_Store
.idea
/modules
/lib
/logs
/out
/system.out
target/
extras/servlet-server/solr/*/data/
extras/servlet-server/work/
legacyServices/lib/*.jar
/precompiled
/public/sip-creator/*.jar
/public/sip-creator/*.zip
/public/sip-creator/*.jnlp
/extras/iipsrv-0.9.9
/extras/jpeg-8c
/extras/tiff-3.9.5
/extras/iipsrv-0.9.9.tar.bz2
/extras/jpegsrc.v8c.tar.gz
/extras/tiff-3.9.5.tar.gz



