@()

@import views.context._
@import views.tags.html._

@userMain("New group") {

<form class="form" action="/@userName/admin/groups/create" method="POST">

  <div>
    <div>
      @textField("name", "Name")
    </div>
    <div>
      <!-- this should appear in a box next to the previous field, with the label next to the tickbox -->
      @checkboxField("read", "Can view repositories")
      @checkboxField("update", "Can update repositories")
      @checkboxField("delete", "Can delete repositories")
    </div>
  </div>

  <div>
    <div>
        <label for="members">Members</label>
        <input type="text" id="members" name="members" />
    </div>
    <div>
      <label for="repositories">Repositories</label>
      <input type="text" id="repositories" name="repositories" />
    </div>
  </div>

  <input type="submit" value="Save group">

</form>

<script type="text/javascript">
  $(document).ready(function() {
      $("#members").tokenInput("@action(controllers.Users.listAsTokens)");
      $("#repositories").tokenInput([{id: "1", name: "Foo"}, {id: "2", name: "Bar"}]);
  });
</script>



}