#{extends themeInfo.get('themeLayout') /}

#{set title:messages.get('hub.YourProfile') /}

#{set 'moreScripts'}
<script type="text/javascript" src="/public/common/javascripts/jquery.limitChars.min.js"></script>
#{/set}
<div class="page-header">
    <h1>Your profile</h1>
</div>
<form id="profileForm" action="" class="form delving-form">
<div class="row">
       <div class="span6">
          #{form.textField name:"firstName", form:profileForm, label:messages.get('hub.FirstName'), dataBind:"value: firstName", labelClass:"required", required: true /}
          #{form.textField name:"lastName", form:profileForm, label:messages.get('hub.LastName'), dataBind:"value: lastName", labelClass:"required", required: true /}
          #{form.textField name:"email", form:profileForm, label:messages.get('hub.Email'), dataBind:"value: email", labelClass:"required", required: true, help: messages.get('hub.AssociateAGravatar').raw() /}
          <hr class="soften"/>
          #{form.checkboxField name:"isPublic", form:profileForm, label:messages.get('hub.Public'), dataBind:"checked: isPublic", help:messages.get('hub.ProfileVisibleForNonconnectedUsers') /}
       </div>
    <div class="span6">
          #{form.textField name:"fixedPhone", form:profileForm, label:messages.get('hub.Phone'), dataBind:"value: fixedPhone", extHelp:messages.get('hub.YourPhoneNumber'), dataMaxChars:"400", inputClass:"span5", extraCss:"height:120px;" /}
          #{form.textArea name:"description", form:profileForm, label:messages.get('hub.AboutYou'), dataBind:"value: description", extHelp:messages.get('hub.AFewWordsAboutYourself'), dataMaxChars:"400", inputClass:"span5", extraCss:"height:120px;" /}
          #{form.textField name:"funFact", form:profileForm, label:messages.get('hub.FunFact'), dataBind:"value: funFact" /}
          #{form.textField name:"twitter", form:profileForm, label:"Twitter", dataBind:"value: twitter", extHelp: messages.get('hub.YourTwitter') /}
          #{form.textField name:"linkedIn", form:profileForm, label:"LinkedIn", dataBind:"value: linkedIn", extHelp: messages.get('hub.YourLinkedIn') /}
        </div>
</div>
<div class="row">
    <div class="span12 well">
          <div class="buttons">
            #{btnButton label:messages.get('hub.SaveProfile'), id:"saveButton", extraClass:"blue", type:"submit"  /}
            <div class="wait"></div>
          </div>
    </div>
</div>
</form>

<script type="text/javascript">
  $(document).ready(function() {

    var profileModel = {};

    load(${data.raw()}, profileModel, null, function() {
      $("body").css('visibility', 'visible');
    });

    $('#saveButton').click(function(event) {
        event.preventDefault();
        handleSubmit('/${userName}/admin/profile', profileModel, '#profileForm', null, function() {
          document.location = '/${userName}';
        });
    });

    $("textarea#description").limitChars({ charCountClass: "small-text", allowOverLimit: false, charsLeftText: '${messages.get('hub.CharactersLeft')}'});
    $(".char-count span").addClass("badge");
  });
</script>