#{extends viewUtils.themeProperty('themeLayout') /}

#{set title:viewUtils.getKey('user.admin.profile.title') /}

#{set 'moreScripts'}
#{press.script '/public/themes/common/javascripts/jquery.limitChars.min.js', compress:false, pos:25 /}
#{/set}
        <style>

        </style>
<h1 class="sep">Your profile</h1>

<div class="row">
    <div class="g-8of12 grid_8">
        <form id="profileForm" action="">
          #{textField name:"firstName", label:viewUtils.getKey('ui.label.firstname'), dataBind:"value: firstName", labelClass:"required", required: true /}
          #{textField name:"lastName", label:viewUtils.getKey('ui.label.lastname'), dataBind:"value: lastName", labelClass:"required", required: true /}
          #{textField name:"email", label:viewUtils.getKey('ui.label.email'), dataBind:"value: email", labelClass:"required", required: true /}
          #{textArea name:"description", label:viewUtils.getKey('user.profile.aboutYou'), dataBind:"value: description", help:viewUtils.getKey('user.admin.profile.help.aboutYou'), dataMaxChars:"400" /}
          #{textField name:"funFact", label:viewUtils.getKey('user.profile.funFact'), dataBind:"value: funFact" /}
          #{textField name:"twitter", label:"Twitter", dataBind:"value: twitter" /}
          #{textField name:"linkedIn", label:"LinkedIn", dataBind:"value: linkedIn", help: viewUtils.getKey('user.admin.profile.help.linkedIn') /}
          #{checkboxField name:"isPublic", label:viewUtils.getKey('ui.label.visibility.public'), dataBind:"checked: isPublic", help:viewUtils.getKey('user.admin.profile.help.public') /}


          <div class="buttons">
            #{btnButton label:viewUtils.getKey('user.admin.profile.save'), id:"saveButton", extraClass:"blue", type:"submit"  /}
            <div class="wait"></div>
          </div>

        </form>
    </div>
</div>


<script type="text/javascript">
  $(document).ready(function() {

    var profileModel = {};

    load(${data.raw()}, profileModel, null, function() {
      $("body").css('visibility', 'visible');
    });

    $('#saveButton').click(function(event) {
        event.preventDefault();
        handleSubmit('/${userName}/admin/profile', profileModel, '#profileForm', null, function() {
          document.location = '/${userName}';
        });
    });

    $("textarea#description").limitChars({ charCountClass: "small-text", allowOverLimit: false, charsLeftText: '${viewUtils.getKey('ui.message.charsLeft')}'});

  });
</script>
