#{extends viewUtils.themeProperty('themeLayout') /}
#{set title:'Object ' + dobject.name + ' of user ' + browsedFullName /}
#{set bodyId:'object-view' /}





<h1>${dobject.name}</h1>

<div class="line">
<div class="unit size1of3">
    <img src='${views.context.package.imageUrl(dobject._id)}' width="220" alt="${dobject.name}"/>

#{if userName == browsedUserName}
<div class="buttons">
    <a class="button" href="/${dobject.userName}/object/${dobject._id}/update">
        <span class="icon icon145"></span>
        <span class="label">Edit Object</span>
    </a>
</div>
#{/}
</div>

<div class="unit size2of3">

    <div class="metadata">
        <h4>Name:</h4>
        <p>${dobject.name}</p>

        <h4>Description:</h4>
        <p>${views.context.package.niceText(dobject.description.isEmpty() ? "No description available" : dobject.description.get())}</p>

        <h4>Owner:</h4>
        <p>${browsedFullName}</p>

        <h4>Date created:</h4>
        <p>${views.context.package.niceTime(dobject._id.getTime())}</p>

        <h4>Label(s):</h4>
        <p class="labels">
            #{list labels, as: 'l'}
            <span class="label">${l.labelType} - ${l.value}</span><br/>
            #{/list}
        </p>
    </div>

    <hr/>


    <div id="add-label-dialog" title="Add a label">
        <div class="inputs">
            <input type="text" class="textinput"/>
        </div>
        <div class="buttons">
            <button>
                <span class="icon icon3"></span>
                <span class="label">Add a label</span>
            </button>
        </div>
    </div>

    <hr/>

    <div id="add-comment-dialog" title="Add a comment">
        <div class="inputs">
        <textarea name="comment" id="comment"></textarea>
        </div>
        <div class="buttons">
            <button>
                <span class="icon icon3"></span>
                <span class="label">Add a comment</span>
            </button>
        </div>
    </div>

</div>
</div>

<!--<div class="grid_8">-->
<!--<div class="dui-buttonset dui-buttonset-single">-->
<!--<button class="dui-button ui-state-default ui-priority-primary ui-corner-left" id="add-comment">Comment</button>-->
<!--<button class="dui-button ui-state-default ui-priority-primary" id="add-label">Label</button>-->
<!--<button class="dui-button ui-state-default ui-priority-primary">Share</button>-->
<!--</div>-->

<!--<div class="clear"></div>-->
<!--<h2>Labels</h2>-->
<!--<p class="labels">-->
<!--@for(l <- labels) {-->
<!--<span class="label"><a href="#">@l.labelType - @l.value</a></span>&nbsp;-->
<!--}-->
<!--</p>-->
<!--</div>-->
<!--<div id="comments">-->
<!--<h2>Comments</h2>-->
<!--<ul class="comment-list">-->
<!--@for(i <- 0 until 4) {-->
<!--<li class="comment">-->
<!--&lt;!&ndash;<div class="avatar"><img src='@asset("/public/images/dummy-object.png")' width="35"/></div>&ndash;&gt;-->
<!--<div class="content">-->

<!--<p>-->
<!--Breakfast procuring nay end happiness allowance assurance frankness. Met simplicity nor difficulty unreserved who. Entreaties mr conviction dissimilar me astonished estimating cultivated. On no applauded exquisite my additions.-->
<!--</p>-->
<!--<span class="user"><a href="#">Username</a></span>-->
<!--<span class="date">xx-xx-xxxx</span>-->

<!--</div>-->
<!--</li>-->

<!--}-->
<!--</ul>-->
<!--</div>-->
<!--<div class="container">-->
<!--<h3>Options</h3>-->

<!--<p>-->
<!--Add object to a collection-->
<!--</p>-->
<!--<select id="collection-name" name="collection-name">-->
<!--<option value="">Collection 1</option>-->
<!--<option value="">Collection 2</option>-->
<!--<option value="">Collection 3</option>-->
<!--<option value="">Collection 4</option>-->
<!--</select>-->
<!--<button>Add Objects</button>-->
<!--</div>-->

<script type="text/javascript">

    jQuery(document).ready(function() {
        jQuery("#add-comment").click(function(event) {
          event.preventDefault();
          jQuery("#add-comment-dialog").dialog({
              modal: true,
              close: function(event, ui) {
                  $("#add-comment").removeClass("ui-state-active");
              }
          });
        });
        jQuery("#add-label").click(function(event) {
          event.preventDefault();
          jQuery("#add-label-dialog").dialog({
              modal: true,
              close: function(event, ui) {
                  $("#add-label").removeClass("ui-state-active");
              }
          });
        })

    });

</script>
