#{extends viewUtils.themeProperty('themeLayout') /}

#{set title: viewUtils.getKey('thing.object') + ' ' + dobject.name + ' - ' + viewUtils.getKey('thing.owner') + ': ' + browsedFullName /}

<script src="@{'/public/common/javascripts/mediaelement/build/mediaelement-and-player.js'}"></script>
<link rel="stylesheet" type="text/css" href="@{'/public/common/stylesheets/scrollable.css'}"/>
<link rel="stylesheet" type="text/css" href="@{'/public/common/javascripts/mediaelement/build/mediaelementplayer.css'}"/>


#{set bodyId:'object-view' /}

#{breadcrumbs /}
<style>
    .scrollable {
        width: 350px;
    }
</style>
<h1 class="sep">${dobject.name}</h1>

<div class="row">
    <div class="grid_12">
        <div class="dashboard">
            <div class="media record">
                <!--<img src='/thumbnail/${dobject._id}/350' width="350" alt="${dobject.name}" class="img"/>-->
                #{displayFiles files: dobject.files(), fileWidth:350, objectName: dobject.name /}
                <!--<div class="extra">-->
                    <!--<a href="#" class="overlay-trigger" rel="#overlay" title="&{'ui.label.enlargeImage'}">&{'ui.label.enlargeImage'}</a>-->
                <!--</div>-->
                <div class="bd">
                    #{thingToolbar owner: dobject.userName, id: dobject._id, authUser: userName, type:"object", labels:userLabels, places: userPlaces/}
                    <div class="metadata">
                        <h5>&{'thing.description'}:</h5>

                        <p>${views.context.package.niceText(dobject.description.isEmpty() ? "No description available" : dobject.description)}</p>
                        <hr/>
                        <div class="row">
                            <div class="g-1of2 alpha">
                                #{metadataField label: viewUtils.getKey('thing.name'), data: dobject.name /}
                                #{metadataField label: viewUtils.getKey('thing.owner'), data: dobject.userName, link: '/'+dobject.userName /}
                            </div>

                            <div class="g-1of2 omega">
                                #{metadataField label: viewUtils.getKey('thing.datecreated'), data: views.context.package.niceTime(dobject._id.getTime()) /}
                                #{displayLabels labels: labelsList, places: placesList /}
                            </div>
                        </div>
                    </div>
                     #{censorship canCensor:isNodeAdmin, type:"object", userName: dobject.userName, id: dobject._id /}

                </div>

            </div>

        </div>

    </div>
</div>


