#{extends viewUtils.themeProperty('themeLayout') /}

#{set title: viewUtils.getKey('thing.object') + ' ' + dobject.name + ' - ' + viewUtils.getKey('thing.owner') + ': ' + browsedFullName /}

#{set bodyId:'object-view' /}

#{breadcrumbs /}

<h1 class="sep">${dobject.name}</h1>

<div class="row">
    <div class="g-12of12 grid_12">
        <div class="media record">
            <img src='/thumbnail/${dobject._id}/350' width="350" alt="${dobject.name}" class="img"/>

            <div class="bd">
                #{thingToolbar owner: dobject.userName, id: dobject._id, currentUser: userName, type:"object", labels:labels, authUser: userName/}
                <div class="metadata">
                    <h5>&{'thing.description'}:</h5>
                    <p>${views.context.package.niceText(dobject.description.isEmpty() ? "No description available" : dobject.description)}</p>
                    <hr/>
                    <div class="row">
                        <div class="g-1of2 alpha">
                            #{metadataField label: viewUtils.getKey('thing.name'), data: dobject.name /}
                            #{metadataField label: viewUtils.getKey('thing.owner'), data: dobject.userName, link: '/'+dobject.userName /}
                        </div>

                        <div class="g-1of2 omega">
                            #{metadataField label: viewUtils.getKey('thing.datecreated'), data: views.context.package.niceTime(dobject._id.getTime()) /}

                            <h5>&{'thing.labels'}:</h5>
                            <p class="labels">
                                #{list labelsList, as: 'l'}
                                <span class="label">${l.name}</span><br/>
                                #{/list}
                            </p>

                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>


