#{extends viewUtils.themeProperty('themeLayout') /}
#{set title:'Object ' + dobject.name + ' of user ' + browsedFullName /}
#{set bodyId:'object-view' /}

#{breadcrumbs /}

<h1>${dobject.name}</h1>

<div class="media">

    <img src='${views.context.package.imageUrl(dobject._id)}' width="250" alt="${dobject.name}" class="img"/>
         #{if userName == browsedUserName}
        <a class="button clear" href="/${dobject.userName}/object/${dobject._id}/update">
            <span class="icon icon145"></span>
            <span class="label">Edit Object</span>
        </a>
        #{/}
    <div class="bd">
        <div class="metadata">
            <h4>Name:</h4>
            <p>${dobject.name}</p>

            <h4>Description:</h4>
            <p>${views.context.package.niceText(dobject.description.isEmpty() ? "No description available" : dobject.description.get())}</p>

            <h4>Owner:</h4>
            <p>${browsedFullName}</p>

            <h4>Date created:</h4>
            <p>${views.context.package.niceTime(dobject._id.getTime())}</p>

            <h4>Label(s):</h4>
            <p class="labels">
                #{list labels, as: 'l'}
                <span class="label">${l.labelType} - ${l.value}</span><br/>
                #{/list}
            </p>
        </div>

        <hr/>

        <div id="add-label-dialog" title="Add a label">
            <div class="field">
            <div class="inputs">
                <input type="text" class="textinput"/>
            </div>
            <div class="buttons">
            #{btnButton label:"Add a label", iconClass:"icon3"/}
            </div>
            </div>

        </div>

        <hr/>

        <div id="add-comment-dialog" title="Add a comment">
            <div class="field">
            <div class="inputs">
                <textarea name="comment" id="comment"></textarea>
            </div>

            <div class="buttons">
                #{btnButton label:"Add a comment", iconClass:"icon3" /}
            </div>
            </div>
        </div>
    </div>
</div>