.breadcrumb li {
    background: transparent url(/public/themes/common/images/crumb.png) no-repeat top right;
    display: inline-block;
    height: 16px;
    line-height: 16px;
    padding-right: 22px;
}

/*.breadcrumb li:after {*/
    /*content: "\25B8";*/
    /*content: url(/public/themes/common/images/crumb.png);*/
    /*display: inline-block;*/
    /*padding: 0 10px 0 10px;*/
/*}*/
.breadcrumb li:last-child {
    background: none;
}

.breadcrumb li:last-child:after {
    content: "";
}

.breadcrumb a {
    color: #2c4460
}