/* temp extra grid stuff */
/* Row >> can contain grids - instead of the .clear */

.row:after, .lastUnit:after {
    clear: both;
    display: block;
    visibility: hidden;
    overflow: hidden;
    height: 0 !important;
    line-height: 0;
    font-size: xx-large;
    content: " x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x ";
}

.row {
    *zoom: 1;
    clear:both;
}

.g-1of2,
.g-1of3,
.g-2of3,
.g-1of4,
.g-3of4,
.g-1of5,
.g-2of5,
.g-3of5,
.g-4of5{
    display: inline;
    float: left;
    position: relative;
    margin-left: 1%;
    margin-right: 1%;
}

.g-1of1 {
    float: none;
}

.g-1of2 {
    width: 48%;
}

.g-1of3 {
    width: 31.33333%;
}

.g-2of3 {
    width: 64.66666%;
}

.g-1of4 {
    width: 23%;
}

.g-3of4 {
    width: 73%;
}

.g-1of5 {
    width: 18%;
}

.g-2of5 {
    width: 38%;
}

.g-3of5 {
    width: 58%;
}

.g-4of5 {
    width: 78%;
}


.alpha {
    margin-left: 0;
}

.omega {
    margin-right: 0;
}