#{extends viewUtils.themeProperty('themeLayout') /}

#{set title:'Search results' /}

#{breadcrumbs /}

<div id="items">

    <h1>&{'search.resultsfor'} <span>[query]</span></h1>

    <div class="item-nav">

        <div class="mod item-count">
            ${viewUtils.getKey('search.nrfound', "${pagination.getNumFound()}")}
        </div>

    </div>

    <div class="row">
        <div class="g-9of12">

            <div class="buttons toolbar">
                #{if briefDocs.size() > 0}
                <div class="pager">#{pagination selector: ".pager", count: pagination.getNumFound(), start: pagination.getPageNumber() /}</div>
                #{/if}

                <div class="dropdown">
                    #{btnHref label: viewUtils.getKey('search.sortby'), toggle:true/}
                    <div class="dropdown-slider">
                        <a href="#" class="ddm"><span class="label">&{'thing.object'}</span></a>
                        <a href="#" class="ddm"><span class="label">&{'thing.collection'}</span></a>
                    </div>
                </div>

            </div>

            %{ def counter = 1 }%

            #{list briefDocs, as: 'doc'}

            #{if counter == 1}
            <div class="row">
                #{/if}
                <div class="g-1of2 ${counter == 1 ? 'alpha' : 'omega'}">
                    <div class="media thing">
                        <img src="${doc.getThumbnail()}" width="84" class="img"/>

                        <div class="bd">
                            <div class="mod">
                                <div class="inner">
                                    <div class="hd title">
                                        ${doc.getFieldValue("dc_title").getFirst()}
                                    </div>
                                    <div class="bd">
                                        ${doc.getFieldValue("dc_description").getFirst()}
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>

                %{ counter++ }%

                #{if counter > 2 || i_isLast }
            </div>
            <!-- end line -->
            %{ counter = 1 }%
            #{/if}

            #{/list}

            <div class="buttons toolbar">

                <!-- TODO: get result count and feed to pager -->
                #{if briefDocs.size() > 0}
                <div class="pager">#{pagination selector: ".pager", count: count, start: page /}</div>
                #{/if}

            </div>
        </div>
        <div class="g-3of12">

            <div class="mod simple">
                <div class="inner">
                    <div class="hd"><h3>Facets</h3></div>
                    <div class="bd">
                    #{facet facetMap: facets, type: "YEAR" /}

                    </div>
                </div>
            </div>
        </div>

    </div>

</div>