#{extends themeInfo.get('themeLayout') /}

#{set title: messages.get('search.Results') /}

#{set bodyId: 'results' /}

#{set 'moreScripts'}
<script type='text/javascript' src="/assets/results.js"></script>
#{/set}

#{breadcrumbs crumbs: breadcrumbs, queryCrumbs: pagination /}

#{if pagination.getNumFound() > 0}

<div class="results-header-block">
    <div class="results-header-inner">
        <h4>
            &{'search.ResultsOf', pagination.getStart(), pagination.getLastViewableRecord(), pagination.getNumFound() }
            <small>
                #{list hasDigitalObject, as: 'facet'}
                    #{list facet.getLinks(), as: 'link'}
                        #{if link.getValue() == 'true' && !facet.isFacetSelected()}
                            <input type="checkbox" class="include-without-digtalobjects" checked="checked" value="/search?query=${pagination.getPresentationQuery().getUserSubmittedQuery()}&searchIn=${params.searchIn ? params.searchIn[0]  : "all"}${link.url}">
                            <a href="/search?query=${pagination.getPresentationQuery().getUserSubmittedQuery()}&searchIn=${params.searchIn ? params.searchIn[0]  : "all"}${link.url}">&{'hub.AlsoIncludeResultsWithoutImages'}</a>
                        #{/if}
                        #{if link.getValue() == 'true' && facet.isFacetSelected()}
                            <input type="checkbox" class="include-without-digtalobjects" value="/search?query=${pagination.getPresentationQuery().getUserSubmittedQuery()}&searchIn=${params.searchIn ? params.searchIn[0]  : "all"}${link.url}">
                            <a href="/search?query=${pagination.getPresentationQuery().getUserSubmittedQuery()}&searchIn=${params.searchIn ? params.searchIn[0]  : "all"}${link.url}">&{'hub.AlsoIncludeResultsWithoutImages'}</a>
                        #{/if}
                    #{/list}
                #{/list}
            </small>
        </h4>
        #{if pagination.getNumFound() > themeInfo.pageSize()}
            #{results.resultPagination pageLinks: pagination, pQuery: pagination.getPresentationQuery().getQueryForPresentation(), searchIn: params.searchIn ? params.searchIn[0] : "all", lastPage: pagination.getNumFound(), extraClass:"pagination-top" /}
        #{/if}
    </div>
</div>

    <div class="row">
        <div class="results span9">
            #{results.resultGrid results: briefDocs  /}
        </div>
        <div class="span3">
            <div class="facets-header">&{'search.RefineYourSearch'}</div>
            #{list items: themeFacets, as: 'tf'}
                #{facet facetMap: facets,
                type: tf.facetName()+'_facet',
                typeKey: messages.get(tf.facetInternationalisationCode()),
                qString: pagination.getPresentationQuery().getUserSubmittedQuery(),
                searchIn: params.searchIn ? params.searchIn[0]  : "all",
                columns: tf.nrDisplayColumns,
                collapsable: themeInfo.get('collapseFacets')  /}
            #{/list}
            *{ plugin functionality }*
            #{list pluginIncludes, as: 'pluginInclude' }
                #{include pluginInclude /}
            #{/list}
        </div>
    </div>

    #{if pagination.getNumFound() > themeInfo.pageSize()}
        #{results.resultPagination pageLinks: pagination, pQuery: pagination.getPresentationQuery().getQueryForPresentation(), searchIn: params.searchIn ? params.searchIn[0]  : "all", lastPage: pagination.getNumFound(), extraClass:"pagination-bottom" /}
    #{/if}

#{/if}
#{else}
    <div class="no-results">
        &{'hub.SorryNothingFound'}
    </div>
#{/else}