#{extends themeInfo.get('themeLayout') /}

#{set title: systemFields.contains("delving_owner") ? systemFields.apply("delving_owner").get(0) + " | " : "" + systemFields.apply("delving_title").get(0) /}

#{set bodyId: 'object'/}

#{set 'moreScripts'}
<script type='text/javascript' src="@{routes.Assets.at('common/javascripts/seadragon/seadragon-min.js')}"></script>
#{/set}

#{breadcrumbs params:["search":["searchTerm": searchTerm, "returnToResults": returnToResults], "title": ["url":"", "label": systemFields.apply("delving_title").get(0)], "inOrg": ["inOrg": "yes"]], configuration: themeInfo.getConfiguration() /}

<div class="return-to-results">
    <a href="/search?${returnToResults}" rel="nofollow"><i class="icon icon-arrow-left"></i> &{'ui.label.returnToResults'}</a>
</div>

<header>
    <h1>${systemFields.apply("delving_title").get(0)}</h1>
</header>
*{
<ul>
<li><a href="http://creativecommons.org/publicdomain/mark/1.0/" target="_blank">http://creativecommons.org/publicdomain/mark/1.0/</a></li>
<li><a href="http://creativecommons.org/publicdomain/zero/1.0/" target="_blank">http://creativecommons.org/publicdomain/zero/1.0/</a></li>
<li><a href="http://creativecommons.org/licenses/by/3.0/" target="_blank">http://creativecommons.org/licenses/by/3.0/</a></li>
<li><a href="http://creativecommons.org/licenses/by-sa/3.0/nl/" target="_blank">http://creativecommons.org/licenses/by-sa/3.0/nl/</a></li>
<li><a href="http://creativecommons.org/licenses/by-nc/3.0/de/" target="_blank">http://creativecommons.org/licenses/by-nc/3.0/de/</a></li>
<li><a href="http://creativecommons.org/licenses/by-nc-sa/2.0/fr/" target="_blank">http://creativecommons.org/licenses/by-nc-sa/2.0/fr/</a></li>
<li><a href="http://creativecommons.org/licenses/by-nd/2.0/es/" target="_blank">http://creativecommons.org/licenses/by-nd/2.0/es/</a></li>
<li><a href="http://creativecommons.org/licenses/by-nc-nd/1.0/fi/" target="_blank">http://creativecommons.org/licenses/by-nc-nd/1.0/fi/</a></li>
<li><a href="http://www.europeana.eu/rights/rr-f/" target="_blank">http://www.europeana.eu/rights/rr-f/</a> Europeana: Rights Reserved - Free Access</li>
<li><a href="http://www.europeana.eu/rights/rr-p/" target="_blank">http://www.europeana.eu/rights/rr-p/</a> Europeana: Rights Reserved - Paid Access</li>
<li><a href="http://www.europeana.eu/rights/rr-r/" target="_blank">http://www.europeana.eu/rights/rr-r/</a> Europeana: Rights Reserved - Restricted Access</li>
<li><a href="http://www.europeana.eu/rights/unknown/" target="_blank">http://www.europeana.eu/rights/unknown/</a> Europeana: Unknown copyright status</li>
</ul>
}*
%{
    def rightsImage
    switch (rights) {
        case 'http://creativecommons.org/publicdomain/mark/1.0/':
            rightsImage = 'cc_publicdomain_mark.png'
            break
        case 'http://creativecommons.org/publicdomain/zero/1.0/':
            rightsImage = 'cc_publicdomain_zero.png'
            break
        case 'http://creativecommons.org/licenses/by/3.0/':
            rightsImage = 'cc_by.png'
            break
        case 'http://www.europeana.eu/rights/rr-f/':
            rightsImage = 'eu_free_access.jpg'
            break
        case 'http://www.europeana.eu/rights/rr-p/':
            rightsImage = 'eu_paid_access.jpg'
            break
        case 'http://www.europeana.eu/rights/rr-r/':
            rightsImage = 'eu_restricted_access.jpg'
            break
        case 'http://www.europeana.eu/rights/unknown/':
            rightsImage = 'eu_unknown.jpg'
            break
    }
}%

*{<div class="row">}*
    *{<div class="span12">}*
        *{<div class="well well-small">}*
        <div class="row">

            #{if rightsImage}
            <div class="span1">
                <a href="${rights}" target="_blank"> <img src="/assets/common/images/rights/${rightsImage}" width="100"/></a>
            </div>
            #{/if}

            #{if themeInfo.addThisTrackingCode().length() > 0}
            <div class="span6">
                <!-- AddThis Button BEGIN -->
                <div class="addthis_toolbox addthis_default_style ">
                    <a class="addthis_button_facebook_like" fb:like:layout="button_count"></a>
                    <a class="addthis_button_tweet"></a>
                    <a class="addthis_counter addthis_pill_style"></a>
                </div>
                <script type="text/javascript" src="http://s7.addthis.com/js/250/addthis_widget.js#pubid=${themeInfo.googleAnalyticsTrackingCode()}"></script>
                <!-- AddThis Button END -->
                <script type="text/javascript">
                    var addthis_config = {
                        ui_language: "nl",
                        ui_click: true,
                        ui_cobrand: "",
                        ui_header_color: "#ffffff",
                        ui_header_background:"#01689b",
                        data_track_clickback: true
                    }
                </script>
            </div>
            #{/if}
        </div>
        *{</div>}*
    *{</div>}*
*{</div>}*

<div class="object-view">
    #{view view: fullView /}
    <div class="related-items"></div>
</div>

*{
<!-- overlayed element -->
<div id="overlay" class="result-overlay" style="padding: 20px;width:auto">
<div class="contentWrap">
    <img src="${systemFields.apply("delving_thumbnail").get(0)}" alt="${systemFields.apply("delving_title").get(0)}" style="max-width:900px" />
    <div class="title"> ${systemFields.apply("delving_title").get(0)}</div>
</div>
</div>
}*
<script type="text/javascript" language="javascript">

$(document).ready(function() {

    if ($('a[data-type=zoom]').size() > 0) {
        // Deepzoom image & viewer
        var zoomImg = $('a[data-type=zoom]').attr('href'), viewer;
        Seadragon.Config.imagePath = "/assets/common/javascripts/seadragon/img/";
        Seadragon.Config.autoHideControls = false;
        viewer = new Seadragon.Viewer("zoom-viewer");
        viewer.openDzi({
            "url":zoomImg,
            "width":1800,
            "height":1400,
            "tileSize":256,
            "tileOverlap":0,
            "tileFormat":"jpg"});
    }
    
    var mltEndpoint = "/organizations/${orgId}/api/search?id=${hubId}&format=json&mlt=true";

    $.get(mltEndpoint, function(data) {
        var rItems = data.result.relatedItems.item, html ='', tmp, org, owner, id, uri;
        console.log(rItems);
        if(rItems){
            html = '<h4>&{'thing.relatedItems'}</h4><ul class="thumbnails">';
            $.each(rItems, function(i, item){
                tmp = item['delving_hubId'].split('_');
                org = tmp[0];
                owner = tmp[1];
                id = tmp[2];
                uri = "/"+org+"/thing/"+owner+"/"+id+"?mlt=true";
                html += '<li class="thumbnail">'
                html += '<a href="' + uri + '" rel="nofollow"><img class="mlt" src="' + item['delving_thumbnail'] + '" alt="' + item['delving_title'] +'" width="100"/></a></li>';
            });
            html += "</ul>";
            $('.related-items').html(html);
        }
    });
});
</script>
