#{extends themeInfo.get('themeLayout') /}

#{set title: systemFields.contains("delving_owner") ? systemFields.apply("delving_owner").get(0) + " | " : "" + title /}

#{set bodyId: 'object'/}

#{set 'moreScripts'}
<script>
    *{ Set dynamic values to use in object.js }*
    // i18n messages
    jsLabels.relatedItems = "${messages.get('thing.relatedItems')}";
    jsLabels.collection =  "${messages.get('thing.collection')}";
    jsLabels.creator =  "${messages.get('thing.creator')}";
    jsLabels.objTitle = "${title}";

    // thing object
    var Thing = new Object();
    Thing.orgId = "${orgId}";
    Thing.hubId = "${hubId}";
</script>

<script src="@{routes.Assets.at('common/javascripts/object.js')}"></script>

#{/set}

#{breadcrumbs crumbs: breadcrumbs /}

<div class="object-top row">
    <div class="span4">
    #{if returnToResults.length() > 0}
    <div class="return-navigation">
        <a href="/search?${returnToResults}" rel="nofollow" class="return-to-results">
            <i class="icon icon-arrow-left"></i> &{'ui.label.returnToResults'}</a>
    </div>
    #{/if}&#160;
    #{if returnToPreviousLink.length() > 0}
    <div class="return-navigation">
        <a href="${returnToPreviousLink}" rel="nofollow" class="return-to-previous">
            <i class="icon icon-arrow-left"></i> ${returnToPreviousLabel}</a>
    </div>
    #{/if}&#160;
    </div>
    *{<div class="rights span4">}*
        *{#{if rights}#{rightsIcon rights: rights/}#{/if}}*
    *{</div>}*
    <div class="social-media span4">
    #{if themeInfo.addThisTrackingCode().length() > 0}
        <div class="social-media-block pull-right">
            #{addThis lang:lang ?: 'en', pubId:themeInfo.addThisTrackingCode()/}
        </div>
    #{/if}
    </div>
</div>

<div class="object-main">
    <div class="object-data">
        #{view view: fullView /}
    </div>
</div>

<div>
#{list pluginIncludes, as: 'pluginInclude' }
    #{include pluginInclude /}
#{/list}
</div>