<html>
<head>
    <title></title>
</head>
<body>
<h1 class="sep">${views.Helpers.shorten(fullDoc.getTitle(), 100)}</h1>

<div class="row">
    <div class="g-12of12">
        <div class="media record">
            <img src="${fullDoc.getThumbnailUri()}" class="img" alt="${fullDoc.getTitle()}"/>

            <div class="bd">
                <div class="metadata">
                    #{thingToolbar/}
                    <h5>&{'md.dc.description'}:</h5>
                    <p>${fullDoc.getDescription().isEmpty() ? "No description available" : fullDoc.getDescription()}</p>
                    <hr/>
                    <div class="row">
                        <div class="g-1of2 alpha">
                            #{metadataField label: messages.get('md.dc.title'), data: fullDoc.getTitle() /}
                            #{metadataField label: messages.get('md.dc.creator'), data: fullDoc.getCreator() /}
                            #{metadataField label: messages.get('metadata.dc.year'), data: fullDoc.getYear() /}
                        </div>

                        <div class="g-1of2 omega">
                            #{metadataField label: messages.get('md.dc.language'), data: fullDoc.getLanguage() /}
                            #{metadataField label: messages.get('md.europeana.dataProvider'), data: fullDoc.getDataProvider() /}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

</body>
</html>


*{
Possible methods
def getAsArray(key: String) : Array[String] = assign(key)
def getAsString(key: String) : String = assignFirst(key)
def getFieldValue(key : String) : services.search.FieldValue = services.search.FieldValue(key, solrDocument)
def getFieldValueList: JList[services.search.FieldValue] = solrDocument.getFieldValueList
def getFieldValuesFiltered(include: Boolean, fields: Array[String]) : JList[services.search.FieldValue] = solrDocument.getFieldValuesFiltered(include, fields.toList)
def getConcatenatedArray(key: String, fields: Array[String]) : services.search.FieldFormatted = solrDocument.getConcatenatedArray(key, fields.toList)

def getId : String = assign("delving_hubId")
def getDelvingId : String = assign("delving_pmhId")
def getTitle : String = assign("dc_title")
def getDescription: String = assign("dc_description")
def getThumbnail : String = assign("europeana_object")
def getCreator : String = assign("dc_creator")
def getYear : String = assign("europeana_year")
def getProvider : String = assign("europeana_provider")
def getDataProvider : String = assign("europeana_dataProvider")
def getLanguage : String = assign("europeana_language")

}*