#{extends themeInfo.get('themeLayout') /}

<!--#{set title: systemFields.contains("delving_owner") ? systemFields.apply("delving_owner").get(0) + " | " + title : "" /}-->
#{set title: title /}

#{set metaDescription: systemFields.contains("delving_description") ? systemFields.apply("delving_description").get(0) : title /}

#{set bodyId: 'object'/}

#{if get: 'title'}

#{/if}

#{set 'moreCss'}
<style>
    .aff-parent h5 {
        font-size: 18px;
        color: blue;
    }
    .aff-child {
        margin-left: 20px;
    }
    .aff-child h5 {
        font-size: 14px;
        margin-bottom: 4px;
        color: green;
    }
    .aff-child dl {
        margin: 0 0 4px 0;
    }
    .aff-child dt {
        font-weight: bold !important;
        color: #ff4500;
    }

</style>
#{/set}

#{set 'moreScripts'}
<script src="http://www.openlayers.org/api/OpenLayers.js"></script>
<script>
    *{ Set dynamic values to use in object.js }*
    // i18n messages
    jsLabels.relatedItems = "${messages.get('hubb.RelatedItems')}";
    jsLabels.collection =  "${messages.get('hubb.Collection')}";
    jsLabels.creator =  "${messages.get('hubb.Creator')}";
    jsLabels.objTitle = "${title}";

    // thing object
    var Thing = new Object();
    Thing.orgId = "${orgId}";
    Thing.hubId = "${hubId}";
</script>

<script src="/assets/object.js"></script>

#{/set}

#{breadcrumbs crumbs: breadcrumbs /}

<!--"current schema => ${currentSchema}"-->




<div class="object-top row">
    <div class="span4">
        #{if returnToResults.length() > 0}
        <span class="return-navigation">
            <a href="${returnToResultsBaseUrl}?${returnToResults}" rel="nofollow" class="return-to-results">
                <i class="icon icon-arrow-left"></i> &{'hub.ReturnToResults'}</a>
        </span>
        #{/if}&#160;
        #{if returnToPreviousLink.length() > 0}
        <div class="return-navigation">
            <a href="${returnToPreviousLink}" rel="nofollow" class="return-to-previous">
                <i class="icon icon-arrow-left"></i> ${returnToPreviousLabel}</a>
        </div>
        #{/if}&#160;
        #{list availableSchemas, as: 'schema'}
            &{'hub.ViewIn'} <a href="?schema=${schema}" class="schema-switch"><span class="badge badge-info">${schema}</span></a>
        #{/list}
    </div>
    *{<div class="rights span4">}*
        *{#{if rights}#{rightsIcon rights: rights/}#{/if}}*
    *{</div>}*
    <div class="social-media span4">
    #{if themeInfo.addThisTrackingCode().length() > 0}
        <div class="social-media-block pull-right">
            #{addThis lang:lang ?: 'en', pubId:themeInfo.addThisTrackingCode()/}
        </div>
    #{/if}
    </div>
</div>

<div class="object-main">
    <div class="object-data">
        #{doLayout /}
    </div>
</div>

<div class="plugins">
#{list pluginIncludes, as: 'pluginInclude' }
    #{include pluginInclude /}
#{/list}
</div>
#{if hasRelatedItems}
<script type="text/javascript">
    renderRelatedItems();
</script>
#{/if}