<div class="field">
    #{if _label}<label class="${_labelClass}" for="${_name}">${_label}</label>#{/if}
    <div class="inputs">
        <input type="password" class="textinput  #{if views.Helpers.showError(_name, _form)}required #{/if}" id="${_name}" name="${_name}" size="40" value="${views.Helpers.showValue(_name, _form)}" #{if _placeholder}placeholder="${_placeholder}"#{/if}>
        <span class="error">${views.Helpers.showError(_name, _form)}</span>
        <span class="help-inline">#{if _required}<strong class="required"> *#{/if}</strong> ${_help}</span>
    </div>
</div>