*{
<div class="control-group">
<div class="controls">
    <label class="radio" class="${_labelClass}" for="${_name}">${_label}</label>
        <div>
            <div><input id="${_name}" type="radio" value="false" name="${_name}" data-bind="${_dataBind}"> &{'ui.label.no'}</div>
            <div><input id="${_name}" type="radio" value="true" name="${_name}" data-bind="${_dataBind}"> &{'ui.label.yes'}</div>
        </div>
        #{if _required}<span class="label">&{'ui.label.required'}</span>#{/if}
        #{if _extHelp}<a href="#" rel="tooltip" title="${_extHelp}" class="extHelp"><i class="icon-question-sign"></i></a> #{/if}
<span class="error" data-bind="text: errors().${_name.replaceAll("\\.", "_")}">${views.Helpers.showError(_name, _form)}</span>
#{if _help}<span class="help-inline">${_help.raw()}</span>#{/if}
</div>
</div>
 }*
<div class="control-group">
    <label class="${_labelClass}" for="${_name}">${_label} #{if _required}<span class="required">*</span>#{/if}</label>
    <div class="controls">
        <label class="checkbox inline">
        <input id="${_name}" type="radio" value="false" name="${_name}" data-bind="${_dataBind}"> &{'ui.label.no'}
        </label>

        <label class="checkbox inline">
        <input id="${_name}" type="radio" value="true" name="${_name}" data-bind="${_dataBind}"> &{'ui.label.yes'}
        </label>
        #{if _extHelp}<a href="#" rel="tooltip" title="${_extHelp}" class="extHelp"><i class="icon-question-sign"></i></a> #{/if}
        <span class="error" data-bind="text: errors().${_name.replaceAll("\\.", "_")}">${views.Helpers.showError(_name, _form)}</span>
        #{if _help}<span class="help-inline">${_help.raw()}</span>#{/if}
    </div>
</div>
