<html>
<head>
    <!-- Include the required JavaScript libraries: -->
    <script src='@{controllers.ead.routes.Assets.at("fancytree/jquery/jquery.js"}' type="text/javascript"></script>
    <script src='@{controllers.ead.routes.Assets.at("fancytree/jquery/jquery-ui.custom.js"}' type="text/javascript"></script>
    <script src='@{controllers.ead.routes.Assets.at("fancytree/jquery/jquery.cookie.js"}' type="text/javascript"></script>
    <link rel="stylesheet" type="text/css" href="@{routes.Assets.at("common/stylesheets/bootstrap.min.css")}"/>
    <link rel='stylesheet' type='text/css' href='@{controllers.ead.routes.Assets.at("fancytree/skin-lion/ui.fancytree.css")}'>
    <script src='@{controllers.ead.routes.Assets.at("fancytree/jquery.fancytree.js")}' type="text/javascript"></script>
    <script src='@{controllers.ead.routes.Assets.at("fancytree/jquery.fancytree.filter.js")}' type="text/javascript"></script>

    <script src='@{controllers.ead.routes.Assets.at("javascripts/mustache.js")}' type="text/javascript"></script>

    <style>
        body {
            margin: 20px;
        }
        input[type='text'] {
            height: auto;
        }
        .fancytree-container {
            background: #eaeaea;
            height: auto;
        }
    </style>

    <!-- Add code to initialize the tree when the document is loaded: -->
    <script type="text/javascript">
        $(document).ready(function () {
            // Attach the fancytree widget to an existing <div id="tree"> element
            // and pass the tree options as an argument to the fancytree() function:
            $("#tree").fancytree({
                onActivate: function(node) {
                				// A DynaTreeNode object is passed to the activation handler
                				// Note: we also get this event, if persistence is on, and the page is reloaded.
                				alert("You activated " + node.data.title);
                			},
                persist: true,
                source: {
                    url: '@{controllers.ead.routes.Prototype.tree(scala.Option.apply(null), true)}'
                },
                extensions: ["filter"],
                lazyload: function(e, data) {
                    data.result = {
                      url: '@{controllers.ead.routes.Prototype.tree(scala.Option.apply(null), true)}',
                      data: {path: data.node.key}
                    };
                },
                activate: function(e, data) {
                    var node = data.node;
                    if (node.key) {

                        // here we can now render the detail
                        // we need to be able to render different parts of the APENet EAD tree, case-by-case
                             console.log(node.key);
                        var handledKeys = {
                            "/ead/eadheader": "eadheaderTpl"
                        };

                        console.log(node.key);

                        console.log("/experiments/ead/sourceTree?path=" + node.key);

                        if (handledKeys[node.key]) {
                            $.getJSON('/experiments/ead/sourceTree', { path: node.key }, function(data) {
                                var template = $('#' + handledKeys[node.key]).html();
                                var html = Mustache.to_html(template, data);
                                $('#detail').html(html);
                                
                            });
                        } else {
                            $('#detail').html('<p>Hello, Is there anybody in there? Just nod if you can hear me Is there anyone home?</p>')
                        }
                    }
                }

            });

            var tree = $("#tree").fancytree("getTree");

            $("input[name=search]").keyup(function(e){
              var match = $(this).val();
              if(e && e.which === $.ui.keyCode.ESCAPE || $.trim(match) === ""){
                $("button#btnResetSearch").click();
                return;
              }
              // Pass text as filter string (will be matched as substring in the node title)
              var n = tree.applyFilter(match);
              $("button#btnResetSearch").attr("disabled", false);
              $("span#matches").text("(" + n + " matches)");
            }).focus();

            $("button#btnResetSearch").click(function(e){
              $("input[name=search]").val("");
              $("span#matches").text("");
              tree.clearFilter();
            }).attr("disabled", true);
        })
    </script>


</head>
<body>

<div class="container">
    <div class="row">
         <div class="span12">
             <form class="form-horizontal">
                    <label for="search">Filter:</label>
                        <input class="span2" type="text" name="search" id="search" placeholder="Filter...">
                        <button id="btnResetSearch" class="btn" type="submit">&times;</button>
                        <span id="matches"></span>
             </form>
         </div>
    </div>
    <div class="row">
        <div class="span5">
            <div id="tree"></div>
        </div>
        <div class="span7">
            <div id="detail"></div>
        </div>
    </div>
</div>



</body>
</html>



<script id="eadheaderTpl" type="text/template">
    <dl class="dl-horizontal">
        <dt>Title:</dt><dd>{{filedesc.titlestmt.titleproper}}</dd>
        <dt>Creator:</dt><dd>{{filedesc.titlestmt.author}}</dd>
        <dt>Identifier:</dt><dd>{{identifier}}</dd>
        <dt>Latest revision:</dt><dd>{{revisiondesc.change.0.date}}</dd>
    </dl>
</script>