<div class="field">
    <label for="$item.name">Label</label>
    <div class="inputs">
        <select id="labelType" data-bind="value: $item.labelType">
            <option value="Who">Who</option>
            <option value="What">What</option>
            <option value="Where">Where</option>
            <option value="When">When</option>
        </select>
        <input type="text" class="textinput" id="$item.name" name="$item.name" maxlength="40" data-bind="value: $item.labelValue"/>
        <button class="add label-add" name="add-annotations-button" id="add-annotation-button" data-bind="click: $item.addLabel">Add Label</button>
    </div>
</div>
{{if $item.labels().length > 0}}
<div class="data-grid">
    <table class="list">
        <thead>
        <tr>
            <th>Label</th>
            <th>Action</th>
        </tr>
        </thead>
        <tbody>
        <tr>
    {{each(i, label) $item.labels()}}
    <td>${label.labelType} - ${label.value} </td>
    <td><a href="#" data-bind="click: function() { this.removeLabel(label) }">Remove</a></td>
    {{/each}}
        </tr>
        </tbody>
    </table>
</div>
{{/if}}