<div class="field">
    <label class="label" for="$item.name">Label</label>

    <div class="inputs">
        <select id="labelType" data-bind="value: $item.labelType">
            <option value="Who">Who</option>
            <option value="What">What</option>
            <option value="Where">Where</option>
            <option value="When">When</option>
        </select>
        <input type="text" class="textinput" id="$item.name" name="$item.name" maxlength="40" data-bind="value: $item.labelValue"/>
        <div class="buttons">
            <a class="button" name="add-annotations-button" id="add-annotation-button" data-bind="click: $item.addLabel">
                <span class="icon icon3"></span>
                <span class="label">Add Label</span>
            </a>
        </div>
    </div>

</div>
{{if $item.labels().length > 0}}
<div class="data-grid">
    <table class="list">
        <thead>
        <tr>
            <th>&{'thing.label'}</th>
            <th>&{'thing.action'}</th>
        </tr>
        </thead>
        <tbody>

        {{each(i, label) $item.labels()}}
        <tr>
            <td>${label.labelType} - ${label.value}</td>
            <td>
                    <a class="button" data-bind="click: function() { this.removeLabel(label) }">
                        <span class="icon icon186"></span>
                        <span class="label">&{'ui.label.delete'}</span>
                    </a>
            </td>
        </tr>
        {{/each}}

        </tbody>
    </table>
</div>
{{/if}}