<!--
 Template
   Table of selected objects with possibility to remove them / use them as thumbnail

 Template parameters
   title                     title of the table
   objects                   observable array holding the objects
   thumbnail                 observable holding the selected thumbnail ID

 ViewModel requirements
   removeObject(object)      function to remove an object

-->

<table width="100%" class="list">
    <caption>${$item.title}</caption>
    <thead>
        <tr>
            <th>Object</th>
            <th>Name</th>
            <th>Use as default <strong>*</strong></th>
            <th>Action</th>
        </tr>
    </thead>
    <tfoot>
        <tr>
            <td colspan="4">
                 <div><strong>*</strong> This will set the image as the default image to represent your collection or story</div>
            </td>
        </tr>
    </tfoot>
    <tbody>
    {{each(i, object) $item.objects()}}
    <tr>
        <td width="50"><img src='${thumbnailUrl(object.id)}' width="50" alt=""/></td>
        <td>${name}</td>
        <td><input type="radio" name="is_thumb" value="${id}" data-bind="checked: $item.thumbnail"></td>
        <td><a href="#" class="action delete" data-bind="click: function() { this.removeObject(object) }">Remove</a></td>
    </tr>
    {{/each}}
</table>