#{if _pageLinks.getPageLinks().length() > 0}
<div class="pagination">

    #{if _pageLinks.previous}
        <a  class="prev" href="?${_pQuery}&amp;start=${_pageLinks.previousPage}">${messages.get('ui.label.previous')}</a>
    #{/if}
    #{else}
        <span class="prev disabled">${messages.get('ui.label.previous')}</span>
    #{/else}

    #{list _pageLinks.getPageLinks(), as:'link'}

    #{if link.linked}
       <a href="?${_pQuery}&amp;start=${link.start}">${link.display}</a>
    #{/if}
    #{else}
       <span class="current">${link.display}</span>
    #{/else}
    #{/list}

    #{if _pageLinks.next}
        <a class="next" href="?${_pQuery}&amp;start=${_pageLinks.nextPage}">${messages.get('ui.label.next')}</a>
    #{/if}
    #{else}
        <span class="next disabled">${messages.get('ui.label.next')}</span>
    #{/else}
</div>
#{/if}