<div class="field">
    <label class="label ${_labelClass}" for="${_name}">${_label}</label>
    <div class="inputs">
        <textarea class="textinput ${_extraClass}" id="${_name}" value="${views.Helpers.showValue(_name, _form)}" data-bind="${_dataBind}" data-validate="${views.Helpers.printValidationRules(_name)}" #{if _dataMaxChars}data-max-chars="${_dataMaxChars}" #{/if}></textarea>
        #{if _extHelp}<span class="icon extHelp" title="${_extHelp}"></span>#{/if}
        <span class="error">${views.Helpers.showError(name, _form)}</span>
        <span class="help">#{if _required}<strong>&{'ui.label.required'}.#{/if}</strong> ${_help}</span>
    </div>
</div>
