#{extends themeInfo.get('themeLayout') /}

#{set title: messages.get('hubnode.HubNodes') /}

#{set bodyId: 'organization' /}

#{breadcrumbs crumbs: breadcrumbs /}

#{organizationNavBar isReadOnly: isReadOnly, isAdmin: isAdmin, orgId: orgId, active:"hubNode", navigation: navigation /}

<div class="row">
    <div class="span12">

        <table class="table table-striped">
            <caption>&{'hubnode.HubNodes'}</caption>
            <thead>
            <tr>
                <th>&{'hubb.Name'}</th>
                <th width="25%">&{'hubb.Actions'}</th>
            </tr>
            </thead>
            <!-- ko if: nodes().length > 0 -->
            <tbody data-bind="foreach: nodes()">
            <tr>
                <td>
                    <span class="node-title" data-bind="text: name"></span>
                </td>
                <td>
                    <a class="btn btn-primary btn-mini" href="#" data-bind="click: function() { $parent.update($data) }" rel="nofollow">
                        <i class="icon-edit icon-white"></i> &{'hub.Edit'}
                    </a>
                    <a class="btn btn-danger btn-mini pull-right delete" href="#" data-bind="click: function() { $parent.delete($data) }" rel="nofollow">
                        <i class="icon-trash icon-white"></i> &{'hub.Delete'}
                    </a>
                </td>
            </tr>
            </tbody>
            <!-- /ko -->
            <!-- ko ifnot: nodes().length > 0 -->
            <tbody>
            <tr>
                <td colspan="2">
                    No entries
                </td>
                <td>
                    <a class="btn btn-primary btn-mini" href="/organizations/${orgId}/hubNode/add" rel="nofollow">${messages.get('hubnode.CreateHubNode')}</a>
                </td>
            </tr>
            </tbody>
            <!-- /ko -->
        </table>

    </div>
</div>

<script type="text/javascript">
    $(document).ready(function () {

        var viewModel = {
            update: function(node) {
                document.location = "/organizations/${orgId}/hubNode/" + node.id() + "/update"
            },
            delete: function(node) {
                bootboxConfirm({
                    'type': 'DELETE',
                    'message' : '<h3 class="shout">' + node.name() + '</h3>&{'hubnode.AreYouSureYouWantToDeleteThisHubNode'}',
                    'action_url' : '/organizations/${orgId}/hubNode/' + node.id() + '/remove',
                    'success_callback' : function () {
                        viewModel.nodes.remove(function (item) {
                            return item.key === node.key;
                        });
                    }

                });
            }
        };

        load(${data.raw()}, viewModel, null, function () {
            $("body").css('visibility', 'visible');
        });
    });
</script>