#{extends viewUtils.themeProperty('themeLayout') /}
#{set title:'Register!' /}

<div id="register" class="line">
 <div class="unit size1of2 prependSize1of4">
    <form id="registrationForm" action="@{Registration.register()}" method="POST" class="grid_16">
        <h3>Register for <span>${views.context.package.themeDisplayName()}</span></h3>

        #{if !errors.isEmpty()}
        <p class="error">
            Error creating your account, please check the errors marked in red
        </p>
        #{/if}


        #{textField name:"registration.firstName", label:"First name" /}
        #{textField name:"registration.lastName", label:"Last name" /}
        #{textField name:"registration.email", label:"E-mail" /}
        <hr>
        #{textField name:"registration.displayName", label:"User name" /}
        #{passwordField name:"registration.password1", label:"Password" /}
        #{passwordField name:"registration.password2", label:"Password (repeat)" /}

        <hr>
        <fieldset>
        <div class="field">
            <label class="label" for="code">Enter the code you see beside the input field</label>
            <div class="inputs">

            <input type="text" name="code" id="code" size="18" value="" class="textinput  #{if views.context.package.showError('code')}required #{/if}">
                <img src="@{Registration.captcha(randomId)}">
            <input type="hidden" name="randomID" value="${randomId}">
            <span class="error">${views.context.package.showError("code")}</span>
            </div>
        </div>
        </fieldset>

        <!--<fieldset>-->
        <div class="buttons">
            #{btnButton label:"Register", extraClass:"action green"/}
            #{btnButton label:"Cancel", extraClass:"action cancelButton"/}
        </div>

    </form>
 </div>
 </div>
