@(randomId:String)

@import views.context._
@import views.tags.html._

@main("Register!" ) {

<h2>Register to CultureHub!</h2>
<form id="registrationForm" action="@action(controllers.Registration.register())" method="POST">

  @if(!errors.isEmpty()) {
  <p class="error">
    Error creating your account, please check the errors marked in red
  </p>
  }

  @field("firstName", "First name", "text", "registration")
  @field("lastName", "Last name", "text", "registration")
  @field("email", "Email", "text", "registration")
  @field("displayName", "Display name", "text", "registration")
  @field("password1", "Password", "password", "registration")
  @field("password2", "Password (repeat)", "password", "registration")

  <div class="field">
    <label for="code">Please type the code below: </label>
    <img src="@action(controllers.Registration.captcha(randomId))">
    <br>
    <input type="text" name="code" id="code" size="18" value="">
    <input type="hidden" name="randomID" value="@randomId">
    <span class="error">@showError("code")</span>
  </div>

  <div>
    <input type="submit" value="Register!">
  </div>
</form>

}