#{extends themeInfo.get('themeLayout') /}

#{set title: messages.get('_hub.LostPassword') /}

<div class="row">

    <form id="lostPasswordForm" action="@{controllers.routes.Registration.resetPasswordEmail()}" method="POST" class="span4 offset4 well">
        *{#{authenticityToken /}}*
        <h2>&{'_hub.LostPassword'} </h2>
        <fieldset class="pam">
            <p>&{'_hub.IfYouHaveForgottenYourPassword'} </p>
            #{form.textField form: resetPasswordForm, name:"email", id:"email", placeholder: messages.get('_hub.Email'), required: true /}
            <div class="buttons">
                #{btnButton label: messages.get('_hub.ResetPassword') , extraClass:"action complete", type:"submit", id:"reset"/}
            </div>
        </fieldset>
    </form>

</div>

