#{extends viewUtils.themeProperty('themeLayout') /}

#{set title: viewUtils.getKey('registration.lostpassword.')    /}
<div class="line">
<div class="unit size1of2 prependSize1of4">

    <form id="lostPasswordForm" action="@{Registration.resetPasswordEmail()}" method="POST">
        <h3>&{'registration.lostpassword'} </h3>

        <p>&{'registration.lostpassword.message'} </p>

        #{textField name:"email", label: viewUtils.getKey('ui.label.email'), required: true  /}
        <div class="buttons">
            #{btnButton label: viewUtils.getKey('registration.resetpassword'), id:"reset", extraClass:"action green", type:"submit" /}
        </div>

    </form>

</div>
</div>
