#{extends themeInfo.get('themeLayout') /}

#{set title: messages.get('registration.lostpassword') /}

<div class="row">

    <form id="lostPasswordForm" action="@{controllers.routes.Registration.resetPasswordEmail()}" method="POST" class="span4 offset4 well">
        *{#{authenticityToken /}}*
        <h2>&{'registration.lostpassword'} </h2>
        <fieldset class="pam">
            <p>&{'registration.lostpassword.message'} </p>
            #{form.textField form: resetPasswordForm, name:"email", id:"email", placeholder: messages.get('ui.label.email'), required: true /}
            <div class="buttons">
                #{btnButton label: messages.get('registration.resetpassword') , extraClass:"action complete", type:"submit", id:"reset"/}
            </div>
        </fieldset>
    </form>

</div>

