@(resetPasswordToken: String)

@import views.context._
@import views.tags.html._

@main("Reset your password") {

<p>Enter a new password below:</p>

<form id="resetPasswordForm" action="@action(controllers.Registration.newPassword())" method="POST">
  @field("password1", "Password", "password", "")
  @field("password2", "Password (repeat)", "password", "")
  <input name="resetPasswordToken" type="hidden" value="@resetPasswordToken">
  <div>
    <input type="submit" value="Reset password">
  </div>
</form>

}