#{extends themeInfo.get('themeLayout') /}
#{set title: messages.get('hub.ResetPassword')  /}

<div class="grid_12">

<form id="resetPasswordForm" action="/registration/newPassword/${resetPasswordToken}" method="POST">
  *{#{authenticityToken /}}*
  <h3>&{'hub.ResetPassword'}</h3>
  <p>&{'hub.EnterANewPasswordBelow'}</p>
  #{if views.Helpers.hasErrors(newPasswordForm)}
  <p class="alert alert-error">
      &{'hub.ErrorResettingYourPassword'}
  </p>
  <ul>
  #{list views.Helpers.listGlobalErrors(newPasswordForm), as: 'e'}
      <li>${e}</li>
  #{/list}
  </ul>
  #{/if}
  #{form.passwordField form: newPasswordForm, name:"password1", id: "password1", label: messages.get("hub.Password")  /}
  #{form.passwordField form: newPasswordForm, name:"password2", id: "password2", label: messages.get("hub.RepeatPassword") /}
  <div class="buttons">
     #{btnButton label: messages.get('hub.ResetPassword'), id: "reset", extraClass:"action complete", type:"submit" /}
  </div>

</form>

</div>