#{extends viewUtils.themeProperty('themeLayout') /}
#{set title:'Reset your password' /}



<div class="unit size1of2 prependSize1of4">



<form id="resetPasswordForm" action="@{Registration.newPassword()}" method="POST">
  <h3>Reset password</h3>
  <p>Enter a new password below:</p>
  #{passwordField name:"password1", label:"Password" /}
  #{passwordField name: "password2", label:"Password (repeat)" /}
  <input name="resetPasswordToken" type="hidden" value="${resetPasswordToken}">
  <div class="buttons">
     #{btnButton label:"Reset password", extraClass:"action green", type:"submit" /}
  </div>

</form>

</div>

