@(resetPasswordToken: String)

@import views.context._
@import views.tags.html._

@main("Reset your password") {

<p>Enter a new password below:</p>

<form id="resetPasswordForm" action="@action(controllers.Registration.newPassword())" method="POST">
  @passwordField("password1", "Password")
  @passwordField("password2", "Password (repeat)")
  <input name="resetPasswordToken" type="hidden" value="@resetPasswordToken">
  <div>
    <input type="submit" id="reset" value="Reset password">
  </div>
</form>

}