#{extends themeInfo.get('themeLayout') /}
#{set title: messages.get('registration.resetpassword')  /}

<div class="grid_12">

<form id="resetPasswordForm" action="@{controllers.routes.Registration.newPassword()}" method="POST">
  #{authenticityToken /}
  <h3>&{'registration.resetpassword'} </h3>
  <p>&{'registration.newpassword'}</p>
  #{passwordField form: newPasswordForm, name:"password1", id: "password1", label: messages.get("ui.label.password")  /}
  #{passwordField form: newPasswordForm, name:"password2", id: "password2", label: messages.get("ui.label.passwordrepeat") /}
  <input name="resetPasswordToken" type="hidden" value="${resetPasswordToken}">
  <div class="buttons">
     #{btnButton label: messages.get('registration.resetpassword'), id: "reset", extraClass:"action complete", type:"submit" /}
  </div>

</form>

</div>

