html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

blockquote, q { quotes: none; }
blockquote:before, blockquote:after,
q:before, q:after { content: ""; content: none; }
ins { background-color: #ff9; color: #000; text-decoration: none; }
mark { background-color: #ff9; color: #000; font-style: italic; font-weight: bold; }
del { text-decoration: line-through; }
abbr[title], dfn[title] { border-bottom: 1px dotted; cursor: help; }
table { border-collapse: collapse; border-spacing: 0; }
hr { display: block; height: 1px; border: 0; border-top: 1px solid #ccc; margin: 1em 0; padding: 0; }
input, select { vertical-align: middle; }

body {
    /*font:14px/1.5 arial, helvetica, sans-serif; *font-size:small; */
    font: 13px/1.5 "Lucida Grande",Verdana,Arial,Helvetica,sans-serif;
}
select, input, textarea, button { font:99% sans-serif; }
pre, code, kbd, samp { font-family: monospace, sans-serif; }

html { overflow-y: scroll; }
a:hover, a:active { outline: none; }
ul, ol { margin-left: 2em; }
ol { list-style-type: decimal; }
nav ul, nav li { margin: 0; list-style:none; list-style-image: none; }
small { font-size: 85%; }
strong, th { font-weight: bold; }
td { vertical-align: top; }
sub, sup { font-size: 75%; line-height: 0; position: relative; }
sup { top: -0.5em; }
sub { bottom: -0.25em; }

pre { white-space: pre; white-space: pre-wrap; word-wrap: break-word; padding: 15px; }
textarea { overflow: auto; }
.ie6 legend, .ie7 legend { margin-left: -7px; }
input[type="radio"] { vertical-align: text-bottom; }
input[type="checkbox"] { vertical-align: bottom; }
.ie7 input[type="checkbox"] { vertical-align: baseline; }
.ie6 input { vertical-align: text-bottom; }
label, input[type="button"], input[type="submit"], input[type="image"], button { cursor: pointer; }
button, input, select, textarea { margin: 0; }
input:valid, textarea:valid   {  }
input:invalid, textarea:invalid { border-radius: 1px; -moz-box-shadow: 0px 0px 5px red; -webkit-box-shadow: 0px 0px 5px red; box-shadow: 0px 0px 5px red; }
.no-boxshadow input:invalid, .no-boxshadow textarea:invalid { background-color: #f0dddd; }


::-moz-selection{ background: #FF5E99; color:#fff; text-shadow: none; }
::selection { background:#FF5E99; color:#fff; text-shadow: none; }
a:link { -webkit-tap-highlight-color: #FF5E99; }
button {  width: auto; overflow: visible; }
.ie7 img { -ms-interpolation-mode: bicubic; }

body, select, input, textarea { color: #444; }
h1, h2, h3, h4, h5, h6 { font-weight: bold; }
a, a:active, a:visited { color: #0673b9; }
a:hover { color: #10a1ff; }

body {
    /*background: #fff url(../images/bg-gradient-gray.png) repeat-x top left;*/
    background: #ccc;
    /*font: 13px/1.5 Arial, Helvetica, sans-serif;*/
    margin: 0;
    padding: 0;
}

h1, h2, h3, h4, h5, h6 {
    font-family: Helvetica, Arial, sans-serif;
    font-weight: bold;
    margin: 10px 0;
    padding: 0 5px;
    height: 32px;
    line-height: 32px;
}

h1 {
    border-bottom: 2px solid #b22222;
    font-size: 175%;
}

h2 {
    border-bottom: 2px solid #555;
    font-size: 150%;
}

h3 {
    border-bottom: 2px solid #999;
    font-size: 125%;
}

h1 span,
h2 span,
h3 span {
    color: #888;
}

p {
    margin-bottom: 10px;
}
.container_16 {
    overflow: hidden;
}

#header {
    display: block;
    /*background: #81AAd0;*/
    /*background: -moz-linear-gradient(top, #336699, #81AAd0);*/
    /*background: -webkit-gradient(linear, center top, center bottom, from(#336699), to(#81AAd0));*/
    /*background: -o-linear-gradient(top, #336699, #81AAd0);*/
    /*filter: progid:DXImageTransform.Microsoft.gradient(startColorstr = '#336699', endColorstr = '#81AAd0');*/
    /*-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#336699', endColorstr='#81AAd0')";*/
    background: #fff;
    height: 150px;
    position: relative;
}

#header h1 {
    background: transparent url(../images/delving-swing.png) center left no-repeat;
    border-bottom: none;
    font-size: 64px;
    font-weight: bold;
    height: 100px;
    line-height: 100px;
    margin-top: 20px;
    padding: 0 0 0 120px;
}

#header #logo {
    position: absolute;
    left: 0;
    top: 0;
    z-index: 1000;
}

#top-nav {
    background: #000;
    display: block;
    height: 32px;
    line-height: 32px;
    width: 100%;
}

#user-bar {
    position: absolute;
    top: 0px;
    right: 0px;
    color: #fff;
    /*height: 32px;*/
    /*line-height: 32px;*/
    padding: 0;
}

#body {
    background: #fff;
    padding-bottom: 20px;
}

#footer {
    padding-top: 10px;
    margin-bottom: 20px;
}

#footer h2,
#footer h3,
#footer h4 {
    border-bottom: 2px solid #fff;
    color: #000;
    margin: 0;
    padding: 0 4px;
    text-shadow: 1px 1px 0px #ffffff;
    filter: dropshadow(color = #ffffff, offx = 1, offy = 1);
}

#footer a:link,
#footer a:visited {
    color: #555;
}

.sidebar ul {
    margin: 0;
    padding: 0;
    /*border-bottom: 1px dashed #ccc;*/
}

.sidebar ul li {
    margin: 0;
    padding: 0;
    list-style: none;
    border-bottom: 1px dashed #ccc;
}

.sidebar ul li a {
    display: block;
    padding: 3px;
    text-indent: 10px;
    text-decoration: none;
}

.sidebar ul li span {
    display: block;
    padding: 3px;
    text-indent: 10px;
    text-decoration: none;
}

.sidebar ul li a:hover {
    background-color: #eee;
}

.container {
    border: 1px solid #ccc;
    background: #eaeaea;
    padding: 4px;
}

.container h3 {
    text-transform: uppercase;
    background: #fff;
    border-bottom: 4px solid firebrick;
}

ul.inline {
    margin: 0;
    padding: 0;
}

ul.inline li {
    display: inline-block;
    list-style: none;
}

.error {
    color: red
}

.success {
    color: green
}

.toggle {
    display: none;
}

/* FORM ELEMENT STYLES */

form {
    margin: 0;
    padding: 0;
}

form.box {
    background: #eaeaea;
    border: 1px solid #ccc;
    padding: 1em;
    border-radius: 4px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
}

label {
    display: block;
    color: #555;

}

.required-note {
    color: #777777;
    display: block;
    font-size: 1em;
}

div.field {
    border-bottom: 1px dotted #ccc;
    margin-bottom: 10px;
    overflow: hidden;
    padding-bottom: 10px;
    position: relative;
}

div.field label,
div.field div.label {
    color: #444444;
    display: block;
    /*float: left;*/
    font-size: 1.1em;
    font-weight: bold;
    margin-bottom: 0.5em;
    text-align: left;
    width: 200px;
}

div.field label:after {
    content: ":";
}

div.field label.required:after {
    color: #777777;
    content: ": *";
    font-size: 14px;
    font-weight: normal;
}

.field .inputs {
    /*float: left;*/
    overflow: hidden;
    width: 100%;
}

input.textinput, select, textarea {
    background-color: #FFFFFF !important;
    border: 1px solid #DDDAD3;
    font-size: 1.1em;
    padding: 3px;
}

select {
    padding: 2px;
}

.inputs textarea {
    width: 100%;
    min-height: 150px;
}

input.textdisplay {
    border: none;
}

input[type=submit],
input[type=button],
input[type=file],
button {
    border: 1px solid #777;
    background: #999;
    color: #fff;
    font-size: 1.1em;
    font-weight: bold;
    padding: 2px 6px;
    border-radius: 2px;
}

input[type=file] {
    background: #fff;
}

input[type=submit]:hover,
input[type=button]:hover,
input[type=file]:hover,
button:hover {
    border: 1px solid #000;
}

.display-box {
    background: #eaeaea;
    border: 1px solid #ccc;
    padding: .5em;
    margin-top: 10px;
}

ul#labels {
    margin: 0;
    padding: 0;
}

ul#labels li {
    background: #fff;
    padding: 4px;
    list-style: none;
    margin: 0 .5em .5em 0;
    display: inline-block;
    height: 24px;
    line-height: 24px;
}

span.help {
    display: block;
    color: #555;
    font-size: .9em;
    margin-top: .5em;
}

/* OBJECTS */

#objects-container {
    height: 200px;
    overflow-y: auto;
}

#objects-list {
    max-height: 400px;
    overflow-y: auto;
}

#objects-container .actions {
    display: block;
    height: 32px;
    line-height: 32px;
    border-top: 1px solid #ccc;
    padding: 10px;
}

/* list */

/*.object {*/
/*clear: both;*/
/*margin-bottom: 10px;*/
/*background: #fff;*/
/*overflow: hidden;*/
/*}*/

/*.object img {*/
/*float: left;*/
/*margin-right: 10px;*/
/*}*/

/* SEARCH FORM */

#search {
    background: #eaeaea;
    margin-bottom: 2em;
    border:  1px solid #ccc;
    /*padding:  10px;*/
}

#search form {
    margin: 10px;
}

#search form .textinput {
    width: 400px;
}

/* SEARCH RESULTS */

/*#col-right {*/
/*background:  #ccc;*/
/*height: 100%;*/
/*}*/

#items h2 {
    border-bottom: 5px solid firebrick;
    font-weight: bold;
    text-transform: uppercase;
    margin: 0;
}

#items h2 span {
    color: #888;
    text-transform: none;
}

/* RESULTS NAVIGATION/PAGER */

.item-nav {
    border-bottom: 5px solid #000;
    padding: 10px 5px;
    margin-bottom: 1em;
}

.item-count {
    display: inline;
}

.item-pager {
    display: inline;
    float: right;
}

.item-pager ul,
.item-pager ul li {
    display: inline;
}

.item-pager a:link,
.item-pager a:visited {
    color: #000;
    font-weight: bold;
    text-decoration: none;
}

.item-pager a:hover {
    color: #0066cc;
    text-decoration: underline;
}

.item-pager .pipe {
    padding: 0 2px 0 2px;
}

/* RESULT ITEM */

.item h4 {
    font-weight: bold;
    margin: 0;
    padding: 0 20px 0 0;
}

.item .collection {
    background: transparent url(../images/icon-collection.png) top right no-repeat;
}

.item .object {
    background: transparent url(../images/icon-object.png) top right no-repeat
}

.item h4 a:link,
.item h4 a:visited {
    color: #000;
    text-decoration: none;
}

.item h4 a:hover {
    color: #0066cc;
    text-decoration: underline;
}

.item {
    border-bottom: 1px dotted #ccc;
    display: block;
}

.item label {
    display: inline;
    margin-right: .5em;
}

.item .options {
    display: block;
    background: #fff;
}

.item img {
    /*display: inline;*/
    float: left;
    margin: 0 1em 1em 0;
    width: 85px;
}

.item .description {
    display: block;
}

.item-display img {
    float: left;
    margin: 0 10px 0 0;
}

.two-col {
    float: left;
    margin: 0 1% 1em 1%;
    width: 48%;
}

.three-col {
    float: left;
    margin: 0 1% 1em 1%;
    width: 31.33%;
}

.row {
    border-bottom: 1px dotted #555;
    display: block;
    height: 21px;
    line-height: 21px;
    margin-bottom: 4px;

}

.row label {
    clear: left;
    float: left;
    font-weight: bold;
    margin-right: 10px;
    width: 100px;
    text-align: right;
}

.row span {
    display: block
}

p.developers-note,
div.developers-note,
span.developers-note {
    display: block;
    background: #ffcccc;
    border: 1px solid #ccc;
    padding: .5em;
    margin: .5em 0;
}

/* TABLE STYLES */
table {
    border-collapse: separate;
    border-spacing: 1px;
    font-size: 1em;
    margin: 0 0 10px 0;
}

thead th {
    border-bottom: 4px solid #000;
    font-size: 1em;
    text-align: left;
    font-weight: normal;
    margin-top: 0;
    padding: 0 5px;
}

thead th span {
    color: #888;
}

tbody th {
    text-align: right;
    min-width: 120px;
    font-size: 1.1em;
}

tbody th,
tbody td {
    padding: 4px 6px;
    vertical-align: top;
    line-height: 1.5em;
}


table.mceLayout {
    width: 100% !important;
}


/* COMMENTS */
ul.comment-list {
    list-style: none;
    margin: 0;
    padding: 0;
}

li.comment {
    color: #555;
    margin-bottom: 10px;
    padding: 5px;
}

li.comment:hover {
    background: #eaeaea;
}

li.comment .avatar {
    float: left;
    margin-right: 10px;
}

li.comment .content {
    display: table-cell;
    vertical-align: top;
    width: 75%;
}

li.comment .date {
    color: #b22222;
    font-weight: bold;
}

li.comment .user {
    font-weight: bold;
}

.comment p {
    margin: 0;
}

#add-comment-dialog {
    display: none;
}

/* LABELS */

#add-label-dialog {
    display: none;
}

/* DUI BUTTONS AND TOOLBAR */

.dui-button {
    outline: 0;
    margin: 0 4px 0 0;
    padding: 3px 1em;
    text-decoration: none !important;
    cursor: pointer;
    position: relative;
    text-align: center;
    zoom: 1;
}

.dui-button .ui-icon {
    position: absolute;
    top: 50%;
    margin-top: -8px;
    left: 50%;
    margin-left: -8px;
}

a.dui-button {
    float: left;
}

/* remove extra button width in IE */
button.dui-button {
    width: auto;
    overflow: visible;
}

.dui-button-icon-left {
    padding-left: 2.1em;
}

.dui-button-icon-right {
    padding-right: 2.1em;
}

.dui-button-icon-left .ui-icon {
    right: auto;
    left: .2em;
    margin-left: 0;
}

.dui-button-icon-right .ui-icon {
    left: auto;
    right: .2em;
    margin-left: 0;
}

.dui-button-icon-solo {
    display: block;
    width: 8px;
    text-indent: -9999px;
}

/* solo icon buttons must have block properties for the text-indent to work */

.dui-buttonset {
    float: left;
    margin-bottom: 10px;
}

.dui-buttonset .dui-button {
    float: left;
}

.dui-buttonset-single .dui-button,
.dui-buttonset-multi .dui-button {
    margin-right: -1px;
}

.dui-toolbar {
    padding: .5em;
    margin: 0;
}

.dui-toolbar .dui-buttonset {
    margin-right: 1.5em;
    padding-left: 1px;
}

.dui-toolbar .dui-button {
    font-size: 1em;
}

/* input form styles ********/

.page-form {
    background:  #fffff0;
    padding:  10px;
}

#page-list {
    overflow:  hidden;
}

.page-list {
    line-height: 2em;
    margin: 1em 0;
    padding: 0;
    list-style: none outside none;
}

.page-list li {
    border-bottom: 1px dotted rgba(0, 0, 0, 0.1);
    clear: both;
    display: block;
    margin: 0;
    padding: 0;
}

.page-list li .left {
    display: block;
    float: left;
    width: 60%;
}

.page-list li .right {
    display: block;
    float: right;
    font-size: 88%;
    padding: 4px 0;
    text-align: right;
    width: 30%;
}

.add,
.delete,
.error,
.success,
.edit {
    background-position: 12px 50%;
    background-repeat: no-repeat;
    padding-left: 32px;
    text-decoration: none;
}

.page-edit a {
    color: #3388CC;
    text-decoration: none;
        display: inline-block;
}

.page-delete a {
    color: red;
    text-decoration: none;
        display: inline-block;
}

.edit {
    background-image: url("../images/pencil_go.gif");
}

.delete {
    background-image: url("../images/delete.gif");
}

