#{extends "organization/crudUpdate.html" /}

<div class="accordion" id="instructions">
    <div class="accordion-group">
        <div class="accordion-heading  clearfix">
            <a class="accordion-toggle pull-right" href="#collapseOne" data-parent="instructions" data-toggle="collapse" rel="nofollow">
                <i class="icon-question-sign"></i> &{'namedslice.HelpWithNamedSlices'}
            </a>
        </div>
        <div id="collapseOne" class="accordion-body collapse">
            <div class="accordion-inner">
                <p>
                    A "named slice" is a custom collection that you compose yourself by selecting a cross-section using query
                    terms from either a single or multiple collections.
                </p>
                <p>Before creating a named slice you need to:</p>
                <ol>
                    <li>create a CMS page to embed the slice in</li>
                    <li>CMS menu: None</li>
                    <li>check 'publish' and then save the CMS page</li>
                </ol>
                <p>
                    Once you have done this you can start creating your named slice:
                </p>
                <ol>
                    <li>fill in the identifier and name for the slice (the name will be used in the link to the slice)</li>
                    <li>choose the dataset(s)</li>
                    <li>enter query term(s)</li>
                    <li>attach to CMS page</li>
                    <li>check 'publish' and then save the slice</li>
                </ol>

            </div>
        </div>
    </div>
</div>

<h2 class="page-header">&{'namedslice.namedSlice'}</h2>

<div class="row">
    <div class="span6">
        #{form.textField name:"key", form: form, label: messages.get('hub.Identifier'), dataBind:"value: key", maxLength: 60, required: true, labelClass:"control-label"/}
        #{form.textField name:"name", form: form, label: messages.get('hubb.Name'), dataBind:"value: name", maxLength: 60, required: true, labelClass:"control-label"/}
        #{form.populatedSelectField options:dataSets, name:"dataSets", form: form, label:messages.get('dataset.Datasets'), dataBind:"selectedOptions: query.dataSets", multiple:true, labelClass:"control-label" /}

        <div class="control-group">
            <div class="controls">
                <span id="datasets-select-all" class="btn btn-mini">&{'namedslice.selectAllDataSets'}</span>
                <span id="datasets-all-selected">All datasets are selected!</span>
            </div>
        </div>
    </div>
    <div class="span6">
        #{form.textField name:"terms", form: form, label: messages.get('namedslice.queryTerms'), dataBind:"value: query.terms", required: true, labelClass:"control-label"/}

        <div class="control-group">
            <div class="controls">
                <span id="no-query-term" class="btn btn-mini">&{'namedslice.noQueryTerm'}</span>
            </div>
        </div>

        #{form.populatedSelectField options:cmsPages, name:"cmsPageKey", form: form, label:messages.get('namedslice.cmsPage'), dataBind:"value: cmsPageKey", required: true, labelClass:"control-label" /}
        #{form.checkboxField name:"published", form: form, label: messages.get('namedslice.publish'), dataBind:"checked: published", required: true, labelClass:"control-label"/}

        <div class="control-group">
            <span style="width: 140px; " id="previewSlice" class="btn btn-primary">&{'namedslice.previewSlice'}</span>
        </div>

    </div>
</div>




<script type="text/javascript">

    $(document).ready(function() {

        $('#previewSlice').on('click', function(event) {
            event.preventDefault();

            var setQuery = '';
            var selectedSets = $('#dataSets').val();
            if(selectedSets) {
                selectedSets.forEach(function(set) {
                    if(setQuery.length > 0) {
                        setQuery += ' OR '
                    }
                    setQuery += 'delving_spec:' + set
                });
            }

            var searchURL = 'http://${request.host()}/search?query=' + encodeURIComponent($('#terms').val() + ' ' + setQuery);
            var previewWindow = window.open(searchURL, '_blank');
            previewWindow.focus();
        })

        // Select ALL datasets
        $('#datasets-all-selected').hide();
        $('#datasets-select-all').click( function() {
            $('#datasets-all-selected').toggle();
            $('#dataSets').toggle();
        });

        // No query
        $('#no-query-term').click( function() {
            $('#terms').val('*:*');
        });

    })
</script>