#{extends "organization/crudUpdate.html" /}

<h2>&{'namedslice.namedSlice'}</h2>

#{form.textField name:"key", form: form, label: messages.get('hub.Identifier'), dataBind:"value: key", maxLength: 60, required: true, labelClass:"control-label"/}
#{form.textField name:"name", form: form, label: messages.get('hubb.Name'), dataBind:"value: name", maxLength: 60, required: true, labelClass:"control-label"/}
#{form.textField name:"terms", form: form, label: messages.get('namedslice.queryTerms'), dataBind:"value: query.terms", required: true, labelClass:"control-label"/}
#{form.populatedSelectField options:dataSets, name:"dataSets", form: form, label:messages.get('dataset.Datasets'), dataBind:"selectedOptions: query.dataSets", multiple:true, labelClass:"control-label" /}
#{form.populatedSelectField options:cmsPages, name:"cmsPageKey", form: form, label:messages.get('namedslice.cmsPage'), dataBind:"value: cmsPageKey", required: true, labelClass:"control-label" /}
#{form.checkboxField name:"published", form: form, label: messages.get('namedslice.publish'), dataBind:"checked: published", required: true, labelClass:"control-label"/}


<div class="control-group">
    <span style="width: 140px; " id="previewSlice" class="btn btn-primary">&{'namedslice.previewSlice'}</span>
</div>


<script type="text/javascript">

    $(document).ready(function() {

        $('#previewSlice').on('click', function(event) {
            event.preventDefault();

            var setQuery = '';
            var selectedSets = $('#dataSets').val();
            if(selectedSets) {
                selectedSets.forEach(function(set) {
                    if(setQuery.length > 0) {
                        setQuery += ' OR '
                    }
                    setQuery += 'delving_spec:' + set
                });
            }

            var searchURL = 'http://${request.host()}/search?query=' + encodeURIComponent($('#terms').val() + ' ' + setQuery);
            var previewWindow = window.open(searchURL, '_blank');
            previewWindow.focus();
        })
    })
</script>