#{extends themeInfo.get('themeLayout') /}
#{set title:'Image viewer' /}

<script type='text/javascript' src="/assets/common/javascripts/swfobject.js"></script>
<script type="text/javascript">

  function displayImage(image) {
    var flashvars = {
      server: '/fcgi-bin/iipsrv.fcgi',
      image: image,
      navigation: true
    };
    var params = {
      scale: "noscale",
      bgcolor: "#000000",
      allowfullscreen: "true",
      allowscriptaccess: "always"
    };
    swfobject.embedSWF("/public/flash/IIPZoom.swf')}", 'container', '100%', '600px', '9.0.0', "/assets/flash/expressInstall.swf", flashvars, params);
  }

  $(document).ready(function() {
    displayImage("${image}");
  });

</script>

<div id="container"></div>