#{extends themeInfo.get('themeLayout') /}

#{set title: page.title /}

#{set bodyId:'page' /}

#{set pageId: page.key /}

#{set menuKey: menuKey /}

#{breadcrumbs crumbs: breadcrumbs /}

#{if page.published == true}
    #{if menuEntries}
    <div class="page">
        <div class="secondary-nav">
            <div class="inner well well-small">
            <ul class="nav nav-list">
            #{list menuEntries, as: 'm'}
                <li class="#{if m.url == ("/site/" + menuKey + "/page/" + pageId)}active#{/if}"><a href="${m.url}">&{m.titleKey}</a></li>
            #{/list}
            </ul>
            </div>
        </div>
        <div class="secondary-content">
            ${page.content.raw()}
        </div>
    </div>
    #{/if}
    #{else}
        ${page.content.raw()}
    #{/else}

#{/if}
#{else}
    This page is not published.
#{/else}