#{extends themeInfo.get('themeLayout') /}

#{set title: systemFields.apply("delving_title").get(0) /}

#{set 'moreScripts'}
<script type="text/javascript" src="@{routes.Assets.at("common/javascripts/jquery.easyListSplitter.js")}"></script>
<script type="text/javascript" src="@{routes.Assets.at("common/javascripts/jquery.expander.min.js")}"></script>
#{/set}

#{set 'moreCss'}
<link rel="stylesheet" type="text/css" href="@{routes.Assets.at("common/stylesheets/musip/musip.css")}"/>
#{/set}

#{breadcrumbs params:["search":["searchTerm": searchTerm, "returnToResults": returnToResults], "title": ["url":"", "label": systemFields.apply("delving_title").get(0)], "inOrg": ["inOrg": "yes"]] /}


<div id="musip">

    <div class="page-header">
        <h1>${systemFields.apply("delving_title").get(0)}</h1>
    </div>
     #{view view: view /}

</div>

<script>
    $(document).ready(function(){
        $('#collections  ul').easyListSplitter({
            colNumber: 2,
            direction: 'vertical'
        });
        $('p').expander({
            slicePoint: 650,
            expandText: "&{'ui.label.more'}",
            userCollapseText: "&{'ui.label.less'}"
        });
        $('.read-more a, .read-less a').addClass("badge badge-info");
    })
</script>
