#{extends themeInfo.get('themeLayout') /}

#{set title: messages.get('plugin.simpledocumentupload.list') /}

#{set bodyId: 'organization' /}

#{breadcrumbs crumbs: breadcrumbs /}

#{organizationNavBar isReadOnly: isReadOnly, isAdmin: isAdmin, orgId: orgId, active:"simple-document-upload", navigation: navigation /}

<div class="row">
    <div class="span12">
        <table class="table table-striped">
            <caption>&{'plugin.simpledocumentupload.list'}</caption>
            <thead>
                <th>&{'thing.name'}</th>
                <th>&{'thing.description'}</th>
                <th>&{'thing.action'}</th>
            </thead>
            <!-- ko if: documents().length > 0 -->
            <tbody data-bind="foreach: documents">
              <tr>
                  <td><a data-bind="text: name, attr: { href: '/' + id().replace(new RegExp('_', 'g'), '/') }"></a></td>
                  <td><span data-bind="text: description"></span></td>
                  <td>
                      <a class="btn btn-primary btn-mini" data-bind="attr: { href: '/organizations/${orgId}/simpledocument/' + id() + '/update' }">&{'_hub.Edit'}</a>
                      <a class="btn btn-danger btn-mini delete" data-bind="attr: { id: 'remove-' + id(), 'data-remove': id() }">
                      ${messages.get('_hub.Delete')}
                      </a>
                  </td>
              </tr>
            </tbody>
            <!-- /ko -->
            <!-- ko ifnot: documents().length > 0 -->
            <tbody>
              <tr>
                <td colspan="3">
                    No items defined
                    <a class="btn btn-primary btn-mini pull-right" href="/organizations/${orgId}/simpledocument/add">&{'_hub.Create'}</a>
                </td>
              </tr>
            </tbody>
            <!-- /ko -->

        </table>
    </div>
</div>


<script type="text/javascript">

$(document).ready(function() {
    var viewModel = {};

    load(${data.raw()}, viewModel, null, function () {

        $('.delete:not(.disabled)').click(function () {
            var item = $(this).attr('data-remove');
            bootbox.dialog('<h3 class="shout beware">&{'thing.confirmation'}</h3>&{'plugin.simpledocumentupload.deleteConfirmation'}',
            [
                {
                    "label":"No thanks!",
                    "class":"btn"
                },
                {
                    "label":"Yes, I'm sure",
                    "class":"btn-primary",
                    "callback": function () {
                        $.ajax({
                            url: '/organizations/${orgId}/simpledocument/' + item + '/remove',
                            type: "DELETE",
                            success: function () {
                                document.location = '/organizations/${orgId}/simpledocument'
                            }
                        });
                    }
                }
            ]);
        });
    });
});
</script>

