@(user:models.User)

@import views.context._
@import views.tags.html._

@main("Add new object for user " + user.fullname ) {

<div class="grid_8 alpha">
    <h1>Add a new object</h1>

    <form method="post" action="">

        @textField("name", "Name", "value: name")

        @textArea("description", "Description", "value: description")

        <div class="field">
            <label for="annotation">Annotation</label>

            <div class="inputs">
                <select name="annotationType" id="annotationType">
                    <option value="person">person</option>
                    <option value="place">place</option>
                    <option value="event">event</option>
                    <option value="concept">concept</option>
                </select>
                <input type="text" class="textinput" name="annotationText" id="annotationText"/>
            </div>
        </div>

        @textField("label", "Label", "value: label", "Separate multiple labels by a comma")

        <div class="field">
            <label for="collection">Add to collection</label>

            <div class="inputs">
                <select name="collection" id="collection">
                    <option value="collection 1">Collection 1</option>
                    <option value="collection 2">Collection 2</option>
                    <option value="collection 3">Collection 3</option>
                </select>
            </div>
        </div>

        <div class="field" for="objectFile">
            <label>File</label>

            <div class="inputs">
                <input type="file" name="objectFile" id="objectFile"/>
                <button>Add File</button>
                <span class="error"></span>
            </div>
        </div>

        <div class="field" for="objectVisibility">
            <label>Public</label>

            <div class="inputs">
                <input type="radio" name="public" value="0" checked="yes"/>Not Public
                <input type="radio" name="public" value="1"/>Public
            </div>
        </div>

        <div class="field">
            <input type="submit" value="Add Object"/>
        </div>

    </form>

</div>

<div class="grid_8 omega">

</div>

}