@(user:models.User, page: Int, count: Int)

@import views.context._
@import views.tags.html._

@header(if(browsedUserName != null) "List of objects for user %s".format(browsedUserName) else "List of objects") {
<div class="grid_12 alpha" id="items">

    @if(browsedUserName != null) {
        <h2>Browse objects owned by: <span>@browsedUserName</span></h2>
    } else {
        <h2>Browse objects</h2>
    }

    <div class="item-nav">
        <div class="item-count">
            Found: <span>@count</span> objects
        </div>
        <div class="item-pager">
          <div id="pager">@pagination(selector = "#pager", count = count, start = page, url = "/" + browsedUserName + "/object/")</div>
        </div>
    </div>

    <div class="clear"></div>

    @for(i <- 0 until 15) {

    <div class="item three-col">
        <img src='@asset("/public/images/dummy-object.png")' width="84"/>
        <h4><a href="">Title_@i</a></h4>
        <!--<label>Owner</label><a href="">User Name</a><br/>-->
        <span class="description">Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor.</span>
    </div>
    }
</div>

<div class="grid_4 omega">
    <a href='/@userName/object/add'>Add new object</a>
</div>

}