body {
    background:  #111 url(../images/nassau-body-bg.gif) top center repeat-y;
    font: 15px/1.5 Arial,Helvetica,sans-serif;
    margin:  0;
}

body#authenticate {
       background:  #990000;
}

#container {
    margin: 0 auto;
    overflow:  auto;
    width: 960px;
    position: relative;
    /*margin-top: 20px;*/
}

.outer {
    margin: 0 auto;
    width: 960px;
    height: inherit;
}

.inner {
    padding: 10px;
}

#main-nav {
    position: absolute;
    top: 58px;
    right: 0px;
    height: 32px;
}

#user-nav {
    position: absolute;
    top: 10px;
    right: 0px;
    height: 30px;
    text-align: right;
}

#branding {
    position: absolute;
    top: 30px;
    width: 500px;
    height: 30px;
}

#header {
    height: 200px;
    position: absolute;
    top: 100px;
}

#search {
    position: absolute;
    top: 250px;
    height: 60px;
}

#content {
   margin-top: 320px;
    clear: both;
    overflow:  hidden;
    /*min-height: 800px;*/
}

#main {
    /*float: left;*/
    width: 100%;
}

#secondary {
    float: left;
    width: 25%;
}

#home #main {
    width: 100%;
}

#home #secondary {
    display: none;
}



#footer {
   height: 100px;
   clear: both;
}



/* Layout alternatives */

#home #header {
   height: 450px;
}

#home #search {
   top: 500px;
}

#home #content {
   margin-top: 570px;
}






/* COLOR */

#header .outer {
    background:  transparent url(../images/nassau-header.jpg) top center no-repeat;
    border-bottom:  20px solid #FBC800;
}

#branding .inner {
    padding:  0;
}

#content .outer {

    overlow: hidden;
}

#search .outer {
    /*background-color: #cc0000;*/
}

#main-nav .outer {
    border-bottom:  10px solid #FBC800;
}

#user-nav .outer {
    /*background-color: #33ccff;*/
}

#footer .outer {
    /*background-color: #888;*/
}

/* Typography */
body {
    font-family: arial, helvetica, sans-serif;
}
h1, h2, h3, h4 {
    margin-top: 0;
    color: #666;
}
h1 {
    font-family: "Arial Black", arial, helvetica, sans-serif;
    font-size: 200%;
}

h1.section {
    padding-bottom: 10px;
    border-bottom:  2px solid gold;
}

a {
    color: #3366ff;
}

/* Custom Theme Styling */

#header h1 {
 display: block; border: 0; text-indent: -999em; overflow: hidden; background-color: transparent; background-repeat: no-repeat; text-align: left; direction: ltr;
}


/* Main Nav */

#main-nav .inner {
    padding:  0;
}


#main-nav ul {
   background-color: #444;
    height: 32px;
    padding:  0;
    margin:  0;
    width: 368px;
    float: right;
}

#main-nav ul li {
    display: inline-block;
    float: left;
    padding:  0;
    margin:  0;
    height: 32px;
    padding:  0 10px;
    line-height: 32px;
    border: none;
}

#main-nav ul li.current {
    background-color: #FBC800;
}

#main-nav ul li:hover {
    background-color: #fee47f;
}
#main-nav ul li:hover a {
    color: #000;
}

#main-nav a {
    color: #fff;
    text-decoration: none;
}

/* User nav */

#user-nav .divider {
    padding:  0 10px;
}

/* SEARCH */

#search {
    /*padding:  10px 0;*/
    text-align: center;
}

#search .inner {
    padding:  0;
}

#search form {
    background-color: #FBC800;
    padding-top:  17px;
    width: 596px
}

#search input[type=text] {
    background: none repeat scroll 0 0 #fff;
    border: medium none;
    /*border:  1px solid #FBC800;*/
    padding: 8px;
    width: 400px;
}

#search input[type="submit"]  {
    background: none repeat scroll 0 0 #555;
    border: 1px solid #555;
    color: #FFFFFF;
    cursor: pointer;
    /*margin-left: -4px;*/
    padding: 8px 14px;
    /*text-shadow: 0 -1px 2px rgba(0, 0, 0, 0.7);*/
    text-transform: uppercase;
    width: 80px;
    font-family: Georgia;
}

#search input {
    /*border-radius: 4px 4px 4px 4px;*/
    /*font-size: 12px;*/
    font-weight: bold;
    vertical-align: top;
    border:  1px solid #FBC800;
}

/* CAROUSEL ROLLOVER EXTRAS ************************************************************************/

.carousel {
    margin-bottom: 10px;
}

.jcarousel-item-horizontal  {
    margin: 0 10px !important;
}

.jcarousel-item span {
    background:  #fff;
    position: absolute;
    bottom: 0px;
    color: #000;
    display: none;
    width: 130px;
    height: 50%;
    padding:  10px;
    opacity:.60;
    filter:alpha(opacity=60);

}
.jcarousel-item:hover img {
    background: #000;
    /*opacity:.60;*/
    /*filter:alpha(opacity=60);*/
    /*display: none;*/
}

.jcarousel-item:hover span {
    display: block
}



/*.container_16 {*/
    /*position: relative;*/
    /*min-width: 960px;*/
/*}*/

/*#login #branding h1,*/
/*#login h2 {*/
    /*color: #555;*/
/*}*/

/*#login-registration {*/
    /*text-align: right;*/
/*}*/

/*#login #branding {*/
    /*margin:  0 auto;*/
    /*width: 335px;*/
/*}*/

/*#login #branding h1 {*/
    /*margin:  0 0 20px 0;*/
    /*font-size: 200%;*/
    /*text-align: center;*/
/*}*/

/* Sticky Footer Code thanks to: http://www.cssstickyfooter.com/ */

/*html, body {height: 100%;}*/

/*#wrapper {*/
    /*min-height: 100%;*/

/*}*/

/*#page {overflow:auto;*/
    /*padding-bottom: 300px;}   must be same height as the footer*/

/*#footer {position: relative;*/
	/*margin-top: -300px;  negative value of footer height*/
	/*height: 300px;*/
	/*clear:both;}*/

/*Opera Fix*/
/*body:before {*/
	/*content:"";*/
	/*height:100%;*/
	/*float:left;*/
	/*width:0;*/
	/*margin-top:-32767px;*//*/*/
/*}*/

/* end sticky footer code! */





/*a, a:active, a:visited { color: #0673b9; }*/
/*a:hover { color: #10a1ff; }*/

/* typography */

/*h1, h2 {*/
    /*font-family: Times, "Times New Roman", serif;*/
    /*margin-top: 0px;*/
/*}*/

/*h1 {*/
    /*color: #990000;*/
    /*font-size: 175%;*/
/*}*/

/*h2 {*/
    /*color: #990000;*/
    /*font-size: 150%;*/
/*}*/

/*h3 {*/
    /*color: #ad3333;*/
    /*font-size: 115%;*/
/*}*/

/*h4 {*/
    /*font-size: 100%;*/
/*}*/

/*h4.user {*/
    /*background:  transparent url(../../common/images/user.png) top left no-repeat;*/
    /*padding:  0 0 0 24px;*/
/*}*/

/*ol.small li {*/
    /*font-size: 80%;*/
/*}*/

/*p {*/
    /*margin:  0;*/
/*}*/

/* basic page layout */

/*#footer {*/
    /*background:  #333;*/
    /*height: 300px;*/
/*}*/




/*#page {*/
    /*background:  #fff;*/
    /*padding: 20px 0;*/
/*}*/


/*#page {*/
    /*clear: both;*/
    /*min-height: 400px;*/
    /*overflow:  hidden;*/
/*}*/

/*#page .container_16 .grid_16 {*/
    /*clear: both;*/
/*}*/

/*#page #messages-container {*/
    /*background:  #fff;*/
    /*display: none;*/
/*}*/

/*#header-top   {*/
    /*background:  #333;*/
    /*border-bottom:  1px solid #4a4d32;*/
    /*height: 42px;*/
    /*line-height: 42px;*/
    /*line-height: 42px;*/
    /*overflow:  hidden;*/
/*}*/

/*#header-top a {*/
    /*color: #fff;*/
/*}*/

/*#header-main {*/
    /*background:  #990000;*/
    /*height: 140px;*/
    /*position: relative;*/
    /*z-index: 1;*/
/*}*/

/*#home #header-main .container_16 {*/
    /*background:  #990000  url(../images/nassau-header-bg.png) bottom right no-repeat;*/
    /*height: 350px;*/
/*}*/

/*#home #header-main  {*/
    /*height: 350px;*/
/*}*/


/*#login-registration {*/
    /*text-align: right;*/
/*}*/

/* Name / Branding */

/*#branding h1 {*/
    /*background: transparent url(../images/bg-name.png) no-repeat top left;*/
    /*color: #fff;*/
    /*font-size: 300%;*/
    /*margin: 30px 0 0 0;*/
    /*padding:  0;*/
/*}*/

/*#branding h1 span {*/
    /*display: inline-block;*/
    /*text-align: center;*/
    /*width: 335px;*/
    /*margin-left: 20px;*/
/*}*/

/*#header-text {*/
    /*display: none;*/
/*}*/

/*#header-text a {*/
    /*color: #e8c8c8;*/
/*}*/

/*#home #header-text {*/
    /*display: block;*/
    /*color: #fff;*/
    /*font-size: 13px;*/
    /*width: 40%;*/
    /*margin-top: 20px;*/
    /*text-shadow: 1px 1px #000;*/
/*}*/

/* User bar navigation */

/*#header-user-bar  {*/
    /*background: #333;*/
    /*border-bottom:  1px solid #4a4d32;*/
    /*overflow:  hidden;*/
    /*line-height: 32px;*/
    /*height: 32px;*/
    /*position: relative;*/
    /*z-index: 1000;*/
/*}*/

/*#user-name {*/
    /*color: #fff;*/
    /*display: inline-block;*/
    /*font-weight: bold;*/
    /*margin-right: 20px;*/
/*}*/

/* Search */

/* SEARCH */

/*#search {*/
    /*background-color: #555;*/
    /*padding:  10px 0;*/
    /*text-align: center;*/
/*}*/


/*#search input[type=text] {*/
    /*background: none repeat scroll 0 0 #fff;*/
    /*border: medium none;*/
    /*border:  1px solid #d1d1d1;*/
    /*padding: 6px;*/
    /*width: 400px;*/
/*}*/

/*#search input[type="submit"]  {*/
    /*background: none repeat scroll 0 0 #990000;*/
    /*border: medium none;*/
    /*color: #FFFFFF;*/
    /*cursor: pointer;*/
    /*margin-left: -4px;*/
    /*padding: 6px;*/
    /*text-shadow: 0 -1px 2px rgba(0, 0, 0, 0.7);*/
    /*text-transform: uppercase;*/
    /*width: 80px;*/
/*}*/

/*#search input {*/
    /*border-radius: 4px 4px 4px 4px;*/
    /*font-size: 12px;*/
    /*font-weight: bold;*/
    /*vertical-align: top;*/
/*}*/

/*ul.inline {*/
    /*margin: 0;*/
    /*padding: 0;*/
/*}*/

/*ul.inline li {*/
    /*display: inline-block;*/
    /*list-style: none;*/
    /*margin: 0 10px 10px 0;*/
/*}*/

/*.row {*/
    /*border-bottom: 1px dotted #555;*/
    /*display: block;*/
    /*height: 21px;*/
    /*line-height: 21px;*/
    /*margin-bottom: 4px;*/

/*}*/

/*.row label {*/
    /*clear: left;*/
    /*float: left;*/
    /*font-weight: bold;*/
    /*margin-right: 10px;*/
    /*width: 100px;*/
    /*text-align: right;*/
/*}*/

/*.row span {*/
    /*display: block*/
/*}*/

/* containers */

/*.container {*/
    /*background:  #ebebeb;*/
    /*border:  1px solid #c8c8c8;*/
    /*border-radius: 4px;*/
/*}*/

/*.container .head,*/
/*.container .body {*/
    /*padding:  4px 10px;*/
/*}*/

/* COMMENTS */
/*ul.comment-list {*/
    /*list-style: none;*/
    /*margin: 0;*/
    /*padding: 0;*/
/*}*/

/*li.comment {*/
    /*color: #555;*/
    /*margin-bottom: 10px;*/
    /*padding: 5px;*/
/*}*/

/*li.comment:hover {*/
    /*background: #eaeaea;*/
/*}*/

/*li.comment .avatar {*/
    /*float: left;*/
    /*margin-right: 10px;*/
/*}*/

/*li.comment .content {*/
    /*display: table-cell;*/
    /*vertical-align: top;*/
    /*width: 75%;*/
/*}*/

/*li.comment .date {*/
    /*color: #b22222;*/
    /*font-weight: bold;*/
/*}*/

/*li.comment .user {*/
    /*font-weight: bold;*/
/*}*/

/*.comment p {*/
    /*margin: 0;*/
/*}*/

/*#add-comment-dialog {*/
    /*display: none;*/
/*}*/

/* LABELS */

/*#add-label-dialog {*/
    /*display: none;*/
/*}*/

/* form-elements.css over-rides */

/*input[type=submit],*/
/*input[type=button],*/
/*input[type=file],*/
/*button {*/
    /*background-color: #ababab;*/
    /*color: #fff;*/
/*}*/

/*input[type=file] {*/
    /*background: #fff;*/
/*}*/

/*input[type=submit]:hover,*/
/*input[type=button]:hover,*/
/*input[type=file]:hover,*/
/*button:hover{*/
    /*background-color: #888;*/
    /*color: #fff;*/
/*}*/

/*input[type=submit]:active,*/
/*input[type=button]:active,*/
/*input[type=file]:active,*/
/*button:active{*/
    /*background-color: #555;*/
    /*color: #fff;*/
/*}*/

/*button[disabled] {*/
    /*background-color: #e2e2e2;*/
    /*color: #555;*/
    /*cursor: default;*/
    /*opacity:0.4;*/
    /*filter:alpha(opacity=40)*/
/*}*/

/* action over-rides */


/*item over-rides */

/*.item-nav {*/
    /*border-bottom: 1px solid #CFD0BF;*/
    /*padding: 10px 0;*/
    /*margin-bottom: 1em;*/
    /*width: 100%;*/
/*}*/

/*.item {*/
    /*border: 1px solid #ccc;*/
/*}*/

/*.item .inner {*/
    /*border: 1px solid #ccc;*/
    /*overflow:  hidden;*/
    /*padding:  5px;*/

/*}*/

/*table over-rides */
/*.data-grid table thead th {*/
    /*background-color: #555;*/
    /*border-left: 1px solid #ccc;*/
/*}*/

/*.data-grid table tbody td {*/
    /*color: #00496B;*/
    /*border-left: 1px solid #ccc;*/
/*}*/

/*.data-grid table tfoot td {*/
    /*border-top: 1px solid #ccc;*/
    /*background: #ccc;*/
/*}*/




