/* temp extra grid stuff */
/* Row >> can contain grids - instead of the .clear */

.row:after, .lastUnit:after {
    clear: both;
    display: block;
    visibility: hidden;
    overflow: hidden;
    height: 0 !important;
    line-height: 0;
    font-size: xx-large;
    content: " x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x ";
}

.row {
    *zoom: 1;
}
.g-1of2,
.g-1of3,
.g-2of3,
.g-1of4,
.g-3of4,
.g-1of5,
.g-2of5,
.g-3of5,
.g-4of5{
    display: inline;
    float: left;
    position: relative;
    margin-left: 1%;
    margin-right: 1%;
}

.g-1of1 {
    float: none;
}

.g-1of2 {
    width: 48%;
}

.g-1of3 {
    width: 31.33333%;
}

.g-2of3 {
    width: 64.66666%;
}

.g-1of4 {
    width: 23%;
}

.g-3of4 {
    width: 73%;
}

.g-1of5 {
    width: 18%;
}

.g-2of5 {
    width: 38%;
}

.g-3of5 {
    width: 58%;
}

.g-4of5 {
    width: 78%;
}


.alpha {
    margin-left: 0;
}

.omega {
    margin-right: 0;
}

/* COLORS ***************************************************************/

/*$color1: #ca9d5c;*/
/*$color2: #666;*/
/*$color3: #000;*/
/*$color4: #BF8530;*/
/*$color5: #926806;*/
/*$color6: #f1f1f1;*/
/*$color7: #5e8a95;*/
/*$color8: #afc5ca;*/
/*$color9: #66453e;*/

/*$color1: #fff;*/
/*$color2: #f1f1f1;*/
/*$color3: #555;*/
/*$color4: #222;*/
/*$color5: #502c1e;*/
/*$color6: #563e32;*/
/*$color7: #95836f;*/
/*$color8: #afc5ca;*/
/*$color9: #66453e;*/

$dark: #423f3a;
$darker: #424242;
$darkest: #0f0f0f;

$light: #8f897e;
$lighter: #bdbdbd;
$lightest: #f1f1f1;

$link: #698097;

/*$dark1: #423F37;*/
/*$light1: #927E64;*/
/*$light2: #FDDDAA;*/

/* FONT FAMILIES *****************************************************************************/

$font1: arial, helvetica, sans-serif;
$font2: times, "Times New Roman", serif;

/* BASE STUFF ********************************************************************************/

html
{
	height:100%;
}

body
{
    background: $dark url(/public/themes/nassau/images/middle-bg.jpg);
    color: $lightest;
    font-family: $font1;
    font-size: 14px;
    line-height: 18px;
}

.centered
{
	text-align:center;
}

.container_12 {
	width: 960px;
	margin-left: auto;
	margin-right: auto;
    position: relative;
}

/* TYPOGRAPHY **********************************************************************************/

h1, .h1,
h2, .h2,
h3, .h3 {
    font-family: $font2;
    color: $light;
}

h4, .h4,
h5, .h5,
h6, .h6 {
    font-family: $font1;
    color: $light;
}

h1, .h1 {
    font-size: 41px;
    line-height: 42px;
    margin-top: 21px;
    margin-bottom: 42px;
}

h2, .h2 {
    font-size: 24px;
    line-height: 42px;
    margin-top: 42px;
    margin-bottom: 21px;
}

h3, .h3 {
    font-size: 18px;
    line-height: 21px;
    margin-top: 21px;
    margin-bottom: 11px;
}

h4, .h4 {
    font-size: 123.1%;
    font-weight: normal;
    font-style: normal;
}

h5, .h5 {
    font-size: 108%;
    font-weight: bold;
    font-style: normal;
}

h6, .h6 {
    font-size: 108%;
    font-weight: normal;
    font-style: italic;
}

h1.sep {
    margin: 10px;
    padding-bottom: 5px;
    //border-bottom: 1px solid lighten($color5, 30%);
}

p, ul, ol {
    margin-top: 0px;
    margin-bottom: 11px;
}

small, aside {
    font-size: 11px;
}

ol {
    list-style-type: decimal;
}

li
{
	margin-left: 20px;
}

hr {
   border-color: $lighter;
}

a,
.breadcrumb a {
    color: $link;
}

/* MAJOR PAGE SECTIONS ***************************************************************************/

/* Rijksbranding and User-bar ********************************************************************/

#page-top {
    background: transparent;
    /*height: 100px;*/
    z-index: 100;
}

#page-top .container_12 {
    position: relative;
    height: 90px;
}

#page-top img {
    margin-top: 20px;
}

#primary-branding {
    display: block;
    position: absolute;
    bottom: 0px;
    left: -5px;
}

#primary-branding a {
    cursor: default;
}

#secondary-branding {
    display: none;
}

/* User Navi *************************************************************************************/

#user-nav
{
    position: absolute;
    right: 0px;
    top: 10px;
    z-index: 1000;
}

#user-nav .buttons {
    float: right;
}

#user-nav .button {
    margin-right: 0px;
}

.user-name {
    /*color: $color1;*/
    font-weight: bold;
    padding-top: 10px;
}

/* Site Navi *************************************************************************************/


#site-nav {
    position: absolute;
    bottom: 0px;
    left: 0px;
    /*width: 100%;*/
}


#site-nav ul {
    margin: 0;
    padding: 0;
    float: right;
}

#site-nav ul li {
    background:  transparent;
    display: inline;
    float: left;
    margin: 0;
}

#site-nav ul li.current a {
        font-weight: bold;
        text-decoration: underline;
}

#site-nav ul a {
    color: $link;
    display: block;
    padding: 6px 0 6px 40px;
    text-decoration: none;

}

/* Header ****************************************************************************************/
#header {
    background: $darker  url(/public/themes/nassau/images/noise-555.png);
    border-top: 1px solid #000;
}
#header .container_12 {
    background: url(/public/themes/nassau/images/header-bg-images-small.png) bottom center no-repeat;
    height: 145px;
}

#header h1,
#header h2  {
    display: none;
}

#home #header {
    height: 355px;
}

#home #header .container_12 {
    background: url(/public/themes/nassau/images/header-bg-images.png) bottom center no-repeat;
    height: 355px
}

/* Search  *****************************************************************************************/

#search {
    background: #222  url(/public/themes/nassau/images/noise-222.png);
    border-bottom: 1px solid $darkest;
    border-top: 1px solid $darkest;
    text-align: center;
    height: 64px;
    line-height: 64px;
}

#search form {
    background: transparent;
}

#search input[type=text] {
    background: none repeat scroll 0 0 $lighter;
    /*border: medium none;*/
    border:  0px solid  $darkest;
    /*@include border-all($radius);*/
    padding: 8px;
    width: 380px;
}

#search input[type="submit"]  {
    background: none repeat scroll 0 0 $darker;
    /*border: medium none;*/
    border:  0px solid $darkest;
    /*@include border-all(2px);*/
    color: $lighter;
    cursor: pointer;
//    font-family: $ffam-2;
    font-size: 100%;
    font-weight: bold;
    margin-left: 4px;
    padding: 6px 7px 8px 7px;
    text-shadow: 0 1px 2px rgba(0, 0, 0, 0.7);
    text-transform: uppercase;
    width: 80px;
}

#search input {
    /*font-weight: bold;*/
    /*vertical-align: top;*/
	border-radius: 2px;
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
}


/* Main Content ************************************************************************************/

#content {
    zoom: 1;
    overflow: hidden;
}

#content .container_12 {
        min-height: 250px;
        padding: 20px 0 20px 0;
}

/* Footer ******************************************************************************************/

#footer {
    background-color:transparent;
    margin-top: 20px;
    min-height: 100px;
}

/* overrides */

.data-grid {
    border: 1px solid $darker;
}

form {
    color: $darker;
}

.button {
    background: $darker;
    border-color: $darkest;
}
button.middle,
.button.middle {
	border-left-color: $darker
}
button.right,
.button.right {
	border-left-color: $darker;
}

button:hover,
.button:hover,
.button.submit:hover {
    background: $lighter;
	border-color: $darker;
}

button.on,
.button.on {
	border-color: $darkest;
	-moz-box-shadow:inset 0 0 10px $light;
	-webkit-box-shadow:inset 0 0 10px $light;
	box-shadow:inset 0 0 10px $light;
}

button.submit,
.button.submit {
	border: 1px solid $darkest !important;
	background: $darker;
	background: -webkit-linear-gradient(top, $darker, $dark);
	background: -moz-linear-gradient(top, $darker, $dark);
	background: -ms-linear-gradient(top,  $darker, $dark);
	background: -o-linear-gradient(top,  $darker, $dark);
}

button.complete,
.button.complete {
	border: 1px solid $darkest !important;
	background: $light;
}

button.complete:hover,
.button.complete:hover {
	border: 1px solid $darkest !important;
	background: $darkest;
}

button.action,
.button.action {
	border: 1px solid $lighter;
}
button.action:hover,
.button.action:hover {
	border: 1px solid $light;
}

button.action .label,
.button.action .label {
	color: $darker;
}

.toolbar .buttons {
    background: $darker;
    border-color: #000;
}
.ddm span.label,
button span.label,
.button span.label {
	color: $lighter;
    text-shadow: none;
}

.field span.icon,
.ddm span.icon,
button span.icon,
.button span.icon {
	background-image: url(/public/themes/common/stylesheets/buttons/button-icons-gray.png);
}

div.dropdown span.toggle {
	background: url(/public/themes/nassau/images/toggle.png) top right no-repeat;
	border-left: 0px solid $lighter;
}
div.dropdown span.toggle.active {
	background: url(/public/themes/nassau/images/toggle.png) bottom right no-repeat;
}

div.dropdown-slider  {
    background: $darkest;
	border-right: solid 1px $darkest;
	border-bottom: solid 1px $darkest;
	border-left: solid 1px $darkest;
}

div.dropdown-slider .ddm {
    background: $lighter;
	border-top: 1px solid $lighter;
	border-bottom: 1px solid $light;
    text-shadow: none;
}

div.dropdown-slider .ddm .label {
    color: $dark;
}

div.dropdown-slider .ddm.heading {
    color: $lightest;
}

div.dropdown-slider .ddm.heading.org {
    background: $light;
}

div.dropdown-slider .ddm.heading.org .label {
    color: $darker;
}

.widget .bd {
    background: transparent;
    background: $darker  url(/public/themes/nassau/images/noise-222.png);
}

#home .widget .bd {
    background: $darker  url(/public/themes/nassau/images/noise-222.png);
    color: $lighter;
}

#profile .widget .bd {
   background: $darker;
}

.results {
    background: $darker  url(/public/themes/nassau/images/noise-222.png);
    padding: 4px;
}

.media {
    padding: 4px;
}

.media.record .img {
    margin-right: 10px;
}

.widget {
    background: $darkest;
    padding: 1px;
}

.collection-objects {
    background: $dark;
}


/* pagination overrides */
.pagination {
    margin: 15px 0;
}

.pagination a, .pagination span {
    background: $lighter;
     margin: 0;
    padding: 4px 8px;
}

.pagination .current {
    background-color: $link;
}

.breadcrumb li {
    background: transparent url(/public/themes/nassau/images/bullet-arrow-right.png) no-repeat top right;
    display: inline-block;
    height: 16px;
    line-height: 16px;
    padding-right: 32px;
    margin-left: 0;
}

/* FACETS ****************************************************************************************/

h4.trigger
{
	background: $darker url(/public/themes/common/stylesheets/facets/togglerch.png) no-repeat 97% 50%;
	border-bottom:1px solid $darkest;
	padding:8px;
    cursor: pointer;
    color: $link;
}

h4.trigger:last-of-type {
    border-bottom: none;
}

h4.trigger:hover {
   background: $light url(/public/themes/common/stylesheets/facets/togglerch.png) no-repeat 97% 50%;
    color: $darker;
    text-decoration: underline;
}

h4.trigger.active {
   background: $light url(/public/themes/common/stylesheets/facets/togglero.png) no-repeat 97% 50%;
   color: $darkest;
}

h4.trigger.active:hover {
   background: $dark url(/public/themes/common/stylesheets/facets/togglero.png) no-repeat 97% 50%;
}

.facet-container
{
	background: $dark  url(/public/themes/nassau/images/noise-222.png);
   border-bottom: 1px solid $darkest;
   color: $light;
   font-size: smaller;
}

.facets .widget {
    -moz-border-radius: 4px 4px 0px 0px;
    -webkit-border-radius: 4px 4px 0px 0px;
}

.facets .widget .bd {
    padding: 0px;
}

#dropbox {
    height: auto;
}

#dropbox.hover {
    background: $light;
}

#dropbox.hover h3  {
   color: $dark;
}

#dropbox form {
    background: transparent;
}

#organization .toolbar {
    margin-bottom: 0px;

}

#organization .toolbar .buttons {
    border: 1px solid $darkest;
}

.dashboard {
    background: $light  url(/public/themes/nassau/images/noise-222.png);
    border-right: 1px solid $darkest;
    border-bottom: 1px solid $darkest;
    border-left: 1px solid $darkest;
    color: $lighter;
}
.dashboard h1,
.dashboard h3,
.dashboard .info-box .label {
    color: $light;
}

.dashboard a {
    color: $link;
}

.dashboard .data-grid {
    margin-top: 10px;
}

.dashboard form {
    background: transparent;
    /*margin: 0 10px;*/
}

.dashboard form h3 {
    color: $light;
}

/* STORY NAVIGATION - srollable-nav image override ************************************************/
.scrollable {
    min-height: 400px;
    background: $dark;
}

.scroll-nav {
    background: $darkest;
    text-align: center;
    border-bottom: 1px solid $light;
    margin: 20px 0 0 0;
    height: 32px;
    line-height: 32px;
}

.scroll-nav a {
    /*background: transparent url(/public/themes/nassau/images/scrollable-nav.png) top left no-repeat;*/
    background: none;
    color: $light;
    cursor: pointer;
    display: inline-block;
    /*width: 21px;*/
    height: 32px;
    line-height: 32px;
    overflow: hidden;
    text-indent: 0px !important;
    margin: 0px;
}

.scroll-nav .prev,
.scroll-nav .next {
    width: auto;
}

.scroll-nav .active a {
    color: $lightest;
}

.scroll-nav .page,
.scroll-nav .active .page {
    width: auto;
    padding: 0 5px;
}
/*.scroll-nav .prev {*/
    /*background-position: -15px 0px;*/
/*}*/

/*.scroll-nav .next {*/
    /*background-position: -71px 0px;*/
/*}*/

/*.scroll-nav .page {*/
    /*background-position: -51px 0px;*/
    /*width: 18px;*/
/*}*/

/*.scroll-nav .active .page {*/
    /*background-position: -31px 0px;*/
    /*width: 18px;*/
/*}*/

.scroll-nav .prev.disabled,
.scroll-nav .next.disabled {
    color: $dark;
}





#pnav {
    display: inline-block;
}

#pnav .active {
    font-weight: bold;
}

#pnav li {
    display: inline-block;
    margin: 0px;
}

#inav {
    background: $dark;
    padding: 0;
}

#inav li {
    padding: 4px 6px;
    margin: 0;
}

#inav .active,
#inav li:hover {
    background: $dark;
    color: $lightest;
}

#inav a {
    color: $light;
    cursor: pointer;
    display: block;
    width: 100%;
}
#inav .active a,
#inav li:hover a {
    color: $lighter;
}


#add-label-dialog,
#add-comment-dialog {
    background: $lighter;
    color: $darker;
    margin: -10px 0 10px 0;
}


