body {
    background:  #333 url(../images/nassaue-footer-bg.png) bottom center no-repeat;
    font: 15px/1.5 Arial,Helvetica,sans-serif;
    margin:  0;
}

body#authenticate {
       background:  #990000;
}

.container_16 {
    /*position: relative;*/
    min-width: 960px;
}

#login #branding h1,
#login h2 {
    color: #555;
}

#login-registration {
    text-align: right;
}

#login #branding {
    margin:  0 auto;
    /*width: 335px;*/
}

#login #branding h1 {
    margin:  0 0 20px 0;
    font-size: 200%;
    text-align: center;
}

/* Sticky Footer Code thanks to: http://www.cssstickyfooter.com/ */

/*html, body {height: 100%;}*/

/*#wrapper {*/
    /*min-height: 100%;*/

/*}*/

/*#page {overflow:auto;*/
    /*padding-bottom: 300px;}   must be same height as the footer*/

/*#footer {position: relative;*/
	/*margin-top: -300px;  negative value of footer height*/
	/*height: 300px;*/
	/*clear:both;}*/

/*Opera Fix*/
/*body:before {*/
	/*content:"";*/
	/*height:100%;*/
	/*float:left;*/
	/*width:0;*/
	/*margin-top:-32767px;/*/
/*}*/

/* end sticky footer code! */





a, a:active, a:visited { color: #0673b9; }
a:hover { color: #10a1ff; }

/* typography */

h1, h2 {
    font-family: Times, "Times New Roman", serif;
    margin-top: 0px;
}

h1 {
    color: #990000;
    /*font-size: 175%;*/
}

h2 {
    color: #990000;
    /*font-size: 150%;*/
}

h3 {
    color: #ad3333;
    /*font-size: 115%;*/
}

h4 {
    /*font-size: 100%;*/
}

h4.user {
    background:  transparent url(../../common/images/user.png) top left no-repeat;
    padding:  0 0 0 24px;
}

ol.small li {
    font-size: 80%;
}

/*p {*/
    /*margin:  0;*/
/*}*/

/* basic page layout */

#footer {
    background:  #333;
    height: 300px;
}




#page {
    background:  #fff;
    padding: 20px 0;
}


#page {
    clear: both;
    min-height: 400px;
    overflow:  hidden;
}

#page .container_16 .grid_16 {
    clear: both;
}

#page #messages-container {
    background:  #fff;
    display: none;
}

#header-top   {
    background:  #333;
    /*border-bottom:  1px solid #4a4d32;*/
    height: 42px;
    line-height: 42px;
    /*line-height: 42px;*/
    /*overflow:  hidden;*/
}

#header-top a {
    color: #fff;
}

#header-main {
    background:  #990000;
    height: 140px;
    /*position: relative;*/
    /*z-index: 1;*/
}

#home #header-main .container_16 {
    background:  #990000  url(../images/nassau-header-bg.png) bottom right no-repeat;
    height: 350px;
}

#home #header-main  {
    height: 350px;
}


#login-registration {
    text-align: right;
}

/* Name / Branding */

#branding h1 {
    /*background: transparent url(../images/bg-name.png) no-repeat top left;*/
    color: #fff;
    font-size: 300%;
    margin: 30px 0 0 0;
    padding:  0;
}

/*#branding h1 span {*/
    /*display: inline-block;*/
    /*text-align: center;*/
    /*width: 335px;*/
    /*margin-left: 20px;*/
/*}*/

#header-text {
    display: none;
}

#header-text a {
    color: #e8c8c8;
}

#home #header-text {
    display: block;
    color: #fff;
    font-size: 13px;
    width: 40%;
    margin-top: 20px;
    text-shadow: 1px 1px #000;
}

/* User bar navigation */

#header-user-bar  {
    background: #333;
    /*border-bottom:  1px solid #4a4d32;*/
    /*overflow:  hidden;*/
    line-height: 32px;
    height: 32px;
    /*position: relative;*/
    /*z-index: 1000;*/
}

#user-name {
    color: #fff;
    display: inline-block;
    font-weight: bold;
    margin-right: 20px;
}

/* Search */

#search {
    background: #555;
    height: 64px;
    /*line-height: 64px;*/
    text-align: center;
}

#search form {
    height: 40px;
    margin: 12px 0 0 0;
}
#search input[type="text"]{
    background: transparent url(../../common/images/bg-search-input.png) 0 0 no-repeat;
    border: none;
    height: 40px;
    line-height: 40px;
    margin: 0 10px 0 0;
    padding: 0 10px;
    width: 430px;
}

#search input[type="submit"] {
    /*background: transparent url(../images/bg-button-states.png) 0 0 no-repeat;*/
    border:  none;
    color: #fff;
    font-weight: normal;
    height: 32px;
    margin: 0 10px 0 0;
    padding: 0 5px;
    width: 82px;

}

#search input[type="submit"]:hover {
    /*background: transparent url(../images/bg-button-states.png) 0 -32px no-repeat;*/
}

#search input[type="submit"]:active {
    /*background: transparent url(../images/bg-button-states.png) 0 -64px no-repeat;*/
}

ul.inline {
    margin: 0;
    padding: 0;
}

ul.inline li {
    display: inline-block;
    list-style: none;
    margin: 0 10px 10px 0;
}

.row {
    border-bottom: 1px dotted #555;
    display: block;
    height: 21px;
    line-height: 21px;
    margin-bottom: 4px;

}

.row label {
    clear: left;
    float: left;
    font-weight: bold;
    margin-right: 10px;
    width: 100px;
    text-align: right;
}

.row span {
    display: block
}

/* containers */

.container {
    background:  #ebebeb;
    border:  1px solid #c8c8c8;
    border-radius: 4px;
}

.container .head,
.container .body {
    padding:  4px 10px;
}

/* COMMENTS */
ul.comment-list {
    list-style: none;
    margin: 0;
    padding: 0;
}

li.comment {
    color: #555;
    margin-bottom: 10px;
    padding: 5px;
}

li.comment:hover {
    background: #eaeaea;
}

li.comment .avatar {
    float: left;
    margin-right: 10px;
}

li.comment .content {
    display: table-cell;
    vertical-align: top;
    width: 75%;
}

li.comment .date {
    color: #b22222;
    font-weight: bold;
}

li.comment .user {
    font-weight: bold;
}

.comment p {
    margin: 0;
}

#add-comment-dialog {
    display: none;
}

/* LABELS */

#add-label-dialog {
    display: none;
}

/* form-elements.css over-rides */

input[type=submit],
input[type=button],
input[type=file],
button {
    background-color: #ababab;
    color: #fff;
}

input[type=file] {
    background: #fff;
}

input[type=submit]:hover,
input[type=button]:hover,
input[type=file]:hover,
button:hover{
    background-color: #888;
    color: #fff;
}

input[type=submit]:active,
input[type=button]:active,
input[type=file]:active,
button:active{
    background-color: #555;
    color: #fff;
}

button[disabled] {
    background-color: #e2e2e2;
    color: #555;
    cursor: default;
    opacity:0.4;
    filter:alpha(opacity=40)
}

/* action over-rides */


/*item over-rides */

.item-nav {
    border-bottom: 1px solid #CFD0BF;
    padding: 10px 0;
    margin-bottom: 1em;
    width: 100%;
}

/*.item {*/
    /*border: 1px solid #ccc;*/
/*}*/

.item .inner {
    border: 1px solid #ccc;
    overflow:  hidden;
    padding:  5px;

}

/*table over-rides */
.data-grid table thead th {
    background-color: #555;
    border-left: 1px solid #ccc;
}

.data-grid table tbody td {
    color: #00496B;
    border-left: 1px solid #ccc;
}

.data-grid table tfoot td {
    border-top: 1px solid #ccc;
    background: #ccc;
}




