<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
    <head>
        <title>#{get 'title' /}</title>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
        <link rel="stylesheet" type="text/css" media="screen" href="@{'public/themes/common/stylesheets/normalize.css'}"/>
        <link rel="stylesheet" type="text/css" media="screen" href="@{'public/themes/common/stylesheets/links.css'}"/>
        <link rel="stylesheet" type="text/css" media="screen" href="@{'public/themes/common/stylesheets/secure.css'}"/>
        <link rel="stylesheet" type="text/css" media="screen" href='${views.context.package.themePath("stylesheets/style.css")}'/>
        <script src="@{'/public/themes/common/javascripts/jquery-1.6.2.min.js'}" type='text/javascript'></script>
    </head>
    <body id="authenticate">
      #{doLayout /}
    </body>
</html>
