#{extends themeInfo.get('themeLayout') /}
#{set title: messages.get('ui.label.login') /}
#{set bodyId: 'authenticate' /}
<div class="row">
    <div class="span4 offset4">
        <form method="POST" class="well" action="@{controllers.routes.Authentication.authenticate()}">
            <h2>Login</h2>
            #{if flash.error}
            <p class="alert alert-error">
                <a class="close" data-dismiss="alert">x</a>
                ${flash.error}
            </p>
            #{/if}
            #{if flash.success}
            <p class="alert alert-success">
                <a class="close" data-dismiss="alert">x</a>
                ${flash.success}
            </p>
            #{/if}
            #{if views.Helpers.hasErrors(loginForm)}
            <div class="alert alert-error">
                <a class="close" data-dismiss="alert">x</a>
                <ul>
                #{list views.Helpers.listGlobalErrors(loginForm), as: 'e'}
                    <li>${e}</li>
                #{/list}
                </ul>
            </div>
            #{/if}

            #{textField name:"userName", placeholder: messages.get("ui.label.username"), form: loginForm /}
            #{passwordField name:"password", placeholder: messages.get("ui.label.password"), form: loginForm /}

            <div class="field">
                <label for="remember" class="checkbox">
                    <input type="checkbox" name="remember" id="remember" value="true" ${flash.remember ? 'checked=\"true\"' : ''} />
                    &{'authentication.label.rememberme'}
                </label>
            </div>

            <div class="btn-group">
                #{btnButton label: messages.get("ui.label.login"), extraClass:"btn-primary btn-large span3", type:"submit", id:"signin" /}
            </div>
            <p>
                #{href label: messages.get('authentication.label.forgotpassword'), href:"/registration/lostPassword", rel:"nofollow" /}
            </p>
        </form>
    </div>
</div>
<script type="text/javascript">
  $(document).ready(function() {
    $('#userName').focus();
    $('#cancel').click(function(e) {
      e.preventDefault();
      document.location = document.referrer;
    });
  });
</script>