#{extends viewUtils.themeProperty('themeLayout') /}
#{set title: viewUtils.getKey('ui.label.login') /}

<div id="login" class="g-6of12 prefix-3">
    <div class="mod">

        #{form @authenticate()}

        <h3>Login</h3>

        #{if flash.error}
        <p class="error pam">
            ${flash.error}
        </p>
        #{/if}
        #{if flash.success}
        <p class="success pam">
            ${flash.success}
        </p>
        #{/if}


        #{textField name:"username", label: viewUtils.getKey("ui.label.username") /}
        #{passwordField name:"password", label: viewUtils.getKey("ui.label.password") /}
        <div class="field">
        <label for="remember" class="label">${viewUtils.getKey("authentication.label.rememberme")}</label>

        <div class="inputs">
              <input type="checkbox" name="remember" id="remember" value="true" ${flash.remember ? 'checked=\"true\"' : ''} />
        </div>
        </div>



        <div class="buttons">
            #{btnButton label:viewUtils.getKey("ui.label.login"), extraClass:"action green prominent", type:"submit", id:"signin" /}
            #{btnHref label: viewUtils.getKey('authentication.label.forgotpassword'), href:@Registration.lostPassword(), rel:"nofollow" /}
            #{btnHref label: viewUtils.getKey('ui.label.cancel'), href:'#', id:"cancel", rel:"nofollow" /}
        </div>
    #{/form}


    </div>
</div>
<script type="text/javascript">
  $(document).ready(function() {
    $('#username').focus();
    $('#cancel').click(function(e) {
      e.preventDefault();
      document.location = document.referrer;
    });
  });
</script>