@(title:String)
@import views.context._

@layout(title) {

<section id="login">



    @form(controllers.Authentication.authenticate()) {

    <div id="branding">
        <h1><span>@themeDisplayName</span></h1>
    </div>

    <h2>Login</h2>

    @if(flash.contains("error")) {
    <p class="error">
        @flash.get("error")
    </p>
    }
    @if(flash.contains("success")) {
    <p class="success">
        @flash.get("success")
    </p>
    }

    <p id="username-field">
        <label for="username">Username: </label>
        <input type="text" id="username" name="username">
    </p>

    <p id="password-field">
        <label for="password">Your password: </label>
        <input type="password" id="password" name="password" value="">
    </p>

    <p id="remember-field">
        <input type="checkbox" name="remember" id="remember" value="true" @if(flash.contains("remember")) { "checked=\"true\"" } />
        <label for="remember">Remember me</label>
    </p>

    <p id="signin-field">
        <input type="submit" id="signin" class="dui-button" value="Login"/>
    </p>
    }

    <nav>
        <a href="@action(controllers.Application.index)"><span>Home</span></a><span class="pipe">|</span>
        <a href="@action(controllers.Registration.index)"><span>Register</span></a><span class="pipe">|</span>
        <a href="@action(controllers.Registration.lostPassword)"><span>Forgot Password</span></a>
    </nav>

</section>

}