#{extends viewUtils.themeProperty('themeLayout') /}
#{set title: 'Login' /}


<div id="login" class="line">
    <div class="unit size1of2 prependSize1of4">
    <!--<h1>Login</h1>-->

    #{form @authenticate()}
    <h3>Login</h3>
    #{if flash.error}
    <p class="error">
        ${flash.error}
    </p>
    #{/if}
    #{if flash.success}
    <p class="success">
        ${flash.success}
    </p>
    #{/if}


    #{textField name:"username", label:"Username" /}
    #{passwordField name:"password", label:"Password" /}

    <label for="remember" class="label">Remember me</label>
    <input type="checkbox" name="remember" id="remember" value="true" ${flash.remember ? 'checked=\"true\"' : ''} />

    <div class="buttons">
        #{btnButton label:"Login", extraClass:"action green", type:"submit" /}
        #{btnHref label:"I forgot my password", href:@Registration.lostPassword(), rel:"nofollow" /}
    </div>
    #{/form}


</div>
</div>
<script type="text/javascript">
  $(document).ready(function() {
    $('#username').focus();
  });
</script>