@(title: String, organisationName: String = "museum", spec: String, things: List[controllers.Thing], page: Int, count: Int)

@import views.context._
@import views.tags.html._

<div class="grid_16 alpha" id="items">
    @if(things.length > 0) {
        <div id="pager">@pagination(selector = "#pager", count = count, start = page)</div>
    } else {
        <p>There are currently no things available</p>
    }

    <div class="clear"></div>
    <div class="items">
    @for(t <- things) {
    <div class="item two-col">
      <div class="inner">
        <div class="media medium">
            <img src='@thumbnailUrl(t.id)' width="84" alt="@t.title"/>
        </div>
        <div class="metadata">
            <div class="hd">
                <h4><a href="/@organisationName/@spec/@t.id">@t.title</a></h4>
            </div>
            <div class="bd">
              @t.stuff
            </div>
        </div>
       </div>
    </div>
    }
    </div>
</div>

