#{extends 'header.html' /}
#{set title:'Story ' + story.name + ' of user ' + browsedFullName /}
#{breadcrumbs /}

<link rel="stylesheet" type="text/css" href="@{'/public/themes/common/stylesheets/scrollable.css'}"/>

<div class="story">

    <h1>${story.name}</h1>

    <div class="story-container">

        <div class="story-navigation">
            <a class="prev browse left">Previous page</a>
            <a class="next browse right">Next page</a>
        </div>

        <div class="scrollable">

            <!-- root element for the items -->
            <div class="items">

                <div class="page title-page">
                    <div class="page-left">

                         <div><img src="${views.context.package.thumbnailUrl(story.thumbnail)}" /></div>

                    </div>
                    <div class="page-right">
                        <h2>${story.name}</h2>
                        <h3>By: ${browsedFullName}</h3>
                         <p>${story.description}</p>
                    </div>
                </div>

                #{list story.pages, as: 'page'}
                <div class="page">
                    <div class="page-left">
                        <h2>${page.title}</h2>
                        ${page.text.raw()}
                    </div>
                    <div class="page-right">
                       #{list page.objects.headOption(), as: 'o'}
                          <img src="${views.context.package.imageUrl(o.dobject_id)}" alt="${page.title}">
                       #{/list}
                    </div>
                </div>
                #{/list}
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">
    $(document).ready(function() {
        // initialize scrollable
        $(".scrollable").scrollable();
    });
</script>