#{extends viewUtils.themeProperty('themeLayout') /}

#{set title: viewUtils.getKey('thing.story') + ' ' + story.name + ' - ' + viewUtils.getKey('thing.owner') + ': ' + browsedFullName /}

#{set bodyId:'read-story' /}

#{set 'moreCss'}
<link rel="stylesheet" type="text/css" href="@{'/public/common/stylesheets/scrollable.css'}"/>
<link rel="stylesheet" type="text/css" href="@{'/public/common/stylesheets/scrollable-nav.css'}"/>
#{/set}

#{set 'moreScripts'}
<script src="@{'/public/common/javascripts/story.js'}" language="javascript"></script>
#{/set}

#{breadcrumbs /}

<div class="row">

    <div class="g-12of12 grid_12 story-wrapper">
        <div class="g-3of12 grid_3 alpha">
            <div class="widget">
                <div class="hd"><h3>${story.name}</h3></div>
                <div class="bd pam">
                    <ul id="inav">
                        <li><a class="browse active">&{'story.titlePage'}</a></li>
                        #{list story.pages, as: 'page'}
                        <li><a class="browse" title="${page.title}">${page.title}</a></li>
                        #{/list}
                    </ul>
                </div>
            </div>
            #{if userName == story.userName}
            #{btnHref label: viewUtils.getKey('ui.label.edit'), href: "/"+story.userName+"/story/"+story._id+"/update", iconClass:"icon145", extraClass: "fright" /}
            #{/if}
        </div>

        <div class="g-9of12 grid_9 omega">

            <div class="story-container">

                <div class="scroll-nav">
                    <div class="pagination">
                        <a class="prev browse">&{'story.previouspage'}</a>

                        <div id="pnav">
                            <a class="browse active">1</a>
                            #{list story.pages, as: 'page'}
                            <a class="browse" title="${page.title}">${page_index + 1}</a>
                            #{/list}
                        </div>
                        <a class="next browse">&{'story.nextpage'}</a>
                    </div>

                </div>
                <div class="scrollable">

                    <!-- root element for the items -->
                    <div class="items">

                        <div class="row page title-page" id="page_0">

                            <div class="g-1of1">

                                <div class="centered pam">
                                    <h1>${story.name}</h1>
                                    <img src="${views.context.package.thumbnailUrl(story.thumbnail_id, 220)}" width="220" alt=""/>

                                    <h2>${story.userName}</h2>
                                    <p>${story.description}</p>
                                </div>

                            </div>

                        </div>

                        #{list story.pages, as: 'page'}
                        <div class="page row pam" id="page_${page_index}">
                            <h2>${page.title}</h2>

                            <div class="page-left g-1of2 alpha">
                                ${page.text.raw()}
                            </div>
                            <div class="page-right g-1of2 omega images">
                                *{#{list page.objects.headOption(), as: 'o'}}*
                                #{list page.objects, as: 'o'}
                                <img src="${views.context.package.imageUrl(o.dobject_id)}" id="img_${o_index}" width="340" alt="${page.title}">
                                #{/list}
                            </div>

                        </div>
                        #{/list}
                    </div>

                </div>

            </div>
        </div>
    </div>

</div>
<!-- overlayed element -->
<div id="overlay" class="result-overlay" style="padding: 20px;width:auto">
    <div class="contentWrap"></div>
</div>
<script>
    $(function () {
        $(".images").find("img").each(function(index) {
            var showMe = $(this).attr("src");
            $(this).overlay({
                closeOnClick: true,
                left: "centered",
                target: '#overlay',
                mask: {
                    color: "#ddddd0",
                    loadSpeed: 200,
                    opacity: 0.5
                },
                onBeforeLoad: function() {
                    var wrap = $("#overlay .contentWrap");
                    var image = new Image();
                    image.src = showMe;
                    wrap.append(image);
                },
                onClose: function() {
                    $('.contentWrap').empty();
                }
            });
        });
    });

</script>