#{extends viewUtils.themeProperty('themeLayout') /}

#{set title: viewUtils.getKey('thing.story') + ' ' + story.name + ' - ' + viewUtils.getKey('thing.owner') + ': ' + browsedFullName /}

#{set 'moreCss'}
<link rel="stylesheet" type="text/css" href="@{'/public/themes/common/stylesheets/scrollable.css'}"/>
#{/set}

#{breadcrumbs /}

<div class="story">

    <h1 class="sep">${story.name}</h1>


    <div class="story-container">

        <div class="story-navigation">
            <a class="button prev browse">&{'story.previouspage'}</a>
            <a class="button next browse">&{'story.nextpage'}</a>
        </div>

        <div class="scrollable">

            <!-- root element for the items -->
            <div class="items">

                <div class="page title-page">
                    <div class="g-12of12">

                        <div style="widht: 100%; text-align:center;">
                            <h1>${story.name}</h1>
                            <img src="${views.context.package.thumbnailUrl(story.thumbnail_id, 350)}" width="350" alt=""/>

                            <h3>By: ${browsedFullName}</h3>
                            <p>${story.description}</p>
                        </div>

                    </div>
                </div>

                #{list story.pages, as: 'page'}
                <div class="page">
                    <div class="page-left g-6of12 alpha">
                        <h2>${page.title}</h2>
                        ${page.text.raw()}
                    </div>
                    <div class="page-right g-6of12 omega">
                        #{list page.objects.headOption(), as: 'o'}
                        <img src="${views.context.package.imageUrl(o.dobject_id)}" alt="${page.title}">
                        #{/list}
                    </div>
                </div>
                #{/list}
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">
    $(document).ready(function() {
        // initialize scrollable
        $(".scrollable").scrollable();
    });
</script>