#{extends viewUtils.themeProperty('themeLayout') /}
#{set title: viewUtils.getKey('thing.story') + ': ' + story.name + ' - ' + viewUtils.getKey('thing.owner') + ': ' + browsedFullName /}
#{breadcrumbs /}

<h1 class="sep">${story.name}</h1>
<div class="row">
    <div class="g-12of12">
        <div class="media record">
            <img src='${views.context.package.thumbnailUrl(story.thumbnail_id)}' width="250" alt="${story.name}" class="img"/>
            *{
            <a class="button clear" href="/${story.userName}/story/${story._id}/read">
                <span class="icon icon140"></span>
                <span class="label">&{'story.read'}</span>
            </a>
            }*
            <div class="bd">

                #{thingToolbar type: 'story', owner: story.userName, id: story._id, b: browsedUserName/}

                <div class="metadata">

                    #{metadataField label: viewUtils.getKey('thing.description'), data: story.description /}
                    #{metadataField label: viewUtils.getKey('thing.datecreated'), data: views.context.package.niceTime(story._id.getTime()) /}
                    #{metadataField label: viewUtils.getKey('thing.datemodified'), data: views.context.package.niceTime(story.TS_update) /}


                    <!--Is this a draft: ${story.isDraft ? "Yes" : "No"}-->
                    <h5>&{'story.pages'}:</h5>
                    <ul>
                        #{list story.pages, as: 'page'}

                        <li>${page.title}</li>
                        <!--<li>${page.text}</li>-->
                        #{/list}
                    </ul>
                </div>

            </div>
        </div>
    </div>
</div>