#{extends viewUtils.themeProperty('themeLayout') /}
#{set title: viewUtils.getKey('thing.story') + ': ' + story.name + ' - ' + viewUtils.getKey('thing.owner') + ': ' + browsedFullName /}
#{breadcrumbs /}

<h1 class="sep">${story.name}</h1>
<div class="row">
    <div class="g-12of12 grid_12">
        <div class="dashboard">
            <div class="media">
                <a href="/${story.userName}/story/${story._id}/read" title="&{'story.read'}" class="img read-link">
                    <img src='${story.getThumbnailUri(350)}' width="350" alt="${story.name}" />
                    <div class="read"><img src="/public/common/images/read.png" alt=""/></div>
                </a>
                <div class="extra">
                    <a href="/${story.userName}/story/${story._id}/read">
                        <span class="icon icon140"></span>
                        <span class="label">&{'story.read'}</span>
                    </a>
                </div>
                <div class="bd">
                    #{thingToolbar owner: story.userName, id: story._id, authUser: userName, type:"story", labels: userLabels, places: userPlaces/}
                    <div class="metadata">

                        #{metadataField label: viewUtils.getKey('thing.description'), data: story.description /}
                        #{metadataField label: viewUtils.getKey('thing.datecreated'), data: views.context.package.niceTime(story._id.getTime()) /}
                        #{metadataField label: viewUtils.getKey('thing.datemodified'), data: views.context.package.niceTime(story.TS_update) /}
                        #{metadataField label: viewUtils.getKey('thing.owner'), data: browsedUserName, link: '/'+browsedUserName /}
                        #{displayLabels labels: labelsList, places: placesList /}
                        <!--Is this a draft: ${story.isDraft ? "Yes" : "No"}-->
                        <h5>&{'story.pages'}:</h5>
                        <ol>
                            #{list story.pages, as: 'page'}

                            <li>${page.title}</li>
                            <!--<li>${page.text}</li>-->
                            #{/list}
                        </ol>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>