.breadcrumb ul {
    margin: 0;
    padding: 0;
}

.breadcrumb li {
    /*background: transparent url(/assets/common/images/crumb.png) no-repeat top right;*/
    display: inline-block;
    height: 16px;
    line-height: 16px;
    margin: 0;
}

.breadcrumb li:after {
    /*content: "\25B8";*/
    content: url(/assets/common/images/crumb.png);
    display: inline-block;
    padding: 0 10px 0 10px;
}
.breadcrumb li:last-child {
    background: none;
}

.breadcrumb li:last-child:after {
    content: "";
}

.breadcrumb a {
    color: #2c4460
}