.breadcrumb ul {
    margin: 0;
    padding: 0;
}

.breadcrumb li {
    display: inline-block;
    height: 16px;
    line-height: 16px;
    margin: 0;
}

.breadcrumb li:after {
    /*content: "\25B8";*/
    content: url(/public/common/images/crumb.png);
    display: inline-block;
    padding: 0 2px 0 4px;
}

.breadcrumb li:last-child:after {
    content: "";
}

.breadcrumb a {
    color: #2c4460
}