<!-- AddThis Button BEGIN -->
<div class="addthis_toolbox addthis_default_style">
    <a class="addthis_button_facebook_like" fb:like:layout="button_count"></a>
    <a class="addthis_button_tweet"></a>
    <a class="addthis_counter addthis_pill_style"></a>
</div>
<script type="text/javascript" src="http://s7.addthis.com/js/250/addthis_widget.js#pubid=${_pubId}"></script>
<!-- AddThis Button END -->
<script type="text/javascript">
    var addthis_config = {
        ui_language: "${_lang}",
        ui_click: true,
        ui_cobrand: "",
        ui_header_color: "#ffffff",
        ui_header_background:"#01689b",
        data_track_clickback: true
    }
</script>