#{if _crumbs.size() > 1}

    <ul class="breadcrumb">
    #{list _crumbs, as: 'c'}
        <li #{if c._1._1 != "NOLINK"}class="linked"#{/if}>
        #{if c._2 == _crumbs.length() -1 && _crumbs.length() > 1}
            ${views.Helpers.shorten(c._1._2, 50)}
        #{/if}
        #{if c._2 < _crumbs.length() -1 && _crumbs.length() > 1}
        #{if c._1._1 == "NOLINK"}
            ${views.Helpers.shorten(c._1._2, 50)}<span class="divider">/</span>
        #{/if}
        #{else}
            <a href="${c._1._1}" rel="nofollow">${views.Helpers.shorten(c._1._2, 50)}</a><span class="divider">/</span>
        #{/else}
        #{/if}
        #{if c._2 < _crumbs.length() - 1 && _crumbs.length() == 1}
        #{if c._1._1 == "NOLINK"}
            <${views.Helpers.shorten(c._1._2, 50)}
        #{/if}
        #{else}
            <a href="${c._1._1}" rel="nofollow">${views.Helpers.shorten(c._1._2, 50)}</a><span class="divider">/</span>
        #{/else}
        #{/if}

        </li>
    #{/list}
    #{if _queryCrumbs}
        #{list _queryCrumbs.getBreadcrumbs(), as: 'crumb'}
            #{ifnot crumb.field() == 'delving_hasDigitalObject_facet'}
            #{ifnot crumb_isLast}
            <li class="linked">
                <span class="divider">/</span><a href="/search?${crumb.href()}" rel="nofollow">${views.Helpers.shorten(crumb.value(),50)}</a></li>
            #{/ifnot}
            #{else}
                <li><span class="divider">/</span><span class="searched">${crumb.value()}</span></li>
            #{/else}
            #{/ifnot}
        #{/list}
    #{/if}
    </ul>

#{/if}