*{<div class="control-group">}*
*{<div class="controls">}*
    <label class="checkbox" for="${_name}">
        <input id="${_name}" type="checkbox" value="${_value}" name="${_name}" data-bind="${_dataBind}">
        ${_label}
    </label>
    <span class="error" data-bind="text: errors().${_name.replaceAll("\\.", "_")}">${views.Helpers.showError(_name, _form)}</span>
    <span class="help-inline">#{if _required}<strong>&{'ui.label.required'}#{/if}</strong> ${_help}</span>
    *{</div>}*
*{</div>}*