#{btnHref label: messages.get('org.cms.page.list'), extraClass: (_active == 'list' ? "on fright" : "fright") , iconClass:"icon140", href:"/organizations/"+_orgId+"/site" /}
#{btnHref label: messages.get('org.cms.page.new'), extraClass: (_active == 'page' ? "on fright" : "fright") , iconClass:"icon68", href:"/organizations/"+_orgId+"/site/"+_currentLanguage+"/page/add" /}
#{btnHref label: messages.get('org.cms.upload.image'), extraClass: (_active == 'image' ? "on fright" : "fright") , iconClass:"icon189", href:"/organizations/"+_orgId+"/site/upload" /}

