<h5>&{'_hubb.Labels'}:</h5>
<div class="labels" id="labels">
  <ul>
  #{list _labels, as: 'l'}
    <li id="${l.id}"><span class="label">${l.name}</span></li>
  #{/list}
  </ul>
</div>
<h5>&{'_hub.Places'}:</h5>
<div class="places" id="places">
  <ul>
  #{list _places, as: 'p'}
    <li id="${p.id}"><span class="place"><a target="_blank" href="http://sws.geonames.org/${p.data.get().apply("geonameID")}/">${p.name} (<em>${p.data.get().apply("countryName")}</em>)</a></span></li>
  #{/list}
  </ul>
</div>