#{list _facetMap, as: 'facet'}
    #{if facet.getLinks().length() > 0 && facet.getType() == _type}
        *{ FACET HEADER }*
        <header class="facet-toggle dropdown #{if facet.isFacetSelected()}open#{/if}">
            ${_typeKey ? _typeKey : _type}
            #{if _collapsable == 'true'}<b class="caret"></b>#{/if}
        </header>
        *{ FACET CONTAINER: lists all facets of type x }*
        <section class="facet-container #{if _collapsable == 'true'}collapsible#{/if}">
            #{list facet.getLinks(), as: 'link'}
                %{
                    def qs = '?query='+ _qString + '&searchIn=' + _searchIn + link.url
                    // translate object types
                    def thingType = link.getValue()
                    if (facet.getType() == "delving_recordType_facet") {
                        switch (link.getValue()) {
                            case 'mdr':
                            thingType = messages.get('hubb.HeritageObject')
                            break
                            case 'object':
                            thingType = messages.get('thing.object.user')
                            break
                            case 'collection':
                            thingType = messages.get('hubb.Collection')
                            break
                            case 'museum':
                            thingType = messages.get('hubb.Museum')
                            break
                            default:
                            thingType = link.getValue()
                        }
                    }
                    if (facet.getType() == "delving_hasDigitalObject_facet") {
                      switch (link.getValue()) {
                          case 'false':
                          thingType = messages.get('hub.WithoutDigitalObject')
                          break
                          case 'true':
                          thingType = messages.get('hub.WithDigitalObject')
                          break
                      }
                    }
                }%
                <div class="facet #{if _columns == 2}span1of2#{/if}">
                    #{if !link.remove()}
                        <input type="checkbox" value="${qs}&facetBoolType=OR"/><span><a href="${qs}&facetBoolType=OR" rel="nofollow">${views.Helpers.shorten(thingType, 50)} (${link.getCount()})</a></span>
                    #{/if}
                    #{else}
                        <input type="checkbox" checked="checked" value="${qs}&facetBoolType=OR"/><span><a href="${qs}&facetBoolType=OR" rel="nofollow" class="active">${views.Helpers.shorten(thingType, 50)} (${link.getCount()})</a></span>
                    #{/else}
                </div>
            #{/list}
        </section>

    #{/if}
#{/list}