#{list _facetMap, as: 'facet'}

    #{if facet.getLinks().length() > 0 }

        #{if facet.getType() == _type}

            <li class="dropdown">
                <a class="dropdown-toggle" data-toggle="dropdown" href="#" rel="no-follow">
                #{if _typeKey}${_typeKey}#{/if}
                #{else}${_type}#{/else}
                <span class="caret"></span>
            </a>
            <ul class="dropdown-menu" style="max-height: 400px; overflow-y: auto;">
                #{list facet.getLinks(), as: 'link'}
                %{
                    def qs = '/search?query='+ _qString + link.url
                    // translate object types
                    def thingType = link.value()
                    if (facet.getType() == "delving_recordType_facet") {
                    switch (link.value()) {
                    case 'mdr':
                    thingType = messages.get('thing.objects.heritage')
                    break
                    case 'object':
                    thingType = messages.get('thing.objects.user')
                    break
                    default:
                    thingType = link.value()
                    }
                    }

                    }%
                    #{if !link.remove()}
                        <li><a href="${qs}">${thingType} (${link.count()})</a>
                        </li>
                    #{/if}
                    #{else}
                        <li class="active"><a href="${qs}">${thingType}
                            (${link.count()})</a></li>
                    #{/else}

                #{/list}
            </ul>
            </li>
        #{/if}
    #{/if}
#{/list}


*{#{list _facetMap, as: 'facet'}}*
*{<div class="facet">}*
*{#{if facet.getLinks().length() > 0 }}*

*{#{if facet.getType() == _type}}*
*{<h4 class="trigger #{if facet.isFacetSelected()}active#{/if}">}*
*{#{if _typeKey} ${_typeKey} #{/if}}*
*{#{else}${_type} #{/else}}*
*{</h4>}*

*{<div class="facet-container">}*
*{#{list facet.getLinks(), as: 'link'}}*
*{%{}*
*{def qs = '/search?query='+ _qString + link.url}*
*{// translate object types}*
*{def thingType = link.value()}*
*{if (facet.getType() == "delving_recordType_facet") {}*
*{switch (link.value()) {}*
*{case 'mdr':}*
*{thingType = messages.get('thing.objects.heritage')}*
*{break}*
*{case 'object':}*
*{thingType =  messages.get('thing.objects.user')}*
*{break}*
*{default:}*
*{thingType = link.value()}*
*{}}*
*{}}*

*{}%}*
*{<div class="#{if _columns == 2}g-1of2 #{/if}">}*
*{#{if !link.remove()}}*
*{<input type="checkbox" value="${qs}"/><a href="${qs}">${thingType}</a> (${link.count()})}*
*{#{/if}}*
*{#{else}}*
*{<input type="checkbox" checked="checked" value="${qs}"/><a href="${qs}">${thingType}</a> (${link.count()})}*
*{#{/else}}*
*{</div>}*
*{#{/list}}*
*{</div>}*
*{#{/if}}*

*{#{/if}}*
*{</div>}*
*{#{/list}}*



*{
#{list _facetMap, as: 'facet'}

#{if facet.getLinks().length() > 0 }

#{if facet.getType() == _type}
<h4 class="trigger #{if facet.isFacetSelected()}active#{/if}">
    #{if _typeKey}
        ${_typeKey}
    #{/if}
    #{else}
        ${_type}
    #{/else}
</h4>

<div class="facet-container">
    #{list facet.getLinks(), as: 'link'}
    %{
        def qs = '/search?query='+ _qString + link.url
        // translate object types
        def thingType = link.value()
        if (facet.getType() == "delving_recordType_facet") {
        switch (link.value()) {
            case 'mdr':
                thingType = messages.get('thing.objects.heritage')
                break
            case 'object':
                thingType =  messages.get('thing.objects.user')
                break
            default:
                thingType = link.value()
            }
        }

    }%
     <div class="#{if _columns == 2}g-1of2 #{/if}">
        #{if !link.remove()}
        <input type="checkbox" value="${qs}"/><a href="${qs}">${thingType}</a> (${link.count()})
        #{/if}
        #{else}
        <input type="checkbox" checked="checked" value="${qs}"/><a href="${qs}">${thingType}</a> (${link.count()})
        #{/else}
    </div>
    #{/list}
</div>
#{/if}

#{/if}
#{/list}
}*



