<form id="fileupload" action="#" method="POST" enctype="multipart/form-data">
    <div class="row">
        <!-- The fileupload-buttonbar contains buttons to add/delete files and start/cancel the upload -->
        <div class="fileupload-buttonbar">
            <div class="span7">
                <h3>&{'hubb.ImageDocumentUpload'}</h3>
                <!-- The fileinput-button span is used to style the file input field as button -->
           <span class="btn btn-success fileinput-button">
               <i class="icon-plus icon-white"></i>
               <span>&{'hubb.ChooseFile'}</span>
               <input type="file" name="files[]" multiple >
           </span>
                <button type="reset" class="btn btn-warning cancel">
                    <i class="icon-ban-circle icon-white"></i>
                    <span>&{'hubb.CancelUpload'}</span>
                </button>
                <button type="button" class="btn btn-danger delete">
                    <i class="icon-trash icon-white"></i>
                    <span>&{'hub.Delete'}</span>
                </button>
                <input type="checkbox" class="toggle">
            </div>
            <div class="span5">
                <!-- The global progress bar -->
                <div class="progress progress-success progress-striped active fade">
                    <div class="bar" style="width:0%;"></div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="span12">
           <!-- The loading indicator is shown during file processing -->
           <div class="fileupload-loading"></div>

           <!-- The table listing the files available for upload/download -->
           <table class="table table-striped" style="margin-top: 21px;">
               <caption>&{'hubb.UploadedFiles'}</caption>
               <thead>
               <th>&{'hubb.Thumbnail'}</th>
               <th>&{'hubb.FileName'}</th>
               <th>&{'hubb.FileSize'}</th>
               <th colspan="2"></th>
               <th>&{'hubb.Actions'}</th>
               </thead>
               <tbody class="files" data-toggle="modal-gallery" data-target="#modal-gallery"></tbody></table>
        </div>
   </div>
</form>