<div class="field">
    <label for="${_name}">${_label}</label>
    <div class="inputs">
        <select id="annotationType" data-bind="${_selectDataBind}">
            <option value="Who">Who</option>
            <option value="Where">Where</option>
            <option value="What">What</option>
            <option value="When">When</option>
        </select>
        <input type="text" class="textinput" id="${_name}" name="${_name}" maxlength="40" data-bind="${_valueDataBind}"/>
        <button class="add label-add" name="add-annotations-button" id="add-annotation-button">Add Label</button>
        <span class="error">${views.context.package.showError(_name)}</span>
    </div>
</div>
