@(name:String, label:String, selectDataBind: String = "", valueDataBind: String = "")
@import views.context._

<div class="field">
    <label for="@name">@label</label>
    <div class="inputs">
        <select id="annotationType" data-bind="@selectDataBind">
            <option value="Person">Person</option>
            <option value="Place">Place</option>
            <option value="Event">Event</option>
            <option value="Concept">Concept</option>
        </select>
        <input type="text" class="textinput" id="@name" name="@name" maxlength="40" data-bind="@valueDataBind"/>
        <button class="add label-add" name="add-annotations-button" id="add-annotation-button">Add Label</button>
        <span class="error">@showError(name)</span>
    </div>
</div>
