<div class="row">
    <div class="g-12of12">
        <div class="toolbar organization">
            <div class="buttons">
                  #{btnHref label: messages.get('ui.label.administration'), extraClass: (_active == 'administration' ? "on" : ""), iconClass:"icon96", href:"/organizations/" + _orgId + "/admin" /}
                  #{btnHref label: messages.get('thing.groups'), extraClass: (_active == 'groups' ? "on" : ""), iconClass:"icon203", href:"/organizations/" + _orgId + "/groups" /}
                  #{btnHref label: messages.get('thing.datasets'), extraClass: (_active == 'datasets' ? "on" : "") , iconClass:"icon175", href:"/organizations/" + _orgId + "/dataset" /}
            </div>
        </div>
    </div>
</div>