<script type="text/javascript">

    /**
     * Initialisation function for pagination
     */
    function initPagination() {
        // Create content inside pagination element
        $("${_selector}").pagination(${_count}, {
            current_page:  parseInt('${_start}'),
            num_edge_entries:1,
            num_display_entries: 6,
            callback: function() {},
            items_per_page:parseInt('${views.context.package.PAGE_SIZE()}'),
            prev_text:"&{'ui.label.previous'}",
            next_text:"&{'ui.label.next'}",
            link_to: "${_link}"
        });
     }

    // When document is ready, initialize pagination
    $(document).ready(function(){
        initPagination();
    });

</script>