<script type="text/javascript">

    initPagination();

    /**
     * Initialisation function for pagination
     */
    function initPagination() {
        var num_entries = '${_count}';
        // Create content inside pagination element
        $('${_selector}').pagination(num_entries, {
            one_indexed:false,
            num_edge_entries:1,
            prev_text:"&{'ui.label.previous'}",
            next_text:"&{'ui.label.next'}",
            current_page:  parseInt('${_start}'),
            items_per_page: parseInt('${views.context.package.PAGE_SIZE()}'),
            link_to: '${views.context.package.paginationUrl().raw()}' + "__id__",
            callback: function() {
            } // empty callback
        });
    }
</script>