@(selector: String, count: Int, start: Int, url: String, display: Int = 7)
@import views.context._

<script type="text/javascript">
  $('@selector').paginate({
    count     : '@count',
    start     : '@start',
    display     : '@display',
    border          : true,
    border_color      : '#fff',
    text_color        : '#fff',
    background_color      : 'black',
    border_hover_color    : '#ccc',
    text_hover_color      : '#000',
    background_hover_color  : '#fff',
    images          : false,
    mouse          : 'press',
    onChange           : function(page) {
      window.location.href = '@url' + '&page=' + page;
    }
  });

</script>