@(name:String, label:String, options: Seq[(String, String)], dataBind: String = "", help: String = "")
@import views.context._

<div class="field">
    <label for="@name">@label</label>
    <div class="inputs">
        <select id="@name" name="@name" data-bind="@dataBind">
        @for(option <- options) {
        <option value="@option._1">@option._2</option>
        }
        </select>
        <span class="error">@showError(name)</span>
        <span class="help">@help</span>
    </div>
</div>
<script type="text/javascript">

</script>