<div class="grid-container">
#{list _results, as: 'doc'}
    <div class="grid-item span1of2">
    *{<div class=" draggable ${doc.getItemType()} ">}*
        #{thingSummaryView data:doc, iSize: 220 /}
        <input type="hidden" name="idUri" value="${doc.getUri()}"/>
        <input type="hidden" name="thumb" value="${doc.getThumbnailUri(100)}"/>
        <input type="hidden" name="title" value="${doc.getTitle()}"/>
    *{</div>}*
    </div>
#{/list}
</div>

*{%{ def counter = 1 }%}*
*{
#{list _results, as: 'doc'}
    #{if counter == 1}
    <ul class="thumbnails">
    #{/if}
    <li class="span3">
        <div class="thumbnail draggable ${doc.getItemType()} ">
            #{thingSummaryView data:doc, iSize: 220 /}
            <input type="hidden" name="idUri" value="${doc.getUri()}"/>
            <input type="hidden" name="thumb" value="${doc.getThumbnailUri(100)}"/>
            <input type="hidden" name="title" value="${doc.getTitle()}"/>
        </div>
    </li>
    %{ counter++ }%
    #{if counter > 4 || doc_isLast }
    </ul>
    %{ counter = 1 }%
    #{/if}
#{/list}
}*


*{
<ul class="thumbnails">
#{list _results, as: 'doc'}
    <li class="thumbnail span3">
        <div class=" draggable ${doc.getItemType()} ">
            #{thingSummaryView data:doc, iSize: 220 /}
            <input type="hidden" name="idUri" value="${doc.getUri()}"/>
            <input type="hidden" name="thumb" value="${doc.getThumbnailUri(100)}"/>
            <input type="hidden" name="title" value="${doc.getTitle()}"/>
        </div>
    </li>

#{/list}
</ul>
}*

*{<div class="grid-container">}*
*{#{list _results, as: 'doc'}}*
    *{<div class="grid-item span2">}*
        *{<div class=" draggable ${doc.getItemType()} ">}*
            *{#{thingSummaryView data:doc, iSize: 220 /}}*
            *{<input type="hidden" name="idUri" value="${doc.getUri()}"/>}*
            *{<input type="hidden" name="thumb" value="${doc.getThumbnailUri(100)}"/>}*
            *{<input type="hidden" name="title" value="${doc.getTitle()}"/>}*
        *{</div>}*
    *{</div>}*

*{#{/list}}*
*{</div>}*

