#{if _results}
#{list _results, as: 'doc'}

<div class="row results">
    <div class="media thing">
        <!-- TODO: get url to item page -->
        <a href="#" class="clip"><img src="${doc.getThumbnail()}" class="img"/></a>
        <div class="bd">
            <div class="mod">
                <div class="inner">
                    <div class="hd title">
                        <a href="#">${doc.getFieldValue("dc_title").getFirst().shorten(100)}</a>
                    </div>
                    <div class="bd">
                        #{if doc.getFieldValue("dc_description").getFirst()}
                             <p>${doc.getFieldValue("dc_description").getFirst().shorten(180)}</p>
                        #{/}
                        #{if doc.getYear()}
                           ${doc.getYear()} |
                        #{/}
                        #{if doc.getFieldValue("dc_creator").getFirst()}
                            ${doc.getFieldValue("dc_creator").getFirst()} |
                        #{/}
                        #{if doc.getProvider()}
                            ${doc.getProvider()}
                        #{/}
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>

#{/list}
#{/if}