%{
def rightsImage

switch (_rights) {

    case 'http://creativecommons.org/publicdomain/mark/1.0/':
    rightsImage = 'cc_publicdomain_mark.png'
    break

    case 'http://creativecommons.org/publicdomain/zero/1.0/':
    rightsImage = 'cc_publicdomain_zero.png'
    break

    case 'http://creativecommons.org/licenses/by/3.0/':
    rightsImage = 'cc_by.png'
    break
    case 'http://creativecommons.org/licenses/by-nd/3.0/':
    rightsImage = 'cc_by-nd-3.0.png'
    break
    case 'http://creativecommons.org/licenses/by-nc-sa/3.0/':
    rightsImage = 'cc_by-nc-sa-3.0.png'
    break

    case 'http://creativecommons.org/licenses/by-sa/3.0/nl/':
    rightsImage = 'cc_by-sa-3.0.png'
    break

    case 'http://creativecommons.org/licenses/by-nc/3.0/nl/':
    rightsImage = 'cc_by-nc-3.0.png'
    break

    case 'http://creativecommons.org/licenses/by-sa/3.0':
    rightsImage = 'cc_by-sa-3.0.png'
    break

    case 'http://creativecommons.org/licenses/by-nc/3.0':
    rightsImage = 'cc_by-nc-3.0.png'
    break

    case 'http://creativecommons.org/licenses/by-nc/3.0/de/':
    rightsImage = 'cc_by-nc-3.0.png'
    break

    case 'http://creativecommons.org/licenses/by-nc-nd/3.0':
    rightsImage = 'cc_by-nc-nd-3.0.png'
    break

    case 'http://www.europeana.eu/rights/rr-f/':
    rightsImage = 'eu_free_access.jpg'
    break

    case 'http://www.europeana.eu/rights/rr-p/':
    rightsImage = 'eu_paid_access.jpg'
    break

    case 'http://www.europeana.eu/rights/rr-r/':
    rightsImage = 'eu_restricted_access.jpg'
    break

    default:
    rightsImage = 'eu_unknown.jpg'

}

}%
<a href="${_rights}" target="_blank" title="${_rights}" > <img src="/assets/common/images/rights/${rightsImage}" alt="${_rights}"/></a>