%{ def isDisabled = _disabled != null && _disabled ? "disabled" : "" }%
<div class="field">
    <label class="label ${_labelClass}" for="${_name}">${_label}</label>
    <div class="inputs">
        <input type="text" class="textinput #{if views.context.package.showError(_name)}required #{/if}" id="${_name}" name="${_name}" value="${params.get(_name)}" size="40" data-bind="${_dataBind}" data-validate="${views.context.package.printValidationRules(_name)}" ${isDisabled} />
        #{if _extHelp}<span class="icon extHelp" title="${_extHelp}"></span>#{/if}
        <span class="error" data-bind="text: errors().${_name}">${views.context.package.showError(_name)}</span>
        <span class="help">${_help}</span>
    </div>
</div>