%{ def isDisabled = _disabled != null && _disabled ? "disabled" : "" }%
<div class="control-group">
    #{if _label}<label class="${_labelClass}" for="${_name}">${_label}</label>#{/if}
    <div class="controls">
        <input type="text" class="textinput #{if views.Helpers.showError(_name, _form)}required #{/if}" id="${_name}" name="${_name}" value="${views.Helpers.showValue(_name, _form)}" size="40" data-bind="${_dataBind}" data-validate="${views.Helpers.printValidationRules(_form, _name)}" ${isDisabled} #{if _placeholder}placeholder="${_placeholder}"#{/if} />
        <span class="error" data-bind="text: errors().${_name.replaceAll("\\.", "_")}">${views.Helpers.showError(_name, _form)}</span>
        <span class="help-inline">#{if _required}<strong>&{'ui.label.required'}#{/if}</strong> ${_help}</span>
        #{if _extHelp}<p class="help-block" title="${_extHelp}"></p>#{/if}
    </div>
</div>