@(name:String, label:String, dataBind: String = "", help: String = "", disabled: Boolean = false)(implicit prefix: String = "")
@import views.context._

@fieldName = @{ (if (prefix.length > 0) prefix + "." else "") + name}
@isDisabled = @{ if(disabled) "disabled" else "" }
<div class="field">
    <label for="@fieldName">@label</label>
    <div class="inputs">
        <input type="text" class="textinput" id="@fieldName" name="@fieldName" size="40" value="@params.get(fieldName)" data-bind="@dataBind" @isDisabled />
        <span class="error">@showError(fieldName)</span>
        <span class="help">@help</span>
    </div>

</div>