<ul class="nav ${_extraClass ? _extraClass : ''}">
#{if !_userName }
#{if _showLogin == true}
    <li>
        <a href="/login" rel="nofollow" class="first" tabindex="1">
            ${messages.get('ui.label.login')}
        </a>
    </li>
    #{if _showRegistration == true}
    <li class="divider-vertical"></li>
    <li>
        <a href="/registration" rel="nofollow" class="" tabindex="2">
            ${messages.get('ui.label.register')}
        </a>
    </li>
    #{/if}
#{/if}
#{/if}
#{else}
    <li class="user">
        <a href="/${_userName}" rel="nofollow" class="gravatar">
            #{gravatar.img _email, size:21 /} ${messages.get('ui.label.loggedInAs')}: ${_userName}
        </a>
    </li>
    <li class="divider-vertical"></li>
    #{if _organization}
        <li>
            <a href="/organizations/${_organization}" rel="nofollow">
                <i class="icon-dashboard"></i> ${messages.get('ui.label.administration')}
             </a>
        </li>
        <li class="divider-vertical"></li>
    #{/if}
    <li>
        <a href="/logout" rel="nofollow">
            ${messages.get('ui.label.logout')}
        </a>
    </li>
#{/else}
</ul>

