#{if !userName}
<div class="buttons">
    <ul class="nav">
    <li><a class='button ${"Authentication.login".isCurrent()}' href="/login" rel="nofollow">
        <span class="label">Login</span>
    </a></li>
    <li><a class='button ${"Registration.index".isCurrent()}' href="@{Registration.index()}" rel="nofollow">
        <span class="label">Register</span>
    </a>
        </li>
    </ul>
</div>
#{/if}
#{else}

<div class="buttons">
    <!--Hi ${fullName}-->
    <div class="dropdown">
        <a href="#" class="button"><span class="icon icon9"></span><span class="label">Go to</span><span class="toggle"></span></a>

        <div class="dropdown-slider">
            <a href="/${userName}" class="ddm"><span class="label">Your profile</span></a>
            <a href="/${userName}/object" class="ddm"></span><span class="label">Your objects</span></a>
            <a href="/${userName}/collection" class="ddm"></span>
                <span class="label">Your collections</span></a>
            <a href="/${userName}/story" class="ddm"></span><span class="label">Your stories</span></a>
            <a href="/${userName}/dataset" class="ddm"></span><span class="label">Your data-sets</span></a>
        </div>
        <!-- /.dropdown-slider -->
    </div>
    <!-- /.dropdown -->

    <div class="dropdown">
        <a href="#" class="button"><span class="icon icon144"></span><span class="label">Create</span><span class="toggle"></span></a>

        <div class="dropdown-slider">
            <a href="/${userName}/object/add" class="ddm"><span class="label">New object</span></a>
            <a href="/${userName}/collection/add" class="ddm"><span class="label">New collection</span></a>
            <a href="/${userName}/story/add" class="ddm"><span class="label">New story</span></a>
            <a href="/${userName}/dataset/add" class="ddm"><span class="label">New data-set</span></a>
        </div>
        <!-- /.dropdown-slider -->

    </div>
    <!-- /.dropdown -->

    <a class="button" href="/logout">
        <span class="label">Logout</span>

    </a>
</div>

#{/else}