#{if _navStyle == 'plain'}
    #{if !_userName}
    <a href="/login" rel="nofollow" class="${'Authentication.login'.isCurrent()}"><span class="label">${messages.get('ui.label.login')}</span></a>
    <a href="/registration" rel="nofollow" class="${'Registration.login'.isCurrent()}"><span class="label">${messages.get('ui.label.register')}</span></a>
    #{/if}
    #{else}
        <span class="user-name">
            #{gravatar.img _email, size:26 /}
            <span class="label">Hi ${_userName}</span>
        </span>
        <a href="/${_userName}"><span class="label">${messages.get('user.nav.yourprofile')}</span></a>
        <a href="/${_userName}/object"><span class="label">${messages.get('user.nav.yourobjects')}</span></a>
        <a href="/${_userName}/collection"><span class="label">${messages.get('user.nav.yourcollections')}</span></a>
        <a href="/${_userName}/story"><span class="label">${messages.get('user.nav.yourstories')}</span></a>

        <a href="/${_userName}/object/add"><span class="label">${messages.get('user.nav.newobject')}</span></a>
        <a href="/${_userName}/collection/add"><span class="label">${messages.get('user.nav.newcollection')}</span></a>
        <a href="/${_userName}/story/add"><span class="label">${messages.get('user.nav.newstory')}</span></a>
    #{/else}
#{/if}
#{else}
    #{if !_userName}
    <div class="buttons">
        #{btnHref label: messages.get('ui.label.login'), id:"login", extraClass:"${"Authentication.login".isCurrent()}", href:"/login", rel:"nofollow" /}
        #{btnHref label: messages.get('ui.label.register'), id:"register", extraClass:"${"Registration.index".isCurrent()}", href:"/registration", rel:"nofollow" /}
        #{languageSelect /}
    </div>
    #{/if}
    #{else}
    <div class="buttons">
        <span class="user-name">
            #{gravatar.img _email, size:26 /}
            <span class="label">Hi ${_userName}</span>

        </span>
        <div class="dropdown">
            <!--#{btnHref label: messages.get('user.nav.goto'), iconClass:"icon9", toggle:true/}-->
            #{btnHref label: messages.get('user.nav.goto'), toggle:true/}
            <div class="dropdown-slider">
                <a href="/${_userName}" class="ddm user"><span class="label">${messages.get('user.nav.yourprofile')}</span></a>
                <a href="/${_userName}/object" class="ddm"><span class="label">${messages.get('user.nav.yourobjects')}</span></a>
                <a href="/${_userName}/collection" class="ddm">
                    <span class="label">${messages.get('user.nav.yourcollections')}</span></a>
                <a href="/${_userName}/story" class="ddm"></span><span class="label">${messages.get('user.nav.yourstories')}</span></a>
                #{if _organizations.length() > 0}
                <a class="ddm heading orgs"><span class="label">${messages.get('thing.organizations')}</span></a>
                #{list _organizations, as: 'org'}
                <a href="/organizations/${org}" class="ddm org">${org}</a>
                #{/list}
                #{/if}
            </div>
        </div>
        <div class="dropdown">
            <!--#{btnHref label: messages.get('user.nav.create'), iconClass:"icon144", toggle:true/}-->
            #{btnHref label: messages.get('user.nav.create'), toggle:true/}
            <div class="dropdown-slider">
                <a href="/${_userName}/object/add" class="ddm"><span class="label">${messages.get('user.nav.newobject')}</span></a>
                <a href="/${_userName}/collection/add" class="ddm"><span class="label">${messages.get('user.nav.newcollection')}</span></a>
                <a href="/${_userName}/story/add" class="ddm"><span class="label">${messages.get('user.nav.newstory')}</span></a>
            </div>
        </div>
        #{languageSelect /}
        #{btnHref label: messages.get('ui.label.logout'), href:"/logout", extraClass: "complete", extraClass: "complete" /}
    </div>
    #{/else}
#{/else}
