%{
switch (_view.nodeType) {

    case "root":
    case "row":
    case "column":

        def propClass;
        switch (_view.attr("proportion")) {
            case "1of1":
                propClass = "span12"
                break
            case "1of2":
                propClass = "span6"
                break
            case "1of3":
                propClass = "span4"
                break
            case "2of3":
                propClass = "span8"
                break
            default:
                propClass = ""
        }}%

        <div class="${_view.nodeType} ${propClass} #{if _view.attr('class')}${_view.attr('class')}#{/if}">
        #{list items: _view.content(), as: 'item'}
            #{view view: item /}
        #{/list}
        </div>
    %{
    break

    case "container":}%

    #{if (!_view.isLeaf() && !(_view.content().length() == 1 && _view.content().apply(0).nodeType() == "list" && _view.content().apply(0).content().length() == 0)) || _view.attr("type") == "placeholder"}
        <div #{if _view.attr("id")}id="${_view.attr("id")}"#{/if} #{if _view.attr("class")}class="${_view.attr("class")}"#{/if}>

            #{if _view.attr("label")}
                <h5 class="header">&{_view.attr("label")} #{if _view.attr("role")}<span class="label">${_view.attr("role")}</span>#{/if}</h5>
            #{/if}

            #{if _view.attr("type") == "definition-list"}
            <dl>
                #{list items: _view.content(), as: 'i'}
                    #{view view: i /}
                #{/list}
            </dl>
            #{/if}

            #{elseif _view.attr("type") == "definition-list-horizontal"}
                <dl class="dl-horizontal">
                    #{list items: _view.content(), as: 'i'}
                    #{view view: i /}
                #{/list}
                </dl>
            #{/elseif}

            #{elseif _view.attr("type") == "list" }
            <ul>
                #{list items: _view.content(), as: 'i'}
                    #{view view: i /}
                #{/list}
            </ul>
            #{/elseif}

            #{elseif _view.attr("type") == "labelled-list" }
                <ul>
                    #{list items: _view.content(), as: 'i'}
                    #{view view: i /}
                #{/list}
                </ul>
            #{/elseif}

            #{else}
                #{list items: _view.content(), as: 'i'}
                    #{view view: i /}
                #{/list}
            #{/else}
        </div>
    #{/if}
    %{
    break

    case "field": if (_view.text()){ }%

        #{if _view.parent.attr("type") == "definition-list" || _view.parent.attr("type") == "definition-list-horizontal" }
            <dt>&{_view.attr("label")}#{if _view.attr("role")} <span class="label">${_view.attr("role")}</span>#{/if}</dt><dd>${_view.text()}</dd>
        #{/if}
        #{elseif _view.parent.attr("type") == "list"}
            <li>${_view.text()}</li>
        #{/elseif}
        #{elseif _view.parent.attr("type") == "labelled-list"}
            <li>#{if _view.attr("label")}<span class="label">&{_view.attr("label")}</span>#{/if} <span class="value">${_view.text()}</span></li>
        #{/elseif}
        #{else}
            #{if _view.attr("label")}<h5>&{_view.attr("label")} #{if _view.attr("role")} <span class="label">${_view.attr("role")}</span>#{/if}</h5>#{/if}
            <p>${_view.text()}</p>
        #{/else}
    %{ }
    break

    case "link": if (_view.attr("text")){ }%

        #{if _view.parent.attr("type") == "definition-list" ||  _view.parent.attr("type") == "definition-list-horizontal"  }
            <dt>&{_view.attr("label")}</dt><dd><a href="${_view.attr("url")}" rel="nofollow">&{_view.attr("text")}</a></dd>
        #{/if}

        #{elseif _view.parent.attr("type") == "list"}
            <li><a href="${_view.attr("url")}" rel="nofollow">&{_view.attr("text")}</a></li>
        #{/elseif}

        #{elseif _view.parent.attr("type") == "labelled-list"}
            <li><span class="label">&{_view.attr("label")}</span><span class="value"> <a href="${_view.attr("url")}" rel="nofollow">&{_view.attr("text")}</a></span></li>
        #{/elseif}

        #{else}
            #{if _view.attr("label")}<h5>&{_view.attr("label")}</h5>#{/if}
            #{if _view.attr("url")}
                <p>${ _view.parent.attr("type")}<a href="${_view.attr("url")}" data-type="${_view.attr("type")}" rel="nofollow">&{_view.attr("text")}</a></p>
            #{/if}
            #{else}
                <p>&{_view.attr("text")}</p>
            #{/else}
        #{/else}


    %{ }
    break

    case "image": if (_view.text()){ }%
        #{if _view.parent.attr("type") == "list"}
        <li><div class="img"><img src="${_view.text()}"#{if _view.attr("class")} class="${_view.attr("class")}"#{/if} #{if _view.attr("title")} title="${_view.attr("title")}"#{/if} onerror="showDefaultImg(this)"/></div></li>
        #{/if}
        #{else}
        <div class="img"><img src="${_view.text()}"#{if _view.attr("class")} class="${_view.attr("class")}"#{/if} #{if _view.attr("title")} title="${_view.attr("title")}"#{/if} onerror="showDefaultImg(this)"/></div>
        #{/else}
    %{ }
    break

    case "map": if (_view.text()){ }%
        <div id="mapdiv"></div>
        <script type="text/javascript">
        var map = new OpenLayers.Map("mapdiv");
        map.addLayer(new OpenLayers.Layer.OSM());

        var lonLatCoordinates = "${_view.text()}".split("|");
        var points = [];
        for (var i = 0; i < lonLatCoordinates.length; i++) {
            var nameAndPoint = lonLatCoordinates[i].split(",");
            var ll = new OpenLayers.LonLat( (nameAndPoint[1]), (nameAndPoint[2]) )
                          .transform(
                            new OpenLayers.Projection("EPSG:4326"), // transform from WGS 1984
                            map.getProjectionObject() // to Spherical Mercator Projection
                          );
            points[i] = ll;
        }

        var markers = new OpenLayers.Layer.Markers( "Markers" );
        map.addLayer(markers);

        for (var i = 0; i < points.length; i++) {
            markers.addMarker(new OpenLayers.Marker(points[i]));
        }

        map.setCenter (points[0], 4);
        </script>

        %{ }
        break

    case "enumeration":

        def separator;
        switch (_view.attr("separator")) {
            case "lf":
            separator = "<br/>"
            break
            case "hr":
            separator = "<hr/>"
            break
            default:
            separator = _view.attr("separator")
        }}%
        #{if _view.content().length() > 0 }
            #{if _view.parent.attr("type") == "list"}
                #{list _view.content(), as: 'e'}<li>${e.text()}</li>#{/list}
            #{/if}
            #{elseif _view.parent.attr("type") == "definition-list" || _view.parent.attr("type") == "definition-list-horizontal"}
                <dt>&{_view.attr("label")}</dt>
                <dd>
                    #{list _view.content(), as: 'e'}${e.text()}#{if !e_isLast}${separator.raw()}#{/if}#{/list}
                </dd>
            #{/elseif}
            #{elseif _view.parent.attr("type") == "labelled-list"}
            <li><span class="label">&{_view.attr("label")}</span><span class="value"> #{list _view.content(), as: 'e'}${e.text()}#{if !e_isLast}${separator.raw()}#{/if}#{/list}</span></li>
            #{/elseif}
            #{else}
                #{if _view.attr("label")}
                    <h5>&{_view.attr("label")}</h5>
                #{/if}
                <p>#{list _view.content(), as: 'e'}${e.text()}#{if !e_isLast}${separator.raw()}#{/if}#{/list}</p>
            #{/else}
        #{/if}
    %{
    break

    case "list":}%
        #{list items: _view.content(), as: 'item'}
            #{view view: item /}
        #{/list}
    %{
    break


}
}%