%{
switch (_view.nodeType) {

    case "root":}%
        #{list items: _view.content(), as: 'row'}
            #{view view: row /}
        #{/list}
    %{
    break

    case "row":}%
        <div class="row">
        #{list items: _view.content(), as: 'col'}
            #{view view: col /}
        #{/list}
        </div>
    %{
    break


    case "section":}%
        <div id="${_view.attr("id")}" class="${_view.attr("class")}">
        #{if _view.attr("label")}
            <h5>&{_view.attr("label")}</h5>
        #{/if}
        #{if _view.attr("type") == "dl"}
        <dl class="dl">
            #{list items: _view.content(), as: 'i'}
                #{view view: i /}
            #{/list}
        </dl>
        #{/if}
        #{else}
            #{list items: _view.content(), as: 'i'}
                #{view view: i /}
            #{/list}
        #{/else}
        </div>
    %{
    break

    case "field": if (_view.text()){ }%
        #{if _view.attr("type") == "li"}
            <li>${_view.text()}</li>
        #{/if}
        #{if _view.attr("type") == "di"}
            <dt>&{_view.attr("label")}</dt><dd>${_view.text()}</dd>
        #{/if}
        #{ifnot _view.attr("type")}
            &{_view.attr("label")}: ${_view.text()}
        #{/ifnot}
    %{ }
    break

    case "link": if (_view.attr("text")){ }%
        <div class="link"><a href="${_view.attr("url")}">${_view.attr("text")}</a></div>
    %{ }
    break

    case "enumeration":}%
        #{if _view.attr("type") == "ul"}
            <ul>
            #{list _view.content(), as: 'e'}
                  <li>${e.text()}</li>
            #{/list}
            </ul>
        #{/if}
        #{if _view.attr("type") == "ol"}
            <ol>
            #{list _view.content(), as: 'e'}
                  <li>${e.text()}</li>
            #{/list}
            </ol>
        #{/if}
        #{if _view.attr("type") == "concatenated"}
            <div>#{list _view.content(), as: 'e'}${e.text()}#{if !e_isLast}${_view.attr("separator")}#{/if}#{/list}</div>
        #{/if}
    %{
    break

    case "list":}%
Ê Ê Ê Ê#{if _view.attr("type") == "ul"}
Ê Ê Ê Ê<ul>
    Ê Ê Ê Ê Ê Ê#{list _view.content(), as: 'i'}
    Ê Ê Ê Ê Ê Ê Ê Ê#{view view: i /}
    Ê Ê Ê Ê Ê Ê#{/list}
    Ê Ê Ê Ê</ul>
Ê Ê Ê Ê#{/if}
Ê Ê Ê Ê#{ifnot _view.attr("type")}
Ê Ê Ê Ê Ê Ê#{list _view.content(), as: 'i'}
    Ê Ê Ê Ê Ê Ê Ê Ê#{view view: i /}
    Ê Ê Ê Ê Ê Ê#{/list}
Ê Ê Ê Ê#{/ifnot}
    %{
    break


}
}%