#{extends themeInfo.get('themeLayout') /}
#{set title: 'Sip-Creator' /}
#{set bodyId: 'organization' /}

#{breadcrumbs/}

#{organizationNavBar orgId: orgId, active:"datasets", extraButtons: [ [label: messages.get('organization.dataset.create'), url:"/organizations/"+orgId+"/dataset/add", extraClass:"action complete"] ], isOwner: isOwner, isCMSAdmin: isCMSAdmin /}

<div class="tab-content">


    <div class="buttons">
    #{btnHref label: messages.get('organization.dataset.list'), href:"/organizations/"+orgId+"/dataset", extraClass:"action on" /}
    #{btnHref label:messages.get('organization.dataset.create'), href:"/organizations/"+orgId+"/dataset/add", extraClass:"action"/}
    #{btnHref label:messages.get('ui.label.sipcreator'), href:"/organizations/"+orgId+"/sip-creator", extraClass:"on" /}
    </div>

     <hr/>
    <h2>SIP-Creator</h2>

<div class="row">
    <div class="g-3of12 grid_3">
         <a href="/${userName}/sip-creator.jnlp">
             <img src="@{routes.Assets.at('/sip-creator/sip-creator-logo.png')}" alt="logo"/>
             Download
         </a>
    </div>
    <div class="g-8of12 grid_8">
         <p>&{'organization.sipcreator.p1'}</p>
         <p>&{'organization.sipcreator.p2'}</p>
    </div>
</div>
</div>