#{extends themeInfo.get('themeLayout') /}
#{set title: 'Sip-Creator' /}
#{set bodyId: 'organization' /}

#{breadcrumbs/}

#{organizationNavBar orgId: orgId, active:"sipcreator", navigation: navigation /}





*{<div class="hero-unit">}*
<div class="row">
    <div class="span7">
        <h3>SIP-Creator</h3>
        <p>&{'organization.sipcreator.p1'}</p>
        <p>&{'organization.sipcreator.p2'}</p>
    </div>

        <div class="span5">
            <img src="/assets/common/images/sip-creator-1.png" alt="sip-creator screenshot" style="max-width: 100%"/>
            <p>
            <a class="btn btn-primary btn-large" href="/${userName}/sip-creator.jnlp">
                <i class="icon-download-alt icon-white"></i>
                Download
             </a>
            </p>
        </div>

    </div>

*{</div>}*