<!DOCTYPE html>
<html>
<head>
    <title>403</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <link rel="stylesheet" href="@{'/public/themes/common/stylesheets/error-pages.css'}" type="text/css" media="all" />
    <title>404</title>
</head>
<body>

<div class="container fourothree">
    <h1 class="error-code">403</h1>
    <h2 class="error-message">Access denied!</h2>
    <img src="/public/themes/common/images/error-403.jpg" width="300" />
    <p>You are not allowed to access this page.</p>
    <div class="options">
        <a href="/">${views.context.package.themeDisplayName()}</a>
    </div>
</div>




</body>
</html>