hr {
    border: none;
    border-top: 1px solid #ccc;
    margin: 10px 0;
}

.user-name {
    display: block;
    float: left;
    margin-right: 10px;
    height: 40px;
    line-height: 40px;
}

.user-name img {
    vertical-align: middle;
}

.extHelp {
    background-image: url(buttons/button-icons-color.png) !important;
    background-position: -72px -90px;
    background-repeat: no-repeat;
    display: inline-block;
    float: none !important;
}

strong {
    font-weight: bold;
}

.toolbar {
    position: relative;
    z-index: 11;
    margin: 10px;
}

.toolbar .buttons {
    display: block;
    background: none repeat scroll 0 0 #F1F1F1;
    border: 1px solid #D2D2D2;
    padding: 0px;
    width: 100%;
    font-size: 85%;

}

.toolbar .pager {
    display: inline-block;
    float: left;
    margin-top: 5px;
}

.toolbar.organization {
    margin-top: 10px;
}

#organization .toolbar {
    margin-bottom: 0px;

}

.dashboard {
    clear: both;
    /*margin-bottom: 20px;*/
}

/* addThis widgets */

.addthis_toolbox {
    display: inline-block;
    float: left;
}

/* dialogs */

/* labels and comments dialogue*/
#add-label-dialog,
#add-comment-dialog {
    display: none;
    width: inherit;
    padding: 4px;
}

/* button addition class */
.button.prominent,
button.prominent {
    line-height: 30px;
    height: 31px;
    width: 98%;
    clear: both;
    text-align: center;
    padding: 8px 6px 35px 6px;
}

.button.prominent .label,
button.prominent .label {
    float: none;
}

button[disabled],
.button[disabled] {
    cursor: default;
    -moz-opacity: 0.50;
    filter: alpha(opacity = 50);
    opacity: 0.50;
}

.info-box .label {
    color: #888;
    float: left;
    clear: left;
    display: block;
    width: 120px;
    text-align: left;
}

.info-box.long .label {
    width: 150px;
}

.info-box.small {
    font-size: smaller;
}

.info-box.small .label {
    width: 85px;
}

.info-box .text {
    display: block;
    float: left;
}

/* media */

/* media overrides */

.media.record .img {
    margin-right: 10px;
    max-width: 350px;
}

.media .extra {
    display: block;
    clear: left;
    float: left;
}

.media .toolbar {
    margin: 10px 0;
}

.media ic_container a {
    display: block;
}

.media .clip {
    display: block;
    width: 220px;
    height: 220px;
    overflow: hidden;
}

/* CLIP SIZES */

.clip-80 {
    display: block;
    width: 100%;
    height: 80px;
    overflow: hidden;
}

.clip-100 {
    display: block;
    width: 100%;
    height: 80px;
    overflow: hidden;
}

.clip-180 {
    display: block;
    width: 100%;
    height: 120px;
    overflow: hidden;
}

.clip-220 {
    display: block;
    width: 100%;
    height: 220px;
    overflow: hidden;
}

.clip-300 {
    display: block;
    width: 100%;
    height: 260px;
    overflow: hidden;
}

.clip-350 {
    display: block;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.clip-500 {
    display: block;
}




/* metadata */

.metadata h5 {
    font-weight: bold;
    font-size: 100%;
    margin: 0;
}

.metadata p {
    margin-bottom: 10px;
}

.metadata ol {
    margin-top: 0px;
}

.toolbar {
    margin: 0px 0px 20px 0px;
}

div.dropdown-slider .ddm.heading .label {
    color: #fff;
}

div.dropdown-slider .ddm.heading {
    background: #555;
    color: #fff;
    text-shadow: 0 1px 0 #000;

}

.collection-objects {
    background: #f1f1f1;
    width: 350px;
}

.collection-objects .inner {
    padding: 5px;
}

.collection-objects ul {
    margin: 0px;
}

.collection-objects ul li {
    display: inline-block;
    margin: 0 2px 0 0;
    vertical-align: top;
}

.ui-helper-reset li {
    margin: 0;
    padding: 0;
}

/*results */
.item-count {
    /*margin-bottom: 20px;*/
    font-size: 18px;
}

.item-count ul {
    display: inline-block;
    margin: 0 0 0 10px;
    padding: 0;
}

.item-count li {
    font-weight: bold;
}

.draggable {
    z-index: 1000;
}

#dropbox.hover {
    background-color: #ccc;
}

#dropbox-actions {
    display: none;
}

#dropbox .error {
    display: none;
}

#dropbox .bd {
    padding: 0 5px;
    font-size: smaller;
}

/* WIDGET */

.widget.yellow {
    background: #f2bc00;
}

.widget.beware {
    background: #dd0000;
}

.widget.submit {
    background: #148ea4;
}

.widget.white {
    background: #dfdfdf;
}

.widget.orange {
    background: #f66e00;
}

.widget.complete {
    background: #8dc100;
}

.widget.yellow h3,
.widget.white h3,
.widget.complete h3 {
    color: #000;
}

.widget.beware h3,
.widget.submit h3,
.widget.orange h3 {
    color: #FFF;
}

.widget {
    margin: 20px 0 0;
    padding: 2px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
}

.widget .hd {
    color: #000;
    overflow: hidden;
    width: 100%;
    /*height: 30px;*/
    line-height: 30px;
}

.widget .hd h3 {
    padding: 0 5px;
    float: left;
    margin: 0;
    line-height: inherit;
}

.widget .bd {
    /*background: #fff;*/
    display: block;
    padding: 0 5px;
    color: #555;
    -moz-border-radius-bottomleft: 2px;
    -moz-border-radius-bottomright: 2px;
    -webkit-border-bottom-left-radius: 2px;
    -webkit-border-bottom-right-radius: 2px;
    line-height: 1.2em;
    overflow: hidden;
}

.widget .bd p {
    padding: 0.5em 0;
}

.widget .bd pre {
    padding: 0.5em 5px;
    color: #EEE;
    font-size: 12px;
}

/*.widget .bd ul {*/
/*padding: 0;*/
/*list-style: disc;*/
/*}*/

.widget .bd ul li {
    padding: 0;
    margin: 0;
}

/*.widget .bd ul.images {*/
/*padding: 7px 0 0 0;*/
/*list-style: none;*/
/*height: 1%;*/
/*}*/

/*.widget .bd ul.images li {*/
/*display: inline;*/
/*float: left;*/
/*}*/

/*.widget .bd ul.images img {*/
/*display: inline;*/
/*float: left;*/
/*margin: 0 0 7px 7px;*/
/*}*/

.widget .button {
    /*display: block;*/
    float: none;
    color: #fff;
    text-shadow: none;
}

/* OBJECT OVERLAY */

.result-overlay {
    background: #fff;
    display: none;
    margin: 0 auto;
    width: 940px;
    border: 1px solid #666666;
    box-shadow: 0 0 50px 5px #000000;
    z-index: 1000;
}

.result-overlay .close {
    background-image: url("/public/common/images/close.png");
    cursor: pointer;
    height: 35px;
    position: absolute;
    right: -15px;
    top: -15px;
    width: 35px;
}

/* RESULT / BROWSE LIST CAPTIONS ***********************************************************************************/
.thing-container {
    background: #000;
    margin-bottom: 10px;
}
.ic_container {
    vertical-align: baseline;
    position: relative;
    /*min-height: 200px !important;*/
    /*margin-bottom: 10px;*/
}

.ic_container img {
    height: auto;
}

.ic_container bd {
    margin: 0;
    padding: 0;
}

.overlay {
    opacity: 0.3;
    position: absolute;
    top: 0px;
    bottom: 0px;
    left: 0px;
    right: 0px;
    filter: progid:DXImageTransform.Microsoft.Alpha(opacity = 50);

}

.ic_caption {
    position: absolute;
    opacity: 0.7;
    overflow: hidden;
    margin: 0px;
    padding: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    cursor: default;
    filter: progid:DXImageTransform.Microsoft.Alpha(opacity = 60);
}

.ic_caption .title a {
    color: #fff;
    display: block;
    padding: 0 5px;
}

.ic_caption .title {
    font-size: 100%;
}

.ic_category {
    text-transform: uppercase;
    font-size: 10px;
    letter-spacing: 2px;
    padding: 0 5px;
    margin: 0px;
}

.ic_text {
    padding: 5px;
    margin: 0px;
    text-align: justify;
    font-size: smaller;

}

.is_private {
    background: #fff;
    color: #000;
    opacity: 0.7;
    position: absolute;
    top: 0px;
    /*font-size: smaller;*/
    /*text-align: justify;*/
}

.is_private span {
    padding: 5px;
    display: block;
    font-size: smaller;
    z-index: 14;
}


/* MEDIA / MOD *****************************************************************************************************/

.media .title {
    font-weight: bold;
}

.metadata h4 {
    margin-top: 0px;
    margin-bottom: 0px;
}

.metadata {
    padding: 4px;
}

.metadata p {
    margin-top: 0px;
}

/* media block on list page */

.list .media {
    position: relative;
}

.list .media .clip {
    background: #f1f1f1;
    display: block;
    width: 100%;
    height: 160px;
    overflow: hidden;
    text-align: center;
}

.list .media .img {
    float: none;
}

.list .media .bd {
    display: block;
}

.list .media .title {
    display: block;
    text-decoration: none;
}

.list .media .more-info {
    background: #fff;
    opacity: 0.8;
    color: #000;
    padding: 5px;
}

.list .media .private {
    background: #fff;
    color: #000;
    opacity: 0.8;
    position: absolute;
    top: 0px;
}

.list .media .private span {
    padding: 4px;
    display: block;
    font-size: 80%;
    z-index: 14;
}

textarea.mceEditor {
    height: 300px;
}

table.mceLayout {
    height: 300px;
}

div.wait {
    display: inline-block;
}



