/* `Clear Floated Elements
----------------------------------------------------------------------------------------------------*/

/* http://sonspring.com/journal/clearing-floats */

.clear {
    clear: both;
    display: block;
    overflow: hidden;
    visibility: hidden;
    width: 0;
    height: 0;
}

/* http://www.yuiblog.com/blog/2010/09/27/clearfix-reloaded-overflowhidden-demystified */

.clearfix:before,
.clearfix:after {
    content: '\0020';
    display: block;
    overflow: hidden;
    visibility: hidden;
    width: 0;
    height: 0;
}

.clearfix:after {
    clear: both;
}

/*
  The following zoom:1 rule is specifically for IE6 + IE7.
  Move to separate stylesheet if invalid CSS is a problem.
*/

.clearfix {
    zoom: 1;
}

/* addThis widgets */

.addthis_toolbox {
    display: inline-block;
    float: left;
}

/* dialogs */

/* labels and comments dialogue*/
#add-label-dialog,
#add-comment-dialog {
    display: none;
    width: inherit;
    padding: 4px;
}

/* CLIP SIZES */
.clip {
    display: block;
    overflow: hidden;
}

.clip-40 {
    display: block;
    height: 40px;
}

.clip-60 {
    display: block;
    /*height: 60px;*/
    height: auto;
}

.clip-80 {
    display: block;
    height: 80px;
}

.clip-100 {
    display: block;
    height: 80px;
}

.clip-180 {
    display: block;
    height: 120px;
}

.clip-210 {
    display: block;
    height: 220px;
}

.clip-220 {
    display: block;
    height: 220px;
}

.clip-300 {
    display: block;
    height: 260px;
}

.clip-350 {
    display: block;
    height: 100%;
}

.clip-500 {
    display: block;
}

/* media overrides */

.media.record .img {
    margin-right: 10px;
    max-width: 450px;
}


.media .title {
    font-weight: bold;
}

.media .extra {
    display: block;
    clear: left;
    float: left;
}

.media .toolbar {
    margin: 10px 0;
}

.media ic_container a {
    display: block;
}

.media .clip {
    float: left;
}

/* OBJECT OVERLAY */

.result-overlay {
    background: #fff;
    display: none;
    margin: 0 auto;
    max-width: 900px !important;
    border: 1px solid #666666;
    box-shadow: 0 0 50px 5px #000000;
    z-index: 1000;
}

.result-overlay img {
    width: 100%;
}

.result-overlay .close {
    background-image: url("/assets/common/images/close.png");
    cursor: pointer;
    height: 35px;
    position: absolute;
    right: -15px;
    top: -15px;
    width: 35px;
}

/* RESULT / BROWSE LIST CAPTIONS / THING-CONTAINER ************************************************************************/
.thing-container {
    /*background: #222;*/
    margin-bottom: 10px;
}
.thing-container.no-image {
    background: #e1e1e1;
    margin-bottom: 10px;
}

#profile .thing-container {
    background: transparent;
}

.ic_container {
    vertical-align: baseline;
    position: relative;
    text-align: center;
    /*min-height: 200px !important;*/
    /*margin-bottom: 10px;*/
}

.ic_container img {
    height: auto;

}

.ic_container bd {
    margin: 0;
    padding: 0;
    text-align: left;
}

.overlay {
    opacity: 0.3;
    position: absolute;
    top: 0px;
    bottom: 0px;
    left: 0px;
    right: 0px;
    filter: progid:DXImageTransform.Microsoft.Alpha(opacity = 50);

}

.ic_caption {
    position: absolute;
    opacity: 0.7;
    overflow: hidden;
    margin: 0px;
    padding: 5px 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    cursor: default;
    filter: progid:DXImageTransform.Microsoft.Alpha(opacity = 60);
    text-align: left;
    min-height: 50px;
}

.ic_caption .title a {
    color: #fff;
    display: block;
    padding: 0 5px;
}

.ic_caption .title {
    font-size: 100%;
}

.ic_category {
    text-transform: uppercase;
    font-size: 10px;
    letter-spacing: 2px;
    padding: 0 5px;
    margin: 0px;
}

.ic_text {
    padding: 5px;
    margin: 0px;
    text-align: justify;
    font-size: smaller;

}

.is_private {
    background: #fff;
    color: #000;
    opacity: 0.7;
    position: absolute;
    top: 0px;
    /*font-size: smaller;*/
    /*text-align: justify;*/
}

.is_private span {
    padding: 5px;
    display: block;
    font-size: smaller;
    z-index: 14;
}

/* Pagination */
.pagination {
    margin: 11px 0;
}

/*.pagination-top {*/
    /*margin-bottom: 0;*/
/*}*/

/*.pagination-bottom {*/

/*}*/

/** BOOTSTRAP TABLE HELPER **/

.table caption {
    color: #888;
    font-weight: bold;
    padding: 0 0 8px 8px;
    text-align: left;
    text-transform: uppercase;
}

.table.sortable th {
    cursor: pointer;
}

/* addThis widgets */

.addthis_toolbox {
    display: inline-block;
    float: left;
}
