.center {
    text-align: center;
}

#pbd {
    vertical-align: middle;
    margin-right: 5px;
}

/* Faded out hr */
hr.soften {
    height: 1px;
    margin: 21 0;
    background-image: -webkit-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,.1), rgba(0,0,0,0));
    background-image:    -moz-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,.1), rgba(0,0,0,0));
    background-image:     -ms-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,.1), rgba(0,0,0,0));
    background-image:      -o-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,.1), rgba(0,0,0,0));
    border: 0;
}

hr.editorRule {
    height: 1px;
    margin: 0;
    border: 0;
}

.shout {
    background: #000;
    color: #fff;
    display: table;
    padding: 0 8px;
    width: auto;

}

.shout.beware {
    background: #b22222;
}

dt, dd, li {
    line-height: 21px;
}

.span1of2 {
    width: 49%;
    margin-right: 1%;
    float: left;
}

.span1of3 {
    width: 32%;
    margin-right: 1%;
    float: left;
}


/* `Clear Floated Elements
----------------------------------------------------------------------------------------------------*/

/* http://sonspring.com/journal/clearing-floats */

.clear {
    clear: both;
    display: block;
    overflow: hidden;
    visibility: hidden;
    width: 0;
    height: 0;
}

/* http://www.yuiblog.com/blog/2010/09/27/clearfix-reloaded-overflowhidden-demystified */

.clearfix:before,
.clearfix:after {
    content: '\0020';
    display: block;
    overflow: hidden;
    visibility: hidden;
    width: 0;
    height: 0;
}

.clearfix:after {
    clear: both;
}

/*
  The following zoom:1 rule is specifically for IE6 + IE7.
  Move to separate stylesheet if invalid CSS is a problem.
*/

.clearfix {
    zoom: 1;
}

/* addThis widgets */

.addthis_toolbox {
    display: inline-block;
    float: left;
}

/* main search button */

.navbar-search .submit {
    padding: 3px 9px;
    margin: 5px 5px 6px 2px;
}


/* dialogs */

/* labels and comments dialogue*/
#add-label-dialog,
#add-comment-dialog {
    display: none;
    width: inherit;
    padding: 4px;
}

/* CLIP SIZES */
.clip {
    display: block;
    overflow: hidden;
}

.clip-dc {
    display: block;
    height: 160px;
}

.clip-40 {
    display: block;
    height: 40px;
}

.clip-60 {
    display: block;
    /*height: 60px;*/
    height: auto;
}

.clip-80 {
    display: block;
    height: 80px;
}

.clip-100 {
    display: block;
    height: 80px;
}

.clip-180 {
    display: block;
    height: 120px;
}

.clip-200 {
    display: block;
    height: 200px;
}

.clip-210 {
    display: block;
    height: 220px;
}

.clip-220 {
    display: block;
    height: 220px;
}

.clip-300 {
    display: block;
    height: 260px;
}

.clip-350 {
    display: block;
    height: 100%;
}

.clip-500 {
    display: block;
}

/* media overrides */

.media.record .img {
    margin-right: 10px;
    max-width: 450px;
}


.media .title {
    font-weight: bold;
}

.media .extra {
    display: block;
    clear: left;
    float: left;
}

.media .toolbar {
    margin: 10px 0;
}

.media ic_container a {
    display: block;
}

.media .clip {
    float: left;
}

/* OBJECT OVERLAY */

.result-overlay {
    background: #fff;
    display: none;
    margin: 0 auto;
    max-width: 900px !important;
    border: 1px solid #666666;
    box-shadow: 0 0 50px 5px #000000;
    z-index: 1000;
}

.result-overlay img {
    width: 100%;
}

.result-overlay .close {
    background-image: url("/assets/common/images/close.png");
    cursor: pointer;
    height: 35px;
    position: absolute;
    right: -15px;
    top: -15px;
    width: 35px;
}

/* RESULT / BROWSE LIST CAPTIONS / THING-CONTAINER ************************************************************************/

.thing-container {
    margin-bottom: 11px;
    position: relative;
    padding: 2px;
    list-style: none;
    background-color: #FBFBFB;
    background-image: -moz-linear-gradient(top, white, whiteSmoke);
    background-image: -ms-linear-gradient(top, white, whiteSmoke);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(white), to(whiteSmoke));
    background-image: -webkit-linear-gradient(top, white, whiteSmoke);
    background-image: -o-linear-gradient(top, white, whiteSmoke);
    background-image: linear-gradient(top, white, whiteSmoke);
    background-repeat: repeat-x;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='white', endColorstr='whiteSmoke', GradientType=0);
    border: 1px solid #DDD;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    -webkit-box-shadow: inset 0 1px 0 white;
    -moz-box-shadow: inset 0 1px 0 white;
    box-shadow: inset 0 1px 0 white;

}

.thing-container.no-image {
    background: #e1e1e1;
    margin-bottom: 10px;
}

.thing-container .category {
    background: #0088cc;
    color: #fff;
    letter-spacing: 2px;
    padding: 2px 6px;
    margin: 0;
    text-shadow: 1px 2px 3px #666;
    /*position: absolute;*/
    /*top: 0px;*/
    /*right: 0px;*/
    /*opacity: .8;*/
}

.thing-container .title {
    /*background: #444;*/
    font-weight: bold;
    font-size: 120%;
    padding: 2px 6px;
    line-height: 1.5;
    clear: both;
}

.thing-container .title a {
    /*color: #fff;*/
}

/* GRID ITEM */

.grid-item {
    float: left;
    margin: 0;
}

/*
.ic_container {
    vertical-align: baseline;
    position: relative;
    text-align: center;
}

.ic_container img {
    height: auto;

}

.ic_container bd {
    margin: 0;
    padding: 0;
    text-align: left;
}

.overlay {
    opacity: 0.3;
    position: absolute;
    top: 0px;
    bottom: 0px;
    left: 0px;
    right: 0px;
    filter: progid:DXImageTransform.Microsoft.Alpha(opacity = 50);

}

.ic_caption {
    position: absolute;
    opacity: 0.7;
    overflow: hidden;
    margin: 0px;
    padding: 5px 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    cursor: default;
    filter: progid:DXImageTransform.Microsoft.Alpha(opacity = 60);
    text-align: left;
    min-height: 50px;
}

.ic_caption .title a {
    display: block;
    padding: 0 5px;
}

.ic_caption .title {
    font-size: 100%;
}

.ic_category {
    text-transform: uppercase;
    font-size: 10px;
    letter-spacing: 2px;
    padding: 0 5px;
    margin: 0px;
}

.ic_text {
    padding: 5px;
    margin: 0px;
    font-size: smaller;

}
*/
.is_private {
    background: #fff;
    color: #000;
    opacity: 0.7;
    position: absolute;
    top: 0px;
}

.is_private span {
    padding: 5px;
    display: block;
    font-size: smaller;
    z-index: 14;
}

/* Pagination */
.pagination {
    margin: 11px 0;
}

/** BOOTSTRAP TABLE HELPER **/

.table caption {
    color: #888;
    font-weight: bold;
    padding: 4px 0 4px 0;
    text-align: left;
    text-transform: uppercase;
}

.table.sortable th.sort {
    background: url(/assets/common/images/sortable.gif) 0% 50% no-repeat;
    /*border-right: 1px solid #f1f1f1;*/
    cursor: pointer;
    padding-left: 21px;
}

.table.sortable th.sort.headerSortUp{
   background: #f1f1f1 url(/assets/common/images/sortable-asc.gif) 0% 50%  no-repeat;
}

.table.sortable th.sort.headerSortDown{
    background: #f1f1f1  url(/assets/common/images/sortable-desc.gif) 0% 50%  no-repeat;
}

.table-wrap td span {
    display: block;
    text-overflow: ellipsis;
    -o-text-overflow: ellipsis;
    -webkit-text-overflow: ellipsis;
    width: 160px;
    white-space: pre-wrap;
    overflow: hidden;;
}

.table-stacked {
    margin: 0;
}

.table-clean th, .table-clean td {
    border: none;
}


/*---------------------------------
	STATE-label and badges
-----------------------------------*/

/* ENABLED */

.label-enabled,
.badge-enabled {
    background-color: #468847;
}
.label-enabled[href],
.badge-enabled[href] {
    background-color: #356635;
}


.alert-enabled {
    background-color: #dff0d8;
    border-color: #d6e9c6;
    color: #468847;
}

/* DISABLED */

.label-disabled,
.badge-disabled {
    background-color: #999;
}
.label-disabled[href],
.badge-disabled[href] {
    background-color: #999;
}

.alert-disabled {
    background-color: #eaeaea;
    border-color: #ccc;
    color: #888;
}

/* ERROR */

.label-error,
.badge-error {
    background-color: #b22222;
}

.label-error[href],
.badge-error[href] {
    background-color: #711616;
}

/* PARSING */

.label-parsing,
.badge-parsing {
    background-color: #808000;
}
.label-parsing[href],
.badge-parsing[href] {
    background-color: #808000;
}

.alert-parsing {
    background-color: #ebecca;
    border-color: #dcddbb;
    color: #808000;
}

/* UPLOADED */

.label-uploaded,
.badge-uploaded {
    background-color: #C35817;
}
.label-uploaded[href],
.badge-uploaded[href] {
    background-color: #C35817;
}

.alert-uploaded {
    background-color: #F2D7C7;
    border-color: #d9beaf;
    color: #C35817;
}

/* QUEUED */

.label-queued,
.badge-queued {
    background-color: #FF9900;
}
.label-queued[href],
.badge-queued[href] {
    background-color: #FF9900;
}

.alert-queued {
    background-color: #ffefce;
    border-color: #ffeabb;
    color: #e88400;
}

/* PROCESSING */

.label-processing,
.badge-processing {
    background-color: #3a87ad;
}

.label-processing[href],
.badge-processing[href] {
    background-color: #3a87ad;
}

.alert-processing {
    background-color: #d9edf7;
    border-color: #bce8f1;
    color: #3a87ad;
}

/* INCOMPLETE */

.label-incomplete,
.badge-incomplete {
    background-color: #aaaaa0;
}

.label-incomplete[href],
.badge-incomplete[href] {
    background-color: #aaaaa0;
}

.alert-incomplete {
    background-color: #ddddd0;
    border-color: #bbbbb0;
    color: #666;
}

/* addThis widgets */

.addthis_toolbox {
    display: inline-block;
    float: left;
}

.panel {
padding: 8px 35px 8px 14px;
    margin-bottom: 18px;
    /*text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);*/
    background-color: #fcf8e3;
    border: 1px solid #fbeed5;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    /*color: #c09853;*/
}

/*---------------------------------
	USER NAV
-----------------------------------*/

li.user a {
    padding-left: 0 !important;
}

li.user img {
    /*vertical-align: top;*/
    margin: -3px 11px 0 0;
}

.nav.nav-pills.bordered > li > a {
    border: 1px solid #f1f1f1;
}

/*---------------------------------
	BOOTSTRAP FORM HELPER
-----------------------------------*/

.error {
    color: #b02222;
}

form.data-set {
    display: inline-block;
    *display: inline;
    /* IE7 inline-block hack */

    *zoom: 1;
    background:  transparent;
    margin: 0;
    margin: -15px 2px 0 2px;
    font-size: 13px;
    /*line-height: 18px;*/
    vertical-align: middle;
    *margin-left: .3em;
}

.radio input[type="radio"], .checkbox input[type="checkbox"] {
    float: left;
    margin-left: -17px;
}

label .label {
    margin-left: 5px;
    vertical-align: baseline;
    font-weight: normal;
}

form label {
    font-weight: bold;
}

form .controls label,
form label.checkbox,
form label.radio {
    font-weight: normal;
    /*color: #444;*/
}

.help-inline {
    color: #888;
    font-style: italic;
}

.char-count-over-limit {
    background-color: #cc3300 !important;
}

.dl-inline dt {
    float: left;
    clear: left;
    /*text-align: left;*/
    /*overflow: hidden;*/
    /*text-overflow: ellipsis;*/
    white-space: nowrap;
}
.dl-inline dd {
    margin-left: 5px;
    /*padding-left: 11px;*/
    float: left;
    clear: right;
}


/*---------------------------------
	BOOTSTRAP BUTTON HELPER
-----------------------------------*/

.btn-prominent {
    padding: 4px 21px 4px;
}

.btn-full-width {
    width: 99.666%;
}

.btn-toolbar.nom {
    margin: 0;
}

/*---------------------------------
	BOOTSTRAP DROPDOWN HELPER
-----------------------------------*/

/* bootstrap pagination: include spans for object list pages */

.pagination a,
.pagination span {
    float: left;
    padding: 0 14px;
    line-height: 34px;
    text-decoration: none;
    border: 1px solid #ddd;
    border-left-width: 0;
}

/* bootstrap labels extra */

.label-contrast {
    background-color: #fff;
    border: 1px solid #ccc;
    color: #000;
    text-shadow: none;
    vertical-align: baseline;
}

/* popover */


.popover h3 {
    margin: 0;
}

.popover-inner.large {
    width: 350px;
}

/* modal */

.modal-big {
    width: 800px;
    margin-left: -400px;

}

/*---------------------------------
	TINY_MCE overrides
-----------------------------------*/
.defaultSkin table td.mceIframeContainer {
    vertical-align: top;
}

#pageContent_ifr {
    height: 400px !important;
}

#instructions .accordion-body {
    background: #fffff0;
}

/* bootstrap dropdown disabled state */

.dropdown-menu.disabled {
    display: none;
}

.facet-toggle {
    border-bottom: 1px solid #eaeaea;
    color: #a9a9a9;
    padding: 8px 0;
    text-transform: uppercase;
    margin: 0;
}


/* facets */

.facet-toggle:hover {
    color: #888;
}

.facet-toggle:first-of-type {
    border-top: 1px solid #eaeaea;
}

.facet-toggle.dropdown .caret {
    float: right;
    margin-top: 5px;
}

.open .caret {
    border-top: none;
    border-right: 4px solid transparent;
    border-left: 4px solid transparent;
    border-bottom: 4px solid #000000;
}



.facet-container {
    border-bottom: 1px solid #eaeaea;
    display: block;
    padding: 8px 0;
    max-height: 174px;
    /*min-height: 21px;*/
    overflow-y: auto;
}

.facet-container .facet {
    padding: 2px 0;
}

.facet-container input[type=checkbox] {
    margin-right: 4px;
    display: table-cell;
    float: left;
}

.facet-container span {
    display: table-cell;
}



/*.nav-facets {*/
    /*padding: 0;*/
/*}*/

/*.nav-facets > li > a {*/
    /*padding: 3px 0px;*/
/*}*/
