.scroll-nav {
    width: auto;
    text-align: center;
}

.scroll-nav a {
    display: inline-block;
    overflow: hidden;
    cursor: pointer;
}

.scroll-nav a.disabled {
    color: #ccc;
    cursor: default;
}

#pnav {
    display: inline-block;
}

#pnav a {
   cursor: pointer;
}

#pnav .active {
    font-weight: bold;
}

#inav {
    margin: 0;
}

#inav li {
    margin: 10px 0;
}

#inav li:hover {
    cursor: pointer;
}

#inav .active {
    font-weight: bold;
}
