#{extends themeInfo.get('themeLayout') /}

#{set title: messages.get('registration.lostpassword') /}

<div class="grid_12">

    <form id="lostPasswordForm" action="@{controllers.routes.Registration.resetPasswordEmail()}" method="POST">
        #{authenticityToken /}
        <h3>&{'registration.lostpassword'} </h3>
        <fieldset class="pam">
            <p>&{'registration.lostpassword.message'} </p>
            #{textField form: resetPasswordForm, name:"email", id:"email", label: messages.get('ui.label.email'), required: true /}
            <div class="buttons">
                #{btnButton label: messages.get('registration.resetpassword') , extraClass:"action complete", type:"submit", id:"reset"/}
            </div>
        </fieldset>
    </form>

</div>

