#{set 'visibility'}hidden#{/set}
#{extends themeInfo.get('themeLayout') /}

#{set title: messages.get('_hubb.Groups') /}

#{set bodyId: 'organization' /}

#{breadcrumbs crumbs: breadcrumbs /}

#{organizationNavBar isReadOnly: isReadOnly, isAdmin: isAdmin, orgId: orgId, active:"groups", navigation: navigation /}

<h3>&{'_hub.CreateGroup'}</h3>
<form action="" id="groupForm" class="form-delving">

<div class="row">
    <div class="groups-name span4">
        #{form.textField name:"name", form: groupForm, label:messages.get('_hubb.Name'), dataBind:"value: name, enable: canChangeGrantType", required: true /}
    </div>
    <div class="groups-grants span4">
        <div class="control-group" data-bind="visible: canChangeGrantType">
            <label class="control-label" for="grantType">&{'_hubb.ThisGroupGrants'}<span class="label">&{'_hub.Required'}</span></label>
            <div class="controls">
                <select id="grantType" name="grantType" data-bind="value: roleKey">
                #{list roles, as: 'r'}
                    <option value="${r.key}">&{r.value}</option>
                #{/list}
                </select>
                <span class="error">${views.Helpers.showError('roleKey', null)}</span>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="groups-members span4">
        <div class="control-group">
            <label class="control-label" for="users">&{'_hubb.Users'}</label>
            <div class="controls">
            #{boundAddRemoveTokenField id:"users", name:"users", searchUrl: "/users/search", dataBind:"tokens: users" /}
                <p>&{'_hub.AddANewMember'}</p>
            </div>
        </div>
    </div>
    <div class="groups-resources span4" data-bind="visible: canChangeGrantType() && (rolesWithResources().indexOf(roleKey()) > -1)  && !(rolesWithResourceAdmin.indexOf(roleKey()) > -1)">
        <div class="control-group">
            <label class="control-label" for="resourceTokenInput">&{'_hubb.Resources'}</label>
            <div class="controls">
                <input type="text" id="resourceTokenInput" data-bind="tokens: resources">
            </div>
        </div>
    </div>
</div>

<div class="well">
    #{btnButton label: messages.get('_hub.SaveGroup'), extraClass:"btn-primary", id:"saveButton", type:"submit" /}
    <div class="wait"></div>
</div>

</form>

<script type="text/javascript">
    $(document).ready(function () {

        var groupModel = {
          resourceType: function() {
            return $.grep(groupModel.rolesResourceType(), function(item, index) { return item.roleKey() == groupModel.roleKey() })[0];
          },
          resourceTypeName: function() {
            console.log("gmodel " + this)
            return groupModel.resourceType().resourceTypeName();
          },
          resourceTypeKey: function() {
            var rt = groupModel.resourceType();
            if(typeof rt === 'undefined') {
              return "";
            } else {
              return groupModel.resourceType().resourceType();
            }
          },
          resourceTokensUrl: function() {
            return '/organizations/${orgId}/groups/resources/' + groupModel.resourceTypeKey() + '/search';
          }
        };

        load(${data.raw()}, groupModel, null, function () {
            $("body").css('visibility', 'visible');
        }, function() {
          return $('#resourceTokenInput').tokenInput(groupModel.resourceTokensUrl);
        });

        $('#saveButton').click(function (event) {
            event.preventDefault();
            handleSubmit('/organizations/${orgId}/groups/submit', groupModel, '#groupForm', '/organizations/${orgId}/groups');
        });
    });
</script>