#{extends viewUtils.themeProperty('themeLayout') /}

#{set title: viewUtils.getKey('thing.groups') /}

#{set bodyId: 'organization' /}

#{breadcrumbs /}

#{organizationNavBar orgId: orgId, active:"groups",
extraButtons: [
    [label: viewUtils.getKey('org.group.create'), url:"/organizations/"+orgId+"/groups/create", extraClass:"action complete", visible: isOwner]
],
isOwner: isOwner/}

<div class="g-12of12 grid_12 dashboard">

<h1 class="sep">&{'thing.groups'}</h1>

<div class="row">
    <div class="g-12of12 grid_12">
        <ol>
            #{list groups, as: 'group'}
            #{if group.grantType == models.GrantType.OWN()}
            <li>
                <strong>${group.name}</strong> - &{'org.list.memberCount', group.users.size()} &{'org.list.grantType.own'} #{if isOwner}
                <a href="/organizations/${orgId}/groups/update/${group._id}">Edit</a>#{/if}
            </li>
            #{/if}
            #{else}
            <li>
                <strong>${group.name}</strong> - &{'org.list.memberCount', group.users.size()} &{'org.list.grantType.' + models.GrantType.name(group.grantType)} &{'org.list.dataSetCount', group.dataSets.size()}#{if isOwner}
                <a href="/organizations/${orgId}/groups/update/${group._id}">Edit</a>#{/if}
            </li>
            #{/else}
            #{/list}
        </ol>
    </div>
</div>

</div>
