#{extends themeInfo.get('themeLayout') /}

#{set title: messages.get('thing.groups') /}

#{set bodyId: 'organization' /}

#{breadcrumbs configuration: themeInfo.getConfiguration() /}

#{organizationNavBar orgId: orgId, active:"groups", navigation: navigation /}

<div class="row">
    <div class="span12">
        <table class="table table-striped">
            <caption>&{'org.group.list'}</caption>
            <thead>
                <th>&{'thing.name'}</th>
                <th>&{'thing.action'}</th>
            </thead>
            <tbody>
            #{list groups, as: 'group'}
                #{if group.roleKey == models.Role.OWN().key}
                <tr>
                    <td>${group.name} - &{'org.list.memberCount', group.users.size()} &{'org.list.grantType.own'}</td>
                    <td>#{if isAdmin}<a class="btn btn-primary btn-mini" href="/organizations/${orgId}/groups/update/${group._id}">&{'ui.label.edit'}</a>#{/if}</td>
                </tr>
                #{/if}
                #{else}
                <tr>
                    <td>${group.name} - &{'org.list.memberCount', group.users.size()}</td>
                    <td>#{if isAdmin}
                        <a class="btn btn-primary btn-mini" href="/organizations/${orgId}/groups/update/${group._id}">&{'ui.label.edit'}</a>
                        <a class="btn btn-danger btn-mini delete" id="remove${group._id}" data-remove="${group._id}">
                        ${messages.get('ui.label.delete')}
                        </a>
                    #{/if}</td>
                </tr>
                #{/else}
            #{/list}
            #{else}
                <tr>
                    <td>No groups defined</td>
                    <td>#{if isAdmin}<a class="btn btn-primary btn-mini" href="/organizations/${orgId}/groups/create">&{'org.group.create'}</a>#{/if}</td>
                </tr>
            #{/else}
            </tbody>
        </table>
    </div>
</div>

<script type="text/javascript">
    $(document).ready(function() {
        $('.delete:not(.disabled)').click(function() {
            var group = $(this).attr('data-remove');
            bootboxConfirm({
                'type': 'DELETE',
                'message' : '<h3 class="shout beware">&{'thing.confirmation'}</h3>&{'organizations.group.confirmDeletion'}',
                'action_url':'/organizations/${orgId}/groups/remove/'+ group,
                'success_url':'/organizations/${orgId}/groups'
            });
        });
    })
</script>