#{extends viewUtils.themeProperty('themeLayout') /}

#{set title: viewUtils.getKey('thing.groups') /}

<ul>
  #{list groups, as: 'group'}
  #{if group.grantType == models.GrantType.OWN()}
  <li><strong>${group.name}</strong> - &{'org.list.memberCount', group.users.size()} &{'org.list.grantType.own'}</li>
  #{/if}
  #{else}
  <li><strong>${group.name}</strong> - &{'org.list.memberCount', group.users.size()} &{'org.list.grantType.' + models.GrantType.name(group.grantType)} &{'org.list.dataSetCount'}</li>
  #{/else}
  #{/list}
</ul>
