@(id: Option[String] = None)

@import views.context._
@import views.tags.html._

@main(if(id == None) "Create new collection for user " + fullName else "Update collection for user " + fullName) {

<h1 class="grid_16">@if(id == None) { Create a new collection } else { Update a collection }</h1></h1>

<form method="post" action="" id="newCollection">
    <div class="grid_8">
        <h2>Collection Information</h2>
        <span id="required-note">* Required Fields</span>

        @textField("name", "Name", "value: name")
        @textArea("description", "Description", "value: description")

        <div class="field">
            <label for="annotations">Annotation(s)</label>

            <div class="inputs">
                <select id="annotationType">
                    <option>Person</option>
                    <option>Place</option>
                    <option>Event</option>
                    <option>Concept</option>
                </select>
                <input type="text" class="textinput" id="annotationText"/>

                <input type="button" name="add-annotations-button" id="add-annotation-button" value="Add Annotation"/>
                <span class="error"></span>

                <div id="annotations" class="display-box">
                    <p class="developers-note ui-state-error ui-corner-all">
                        <span class="ui-icon ui-icon-alert" style="float: left; margin-right: .3em;"></span>
                        [TODO: populate with above form elements in the form of
                        <i>annotationText (annotationType)</i> with knockout.js]
                    </p>
                </div>


            </div>
        </div>

        <div class="field">
            <label for="public">Public</label>

            <div class="inputs">
                <input type="radio" checked="checked" value="0" id="public-0" name="public">Not Public

                <input type="radio" value="1" id="public-1" name="public">Public

            </div>
        </div>
    </div>

    <div class="grid_8">
        <h2>Add objects to your collection</h2>
        <div class="field">
            <div class="inputs">
        <button id="addObject">Add an Object</button>
                </div>
                <div id="objects" class="display-box">
                    <p class="developers-note ui-state-error ui-corner-all">
                        <span class="ui-icon ui-icon-alert" style="float: left; margin-right: .3em;"></span>
                        [TODO: populate with objects selected with above button]
                    </p>
                </div>
        </div>
    </div>

    <div class="objects-container" id="objects-dialogue" style="display: none;" title="Select Object(s)">
        <div id="objects-list">
        <table>
            <tbody>
            <tr>
                <td><input type="checkbox" value="{object-id}"/></td>
                <td><img src='@asset("/public/images/dummy-object.png")' width="50" /></td>
                <td><h4>Object Name</h4></td>
            </tr>
            <tr>
                <td><input type="checkbox" value="{object-id}"/></td>
                <td><img src='@asset("/public/images/dummy-object.png")' width="50" /></td>
                <td><h4>Object Name</h4></td>
            </tr>
            <tr>
                <td><input type="checkbox" value="{object-id}"/></td>
                <td><img src='@asset("/public/images/dummy-object.png")' width="50" /></td>
                <td><h4>Object Name</h4></td>
            </tr>
            <tr>
                <td><input type="checkbox" value="{object-id}"/></td>
                <td><img src='@asset("/public/images/dummy-object.png")' width="50" /></td>
                <td><h4>Object Name</h4></td>
            </tr>
            <tr>
                <td><input type="checkbox" value="{object-id}"/></td>
                <td><img src='@asset("/public/images/dummy-object.png")' width="50" /></td>
                <td><h4>Object Name</h4></td>
            </tr>
            <tr>
                <td><input type="checkbox" value="{object-id}"/></td>
                <td><img src='@asset("/public/images/dummy-object.png")' width="50" /></td>
                <td><h4>Object Name</h4></td>
            </tr>
            <tr>
                <td><input type="checkbox" value="{object-id}"/></td>
                <td><img src='@asset("/public/images/dummy-object.png")' width="50" /></td>
                <td><h4>Object Name</h4></td>
            </tr>
            <tr>
                <td><input type="checkbox" value="{object-id}"/></td>
                <td><img src='@asset("/public/images/dummy-object.png")' width="50" /></td>
                <td><h4>Object Name</h4></td>
            </tr>
            </tbody>
        </table>
        </div>
        <div class="actions">
            <button>Add selected object(s)</button>
        </div>
    </div>
</form>

<script type="text/javascript" language="javascript">
    $("#addObject").click(function(event) {
        $("#objects-dialogue").dialog();
        event.preventDefault();
    })
    var viewModel = {

    }

   var annotation = function (name, type) {
       this.name = name;
       this.type = type;
       this.remove = function(){
            viewModel.annotations.remove(this)
       }
    }


</script>

}