@(id: Option[String] = None)(implicit viewModel: Option[Class[_ <: controllers.ViewModel]] = None)

@import views.context._
@import views.tags.html._

@header(if(id == None) "Create new collection for user " + fullName else "Update collection for user " + fullName) {
<div class="breadcrumbs">
    <a href="@action(controllers.Application.index)">Home</a><span class="arrow"> &gt; </span>
    <a href="/collections">Collections</a><span class="arrow"> &gt; </span>
    <span class="current">@if(id == None) { Create a collection } else { Update collection }</span>
</div>

<h1 class="grid_16 alpha">@if(id == None) { Create a collection } else { Update collection }</h1>

<div data-bind="text: errors().global"></div>

<div class="grid_8 alpha">

<form method="post" action="" id="collectionForm">

    <span class="required-note"><span>*</span> Required Fields</span>

    @textField("name", "Name", "value: name", " ",  false, "required")
    @textArea("description", "Description", "value: description", " ",  "required")
    <!--@labelField("label", "Label", "value: label")-->

    <!--<h2>Add objects to your collection</h2>-->

    <div class="actions">
            <button class="add image-add" id="addObject">Add object(s)</button>
    </div>

    <div id="objectList" data-bind="template: {name:'objectsList', templateOptions: {title: 'Objects in your collection', objects: objects, thumbnail: thumbnail} }"></div>

    <div class="objects-container" id="objects-dialogue" title="Select Object(s)">
        <div id="objects-list" data-bind="template: {name: 'availableObjectsList', templateOptions: {selectedIds: selectedObjects, availableObjects: availableObjects}}"></div>
    </div>

    <div class="field">
        <label for="public-0">Public</label>

        <div class="inputs">
            <input type="radio" checked="checked" value="0" id="public-0" name="public">Not Public
            <input type="radio" value="1" id="public-1" name="public">Public
        </div>
    </div>

    <div class="actions">
      <button class="save collection-save" id="saveButton" type="submit">Save Collection</button><div class="wait"></div>
    </div>

</form>
</div>

<script type="text/javascript" language="javascript">
    $(document).ready(function() {

        // load templates
        $.get('@asset("/public/themes/common/templates/_availableObjects.tmpl.html")', null, function(template) {
          addTemplate('availableObjectsList', template);
        });
        $.get('@asset("/public/themes/common/templates/_selectedObjects.tmpl.html")', null, function(template) {
          addTemplate('objectsList', template);
        });

        var collectionModel = {
            selectedObjects: ko.observableArray(),
            removeObject: function(object) {
                this.availableObjects.push(object);
                this.objects.remove(object);
            }
        };

        $('#objects-dialogue').dialog({
            autoOpen: false,
            buttons: {
                "Add selected objects": function() {
                    addSelectedObjects(collectionModel.objects, collectionModel.selectedObjects, collectionModel.availableObjects);
                    $(this).dialog('close');
                }
            }
        });

        $("#addObject").click(function(event) {
            event.preventDefault();
            $("#objects-dialogue").dialog('open');
        });

        $('#saveButton').click(function(event) {
            event.preventDefault();
            handleSubmit('/@userName/collection/submit', collectionModel, '#collectionForm', '/@userName/collection/' + collectionModel.id());
        });

        load('/@userName/collection/load/@id.getOrElse("")', collectionModel);

        var viewModel = { };

        var annotation = function (name, type) {
            this.name = name;
            this.type = type;
            this.remove = function() {
                viewModel.annotations.remove(this)
            }
        }
    });
</script>

}