#{extends viewUtils.themeProperty('themeLayout') /}

#{set title: viewUtils.getKey('org.admin.index.title') /}

#{breadcrumbs /}

#{organizationNavBar orgId: orgId, active:"administration", isOwner: isOwner /}

<h1 class="sep">${orgId}</h1>

<div class="row">
  <div class="g-4of12">
    <h3>Members</h3>

    <div>
      #{addRemoveTokenField id:"members", searchUrl: "/users/search", prePopulate: members, addUrl:"/organizations/"+orgId+"/admin/users/add", removeUrl: "/organizations/"+orgId+"/admin/users/remove" /}
    </div>
    <div><p></p></div>

    <h3>Owners</h3>

    <div>
      <ul class="token-input-list">
        #{list items:owners, as:'o'}
        <li class="token-input-token">
          <p>${o}</p>
        </li>
        #{/}
      </ul>
    </div>
    <div><p>
      &{'org.admin.index.editOwners'} <a href="/organizations/${orgId}/groups/update/${ownerGroupId}">&{'org.admin.index.editOwnersLink'}</a>
    </p></div>

  </div>
</div>
