#{extends themeInfo.get('themeLayout') /}

#{set title: messages.get('_hub.OrganizationAdministration') /}

#{set bodyId: 'organization' /}

#{set 'moreCss'}
<link rel="stylesheet" type="text/css" href="@{routes.Assets.at("common/stylesheets/ui/jquery-ui-1.8.16.custom.css")}"/>
#{/set}

#{breadcrumbs crumbs: breadcrumbs /}

#{organizationNavBar isReadOnly: isReadOnly, isAdmin: isAdmin, orgId: orgId, active:"administration", navigation: navigation /}

<div class="org-admin row">

    <div class="administrators span4">
        <h3>&{'_hub.Administrators'}</h3>
        <div>
        #{addRemoveTokenField
              id:"adminInput",
              name: "adminInput",
              searchUrl: "/users/search",
              prePopulate: admins,
              addUrl: "/organizations/"+orgId+"/admin/admin/add",
              removeUrl: "/organizations/"+orgId+"/admin/admin/remove" /}
        </div>
        <div>
            <p>&{'_hub.AddAnAdministrator'}</p>
        </div>
    </div>

    <div class="members span4">
        <h3>&{'_hub.Members'}</h3>
        <div>
        #{addRemoveTokenField id:"members", searchUrl: "/users/search", prePopulate: members, addUrl:"/organizations/"+orgId+"/admin/users/add", removeUrl: "/organizations/"+orgId+"/admin/users/remove", removeConfirmation: messages.get('_hub.RemovingAMemberWillAlso') /}
        </div>
        <div>
            <p>&{'_hub.AddANewMember'}</p>
        </div>
    </div>

</div>