#{extends viewUtils.themeProperty('themeLayout') /}
#{set title: title /}
#{breadcrumbs /}

<div class="grid_16 alpha" id="items">

    <h2>&{'user.list.browse'} (${count})</h2>

    #{if items.length() > 0}
    <div class="item-nav">
        <div id="pager">#{pagination selector: "#pager", count: count, start: page /}</div>
    </div>
    #{/if}
    #{else}
      <p>&{'user.list.noUsers'}</p>
    #{/else}

    <div class="clear"></div>
    <div class="items">
    #{list items, as: 'i'}
    <div class="item two-col">
      <div class="inner">
        <div class="media medium">
            <img src='${views.context.package.thumbnailUrl(i.thumbnail)}' width="84" alt="${i.title}"/>
        </div>
        <div class="metadata">
            <div class="hd">
                <h4><a href="/${i.userName}/">${i.title}</a></h4>
            </div>
            <div class="bd">
              ${i.description}
            </div>
            <div class="ft">
            #{if i.userName == userName}
            <div class="actions">
                <a class="action edit image-edit" href="/${i.userName}/profile/update">&{'user.list.editProfile'}</a>
            </div>
            #{/if}
            </div>
        </div>
       </div>
    </div>
    #{/list}
    </div>
</div>