@(users: List[controllers.ShortUser], page: Int, count: Int)

@import views.context._
@import views.tags.html._

@header("List of users") {

<div class="grid_16 alpha" id="items">

    <h2>Browse users (@count)</h2>

    <div class="item-nav">
        <div id="pager">@pagination(selector = "#pager", count = count, start = page)</div>
    </div>

    <div class="clear"></div>

    @for(u <- users) {
    <div class="item one-col">
      <img src='/images/' width="84" alt="@u.name"/>
      <h4><a href="/u.userName/profile">@u.name</a></h4>
    </div>
    }
</div>

}