#{extends themeInfo.get('themeLayout') /}

#{set title: title /}

#{breadcrumbs crumbs: breadcrumbs /}

<h1>&{'_hub.BrowseUsers'} (${count})</h1>

<div class="span12">
#{if items.length() > themeInfo.pageSize()}
    #{pagination selector: ".pager", count: count, start: page /}
#{/if}
#{elseif items.length() == 0}
    <p>&{'_hub.ThereAreCurrentlyNoUsers'}</p>
#{/elseif}
</div>

%{ def counter = 1 }%

#{list items, as: 'i'}

    #{if counter == 1}
    <div class="row">
    #{/if}

    <div class="span3">
        <div class="media ${itemName}">

            <a href="/${i.userName}/" class="img" rel="nofollow">
                #{gravatar.img i.email /}
            </a>

            <div class="bd">
                <div class="metadata">

                    <a href="/${i.userName}/" class="title" rel="nofollow">${i.userName}</a>

                    #{if i.email}
                        <div class="more-info">
                            <div class="inner">
                                #{if i.userName == userName}
                                    <div class="actions">
                                        <a class="action edit image-edit"
                                           href="/${i.userName}/admin/profile/update">&{'_hub.EditYourProfile'}</a>
                                    </div>
                                #{/if}
                            </div>
                        </div>
                    #{/if}

                </div>
            </div>
        </div>
    </div>

%{ counter++ }%

    #{if counter > 4 || i_isLast }
    </div><!-- end row -->
    %{ counter = 1 }%
    #{/if}

#{/list}

#{if items.length() > themeInfo.pageSize()}
<div class="row">
    <div class="span12">
        #{pagination selector: ".pager", count: count, start: page /}
    </div>
</div>
#{/if}