@(user:models.User)

@import views.context._

@header("List of collections") {
<div class="grid_12 alpha" id="items">
        <h2>All the collections of <span>[ user name from url goes here ]</span></h2>
        <div class="item-nav">
            <div class="item-count">
                Found: <span>6</span> collections
            </div>
            <!--<div class="item-pager">-->
                <!--<span class="ltarrow">&lt;</span> Previous<span class="pipe"> | </span>-->
                <!--<span>1</span><span class="pipe"> | </span>-->
                <!--<a href="#">2</a><span class="pipe"> | </span>-->
                <!--<a href="#">3</a><span class="pipe"> | </span>-->
                <!--<a href="#">4</a><span class="pipe"> | </span>-->
                <!--<a href="#">5</a><span class="pipe"> | </span>-->
                <!--<a href="#">6</a><span class="pipe"> | </span>-->
                <!--<a href="#">7</a><span class="pipe"> | </span>-->
                <!--<a href="#" class="next">Next <span class="gtarrow">&gt;</span></a>-->
            <!--</div>-->
        </div>

        @for(i <- 0 until 6) {

        <div class="item three-col">
            <img src='@asset("/public/images/dummy-object.png")' width="84"/>
            <h4><a href="">Title_@i</a></h4>
            <!--<label>Owner</label><a href="">User Name</a><br/>-->
            <span class="description">Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor.</span>
            @if(renderArgs.get("displayName") != null) {
                <span class="options"><a href>Edit Collection</a></span>
            }
        </div>
        }
    </div>
    <div class="grid_4 omega">
        @if(renderArgs.get("displayName") != null) {
                 <a href='/@renderArgs.get("displayName")/collection/add'>Create a new collection</a>
        }
    </div>
}