@(collections: List[controllers.ShortCollection], page: Int, count: Int)

@import views.context._
@import views.tags.html._

@header(if(browsedUserName != null) "List of collections for user %s".format(browsedUserName) else "List of collections") {

<div class="breadcrumbs">
    <a href="@action(controllers.Application.index)">Home</a><span class="arrow"> &gt; </span>
    <span class="current">Collections</span>
</div>

<div class="grid_12 alpha" id="items">

      @if(browsedUserName!=null) {
          <h2>Browse collections owned by: <span>@browsedUserName</span> (@count)</h2>
      } else {
          <h2>Browse collections  (@count)</h2>
      }

      @if(collections.length > 0) {
      <div class="item-nav">
          <div id="pager">@pagination(selector = "#pager", count = count, start = page)</div>
      </div>
      }   else {
          <p>There are currently no collections available</p>
      }

      @for(c <- collections) {

      <div class="item one-col">
          <div class="media medium">
          <img src='@thumbnailUrl(c.thumbnail)' width="84" alt=""/>
          </div>
          <div class="metadata">
          <h4><a href="/@c.userName/collection/@c.id">@c.name</a></h4>
          <p>@c.shortDescription</p>
          </div>

          @if(c.userName == userName) {
          <div class="actions">
              <a class="edit" href="/@c.userName/collection/@c.id/update">Edit Collection</a>
          </div>
          }
      </div>
      }
  </div>
  <!--<div class="grid_4 omega">-->
      <!--@if(connectedIsBrowsed) {-->
          <!--<div class="actions ar">-->
               <!--<a class="add collection-add" href='/@userName/collection/add'>Create a new collection</a>-->
          <!--</div>-->
      <!--}-->
  <!--</div>-->
}