@(collections: List[controllers.ShortCollection], page: Int, count: Int)

@import views.context._
@import views.tags.html._

@header(if(browsedUserName != null) "List of collections for user %s".format(browsedUserName) else "List of collections") {

<div class="grid_12 alpha" id="items">

      @if(browsedUserName!=null) {
          <h2>Browse collections owned by: <span>@browsedUserName</span></h2>
      } else {
          <h2>Browse collections</h2>
      }

      <div class="item-nav">
          <div class="item-count">
              Found: <span>@count</span> collections
          </div>
          <div class="item-pager">
            <div id="pager">@pagination(selector = "#pager", count = count, start = page)</div>
          </div>
      </div>

      @for(c <- collections) {

      <div class="item three-col">
          <img src='@asset("/public/images/dummy-object.png")' width="84" alt=""/>
          <h4><a href="/@c.userName/collection/@c.id">@c.name</a></h4>
          <!--<label>Owner</label><a href="">User Name</a><br/>-->
          <span class="description">@c.shortDescription</span>
          @if(c.userName == userName) {
              <span class="options"><a class="edit" href="/@c.userName/collection/@c.id/update">Edit Collection</a></span>
          }
      </div>
      }
  </div>
  <div class="grid_4 omega">
      @if(connectedIsBrowsed) {
          <div class="actions ar">
               <a class="add collection-add" href='/@renderArgs.get("displayName")/collection/add'>Create a new collection</a>
          </div>
      }
  </div>
}