/*---------------------------------
	TABS
-----------------------------------*/
ul.tabs{
    margin:10px 0 -1px 0;
    padding:0;
    width:100%;
    border-bottom:1px solid #e5e5e5;
    float:left;
}

ul.tabs.left{text-align:left;}
ul.tabs.center{text-align:center;}
ul.tabs.right{text-align:right;}

ul.tabs li{
    list-style-type:none;
    margin:0 2px 0 0;
    padding:0;
    display:inline-block;
    *display:inline;/*IE ONLY*/
    position:relative;
    top:0;
    left:0;
    *top:1px;/*IE 7 ONLY*/
    zoom:1;
}

ul.tabs li a{
    text-decoration:none;
    color:#666;
    display:inline-block;
    padding:9px 15px;
    position: relative;
    top:0;
    left:0;
    line-height:100%;
    background:#f5f5f5;
    box-shadow: inset 0px -3px 3px rgba(0,0,0,0.03);
    border:1px solid #e5e5e5;
    border-bottom:0;
    font-size:0.9em;
    zoom:1;
}

ul.tabs li a:hover{
    background:#fff;
}

ul.tabs li.current a{
    position:relative;
    top:1px;
    left:0;
    background:#fff;
    box-shadow: none;
    color:#222;
}

.tab-content{
    border:1px solid #efefef;
    border-left:1px solid #e5e5e5;
    clear:both;
    padding:10px;
    margin:0 0 40px 0;
}

/* w/icon */
ul.tabs .icon{
    margin:-3px 7px -3px -5px;
    position:relative;
    top:-2px;
    left:0;
}