#{extends themeInfo.get('themeLayout') /}
#{set title: messages.get('thing.virtualCollections') /}
#{set bodyId: 'organization' /}

#{breadcrumbs theme: themeInfo.getTheme() /}

#{organizationNavBar orgId: orgId, active:"virtual-collections", isOwner: isOwner, isCMSAdmin: isCMSAdmin /}

<div class="row">

    <div class="span12">

            <table class="table">
                *{<caption>&{'thing.virtualCollections'}</caption>}*
                <thead>
                <tr>
                    <th>&{'thing.title'}</th>
                    <th>&{'thing.actions'}</th>
                </tr>
                </thead>
                <tbody>
                #{list virtualCollections, as: 'vc'}
                <tr>
                    <td>
                        <span>${vc.spec}</span>
                    </td>
                    <td>
                        #{if isOwner}
                        <a class="btn btn-primary btn-prominent" href="/organizations/${orgId}/virtualCollection/${vc.spec}/update">
                            &{'ui.label.edit'}
                        </a>
                        <a id="${vc.spec}" class="btn btn-danger pull-right" href="#">
                            &{'ui.label.delete'}
                        </a>
                        #{/if}
                    </td>
                </tr>
                #{/list}
                </tbody>
            </table>
    </div>
</div>

<div id="dialog-confirm-collection-delete" title="&{'organization.virtualCollection.deleteCollection'}" style="display: none;">
    <p>
        <span class="ui-icon ui-icon-alert" style="float:left; margin:0 7px 20px 0;"></span>
        &{'organization.virtualCollection.deleteCollectionConfirm'}
    </p>
</div>

<script type="text/javascript">
    $(document).ready(function () {

        $('.delete').click(function(el) {
                confirmDeletion('#dialog-confirm-collection-delete', function () {
                    $.ajax({
                        url: '/organizations/${orgId}/virtualCollection/' + el.target.id,
                        type: 'DELETE',
                        success: function() {
                            document.location = '/organizations/${orgId}/virtualCollection/list'
                        }
                    });
                });
        });


    });
</script>