#{extends themeInfo.get('themeLayout') /}
#{set title: messages.get('thing.virtualCollections') /}
#{set bodyId: 'organization' /}

#{breadcrumbs theme: themeInfo.getTheme() /}

#{organizationNavBar orgId: orgId, active:"virtual-collections", isOwner: isOwner, isCMSAdmin: isCMSAdmin, currentLanguage: currentLanguage /}

<div class="row">

    <div class="span12">

            <table class="table table-striped">
                <caption>&{'thing.virtualCollections'}</caption>
                <thead>
                <tr>
                    <th>&{'thing.title'}</th>
                    <th width="35%">&{'thing.actions'}</th>
                </tr>
                </thead>
                <tbody>
                #{list virtualCollections, as: 'vc'}
                <tr>
                    <td>
                        <span>${vc.name}</span>
                    </td>
                    <td>
                        #{if isOwner}
                        <a class="btn btn-primary btn-mini" href="/organizations/${orgId}/virtualCollection/${vc.spec}/update">
                            <i class="icon-edit icon-white"></i> &{'ui.label.edit'}
                        </a>
                        <a id="${vc.spec}" class="btn btn-danger btn-mini delete pull-right" href="#">
                            <i class="icon-trash icon-white"></i> &{'ui.label.delete'}
                        </a>
                        #{/if}
                    </td>
                </tr>
                #{/list}
                #{else}
                <tr>
                    <td>
                        No virtual collections are defined
                    </td>
                    <td>
                        #{if isOwner}
                            <a class="btn btn-primary btn-mini" href="/organizations/${orgId}/virtualCollection/add"><i class="icon-plus-sign icon-white"></i>&#160;&{'org.vc.new'}</a>
                        #{/if}
                    </td>
                </tr>
                #{/else}
                </tbody>
            </table>
    </div>
</div>

</div>
<div id="dialog-confirm-collection-delete" title="&{'org.vc.deleteCollection'}" style="display: none;">
    <p>
        <span class="ui-icon ui-icon-alert" style="float:left; margin:0 7px 20px 0;"></span>
        &{'org.vc.deleteCollectionConfirm'}
    </p>
</div>

<script type="text/javascript">

$(document).ready(function () {
    $('.delete').click(function(el) {
        confirmDeletion('#dialog-confirm-collection-delete', function () {
            $.ajax({
                url: '/organizations/${orgId}/virtualCollection/' + el.target.id,
                type: 'DELETE',
                success: function() {
                    document.location = '/organizations/${orgId}/virtualCollection'
                }
            });
        });
    });
});

</script>