#{extends themeInfo.get('themeLayout') /}
#{set title: messages.get('thing.virtualCollection') + ' ' + name + ' - ' + messages.get('thing.organization') + ': ' + orgId /}
#{set bodyId: 'organization' /}

#{breadcrumbs theme: themeInfo.getTheme() /}

#{organizationNavBar orgId: orgId, active:"virtual-collections", navigation: navigation /}

<h2>${name}</h2>

<div class="row">
    <div class="span6">
        <dl>
            <dt>&{'ui.label.identifier'}</dt>
            <dd>${spec}</dd>
            <dt>&{'thing.name'}</dt>
            <dd>${name}</dd>
            <dt>&{'org.vc.referencedDatasets'}</dt>
            <dd><ul>
                #{list referencedDatasets, as: 'ds'}
                    <li><a href="@{controllers.organization.routes.DataSets.dataSet(orgId, ds)}">${ds}</a></li>
                #{/list}
            </ul>
            </dd>
            <dt>&{'org.vc.queryDatasets'}</dt>
            <dd><ul>
                #{list queryDatasets, as: 'ds'}
                    <li><a href="@{controllers.organization.routes.DataSets.dataSet(orgId, ds)}">${ds}</a></li>
                #{/list}
            </ul>
            </dd>
            <dt>&{'ui.label.nritems'}</dt>
            <dd>${recordCount}</dd>
        </dl>
    </div>
    <div class="span6">
        <div class="well">
            <a href="/organizations/${orgId}/virtualCollection/${spec}/update" class="btn btn-mini btn-primary">&{'ui.label.edit'}</a>
            <a href="/organizations/${orgId}/virtualCollection" class="btn btn-mini">&{'org.vc.list'}</a>
        </div>
    </div>

</div>




