#{extends themeInfo.get('themeLayout') /}
#{set title: messages.get('thing.virtualCollection') + ' ' + name + ' - ' + messages.get('thing.organization') + ': ' + orgId /}
#{set bodyId: 'organization' /}

#{breadcrumbs theme: themeInfo.getTheme() /}

#{organizationNavBar orgId: orgId, active:"virtualCollection", isOwner: isOwner, isCMSAdmin: isCMSAdmin /}


<div class="tab-content">

#{vcNavBar currentLanguage:currentLanguage, orgId: orgId/}

    <div class="row">
        <h2>&{'thing.virtualCollection'} "${name}"</h2>

        <div class="info-box">
            <span class="label">&{'ui.label.identifier'}</span>
            <span class="text">${spec}</span>
        </div>
        <div class="info-box">
            <span class="label">&{'thing.name'}</span>
            <span class="text">${name}</span>
        </div>
        <div class="info-box">
            <span class="label">&{'thing.datasets'}</span>
            <span class="text">#{list dataSets, as: 'ds'}<a
                    href="@{controllers.organization.routes.DataSets.dataSet(orgId, ds)}">${ds}</a>#{/list}</span>
        </div>
        <div class="info-box">
            <span class="label">&{'ui.label.nritems'}</span>
            <span class="text">${recordCount}</span>
        </div>
    </div>

</div>




