#{extends themeInfo.get('themeLayout') /}
#{set title: messages.get('thing.virtualCollections') /}
#{set 'moreCss'}
<link rel="stylesheet" type="text/css" media="screen"
      href="@{routes.Assets.at('/common/stylesheets/virtual-collections/virtual-collections.css')}"/>
#{/set}
#{set bodyId: 'organization' /}

#{breadcrumbs theme: themeInfo.getTheme() /}

#{organizationNavBar orgId: orgId, active:"virtual-collections", isOwner: isOwner, isCMSAdmin: isCMSAdmin, currentLanguage: currentLanguage/}


<div class="row">
    <div class="span6">

        <h3>${messages.get('Virtual Collection Information')}</h3>

        <form id="virtualCollectionForm" method="post" action="" class="form-delving">
            <div data-bind="text: errors().global"></div>
            #{textField name:"spec", form:virtualCollectionForm, label:messages.get('org.vc.spec'), dataBind:"value: spec", required: true /}
            #{textField name:"name", form:virtualCollectionForm, label:messages.get('thing.name'), dataBind:"value: name", required: true /}
            #{textField name:"dataSets", form:virtualCollectionForm, label:messages.get('thing.datasets'), dataBind:"value: dataSets", required: false /}
            #{textField name:"includeTerm", form:virtualCollectionForm, label:messages.get('org.vc.query'), dataBind:"value: freeFormQuery", required: false /}
            #{textField name:"excludedIdentifiers", form:virtualCollectionForm, label:messages.get('org.vc.excludedIds'), dataBind:"value: excludedIdentifiers", required: false /}
            <hr/>
            #{btnButton label: "Preview", extraClass:"btn-prominent btn-inverse", iconClass:"icon-eye-open icon-white", id:"previewButton", type:"button" /}
            <hr/>
            <div class="well">
            #{btnButton label: messages.get('ui.label.cancel'), id:"cancelButton", type:"reset" /}
            #{btnButton label: messages.get('ui.label.reset'), type:"reset" /}
            #{btnButton label: messages.get('org.vc.save'), extraClass:"btn-prominent btn-primary pull-right", id:"saveButton", type:"submit" /}
            <div class="wait"></div>
            </div>
        </form>
    </div>
    <div id="result" class="span6">
        <h3>${messages.get('Virtual Collection Preview')}</h3>

        <div class="panel">
            <div id="previewList" style="visibility: hidden">
                <div id="querySummary">
                    Query: <span data-bind="text: query.terms()"> </span>,
                    Results found: <span data-bind="text: query.numfound()"> </span>
                </div>


                    <div class="pagination">
                        <ul data-bind="foreach: pagination.links()">
                            <!-- ko if: $data.isLinked() -->
                            <li>
                                <a href="#" data-bind="click: function() { $root.paginate($data.start()); }, text: $data.pageNumber()"></a>
                            </li>
                            <!-- /ko -->
                            <!-- ko ifnot: $data.isLinked() -->
                            <li class="active">
                                <a href="#" data-bind="text: $data.pageNumber()"></a>
                            </li>
                            <!-- /ko -->
                        </ul>
                    </div>
                    <hr/>

                <div id="results" data-bind="foreach: items()">
                    <div class="resultItem media">
                        <div class="img clip clip-40">
                            <!-- ko if: typeof delving_thumbnail !== 'undefined' -->
                            <img data-bind="attr: { src: delving_thumbnail }" width="40" onerror="showDefaultImg(this);"/>
                            <!-- /ko -->
                        </div>
                        <div class="bd">
                            <strong>Title:</strong> <span data-bind="text: delving_title"></span><br/>
                            <strong>Provider:</strong> <span data-bind="text: delving_spec"></span><br/>
                            <strong>hubId:</strong> <span data-bind="text: delving_hubId"></span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<script type="text/javascript">
    $(document).ready(function () {

        var virtualCollectionModel = {};
        var resultModel = {

            initialized:false,
            paginate:function (start) {
                search(resultModel.initialQuery, resultModel.orgId, start);
            }

        };

        $('#saveButton').click(function (event) {
            event.preventDefault();
            handleSubmit('/organizations/${orgId}/virtualCollection/submit', virtualCollectionModel, '#virtualCollectionForm', null, function () {
                window.location.href = '/organizations/${orgId}/virtualCollection/' + virtualCollectionModel.spec();
            });
        });

        load(${data.raw()}, virtualCollectionModel, document.getElementById('virtualCollectionForm'), function () {
            if (virtualCollectionModel.hasOwnProperty("id")) {
                var query = composeQuery($('#dataSets').val(), $('#includeTerm').val(), $('#excludedIdentifiers').val());
                search(query, '${orgId}', 1);
            }
            $("body").css('visibility', 'visible');
        });

        $('#previewButton').click(function (event) {
            var query = composeQuery($('#dataSets').val(), $('#includeTerm').val(), $('#excludedIdentifiers').val());
            search(query, '${orgId}', 1);
        });

        function composeQuery(dataSets, freeFormQuery, excludedIdentifiers) {
            var dataSetCondition = "";
            if (dataSets) {
                var dataSetList = dataSets.split(",");
                $.each(dataSetList, function (index, el) {
                    if (el.length > 0) {
                        var initial = dataSetCondition.length == 0;
                        if (initial) {
                            dataSetCondition = dataSetCondition + '(';
                        }
                        dataSetCondition = dataSetCondition + 'delving_spec:' + el.trim() + ' ';
                        if (index == dataSetList.length - 1) {
                            dataSetCondition = dataSetCondition + ')';
                        }
                    }
                });
            }
            var excludedIdentifiersCondition = "";
            if (excludedIdentifiers) {
                var excludedIdsList = excludedIdentifiers.split(",");
                $.each(excludedIdsList, function (index, el) {
                    if (el.length > 0) {
                        var initial = excludedIdentifiersCondition.length == 0;
                        if (initial) {
                            excludedIdentifiersCondition = excludedIdentifiersCondition + '(';
                        }
                        excludedIdentifiersCondition = excludedIdentifiersCondition + 'delving_hubId:"' + el.trim() + '"';
                        if (index < excludedIdsList.length - 1) {
                            excludedIdentifiersCondition = excludedIdentifiersCondition + ' OR ';
                        }
                        if (index == excludedIdsList.length - 1) {
                            excludedIdentifiersCondition = excludedIdentifiersCondition + ')';
                        }
                    }
                });
            }
            return (dataSetCondition.length > 0 ? (dataSetCondition + ' ') : '') + freeFormQuery + (excludedIdentifiersCondition.length > 0 ? ' NOT ' + excludedIdentifiersCondition : '');
        }

        function search(query, orgId, start) {

            $.get('/organizations/' + orgId + '/search?query=' + query + ' + &format=json&start=' + start, null, function (data) {
                resultModel.initialQuery = query;
                resultModel.orgId = orgId;
                if (resultModel.initialized) {
                    ko.mapping.fromJS(data.result, resultModel);
                } else {
                    $("#previewList").css('visibility', 'visible');
                    $.extend(resultModel, ko.mapping.fromJS(data.result));
                    ko.applyBindings(resultModel, document.getElementById('result'));
                    resultModel.initialized = true;
                }
            });
        }

    });
</script>