#{extends themeInfo.get('themeLayout') /}
#{set title: messages.get('thing.virtualCollections') /}

#{set 'moreScripts'}
<script type="text/javascript" src="@{routes.Assets.at("common/javascripts/bootstrap/bootstrap-typeahead.js")}"></script>
<script type="text/javascript" src="@{routes.Assets.at("common/javascripts/bootstrap/bootstrap-collapse.js")}"></script>
#{/set}

#{set 'moreCss'}
<link rel="stylesheet" type="text/css" media="screen" href="@{routes.Assets.at('/common/stylesheets/virtual-collections/virtual-collections.css')}"/>
#{/set}

#{set bodyId: 'organization' /}

#{breadcrumbs theme: themeInfo.getTheme() /}

#{organizationNavBar orgId: orgId, active:"virtual-collections", navigation: navigation /}

<div class="accordion" id="instructions">
    <div class="accordion-group">
        <div class="accordion-heading  clearfix">
            <a class="accordion-toggle pull-right" href="#collapseOne" data-parent="instructions" data-toggle="collapse">
                <i class="icon-question-sign"></i> &{'org.vc.help.toggle'}
            </a>
        </div>
        <div id="collapseOne" class="accordion-body collapse">
            <div class="accordion-inner">

                <div class="tabbable">

                    <ul class="nav nav-pills">
                        <li class="active"><a href="#fields" data-toggle="tab">&{'org.vc.help.fields.tab'}</a></li>
                        <li><a href="#queries" data-toggle="tab">&{'org.vc.help.queries.tab'}</a></li>
                    </ul>

                    <div class="tab-content">
                        <div class="tab-pane active" id="fields">
                            <dl>
                                <dt>&{'thing.name'}</dt>
                                <dd>&{'org.vc.help.fields.name.info'}</dd>
                                <dt>&{'org.vc.spec'}</dt>
                                <dd>&{'org.vc.help.fields.identifier.info'}</dd>
                                <dt>&{'thing.datasets'}</dt>
                                <dd>&{'org.vc.help.fields.datasets.info'}</dd>
                                <dt>&{'org.vc.query'}</dt>
                                <dd>&{'org.vc.help.fields.query.info'}</dd>
                                <dt>&{'org.vc.excludedIds'}</dt>
                                <dd>&{'org.vc.help.fields.excludedHubIds.info'}</dd>
                            </dl>
                        </div>
                        <div class="tab-pane" id="queries">
                            <p>
                            &{'org.vc.help.queries.info'}
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="span6">

        <h3>${messages.get('Virtual Collection Information')}</h3>


        <form id="virtualCollectionForm" method="post" action="" class="form-delving">
            <div data-bind="text: errors().global"></div>
            #{textField name:"name", form:virtualCollectionForm, label:messages.get('thing.name'), dataBind:"value: name", maxLength: 30, required: true /}
            #{textField name:"spec", form:virtualCollectionForm, label:messages.get('org.vc.spec'), dataBind:"value: spec", required: true,
                extHtml: '<span class="autoGen btn btn-mini" data-source="input#name" data-destination="input#spec" data-error="'+messages.get('org.vc.keyauto.error')+'" class="btn btn-mini">'+messages.get('org.vc.keyauto.button')+'</span><p class="error"></p>' /}
            #{boundAddRemoveTokenField id:"dataSets", name:"dataSets", searchUrl: "/organizations/"+orgId+"/datasets/searchBySpec", dataBind:"tokens: dataSets", required: true, label:messages.get('thing.datasets') /}
            #{textField name:"includeTerm", form:virtualCollectionForm, label:messages.get('org.vc.query'), dataBind:"value: freeFormQuery", inputClass:"span5", required: true/}
            #{textArea name:"excludedIdentifiers", form:virtualCollectionForm, label:messages.get('org.vc.excludedIds'), dataBind:"value: excludedIdentifiers", inputClass:"span5", required: false, extraCss:"height: 120px;"/}
            <hr/>
            <div class="row">
                #{btnButton label: messages.get('ui.label.preview'), extraClass:"btn-large btn-inverse span6", iconClass:"icon-eye-open icon-white", id:"previewButton", type:"button" /}
            </div>
            <hr/>
            <div class="well">
            #{btnButton label: messages.get('ui.label.cancel'), id:"cancelButton", type:"reset" /}
            #{btnButton label: messages.get('ui.label.reset'), type:"reset" /}
            #{btnButton label: messages.get('org.vc.save'), extraClass:"btn-success btn-large pull-right span3", iconClass:"icon-ok-circle icon-white", id:"saveButton", type:"submit" /}
            <div class="wait"></div>
            </div>
        </form>
    </div>
    <div id="result" class="span6">
        <h3>${messages.get('Virtual Collection Preview')}</h3>

        <div class="panel">
            <div id="previewList" style="visibility: hidden">
                <div id="querySummary">
                    *{Query: <span data-bind="text: query.terms()"> </span>,}*
                    <h6>Results found: <span data-bind="text: query.numfound()"> </span></h6>
                </div>
                <div class="pagination">
                    <ul data-bind="foreach: pagination.links()">
                        <!-- ko if: $data.isLinked() -->
                        <li>
                            <a href="#" data-bind="click: function() { $root.paginate($data.start()); }, text: $data.pageNumber()"></a>
                        </li>
                        <!-- /ko -->
                        <!-- ko ifnot: $data.isLinked() -->
                        <li class="active">
                            <a href="#" data-bind="text: $data.pageNumber()"></a>
                        </li>
                        <!-- /ko -->
                    </ul>
                </div>
                <hr/>

                <div id="results" data-bind="foreach: items()">
                    <div class="resultItem media">
                        <div class="img">
                            <!-- ko if: typeof item.fields['delving_thumbnail'] !== 'undefined' -->
                            <img data-bind="attr: { src: item.fields['delving_thumbnail'] }" width="60" onerror="showDefaultImg(this);"/>
                            <!-- /ko -->
                        </div>
                        <div class="bd">
                            <!-- ko if: typeof item.fields['delving_title'] !== 'undefined' -->
                            <strong>&{'thing.title'}:</strong> <span data-bind="text: item.fields['delving_title']"></span><br/>
                            <!-- /ko -->
                            <!-- ko if: typeof item.fields['delving_creator'] !== 'undefined' -->
                            <strong>&{'metadata.dc.creator'}:</strong> <span data-bind="text: item.fields['delving_creator']"></span><br/>
                            <!-- /ko -->
                            <!-- ko if: typeof item.fields['delving_description'] !== 'undefined' -->
                            <strong>&{'metadata.dc.description'}:</strong> <span data-bind="text: item.fields['delving_description']"></span><br/>
                            <!-- /ko -->
                            <!-- ko if: typeof item.fields['delving_provider'] !== 'undefined' -->
                            <strong>&{'metadata.dc.provider'}:</strong> <span data-bind="text: item.fields['delving_spec']"></span><br/>
                            <!-- /ko -->
                            <!-- ko if: typeof item.fields['delving_landingPage'] !== 'undefined' -->
                            <strong>&{'thing.landingPage'}:</strong> <span data-bind="text: item.fields['delving_landingPage']"></span><br/>
                            <!-- /ko -->
                            <!-- ko if: typeof item.fields['delving_hubId'] !== 'undefined' -->
                            <strong>hubId:</strong> <span data-bind="text: item.fields['delving_hubId']"></span><br/>
                            <a href="#" class="btn btn-mini btn-inverse" data-bind="click: function(){$root.exclude($data.item.fields['delving_hubId']())}"><i class="icon-minus icon-white"></i>&{'org.vc.excludedIds'}</a>
                            <!-- /ko -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<script type="text/javascript">
    $(document).ready(function () {

        var virtualCollectionModel = {};
        var resultModel = {
            initialized:false,
            paginate:function (start) {
                search(resultModel.initialQuery, resultModel.orgId, start);
            },
            exclude:function (excludeMe) {
                var exList = $('#excludedIdentifiers');
                if (!isEmpty(exList.val())){
                    virtualCollectionModel.excludedIdentifiers(virtualCollectionModel.excludedIdentifiers() + ", " + excludeMe);
                } else {
                    virtualCollectionModel.excludedIdentifiers(virtualCollectionModel.excludedIdentifiers()  + excludeMe);
                }
                // make nice list of excluded hubIds
                $('#excludedIdentifiers').val($('#excludedIdentifiers').val().replace(/^,/, '').replace(/\r?,/g, ',\n'));
            }
        };

        $('#saveButton').click(function (event) {
            event.preventDefault();
            handleSubmit('/organizations/${orgId}/virtualCollection/submit', virtualCollectionModel, '#virtualCollectionForm', null, function () {
                window.location.href = '/organizations/${orgId}/virtualCollection/' + virtualCollectionModel.spec();
            });
        });

        load(${data.raw()}, virtualCollectionModel, document.getElementById('virtualCollectionForm'), function () {
            if (virtualCollectionModel.hasOwnProperty("id")) {
                var query = composeQuery($('#dataSets').val(), $('#includeTerm').val(), $('#excludedIdentifiers').val());
                search(query, '${orgId}', 1);
            }
            $("body").css('visibility', 'visible');
        });

        $('#previewButton').click(function (event) {
            console.log($('#dataSets').val())
            var query = composeQuery($('#dataSets').val(), $('#includeTerm').val(), $('#excludedIdentifiers').val());
            search(query, '${orgId}', 1);
        });

        function composeQuery(dataSets, freeFormQuery, excludedIdentifiers) {
            var dataSetCondition = "";
            if (dataSets) {
                var dataSetList = dataSets.split(",");
                $.each(dataSetList, function (index, el) {
                    if (el.length > 0) {
                        var initial = dataSetCondition.length == 0;
                        if (initial) {
                            dataSetCondition = dataSetCondition + '(';
                        }
                        dataSetCondition = dataSetCondition + 'delving_spec:' + el.trim();
                        if (index < dataSetList.length -1) {
                            dataSetCondition = dataSetCondition + ' OR '
                        }
                        if (index == dataSetList.length - 1) {
                            dataSetCondition = dataSetCondition + ')';
                        }
                    }
                });
            }
            var excludedIdentifiersCondition = "";
            if (excludedIdentifiers) {
                var excludedIdsList = excludedIdentifiers.split(",");
                $.each(excludedIdsList, function (index, el) {
                    if (el.length > 0) {
                        var initial = excludedIdentifiersCondition.length == 0;

                        if (initial) {
                            excludedIdentifiersCondition = excludedIdentifiersCondition + '(';
                        }
                        excludedIdentifiersCondition = excludedIdentifiersCondition + 'delving_hubId:"' + encodeURIComponent(el.trim()) + '"';
                        if (index < excludedIdsList.length - 1) {
                            excludedIdentifiersCondition = excludedIdentifiersCondition + ' OR ';
                        }
                        if (index == excludedIdsList.length - 1) {
                            excludedIdentifiersCondition = excludedIdentifiersCondition + ')';
                        }
                    }
                });
            }
            return "delving_recordType:mdr " + (dataSetCondition.length > 0 ? (dataSetCondition + ' ') : '') + freeFormQuery + (excludedIdentifiersCondition.length > 0 ? ' NOT ' + excludedIdentifiersCondition : '');
        }

        function search(query, orgId, start) {
            $.get('/organizations/' + orgId + '/api/search?query=' + query + ' + &format=json&start=' + start, null, function (data) {
                resultModel.initialQuery = query;
                resultModel.orgId = orgId;
                if (ko.mapping.isMapped(resultModel)) {
                    ko.mapping.fromJS(data.result, resultModel);
                } else {
                    $("#previewList").css('visibility', 'visible');
                    $.extend(resultModel, ko.mapping.fromJS(data.result));
                    ko.applyBindings(resultModel, document.getElementById('result'));
                }
            });
        }

        $('.autoGen').click(function(){
            var source = $(this).attr('data-source');
            var destination = $(this).attr('data-destination');
            var genError = $(this).attr('data-error');
            $(this).next('.error').html("");
            var keyFromTitle = $(source).val().trim().replace(/\s+/g, '-').toLowerCase();
            if (keyFromTitle == '') {
                $(this).next('.error').html(genError);
            }
            virtualCollectionModel.spec(keyFromTitle);
        });
        // make nice list of excluded hubIds
        $('#excludedIdentifiers').val($('#excludedIdentifiers').val().replace(/^,/, '').replace(/\r?,/g, ',\n'));
    });
</script>