@(themes: Seq[models.PortalTheme])

@import views.context._

@main("Themes administration" ) {

<h1>CultureHub themes administration</h1>

@if(flash.get("error")) {
<p style="color:#c00">
  @flash.get("error")
</p>
}

<div id="themeForms" data-bind="template: { name: 'templateUpdateForm', foreach: themes }"></div>

<script type="text/javascript">
  $(document).ready(function() {
    var viewModel = {};
    $.get('@action(controllers.admin.Themes.list)', function(data) {
      viewModel = ko.mapping.fromJS(data);
      ko.applyBindings(viewModel);
    });
  });
</script>

<script type="text/html" id="templateUpdateForm">
  <h2>${name}</h2>

  <form action="@action(controllers.admin.Themes.update)" method="POST">
    <div>
      <div class="field" data-bind="template: { name: 'templateTextField', data: {name: name} }"></div>
      <div class="field">
        <label for="isDefault">Default:</label>
        <input id="isDefault" type="checkbox" name="isDefault" data-bind="checked: isDefault">
      </div>
      <div class="field" data-bind="template: { name: 'templateTextField', data: {name: baseUrl} }"></div>
      <div class="field" data-bind="template: { name: 'templateTextField', data: {name: displayName} }"></div>
    </div>
    <div>
      <input type="submit" value="Update">
    </div>
  </form>
</script>
<script type="text/html" id="templateTextField">
  <label for="${name}">Display name:</label>
  <input id="${name}" type="text" name="${name}" data-bind="value: name" size="40">
</script>
}