@(themes: Seq[models.PortalTheme])

@import views.context._

@header("Themes administration" ) {

<h1>CultureHub themes administration</h1>

@if(flash.get("error")) {
<p style="color:#c00">
  @flash.get("error")
</p>
}

<div id="themeForms" data-bind="template: { name: 'templateUpdateForm', foreach: themes }"></div>

<script type="text/javascript">
  $(document).ready(function() {
    var viewModel = {};

    $.get('@action(controllers.admin.Themes.list)', function(data) {
      $.extend(viewModel, ko.mapping.fromJS(data));
      for(var i = 0; i < viewModel.themes().length; i++) {
        viewModel.themes()[i].addQueryKeys = ko.observable("");
        viewModel.themes()[i].selectedQueryKeys = ko.observableArray(viewModel.themes()[i].localiseQueryKeys());
        viewModel.themes()[i].addItem = function() {
          if (this.addQueryKeys() != "") {
              this.localiseQueryKeys.push(this.addQueryKeys());
              this.addQueryKeys("");
          }
        };
        viewModel.themes()[i].removeSelected = function() {
          this.localiseQueryKeys.removeAll(this.selectedQueryKeys());
          this.selectedQueryKeys([]);
        };
      }
      ko.applyBindings(viewModel);
    });
  });
</script>

    <script type="text/html" id="templateUpdateForm">
      <h2>${name}</h2>

      <form class="form" action="@action(controllers.admin.Themes.update)" method="POST">
        <div>
          <div class="field" data-bind="template: { name: 'text', data: {data: name, name: 'name', label: 'Name'} }"></div>
          <div class="field">
            <label for="isDefault">Default:</label>
            <input id="isDefault" type="checkbox" name="theme.isDefault" data-bind="checked: isDefault">
          </div>
          <div class="field" data-bind="template: { name: 'text', data: {data: baseUrl, name: 'baseUrl', label: 'Base URL'} }"></div>
          <div class="field" data-bind="template: { name: 'text', data: {data: displayName, name: 'displayName', label: 'Display name'} }"></div>
          <div class="field" data-bind="template: { name: 'text', data: {data: templateDir, name: 'templateDir', label: 'Template directory'} }"></div>
          <div class="field" data-bind="template: { name: 'text', data: {data: googleAnalyticsTrackingCode, name: 'googleAnalyticsTrackingCode', label: 'Google Analytics code'} }"></div>
          <div class="field" data-bind="template: { name: 'text', data: {data: addThisTrackingCode, name: 'addThisTrackingCode', label: 'Add This tracking code'} }"></div>
          <div class="field" data-bind="template: { name: 'text', data: {data: defaultLanguage, name: 'defaultLanguage', label: 'Default Language code'} }"></div>
          <div class="field" data-bind="template: { name: 'text', data: {data: colorScheme, name: 'colorScheme', label: 'Color scheme'} }"></div>
          <div class="field" data-bind="template: { name: 'text', data: {data: solrSelectUrl, name: 'solrSelectUrl', label: 'SOLR select URL'} }"></div>
          <div class="field" data-bind="template: { name: 'text', data: {data: cacheUrl, name: 'cacheUrl', label: 'Cache URL'} }"></div>
          <div class="field" data-bind="template: { name: 'text', data: {data: homePage, name: 'homePage', label: 'Homepage'} }"></div>
          <div class="field">
            <label for="localiseQueryKeys">Localised query keys</label>
            <div>
              <select id="localiseQueryKeys" multiple="multiple" width="50" name="theme.localiseQueryKeys" data-bind="options: localiseQueryKeys, selectedOptions: selectedQueryKeys"> </select>
              <input id="addQueryKey" data-bind='value: addQueryKeys, valueUpdate: "afterkeydown"' />
              <button type="button" data-bind="enable: addQueryKeys().length > 0, click: addItem">Add</button>
              <button data-bind="click: removeSelected, enable: selectedQueryKeys().length > 0">Remove</button>
            </div>
          </div>
          <div class="field" data-bind="template: { name: 'text', data: {data: metadataPrefix, name: 'metadataPrefix', label: 'Metadata prefix'} }"></div>
          <div class="field" data-bind="template: { name: 'text', data: {data: hiddenQueryFilter, name: 'hiddenQueryFilter', label: 'Hidden query filter'} }"></div>
          <div class="field" data-bind="template: { name: 'text', data: {data: emailTarget.adminTo, name: 'emailTarget.adminTo', label: 'Administration email'} }"></div>
          <div class="field" data-bind="template: { name: 'text', data: {data: emailTarget.exceptionTo, name: 'emailTarget.exceptionTo', label: 'Exceptions email'} }"></div>
          <div class="field" data-bind="template: { name: 'text', data: {data: emailTarget.feedbackTo, name: 'emailTarget.feedbackTo', label: 'Feedback email'} }"></div>
          <div class="field" data-bind="template: { name: 'text', data: {data: emailTarget.registerTo, name: 'emailTarget.registerTo', label: 'Registration email'} }"></div>
          <div class="field" data-bind="template: { name: 'text', data: {data: emailTarget.systemFrom, name: 'emailTarget.systemFrom', label: 'System from email'} }"></div>
          <div class="field" data-bind="template: { name: 'text', data: {data: emailTarget.feedbackFrom, name: 'emailTarget.feedbackFrom', label: 'Feedback from email'} }"></div>
          <div class="field">
            <input id="id" type="hidden" name="theme._id" data-bind="value: _id.$oid">
          </div>
        </div>
        <div>
          <input type="submit" value="Update">
        </div>
      </form>
    </script>
    <script type="text/html" id="text">
      <label for="${name}">${label}:</label>
      <input id="${name}" type="text" name="theme.${name}" data-bind="value: data" size="40">
    </script>
}