#{extends viewUtils.themeProperty('themeLayout') /}

#{set title: id.isEmpty() ? viewUtils.getKey('admin.themes.title.new') :viewUtils.getKey('admin.themes.title.update') /}

#{breadcrumbs /}

<div class="admin-themes">

    <h1>${id.isEmpty() ? viewUtils.getKey('admin.themes.title.new') : viewUtils.getKey('admin.themes.title.update')}</h1>

    <form id="themeForm" method="post" action="#">
        <div class="line">
            <div class="g-6of12">
                <div class="mod">
                    <h3>&{'admin.themes.section.systeminfo'}</h3>
                    #{textField name: "name", label: viewUtils.getKey('admin.themes.label.themename'), dataBind: "value: name", help: viewUtils.getKey('admin.themes.help.themename'), required: true, disabled: false /}
                    #{checkboxField name: "isDefault", label: viewUtils.getKey('admin.themes.label.isdefault'), dataBind: "checked: isDefault" /}

                    #{textField name: "templateDir", label: viewUtils.getKey('admin.themes.label.templatedir'), dataBind: "value: templateDir", required: true /}

                </div>
            </div>
            <div class="g-6of12">
                <div class="mod">
                    <h3>&{'admin.themes.section.displayinfo'}</h3>
                    #{textField name: "displayName", label: viewUtils.getKey('admin.themes.label.displayname'), dataBind: "value: displayName", required: true, extHelp: viewUtils.getKey('admin.themes.help.displayname') /}
                    #{textField name: "homePage", label: viewUtils.getKey('admin.themes.label.homepage'), dataBind: "value: homePage", required: true /}<!-- todo: this should become the secondary branding url -->
                    #{textField name: "defaultLanguage", label: viewUtils.getKey('admin.themes.label.defaultlanguage'), dataBind: "value: defaultLanguage", required: true /}
                    #{textField name: "colorScheme", label: viewUtils.getKey('admin.themes.label.colorscheme'), dataBind: "value: colorScheme" /}
                </div>
            </div>
        </div>

        <div class="line">
            <div class="g-6of12">
                <div class="mod">
                    <h3>&{'admin.themes.section.systeminfo'}</h3>
                    #{textField name: "solrSelectUrl", label: viewUtils.getKey('admin.themes.label.solrurl'), dataBind: "value: solrSelectUrl", required: true /}
                    #{textField name: "cacheUrl", label: viewUtils.getKey('admin.themes.label.cacheurl'), dataBind: "value: cacheUrl", required: true /}
                    <div class="field">
                        <label class="label" for="localisedQueryKeys">&{'admin.themes.label.localizedquerykeys'}</label>
                        <div>
                            <select id="localisedQueryKeys" multiple="multiple" width="50" name="localisedQueryKeys" data-bind="options: localisedQueryKeys, selectedOptions: selectedQueryKeys"></select>
                            <input id="addQueryKey" data-bind='value: addQueryKeys, valueUpdate: "afterkeydown"'/>
                                <button type="button" data-bind="enable: addQueryKeys().length > 0, click: function() { this.addItem(); }">&{'ui.label.add'}</button>
                                <button data-bind="click: function() { this.removeSelected(); }, enable: selectedQueryKeys().length > 0">&{'ui.label.remove'}</button>
                        </div>
                    </div>
                    #{textField name: "metadataPrefix", label:viewUtils.getKey('admin.themes.label.metadataprefix'), dataBind: "value: metadataPrefix" /}
                    #{textField name: "hiddenQueryFilter", label: viewUtils.getKey('admin.themes.label.hiddenqf'), dataBind: "value: hiddenQueryFilter" /}
                </div>
            </div>
            <div class="g-6of12">
                <div class="mod">
                    <h3>&{'admin.themes.section.mailconfig'}</h3>
                     #{textField name: "adminTo", label: viewUtils.getKey('admin.themes.label.adminto'), dataBind: "value: emailTarget.adminTo" /}
                    #{textField name: "exceptionTo", label: viewUtils.getKey('admin.themes.label.exceptionto'), dataBind: "value: emailTarget.exceptionTo" /}
                    #{textField name: "feedbackTo", label: viewUtils.getKey('admin.themes.label.feedbackto'), dataBind: "value: emailTarget.feedbackTo" /}
                    #{textField name: "registerTo", label: viewUtils.getKey('admin.themes.label.registerto'), dataBind: "value: emailTarget.registerTo" /}
                    #{textField name: "systemFrom", label: viewUtils.getKey('admin.themes.label.systemfrom'), dataBind: "value: emailTarget.systemFrom" /}
                    #{textField name: "feedbackFrom", label: viewUtils.getKey('admin.themes.label.feedbackfrom'), dataBind: "value: emailTarget.feedbackFrom" /}
                </div>
                <div class="mod">
                    <h3>Extras</h3>
                    #{textField name: "googleAnalyticsTrackingCode", label: viewUtils.getKey('admin.themes.label.ga'), dataBind: "value: googleAnalyticsTrackingCode" /}
                    #{textField name: "addThisTrackingCode", label: viewUtils.getKey('admin.themes.label.addthis'), dataBind: "value: addThisTrackingCode" /}
                </div>
            </div>
        </div>

        <div class="buttons">
            <div class="wait"></div>
            <!--<button class="save" id="saveButton" type="submit">Save Theme</button>-->
            #{btnButton label: viewUtils.getKey('admin.themes.label.savetheme'), extraClass:"action blue", id:"saveButton", type:"submit" /}
        </div>

    </form>

</div>

<script type="text/javascript">
    $(document).ready(function() {

        var themeModel = {
            addQueryKeys: ko.observable(""),
            selectedQueryKeys: ko.observableArray([]),
            addItem: function() {
                if (themeModel.addQueryKeys() != "") {
                    themeModel.localisedQueryKeys.push(themeModel.addQueryKeys());
                    themeModel.addQueryKeys("");
                }
            },
            removeSelected: function() {
                themeModel.localisedQueryKeys.removeAll(themeModel.selectedQueryKeys());
                themeModel.selectedQueryKeys([]);
            }
        };

        $('#saveButton').click(function(event) {
            event.preventDefault();
            handleSubmit('/admin/themes/submit', themeModel, '#themeForm', null, function() {
                document.location = '/admin/themes'
            });
        });

        load('/admin/themes/load/${id.isEmpty() ? "" : id.get()}', themeModel);
    });
</script>
