#{extends themeInfo.get('themeLayout') /}

#{set title: messages.get('plugin.virtualNode.create') /}

#{set bodyId: 'organization' /}

#{breadcrumbs crumbs: breadcrumbs /}

#{organizationNavBar orgId: orgId, active:"virtualNode", navigation: navigation /}


<div class="row">
    <div class="span6">
        <form id="virtualNodeForm" method="POST" action="" class="form-delving form-horizontal well well-small">
            #{form.textField name:"orgId", form: virtualNodeForm, label: messages.get('plugin.virtualNode.orgId'), dataBind:"value: orgId, disable: typeof id !== 'undefined'", maxLength: 30, required: true /}
            #{form.textField name:"nodeId", form: virtualNodeForm, label: messages.get('plugin.virtualNode.nodeId'), dataBind:"value: nodeId, disable: typeof id !== 'undefined'", maxLength: 30, required: true /}
            #{form.textField name:"name", form: virtualNodeForm, label: messages.get('plugin.virtualNode.name'), dataBind:"value: name", maxLength: 30, required: true /}
        </form>
    </div>
</div>

<div class="well">
    #{btnButton label: messages.get('ui.label.save'), extraClass:"btn-success btn-large span6 pull-right", iconClass:"icon-ok-circle icon-white", id:"saveButton", type:"submit" /}
    #{btnButton label: messages.get('ui.label.cancel'), extraClass:"cancelButton", id:"cancelButton", type:"reset" /}
    #{btnButton label: messages.get('ui.label.reset'), extraClass:"", type:"reset" /}
    <div class="wait"></div>
</div>


<script type="text/javascript">

    $(document).ready(function () {
        var viewModel = {};
        load(${data.raw()}, viewModel, document.getElementById('virtualNodeForm'), function () {

            $("table.files td.delete button").addClass("btn btn-danger");
            $("body").css('visibility', 'visible');
        });

        $('#saveButton').click(function (event) {
            event.preventDefault();
            handleSubmit('/organizations/${orgId}/virtualNode/submit', viewModel, '#virtualNodeForm', null, function () {
                document.location = '/organizations/${orgId}/virtualNode';
            });
        });
    });
</script>