#{extends viewUtils.themeProperty('themeLayout') /}

#{set title: viewUtils.getKey('thing.organization') + ': ' + orgId /}

<h1 class="sep">${orgId}</h1>

<div class="row">
    <div class="g-12of12">
         <span class="label">Name</span><span class="text"></span>
         <span class="label">Email</span><span class="text"></span>
         <span class="label">Website</span><span class="text"></span>
         <span class="label">Location</span><span class="text"></span>
         <span class="label">Member since</span><span class="text"></span>
    </div>
</div>