@(id: String = "")

@import views.context._
@import views.tags.html._

@main("Add new object for user " + fullName) {

<div class="grid_8">
    <h1>Add a new object</h1>

    <form id="objectForm" method="post" action="">

        @textField("name", "Name", "value: name")
        @textArea("description", "Description", "value: description")

        <div class="field">
            <label>Label</label>

            <div class="inputs">
                <select name="labelType" id="labelType">
                    <option value="person">person</option>
                    <option value="place">place</option>
                    <option value="event">event</option>
                    <option value="concept">concept</option>
                </select>
                <input type="text" class="textinput" name="labelText" id="labelText"/>
            </div>
        </div>

        <div class="field">
            <label for="collection">Add to collection</label>

            <div class="inputs">
                <select name="collection" id="collection">
                    <option value="collection 1">Collection 1</option>
                    <option value="collection 2">Collection 2</option>
                    <option value="collection 3">Collection 3</option>
                </select>
            </div>
        </div>

        <div class="field" for="objectFile">
            <label>File</label>

            <div class="inputs">
                <input type="file" name="objectFile" id="objectFile"/>
                <button>Add File</button>
                <span class="error"></span>
            </div>
        </div>

        <div class="field" for="objectVisibility">
            <label>Public</label>

            <div class="inputs">
                <input type="radio" name="public" value="0" checked="yes"/>Not Public
                <input type="radio" name="public" value="1"/>Public
            </div>
        </div>

    </form>

    <div class="field">
        <div class="inputs">
        <input id="saveButton" type="submit" value="Add Object" data-bind="enable: name().length > 0"  />
        </div>
    </div>


</div>

<div class="grid_8">

</div>

<script type="text/javascript">
  $(document).ready(function() {
    var objectModel = {};

    var scope = document.getElementById('objectForm');

    load('/@userName/object/load/@id', objectModel, scope);

    $('#saveButton').click(function() {
      $.postKOJson('/@userName/object/submit', objectModel, function(data) {
        updateViewModel(objectModel, data, scope);
        $('#result').html('Object saved');
        $('#result').show().fadeOut('3000');
      }, function(jqXHR, textStatus, errorThrown) {
        $('#result').html('Error saving object, please try again');
        $('#result').show().fadeOut('3000');
      })
    });
  })
</script>

}