@(id: Option[String] = None, uid: String)

@import views.context._
@import views.tags.html._

@header(if(id == None) "Add new object for user " + fullName else "Update object for user " + fullName) {

<div class="grid_8">
    <h1>@if(id == None) { Add a new object } else { Update an object }</h1>

  <form id="objectForm" method="post" action="">

        @textField("name", "Name", "value: name")
        @textArea("description", "Description", "value: description")

        <div class="field">
            <label>Label</label>

            <div id="labels">
              <ul>
                <li><a href="#person">Person</a></li>
                <li><a href="#place">Place</a></li>
                <li><a href="#event">Event</a></li>
                <li><a href="#concept">Concept</a></li>
              </ul>
              <div id="person">
                <input type="text" class="textinput" name="labelText" id="personInput"/>
              </div>
              <div id="place">
                <input type="text" class="textinput" name="labelText" id="placeInput"/>
              </div>
              <div id="event">
                <input type="text" class="textinput" name="labelText" id="eventInput"/>
              </div>
              <div id="concept">
                <input type="text" class="textinput" name="labelText" id="conceptInput"/>
              </div>
            </div>

        </div>

        <div class="field">
            <label for="collection">Add to collection</label>

            <div class="inputs">
              <input type="text" id="collection" name="repositories" data-bind="tokens: collections" />
            </div>
        </div>

        <div class="field" for="objectVisibility">
            <label>Public</label>

            <div class="inputs">
                <input type="radio" name="public" value="0" checked="yes"/>Not Public
                <input type="radio" name="public" value="1"/>Public
            </div>
        </div>

        <div class="field">
            <label>File</label>
            <div class="inputs">
              <div id="fileupload" class="grid_16"></div>
            </div>
        </div>

        <div class="field">
            <div class="inputs">
            <input id="saveButton" type="submit" value="Save Object" />
            </div>
        </div>

  </form>

</div>

<div class="grid_8">

</div>

<script type="text/javascript">
  $(document).ready(function() {

    $('#labels').tabs();

    $("#collection").tokenInput('/@userName/collection/writeable/search');

    $.tmpl($('#simpleUploadFileTemplate')).appendTo('#fileupload');
    initUploadWidget();
    $('#fileupload').fileupload({
      url: '@action(controllers.FileStore.uploadFile(uid))',
      autoUpload: true
    });

    var objectModel = {};

    $('#saveButton').click(function(event) {
      event.preventDefault();
      $.postKOJson('/@userName/object/submit', objectModel, function(data) {
          updateViewModel(data, objectModel, scope);
          if('@id.getOrElse("")'.length == 0) {
            window.location.href = '/@userName/object/' + objectModel.id()
          } else {
          $('#result').html('Object saved');
          $('#result').show().fadeOut('3000');
        }
      }, function(jqXHR, textStatus, errorThrown) {
        $('#result').html('Error saving object, please try again');
        $('#result').show().fadeOut('3000');
      }, {uid: '@uid'})
    });

    var scope = document.getElementById('objectForm');

    load('/@userName/object/load/@id.getOrElse("")', objectModel, scope, function() {
      var files = ko.toJS(objectModel.files);
      var fu = $('#fileupload').data('fileupload');
      fu._adjustMaxNumberOfFiles(-files.length);
      fu._renderDownload(files)
          .appendTo($('#fileupload .files'))
          .fadeIn(function () {
              // Fix for IE7 and lower:
              $(this).show();
          });
    });
  });
</script>

}