@(id: Option[String] = None, uid: String)

@import views.context._
@import views.tags.html._

@header(if(id == None) "Add new object for user " + fullName else "Update object for user " + fullName) {

<div class="grid_8">
    <h1>@if(id == None) { Add a new object } else { Update an object }</h1>

  <form id="objectForm" method="post" action="">

        @textField("name", "Name", "value: name")
        @textArea("description", "Description", "value: description")

        <div data-bind="template: {name: 'labelTemplate', templateOptions: {name: 'label', }}"></div>

        <div class="field">
            <label for="collection">Add to collection</label>

            <div class="inputs">
              <input type="text" id="collection" name="repositories" data-bind="tokens: collections" />
            </div>
        </div>

        <div class="field" for="objectVisibility">
            <label>Public</label>

            <div class="inputs">
                <input type="radio" name="public" value="0" checked="yes"/>Not Public
                <input type="radio" name="public" value="1"/>Public
            </div>
        </div>

        <div class="field">
            <label>File</label>
            <div class="inputs">
              <div id="fileupload"></div>
            </div>
        </div>

        <div class="actions">
          <div class="wait"></div>
          <button class="save" id="saveButton" type="submit">Save Object</button>
        </div>

  </form>

</div>

<div class="grid_8">

</div>


<script type="text/javascript">
  $(document).ready(function() {

    $("#collection").tokenInput('/@userName/collection/writeable/search');

    $.tmpl($('#simpleUploadFileTemplate')).appendTo('#fileupload');
    initUploadWidget();
    $('#fileupload').fileupload({
      url: '@action(controllers.FileStore.uploadFile(uid))',
      autoUpload: true
    });

    var objectModel = {
      labelType: ko.observable(""),
      labelValue: ko.observable(""),
      addLabel: function() {
        objectModel.labels.push({labelType: objectModel.labelType(), value: objectModel.labelValue()});
        objectModel.labelType("");
        objectModel.labelValue("");
      },
      removeLabel: function(label) {
        objectModel.labels.remove(function(it) {return it.labelType === label.labelType && it.value === label.value});
      }
    };

    $('#saveButton').click(function(event) {
      event.preventDefault();
      Spinners.create('.wait').play();
      $.postKOJson('/@userName/object/submit', objectModel, function(data) {
          Spinners.get('.wait').remove();
          updateViewModel(data, objectModel, scope);
          window.location.href = '/@userName/object/' + objectModel.id();
      }, function(jqXHR, textStatus, errorThrown) {
        Spinners.get('.wait').remove();
        $('#result').html('Error saving object, please try again');
        $('#result').show().fadeOut('3000');
      }, {uid: '@uid'})
    });

    var scope = document.getElementById('objectForm');

    load('/@userName/object/load/@id.getOrElse("")', objectModel, scope, function() {
      var files = ko.toJS(objectModel.files);
      var fu = $('#fileupload').data('fileupload');
      fu._adjustMaxNumberOfFiles(-files.length);
      fu._renderDownload(files)
          .appendTo($('#fileupload .files'))
          .fadeIn(function () {
              // Fix for IE7 and lower:
              $(this).show();
          });
    });
  });
</script>

}