@(id: Option[String] = None, uid: String)(implicit viewModel: Option[Class[_ <: controllers.ViewModel]] = None)

@import views.context._
@import views.tags.html._

@header(if(id == None) "Add new object for user " + fullName else "Update object for user " + fullName) {

<div class="grid_8">
  <h1>@if(id == None) { Add a new object } else { Update an object }</h1>

  <div data-bind="text: errors().global"></div>

  <form id="objectForm" method="post" action="">
        <span class="required-note"><span>*</span> Required Fields</span>
        @textField("name", "Name", "value: name", " ", false, "required")
        @textArea("description", "Description", "value: description")

        <div data-bind="template: {name: 'labelTemplate', templateOptions: {name: 'label'}}"></div>

        <div class="field">
            <label for="collection">Add to collection</label>

            <select id="collection" name="repositories" multiple="multiple" data-bind="jqMultiSelect: { filter: false }, selectedOptions: collections, options: availableCollections, optionsText: 'name', optionsValue: 'id'" ></select>
        </div>

        <div class="field" for="objectVisibility">
            <label>Public</label>

            <div class="inputs">
                <input type="radio" name="public" value="Private" data-bind="checked: visibility"/>Not Public
                <input type="radio" name="public" value="Public" data-bind="checked: visibility"/>Public
            </div>
        </div>

        <div class="field">
            <label>File</label>
            <div class="inputs">
              <div id="fileupload"></div>
            </div>
        </div>

        <div class="actions">
          <div class="wait"></div>
          <button class="save" id="saveButton" type="submit">Save Object</button>
        </div>

  </form>

</div>

<div class="grid_8">

</div>


<script type="text/javascript">
  $(document).ready(function() {

    $.tmpl($('#simpleUploadFileTemplate')).appendTo('#fileupload');
    initUploadWidget();
    $('#fileupload').fileupload({
      url: '@action(controllers.user.FileUpload.uploadFile(uid))',
      autoUpload: true
    });

    var objectModel = {
      labelType: ko.observable(""),
      labelValue: ko.observable(""),
      addLabel: function() {
        objectModel.labels.push({labelType: objectModel.labelType(), value: objectModel.labelValue()});
        objectModel.labelType("");
        objectModel.labelValue("");
      },
      removeLabel: function(label) {
        objectModel.labels.remove(function(it) {return it.labelType === label.labelType && it.value === label.value});
      }
    };

    $('#saveButton').click(function(event) {
      event.preventDefault();
      handleSubmit('/@userName/object/submit', objectModel, '#objectForm', '/@userName/object/' + objectModel.id(), null, null, {uid: '@uid'});
    });

    load('/@userName/object/load/@id.getOrElse("")', objectModel, null, function() {
      var files = ko.toJS(objectModel.files);
      var fu = $('#fileupload').data('fileupload');
      fu._adjustMaxNumberOfFiles(-files.length);
      fu._renderDownload(files)
          .appendTo($('#fileupload .files'))
          .fadeIn(function () {
              // Fix for IE7 and lower:
              $(this).show();
          });
    });
  });
</script>

}