$color1: #fff;
$color2: #D6470F;
$color3:#7DC7E6;
$color4: #034D8F;
$color5: #737373;

body {
    background-color: $color3;
    color: #666;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    line-height: 150%;
    min-width: 960px;
}

.container {
    /*position: relative;*/
    width: 960px;
    margin: 0 auto;
}

/* base */

a:link {
    color: $color2;
}

a:visited {
    color: $color5;
}

h1, .h1 {
    color: $color2;
    font-size: 196%;
    font-weight: normal;
    font-style: normal;
}

h2, .h2 {
    color: $color2;
    font-size: 167%;
    font-weight: normal;
    font-style: normal;
}

h3, .h3 {
    color: $color2;
    font-size: 146.5%;
    font-weight: normal;
    font-style: normal;
}

h4, .h4 {
    color: $color2;
    font-size: 123.1%;
    font-weight: normal;
    font-style: normal;
}

h5, .h5 {
    color: $color2;
    font-size: 108%;
    font-weight: bold;
    font-style: normal;
}

h6, .h6 {
    color: $color2;
    font-size: 108%;
    font-weight: normal;
    font-style: italic;
}

h1.sep {
    margin: 20px 10px;
    line-height: 1.15;
    /*padding-bottom: 5px;*/
    //border-bottom: 1px solid lighten($color5, 30%);
}

p {
    line-height: 20px;
    margin-bottom: 10px;
}

ul, ol {
    margin: 10px 0;
}

ol {
    list-style-type: decimal;
}

li
{
	margin-left: 20px;
}

hr {
   border-color: lighten($color3, 20%);
}

.container {
    margin: 0 auto;
    width: 960px;
    position: relative;
}

.user-nav {
    background: transparent;
    position: absolute;
    top: 40px;
    right: 8px;
    z-index: 12;
    width: auto;
    height: 40px;
}

.user-nav .buttons {
    float: right;
    margin-right: 7px
}

/*.user-name {*/
    /*color: $color1;*/
    /*font-weight: bold;*/
    /*margin-top: 7px;*/
/*}*/

.user-name {
    /*background: $color-2;*/
    /*@include  border-top(4px);*/
    color: #fff;
    font-weight: bold;
    padding: 5px 0px;
    position: absolute;
    top: 0px;
    right: 10px;
    z-index: 14
}

.header {
    background: $color3 url('../images/top_image_nbm2.jpg') repeat-x top left;
    position: relative;
    height: 335px;

}

/* site-nav */
#site-nav {
    position: absolute;
    bottom: 0px;
    width: 100%;
    z-index: 11;
}

#site-nav ul {
    background: $color4;
    display: table;
    margin: 0;
    padding: 0;
    width: inherit;
}

#site-nav li {
    border: none;
    display:table-cell;
    list-style: none;
    margin: 0;
    padding: 0;
    width: 20%;
}

#site-nav a {
    color: $color1;
    display: block;
    height: 60px;
    line-height: 60px;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
}

#site-nav li:hover {
    background: $color2;
}

#site-nav li.current {
    background: $color2;
}

.header-bg {
    position: absolute;
    top: 0px;
    left: 0px;
    z-index: 9;
   background: #CCE0F1 url(../images/top_image_nbm2.jpg) repeat-x top left;
    width: 100%;
    height: 100%;

}

.header .content {
    position: relative;
    z-index: 10;
    height: inherit;
}

#site-name, #site-slogan {
    display: none;
}

#primary-branding {
    position: absolute;
    top: 30px;
    left: 0px;
    height: 200px;
    z-index: 11;
}

#secondary-branding {
    background-color: $color4;
    zoom: 1;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=30)";
    opacity: 0.3;
    position: absolute;
    top: 30px;
    left: 0px;
    height: 214px;
    width: 100%;
    z-index: 10;
}

/* SEARCH */

#search {
    background-color: transparent;
    padding:  10px 0;
    text-align: center;
    position: absolute;
    top: 175px;
    right: 20px;
    height: 32px;
    z-index: 11;
}


#search input[type=text] {
    background: none repeat scroll 0 0 #fff;
    border: medium none;
    font-size: 100%;
    /*border:  1px solid #d1d1d1;*/
    padding: 8px;
    width: 400px;
}

#search input[type="submit"]  {
    background: none repeat scroll 0 0 $color2;
    border: medium none;
    color: #FFFFFF;
    cursor: pointer;
    font-size: 100%;
    margin-left: -4px;
    padding: 8px 6px;
    text-shadow: 0 -1px 2px rgba(0, 0, 0, 0.7);
    text-transform: uppercase;
    width: 105px;
}

#search input {
    /*border-radius: 4px 4px 4px 4px;*/
    /*font-size: 12px;*/
    font-weight: bold;
    vertical-align: top;
}

/* main */

.main .content {
    background: $color1;
    min-height: 400px;
    padding-top: 10px;
}

/* footer */

.footer .content {
    background: $color1;
    padding-top: 20px;
    margin-bottom: 20px;
}

/* media block in recent wrapper */

.recent.object{
    background-color: lighten($color3, 10%);
}
.recent.collection{
    background-color: lighten($color2, 40%);
}
.recent.story{
    background-color: lighten($color4, 40%);
}

.recent h3 {
    color: $color1;
    text-transform:uppercase;
    font-weight: normal;
    background: $color2;
    padding: 4px 10px;
    margin: 0;
}

.recent .media p {
    margin: 0;
    padding: 0;
}

.recent .media .clip {
    display: block;
    height: 210px;
    overflow: hidden;
}

.recent .clip img {
    position:absolute;
    clip:rect(0px,280px,200px,0px);
}

.recent .media .img {
    clear: both;
    float: none;

}

.recent .title {
    display: block;
}

.recent .bd {
    margin: 0 10px;
    width: auto;
}

/* breadcrumbs */

.breadcrumb {
    border-bottom: 1px solid lighten($color3, 20%);
    padding-bottom: 10px;
}

.breadcrumb ul {
    margin: 0;
}

/* facets */

.facets h3 {
    font-size: 100%;
}

/* form overrides */

form h3 {
    background-color: $color1;
    border-bottom: 1px solid $color1;
    color: $color2;
    padding: 10px;

}

.field {
    margin: 0;
}

.field .label {
    width: 135px;
}

/* pagination overrides */
.pagination {
    margin: 15px 0;
}
.pagination .current {
    background-color: $color4;
}

.pagination .prev,
.pagination .next {
    background: $color1;
}

/* media overrides */

.metadata h5 {
    font-weight: bold;
    font-size: 100%;
}

.metadata p {
    margin-right: 10px;
}

/* helper overrides */

.info-box {
    font-size: 90%;
}

.toolbar {
    margin: 0px 0px 20px 0px;
}





