<?xml version="1.0" encoding="utf-8"?>
<jnlp spec="1.0+" codebase="??? code base ???" href="sip-creator.jnlp">
    <information>
        <title>SIP-Creator</title>
        <vendor>Delving</vendor>
        <description kind="one-line">SIP-Creator</description>
        <description kind="short">Submission Information Package Creator</description>
        <icon href="code base/sip-creator.png" kind="default"/>
        <shortcut online="false">
            <desktop/>
        </shortcut>
    </information>
    <security>
        <all-permissions/>
    </security>
    <resources>
        <j2se version="1.6+" initial-heap-size="256m" max-heap-size="512m"/>
        <property name="jnlp.versionEnabled" value="false"/>
        $dependencies
    </resources>
    <application-desc main-class="$mainClass"/>
</jnlp>
