#{include 'commonHeader.html' /}

    <div class="user-nav">
        <div class="container_12">
            <div class="grid_12">
           #{userNav
                userName: userName,
                email:email,
                organizations:organizations,
                navStyle:themeInfo.get('userNavStyle'),
                showLang:themeInfo.get('userNavLangSelect') /}
            </div>
        </div>
    </div>

<div class="header">
    <div class="container_12">
        <div class="row">
        <div class="grid_12">
        <div class="branding">
            <h1 class="site-name"><span>${themeInfo.displayName}</span></h1>

            <div class="site-slogan">${themeInfo.get('siteSlogan').raw()}</div>

            <div class="primary-branding">
                <a href="/"><img src='${themeInfo.path("images/logo-primary.png")}' alt="${themeInfo.displayName}" title="${themeInfo.displayName}"/></a>
            </div>

            <div class="secondary-branding" role="banner">
                <a href="${themeInfo.get('secondaryBrandingURL')}" target="_blank" title="${themeInfo.get('secondaryBrandingName')}"><img src='${themeInfo.path("images/logo-secondary.png")}' alt="" title=""/></a>
            </div>
        </div>
        <div class="site-nav">
            <!--site nav-->
            *{ // TODO MIGRATION
            <ul>
                <li class='${"Application".isCurrent()}'><a href="@{Application.index()}"><span>&{'site.nav.home'}</span></a></li>
                <li class='${"HeritageObjects".isCurrent()}'><a href="@{HeritageObjects.list()}"><span>&{'thing.objects.heritage'}</span></a></li>
                <li class='${"DObjects".isCurrent()}'><a href="@{DObjects.list()}"><span>&{'thing.objects.user'}</span></a></li>
                <li class='${"Collections".isCurrent()}'><a href="@{Collections.list()}"><span>&{'thing.collections'}</span></a></li>
                <li class='${"Stories".isCurrent()}'><a href="@{Stories.list()}"><span>&{'thing.stories'}</span></a>
                <li class='${"Users".isCurrent()}'><a href="@{Users.list()}"><span>&{'thing.users'}</span></a></li>
                #{mainMenu menu:menu /}
            </ul>}*
        </div>

        <div class="search" role="search">
            <form method="get" action="/search" id="simple-search" onsubmit="return checkSimpleSearchSubmit('query');">
                <input type="text" id="query" name="query" value='${params.get("query")}'/>
                <input type="submit" value="&{'ui.label.search'}">
            </form>
        </div>
        </div>
        </div>


    </div>
</div>

<!--</div>-->

<div class="main">
    <div class="container container_12">
        #{doLayout /}
    </div>
</div>

<div class="footer">
    <div class="container  container_12">
        <a href="http://www.delving.eu" target="_blank" title="Powered by DELVING.EU"><img src="@{routes.Assets.at('/common/images/powered-by-delving.png')}" alt="&{'ui.poweredby'}"/></a>


    </div>
</div>

<div id="extraDiv1"><span></span></div>
#{include 'commonFooter.html' /}
