/*.pagination a, .pagination span {*/

.pagination a, .pagination span:not([data-bind]) {
    background:  #fff;
    background: -moz-linear-gradient(center top , #F5F5F5, #F1F1F1) repeat scroll 0 0 transparent;
    border: 1px solid rgba(0, 0, 0, 0.1);
    -moz-border-radius:border-radius: 2px 2px 2px 2px;
    -webkit-border-radius: border-radius: 2px 2px 2px 2px;
    border-radius: 2px 2px 2px 2px;
    color: #666666;
    display: inline-block;
    font-size: 100%;
    min-width: 1em;
    /*font: 75% arial,sans-serif;*/
    margin: 0 4px 0 0;
    outline: medium none;
    padding: 2px 6px;
    text-align: center;
    vertical-align: middle;
    white-space: nowrap;

}

.pagination .current,
.pagination .active {
    background: #26B;
    color: #fff;
    /*border: solid 1px #AAE;*/
}

.pagination .prev,
.pagination .next {
    background: #eaeaea;
}

.pagination .current.prev, .pagination .current.next {
    color: #999;
    /*border-color:#999;*/
}
