#{extends themeInfo.get('themeLayout') /}

#{set 'moreScripts'}
<script type="text/javascript" src="@{routes.Assets.at("common/javascripts/underscore-min.js")}"></script>
#{/set}
<style>
    .controls {
        margin-bottom: 8px;
    }
</style>
<div class="row">
    <div class="span8 offset2">
        <div class="page-header"><h2>&{'plugin.advancedsearch'}</h2></div>
        <form id="advancedSearchForm" class="form-horizontal well" action="/search/advanced" method="POST">
            *{ SEARCH IN }*
            <div class="control-group">
                <label class="control-label">&{'plugin.advancedsearch.searchIn'}</label>

                *{ SEARCH IN: ROW 1 }*
                <div class="controls">
                    <select name="facet0" id="m-facet1" class="span1">
                        <option selected="selected" value="text">&{'plugin.advancedsearch.searchInAll'}</option>
                        <option value="dc_title">&{'metadata.dc.title'}</option>
                        <option value="dc_creator">&{'metadata.dc.creator'}</option>
                        <option value="europeana_year">&{'metadata.tib.year'}</option>
                        <option value="dc_subject">&{'metadata.dc.subject'}</option>
                        <option value="dc_description">&{'metadata.dc.description'}</option>
                    </select>
                    <input type="text" name="value0" maxlength="75" class="input-large"/>
                </div>

                *{ SEARCH IN: ROW 2 }*
                <div class="controls">
                    <select name="operator1" id="m-operator2" class="span1">
                        <option value="AND">&{'plugin.advancedsearch.booleanAnd'}</option>
                        <option value="OR">&{'plugin.advancedsearch.booleanOr'}</option>
                        <option value="NOT">&{'plugin.advancedsearch.booleanNot'}</option>
                    </select>
                    <select name="facet1" id="m-facet2" class="span1">
                        <option selected="selected" value="text">&{'plugin.advancedsearch.searchInAll'}</option>
                        <option value="dc_title">&{'metadata.dc.title'}</option>
                        <option value="dc_creator">&{'metadata.dc.creator'}</option>
                        <option value="europeana_year">&{'metadata.tib.year'}</option>
                        <option value="dc_subject">&{'metadata.dc.subject'}</option>
                        <option value="dc_description">&{'metadata.dc.description'}</option>
                    </select>
                    <input type="text" name="value1" maxlength="75" class="input-medium"/>
                </div>

                *{ SEARCH IN: ROW 2 }*
                <div class="controls">
                    <select name="operator2" id="m-operator3" class="span1">
                        <option value="AND">&{'plugin.advancedsearch.booleanAnd'}</option>
                        <option value="OR">&{'plugin.advancedsearch.booleanOr'}</option>
                        <option value="NOT">&{'plugin.advancedsearch.booleanNot'}</option>
                    </select>
                    <select name="facet2" id="m-facet3" class="span1">
                        <option selected="selected" value="text">&{'plugin.advancedsearch.searchInAll'}</option>
                        <option value="dc_title">&{'metadata.dc.title'}</option>
                        <option value="dc_creator">&{'metadata.dc.creator'}</option>
                        <option value="europeana_year">&{'metadata.tib.year'}</option>
                        <option value="dc_subject">&{'metadata.dc.subject'}</option>
                        <option value="dc_description">&{'metadata.dc.description'}</option>
                    </select>
                    <input type="text" name="value1" maxlength="75" class="input-medium"/>
                </div>
            </div>

            *{ SELECT OWNERS }*
            <div class="control-group">
              <label class="control-label">&{'metadata.delving.owner'}</label>
              <div class="controls">
                <select name="allOwners" id="select-owners">
                  <option selected="selected" value="all">&{'plugin.advancedsearch.allProviders'}</option>
                  <option value="select">&{'plugin.advancedsearch.selectProviders'}</option>
                </select>
                <div id="owners-list" class="clearfix" style="display: none;">
                  <input type="text" id="ownersList">
                </div>
              </div>
            </div>

            *{ ORDER BY }*
            <div class="control-group">
                <label class="control-label">&{'search.sortby'}/label>

                <div class="controls">
                    <select name="sortBy">
                        <option selected="selected" value="">-</option>
                        <option value="title">&{'metadata.dc.title'}</option>
                        <option value="creator">&{'metadata.dc.creator'}</option>
                        <option value="YEAR">&{'metadata.tib.year'}</option>
                        <option value="OWNER">&{'metadata.delving.owner'}</option>
                    </select>
                </div>
            </div>

            *{ RESET / SUBMIT }*
            <div class="control-group">
                <label class="control-label"></label>

                <div class="controls">
                    <input type="submit" id="search" value="&{'ui.label.search'}" class="btn btn-primary"/>
                    <input type="reset" value="&{'ui.label.reset'}" class="btn pull-right" id="reset"/>
                </div>

            </div>

        </form>
    </div>
</div>

<script>
    jQuery(document).ready(function() {
        $("#owners-list .collection").on("click", function(){
             $(this).next("span.label").toggleClass("label-success");
        });
        $("#select-owners").change(function() {
            if ($("#select-owners :selected").val() == "select") {
                $("#owners-list").show("slow");
            }
            if ($("#select-owners :selected").val() == "all") {
                $("#owners-list").hide("slow");
            }
        });
        $('#ownersList').tokenInput('/organizations/${orgId}/api/search?explain=fieldValue&field=delving_owner_facet&value=&format=json', {
          queryParam: 'value',
          propertyToSearch: 'value',
          jsonContainer: 'results',
          tokenValue: 'name',
          minChars: 0
        });
        $("#reset").on("click", function(){
            $("#owners-list").hide("slow");
            $("span.label").removeClass("label-success");
        });
        $('#search').click(function(event) {
          event.preventDefault();
          var owners = _.map($('#ownersList').tokenInput('get'), function(element) {
            return '&ownersList=' + encodeURIComponent(element['value']);
          });

          var qs = $('#advancedSearchForm').serialize() + owners;

          $.post('/search/advanced', qs, function(data) {
            document.location = data;
          });

        });
    });

</script>