#{extends themeInfo.get('themeLayout') /}

#{set 'moreScripts'}
<script type="text/javascript" src="@{routes.Assets.at("common/javascripts/jquery.easyListSplitter.js")}"></script>
#{/set}
<style>
    .controls {
        margin-bottom: 8px;
    }
</style>
<div class="row">
    <div class="span8 offset2">
        <div class="page-header"><h2>&{'plugin.advancedsearch'}</h2></div>
        <form class="form-horizontal well" action="/search/advanced" method="POST">
            *{ SEARCH IN }*
            <div class="control-group">
                <label class="control-label">&{'plugin.advancedsearch.searchIn'}</label>

                *{ SEARCH IN: ROW 1 }*
                <div class="controls">
                    <select name="facet0" id="m-facet1" class="span1">
                        <option selected="selected" value="text">&{'plugin.advancedsearch.searchInAll'}</option>
                        <option value="dc_title">&{'metadata.dc.title'}</option>
                        <option value="dc_creator">&{'metadata.dc.creator'}</option>
                        <option value="europeana_year">&{'metadata.tib.year'}</option>
                        <option value="dc_subject">&{'metadata.dc.subject'}</option>
                        <option value="dc_description">&{'metadata.dc.description'}</option>
                    </select>
                    <input type="text" name="value0" maxlength="75" class="input-large"/>
                </div>

                *{ SEARCH IN: ROW 2 }*
                <div class="controls">
                    <select name="operator1" id="m-operator2" class="span1">
                        <option value="AND">&{'plugin.advancedsearch.booleanAnd'}</option>
                        <option value="OR">&{'plugin.advancedsearch.booleanOr'}</option>
                        <option value="NOT">&{'plugin.advancedsearch.booleanNot'}</option>
                    </select>
                    <select name="facet1" id="m-facet2" class="span1">
                        <option selected="selected" value="text">&{'plugin.advancedsearch.searchInAll'}</option>
                        <option value="dc_title">&{'metadata.dc.title'}</option>
                        <option value="dc_creator">&{'metadata.dc.creator'}</option>
                        <option value="europeana_year">&{'metadata.tib.year'}</option>
                        <option value="dc_subject">&{'metadata.dc.subject'}</option>
                        <option value="dc_description">&{'metadata.dc.description'}</option>
                    </select>
                    <input type="text" name="value1" maxlength="75" class="input-medium"/>
                </div>

                *{ SEARCH IN: ROW 2 }*
                <div class="controls">
                    <select name="operator2" id="m-operator3" class="span1">
                        <option value="AND">&{'plugin.advancedsearch.booleanAnd'}</option>
                        <option value="OR">&{'plugin.advancedsearch.booleanOr'}</option>
                        <option value="NOT">&{'plugin.advancedsearch.booleanNot'}</option>
                    </select>
                    <select name="facet2" id="m-facet3" class="span1">
                        <option selected="selected" value="text">&{'plugin.advancedsearch.searchInAll'}</option>
                        <option value="dc_title">&{'metadata.dc.title'}</option>
                        <option value="dc_creator">&{'metadata.dc.creator'}</option>
                        <option value="europeana_year">&{'metadata.tib.year'}</option>
                        <option value="dc_subject">&{'metadata.dc.subject'}</option>
                        <option value="dc_description">&{'metadata.dc.description'}</option>
                    </select>
                    <input type="text" name="value1" maxlength="75" class="input-medium"/>
                </div>
            </div>

            *{ SELECT CONTENT PROVIDERS }*
            <div class="control-group">
                <label class="control-label">&{'metadata.abm.contentProvider'}</label>
                <div class="controls">
                    <select name="allCollections" id="select-collections">
                        <option selected="selected" value="all">&{'plugin.advancedsearch.allProviders'}</option>
                        <option value="select">&{'plugin.advancedsearch.selectProviders'}</option>
                    </select>
                    <div id="collection-list" class="clearfix">
                        <ul class="unstyled collection-list span1of4">
                        #{list providers, as: 'p'}
                            ${_index}
                            <li><label><input type="checkbox" class="collection" name="collectionList" value="${p}"/><span class="label">${p}</span></label></li>
                        #{/list}
                        #{else}
                               afdafasdf
                        #{/else}
                        </ul>
                    </div>
                </div>
            </div>

            *{ ORDER BY }*
            <div class="control-group">
                <label class="control-label">Sorteren op</label>

                <div class="controls">
                    <select name="sortBy">
                        <option selected="selected" value="">-</option>
                        <option value="title">&{'metadata.dc.title'}</option>
                        <option value="creator">&{'metadata.dc.creator'}</option>
                        <option value="YEAR">&{'metadata.tib.year'}</option>
                        <option value="COLLECTION">&{'metadata.abm.contentProvider'}</option>
                    </select>
                </div>
            </div>

            *{ RESET / SUBMIT }*
            <div class="control-group">
                <label class="control-label"></label>

                <div class="controls">
                    <input type="submit" value="&{'ui.label.search'}" class="btn btn-primary"/>
                    <input type="reset" value="&{'ui.label.reset'}" class="btn pull-right" id="reset"/>
                </div>

            </div>

        </form>
    </div>
</div>

<script>
    jQuery(document).ready(function() {
        $("#collection-list .collection").on("click", function(){
             $(this).next("span.label").toggleClass("label-success");
        });
        $("#select-collections").change(function() {
            if ($("#select-collections :selected").val() == "select") {
                $("#collection-list").show("slow");
            }
            if ($("#select-collections :selected").val() == "all") {
                $("#collection-list").hide("slow");
            }
        });
        $("#reset").on("click", function(){
            $("#collection-list").hide("slow");
            $("span.label").removeClass("label-success");
        });
        $('.collection-list').easyListSplitter({
            colNumber: 4,
            direction: 'vertical'
        });
    });

</script>