<div class="news-item">
      <h1>News title </h2>
      <span class="cdate"></span>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla sit amet congue ligula. Vivamus non tellus in neque placerat molestie non sit amet velit. Pellentesque ac justo non dui luctus porta. Vivamus orci enim, suscipit sit amet dapibus eget, varius sed neque. Nulla magna justo, vehicula at mollis non, placerat eu massa. Etiam tellus risus, suscipit sit amet scelerisque vitae, ultrices et neque. Quisque non magna odio, vitae egestas augue. Sed aliquet malesuada mauris, non condimentum sapien venenatis non. Quisque gravida ultrices massa, a elementum urna tincidunt eget. Duis vel odio sed urna gravida varius.</p>
</div>