#{extends viewUtils.themeProperty('themeLayout') /}
#{set title: 'Sip-Creator' /}

<h1>SIP-Creator</h1>
<table>
    <tr>
        <td><a href="/${userName}/sip-creator/sip-creator.jnlp"><img src="@{'/public/sip-creator/sip-creator-logo.png'}" alt="logo"/></a></td>
        <td>
            <p>
                The SIP-Creator is a stand-alone tool that you can use to manage your data sets.  It allows you to
                map any existing XML format to the record definitions that have been chosen as target for each
                data set individually. Once mapped and validated, the SIP-Creator lets you upload the source XML
                and the mapping instruction files to the Delving Culture Hub so that the mappings can also be
                executed there.
            </p>
            <p>
                Launch the SIP-Creator by clicking on the logo on the left. This will cause your browser to download
                a launch file called <b>sip-creator.jnlp</b> which should cause the application to be downloaded
                and installed on your machine.  You will need to have <b>Java</b> installed on your machine.
                Whenever you start up the SIP-Creator it will check the Culture Hub for a new version and update
                automatically.
            </p>
        </td>
    </tr>
</table>