#{extends themeInfo.get('themeLayout') /}
#{set title: messages.get('ui.label.login') /}
#{set bodyId: 'authenticate' /}
<div class="row">
    <div id="login" class="grid_6 prefix_3">
        <form method="POST" class="login" action="@{controllers.routes.Authentication.authenticate()}">
            <h3>Login</h3>
            #{if flash.error}
            <p class="panel error pam">
                ${flash.error}
            </p>
            #{/if}
            #{if flash.success}
            <p class="panel success pam">
                ${flash.success}
            </p>
            #{/if}

            #{textField name:"userName", label: messages.get("ui.label.username"), form: loginForm /}
            #{passwordField name:"password", label: messages.get("ui.label.password"), form: loginForm /}

            <div class="field">
                <label for="remember" class="label">&{'authentication.label.rememberme'}</label>
                <div class="inputs">
                  <input type="checkbox" name="remember" id="remember" value="true" ${flash.remember ? 'checked=\"true\"' : ''} />
                </div>
            </div>

            <div class="buttons">
                #{btnButton label: messages.get("ui.label.login"), extraClass:"action prominent complete", type:"submit", id:"signin" /}
                #{btnHref label: messages.get('authentication.label.forgotpassword'), href:"/registration/lostPassword", rel:"nofollow" /}
                #{btnHref label: messages.get('ui.label.cancel'), href:'#', id:"cancel", rel:"nofollow" /}
            </div>
        </form>
    </div>
</div>
<script type="text/javascript">
  $(document).ready(function() {
    $('#username').focus();
    $('#cancel').click(function(e) {
      e.preventDefault();
      document.location = document.referrer;
    });
  });
</script>