body {
    background: #fff url(../images/body-bg.png) top left repeat-x;
    font-family: sans-serif;
    color: #666;
    font-size: 100%;
    line-height: 26px;
    min-width: 960px;
}

/* LAYOUT ************************************************************************************/

#container {
    background:  #fff;
    margin: 0 auto;
    overflow:  auto;
    position: relative;
    width: 980px;
    /*margin-top: 20px;*/
}

.outer {
    margin: 0 auto;
    width: 960px;
    height: inherit;
}

.inner {
    padding: 10px;
}

#main-nav,
#user-nav,
#header,
#search,
#content,
#footer {
    width: 100%;
}


#main-nav {
    position: absolute;
    top: 265px;
}

#user-nav {
    position: absolute;
    top: 0px;
}

#header {
    position: absolute;
    top: 50px;
}

#content {
   margin-top: 360px;
    clear: both;
    overflow:  hidden;
}

#main {
    float: left;
    width: 100%;
}

#secondary {
    float: left;
    width: 25%;
}

#search {
    position: absolute;
    top: 310px;
}

#footer {
   clear: both;
}

#branding {
    position: absolute;
    top: 50px;
    /*width: 500px;*/
}

/* COLORS ************************************************************************************/

#header .outer {
    background-color: #ccc;
}

#content .outer {
    background-color: #ffffcc;
    overlow: hidden;
}

#search .outer {
    background-color: #f1f1f1;
    border:  1px solid #e1e1e1;
}

#main-nav .outer {
    background-color: #fff;
}

#user-nav .outer {
    /*background-color: #e1e1e1;*/
}

#footer .outer {
    background-color: #888;
}

/* STYLING ************************************************************************************/
#branding .inner {
    padding:  0px 10px;
}
#branding img {
    height: 200px;
    z-index: 900;
}

#header h1#site-name {
    color: #336699;
    font-size: 20px;
    margin:  0;
    padding:  0;
    position: absolute;
/*text-shadow: 0px 4px 0px #ffffff;*/
/*filter: dropshadow(color=#ffffff, offx=0, offy=4);*/
    top: -36px;
    z-index: 1000;
}

#header .outer {
    background: #336699;
    background: -moz-linear-gradient(top, #336699, #81AAd0);
    background: -webkit-gradient(linear, center top, center bottom, from(#336699), to(#81AAd0));
    background: -o-linear-gradient(top, #336699, #81AAd0);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#336699', endColorstr='#81AAd0');
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#336699', endColorstr='#81AAd0')";
    background: linear-gradient(top, #336699, #81AAd0);
    -moz-border-radius: 8px 8px 0 0;
    -webkit-border-radius: 8px 8px 0 0;
    border-radius: 8px 8px 0 0;
    position: relative;
    height: 215px;
}

/* USER NAV ************************************************************************************/

#user-nav .outer {
    height: 40px;
    text-align: right;
}


/* MAIN NAV ************************************************************************************/

#main-nav .outer {
    background: none repeat scroll 0 0 #81AAD0;
    border-radius: 0 0 8px 8px;
    margin-bottom: 1.5em;
    height: 35px;
}

#main-nav .inner {
    padding:  0px;
}

#main-nav ul {
    margin:  0 0 0 20px;
    padding:  0;
    height: 35px;
}

#main-nav ul li {
    background-color: #336699;
    -moz-border-radius: 8px 8px 0 0;
    -webkit-border-radius: 8px 8px 0 0;
    border-radius: 8px 8px 0 0;
    margin: 0 5px 0 0;
    padding:  0 10px;
    display: inline-block;
    float: left;
    height: 35px;
    line-height: 35px;
}

#main-nav ul li.current {
    background-color: #fff;
}

#main-nav ul li a {
    color: #fff;
    text-decoration: none;
    vertical-align: baseline;
}

#main-nav ul li.current a {
    color: #555;
}

/* SEARCH ************************************************************************************/

#search .outer {
    -moz-border-radius: 8px;
    -webkit-border-radius: 8px;
    border-radius: 8px;
    text-align: center;
}

#search form {
    padding:  4px;
}

#search input[type=text] {
    background: none repeat scroll 0 0 #fff;
    border: medium none;
    border:  1px solid #d1d1d1;
    padding: 6px;
    width: 400px;
}

#search input[type="submit"]  {
    background: none repeat scroll 0 0 #336699;
    border: medium none;
    color: #FFFFFF;
    cursor: pointer;
    padding: 6px;
    text-shadow: 0 -1px 2px rgba(0, 0, 0, 0.7);
    text-transform: uppercase;
    width: 80px;
}

#search input {
    border-radius: 4px 4px 4px 4px;
    font-size: 12px;
    font-weight: bold;
    vertical-align: top;
}

/* ITEM LIST *************************************************************************************/



/* STORY EDIT ************************************************************************************/

#edit-story .sidebar {
    float: left;
    width: 40%;
}

#edit-story .input {
    float: left;
    width: 55%;
    margin-left: 5%;
}

/* COLLECTION EDIT ************************************************************************************/

#edit-collection .input {
    float: left;
    width: 50%;
}




/*.container_16 {*/
    /*position: relative;*/
    /*min-width: 960px;*/
/*}*/

/*h1, h2, h3 {*/
    /*margin-top: 0;*/
    /*margin-bottom: 10px;*/
    /*font-weight: normal;*/
/*}*/

/*h1 {*/
    /*font-size: 1.5em;*/
    /*padding: 1.45833em 0;*/
/*}*/

/*h2 {*/
    /*font-size: 1.33333em;*/
    /*padding: 1.25em 0;*/
/*}*/

/*h3 {*/
    /*font-size: 1.16667em;*/
    /*padding: 1.51785em 0;*/
/*}*/

/*#login #branding h1 {*/
    /*text-align: center;*/
    /*font-size: 200%;*/
    /*font-weight: bold;*/
/*}*/

/*#header {*/
    /*background: #CCE0F1 url(../images/header-bg.png) repeat-x top left;*/
/*}*/

    /*#header-top {*/
        /*background:  #336699 ;*/
        /*border-bottom:  1px solid #fff;*/
        /*line-height: 32px;*/
    /*}*/

    /*#header-top a {*/
        /*color: #fff;*/
    /*}*/

        /*#hub-navigation {*/

        /*}*/

        /*#login-registration {*/
           /*text-align: right;*/
        /*}*/

        /*#user-tools {*/

        /*}*/

    /*#header-main {*/
        /*height: 120px;*/
        /*display: none;*/
    /*}*/

    /*#home #header-main {*/
        /*height: 450px;*/
        /*display: block;*/
    /*}*/

    /*#home #header-main .container_16 {*/
        /*background: transparent url(../images/logo-delving-large.png) no-repeat 0 10px;*/
        /*height: 450px;*/
    /*}*/

/* Name / Branding */

    /*#branding h1 {*/
       /*background:  transparent url(../images/header-delving-culture-hub.png) no-repeat top left;*/
       /*height: 50px;*/
       /*margin:  40px 0 0 120px;*/
    /*}*/
    /*#home #branding h1 {*/
        /*background:  transparent url(../images/header-delving-culture-hub.png) no-repeat top left;*/
        /*font-family: Times, "Times New Roman", serif;*/
        /*font-size: 64px;*/
        /*line-height: 64px;*/
        /*color: #fff;*/
        /*margin: 40px 0 0 380px;*/
        /*padding: 0;*/
    /*}*/

    /*#header #header-text {*/
        /*display: none;*/
    /*}*/

    /*#home #header-text {*/
        /*display: none;*/
        /*margin: 10px 0 0 380px;*/
    /*}*/

    /*#header-text a {*/
        /*color: #ffff00;*/
    /*}*/

    /*#home #header-text {*/
        /*display: block;*/
        /*font-size: 150%;*/
        /*line-height: 150%;*/
        /*width: 50%;*/
    /*}*/

/*#home #header-text p:first-of-type {*/
    /*margin-top:  0;*/
/*}*/

/* SEARCH */

/*#search {*/
    /*padding:  10px 0;*/
    /*text-align: center;*/
/*}*/


/*#search input[type=text] {*/
    /*background: none repeat scroll 0 0 #fff;*/
    /*border: medium none;*/
    /*border:  1px solid #d1d1d1;*/
    /*padding: 6px;*/
    /*width: 400px;*/
/*}*/

/*#search input[type="submit"]  {*/
    /*background: none repeat scroll 0 0 #CC3333;*/
    /*border: medium none;*/
    /*color: #FFFFFF;*/
    /*cursor: pointer;*/
    /*margin-left: -4px;*/
    /*padding: 6px;*/
    /*text-shadow: 0 -1px 2px rgba(0, 0, 0, 0.7);*/
    /*text-transform: uppercase;*/
    /*width: 80px;*/
/*}*/

/*#search input {*/
    /*border-radius: 4px 4px 4px 4px;*/
    /*font-size: 12px;*/
    /*font-weight: bold;*/
    /*vertical-align: top;*/
/*}*/

/*#page {*/
    /*background-color: #fff;*/
    /*min-height: 300px;*/
    /*padding:  20px 0;*/
/*}*/

/*#home #page {*/
    /*padding-top: 20px;*/
/*}*/

/*ul.inline {*/
    /*margin: 0;*/
    /*padding: 0;*/
/*}*/

/*ul.inline li {*/
    /*display: inline-block;*/
    /*list-style: none;*/
    /*margin: 0 10px 10px 0;*/
/*}*/

    /*.one-col {*/
        /*clear: both;*/
        /*padding: 0 1% 1em 1%;*/
    /*}*/

    /*.two-col {*/
        /*float: left;*/
        /*margin: 0 2% 1em 0;*/
        /*width: 48%;*/
    /*}*/

    /*.three-col {*/
        /*float: left;*/
        /*margin: 0 2% 1em 0;*/
        /*width: 31.33%;*/
    /*}*/

    /*.four-col {*/
        /*float: left;*/
        /*margin: 0 2% 1em 0;*/
        /*width: 23%;*/
     /*}*/


/* TABLES */



/*item over-rides */

/*.item-nav {*/
    /*margin-bottom: 10px;*/
    /*width: 100%;*/
/*}*/

/*.item .inner {*/
    /*border: 1px solid #ccc;*/
    /*overflow:  hidden;*/
    /*padding:  5px;*/

/*}*/

/* ==|== media queries ======================================================*/
   /*PLACEHOLDER Media Queries for Responsive Design.*/
   /*These override the primary ('mobile first') styles*/
   /*Modify as content requires.*/
   /*========================================================================== */

/*@media only screen and (min-width: 480px) {*/
  /* Style adjustments for viewports 480px and over go here */

/*}*/

/*@media only screen and (min-width: 768px) {*/
  /* Style adjustments for viewports 768px and over go here */

/*}*/



/* ==|== non-semantic helper classes ========================================*/
   /*Please define your styles before this section.*/
   /*========================================================================== */

/* For image replacement */
/*.ir { display: block; border: 0; text-indent: -999em; overflow: hidden; background-color: transparent; background-repeat: no-repeat; text-align: left; direction: ltr; }*/
/*.ir br { display: none; }*/

/* Hide from both screenreaders and browsers: h5bp.com/u */
/*.hidden { display: none !important; visibility: hidden; }*/

/* Hide only visually, but have it available for screenreaders: h5bp.com/v */
/*.visuallyhidden { border: 0; clip: rect(0 0 0 0); height: 1px; margin: -1px; overflow: hidden; padding: 0; position: absolute; width: 1px; }*/

/* Extends the .visuallyhidden class to allow the element to be focusable when navigated to via the keyboard: h5bp.com/p */
/*.visuallyhidden.focusable:active, .visuallyhidden.focusable:focus { clip: auto; height: auto; margin: 0; overflow: visible; position: static; width: auto; }*/

/* Hide visually and from screenreaders, but maintain layout */
/*.invisible { visibility: hidden; }*/

/* Contain floats: h5bp.com/q */
/*.clearfix:before, .clearfix:after { content: ""; display: table; }*/
/*.clearfix:after { clear: both; }*/
/*.clearfix { *zoom: 1; }*/



/* ==|== print styles =======================================================*/
   /*Print styles.*/
   /*Inlined to avoid required HTTP connection: h5bp.com/r*/
   /*========================================================================== */

/*@media print {*/
  /** { background: transparent !important; color: black !important; text-shadow: none !important; filter:none !important; -ms-filter: none !important; } *//* Black prints faster: h5bp.com/s */
  /*a, a:visited { text-decoration: underline; }*/
  /*a[href]:after { content: " (" attr(href) ")"; }*/
  /*abbr[title]:after { content: " (" attr(title) ")"; }*/
  /*.ir a:after, a[href^="javascript:"]:after, a[href^="#"]:after { content: ""; }  *//* Don't show links for images, or javascript/internal links */
  /*pre, blockquote { border: 1px solid #999; page-break-inside: avoid; }*/
  /*thead { display: table-header-group; } *//* h5bp.com/t */
  /*tr, img { page-break-inside: avoid; }*/
  /*img { max-width: 100% !important; }*/
  /*@page { margin: 0.5cm; }*/
  /*p, h2, h3 { orphans: 3; widows: 3; }*/
  /*h2, h3 { page-break-after: avoid; }*/
}