@import url("http://fonts.googleapis.com/css?family=Arimo:400,700");
/*---------------------------------
	COLORS
-----------------------------------*/
@text: #444;
@link: #336699;

@base-dark: #336699;
@base-medium: #6699cc;
@base-light: #eaeaea;

/*---------------------------------
	FONT FAMILIES
-----------------------------------*/
@font1: "Trebuchet Ms", arial, verdana, sans-serif;
@font2:  'Arimo', "Trebuchet MS", arial, verdana, sans-serif;

@radius: 2px;
.border-all (@radius) {
  border-radius: @radius;
  -moz-border-radius: @radius;
  -webkit-border-radius: @radius;
}

.border-top (@radius) {
  border-radius: @radius @radius 0 0;
  -moz-border-radius: @radius @radius 0 0;
  -webkit-border-radius: @radius @radius 0 0;
}

.border-bot (@radius) {
  border-radius: 0 0 @radius @radius;
  -moz-border-radius: 0 0 @radius @radius;
  -webkit-border-radius: 0 0 @radius @radius;
}

.border-tl (@radius) {
  border-radius: @radius 0 0 0;
  -moz-border-radius: @radius 0 0 0;
  -webkit-border-radius: @radius 0 0 0;
}

.border-tr (@radius) {
  border-radius: 0 @radius 0 0;
  -moz-border-radius: 0 @radius 0 0;
  -webkit-border-radius: 0 @radius 0 0;
}

/*---------------------------------
	HTML ELEMENTS
-----------------------------------*/
a{color:#4D99E0;outline:0;}
a:active{color:inherit;}
a:visited{}
a:hover{}
a img{border:0;}
strong,b{color:#000;background:lightyellow;position:relative;top:0;left:0;padding:2px 5px;}
strike{}
em,i{}
.hide{display:none;}
.show{display:block;}

/*---------------------------------
	UTILITY
-----------------------------------*/
.center{text-align:center;}
.left{text-align:left;}
.right{text-align:right;}
.pipe {
    display: inline-block;
    padding: 0 4px;
    color: @text;
}

/*---------------------------------
	HR
-----------------------------------*/
hr{clear:both;border-bottom:0;border-top:1px dotted #ccc;border-right:0;border-left:0;margin:30px 0;min-height: 0px;height:1px;}
hr.alt1{border-style: solid;}
hr.alt2{border-style: dashed;}

/*---------------------------------
	HTML5 ELEMENTS (shim)
-----------------------------------*/
article,aside,details,figcaption,figure,
footer,header,hgroup,menu,nav,section {
display:block;
}

/*---------------------------------
	HEADINGS
-----------------------------------*/
h1,h2,h3,h4,h5,h6{
color: lighten(@text, 25%);
font-family: @font1;
font-weight:bold;
line-height:140%;
}

h1{
font-size:2.5em;
margin:10px 0 10px 0;
}

h1.sep {
    padding: 0 10px;
}

h2{
font-size:2.0em;
margin:10px 0 10px 0;
}

h3{
font-size:1.5em;
margin:10px 0 10px 0;
line-height:130%;
}

h4{
font-size:1.25em;
margin:10px 0 10px 0;
}

h5{
font-size:1.1em;
margin:10px 0 10px 0;
}

h6{
font-size:1em;
margin:10px 0 5px 0;
}

/*---------------------------------
	PARAGRAPHS
-----------------------------------*/
p{
line-height:150%;
color:#666;
margin:10px 0;
}

/*---------------------------------
	BODY
-----------------------------------*/
body {
background:#fff;
color: @text;
font:normal 0.9em/150% @font2;
margin:0;
padding:0;
text-shadow: 0px 0px 1px transparent; /* google font pixelation fix */
}

/*---------------------------------
	USER-BAR
-----------------------------------*/


#page-top .container_12 {

position: relative;
    height: 144px;
}

#page-top .site-logo,
#page-top .site-slogan {
    float: left;
    margin: 21px 11px 0 0;
}

#page-top h1 {
    margin: 21px 0 0 0;
    font-size: 125%;
}

#page-top h2 {
    margin: 0px;
    font-size: 100%;
}

#page-top .secondary-branding {
    display: none;
}

/*---------------------------------
	USER-NAVI
-----------------------------------*/

.user-nav
{
    margin-top: 33px;
    position: relative;
    text-align: right;
    /*top: 121px;*/
    z-index: 1000;
}

.user-nav .buttons {
    position: absolute;
    right: 0px;
    z-index: 1000;
}

.user-nav .actions {
    margin-top: 10px;
    text-align: right;
}

.user-name {
    color: @text;
    display: inline-block;
    float: none;
    font-weight: bold;
}

.user-name img {
    margin-right: 8px;
}

.user-panel {
    padding: 8px 14px;
//    background-color: @highlight;
    background: rgb(255,255,255); /* Old browsers */
    background: -moz-linear-gradient(top,  rgba(255,255,255,1) 0%, rgba(255,255,240,1) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,1)), color-stop(100%,rgba(255,255,240,1))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(255,255,240,1) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(255,255,240,1) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(255,255,240,1) 100%); /* IE10+ */
    background: linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(255,255,240,1) 100%); /* W3C */


    float: right;
    margin: 0;
    box-shadow: 0 1px 5px rgba(0,0,0,0.15);
    -webkit-box-shadow: 0 2px 5px rgba(0,0,0,0.15);
    -moz-box-shadow: 0 2px 5px rgba(0,0,0,0.25);
    width: 100%;
}



/*---------------------------------
	SITE-BAR
-----------------------------------*/

#site-nav {
    position: absolute;
    bottom: 0px;
    right: 0px;
}

#site-nav ul {
    margin: 0;
    padding: 0;
    float: right;
}

#site-nav ul li {
    background:  @base-medium;
    border-right: 1px solid @base-light;
    display: inline;
    float: left;
    margin: 0;
}

#site-nav ul li:last-of-type {
    border-right: none;
}

#site-nav ul li.current {
    background:  @base-dark;
}

#site-nav ul a {
    color: #fff;
    display: block;
    padding: 6px 12px;
    text-decoration: none;

}

/*---------------------------------
	HEADER
-----------------------------------*/

#header {
    background: @base-dark;
    height: 111px;
    position: relative;
}

#header .container_12 .grid_12 {
    height: 111px;
    position: relative;
}

/*---------------------------------
	SEARCH
-----------------------------------*/

#search {
    background: #fff;
    .border-top(@radius);
    position: absolute;
    left: 0px;
    bottom: 0px;
    padding: 4px 6px 0;
}

#search form {
    background: transparent;
    border: none;
}

#search input[type=text] {
    background: none repeat scroll 0 0 #fff;
    border:  1px solid  @base-medium;
    .border-all(@radius);
    padding: 8px;
    width: 233px;
}

#search input[type="submit"]  {
    background: none repeat scroll 0 0 @base-dark;
    border:  0px solid @base-dark;
    .border-all(2px);
    color: @base-light;
    cursor: pointer;
    font-size: 100%;
    font-weight: bold;
    margin-left: 4px;
    padding: 6px;
    /*text-shadow: 0 1px 2px rgba(0, 0, 0, 0.7);*/
    text-transform: uppercase;
    width: 80px;
}

#search input {
    vertical-align: top;
	border-radius: 2px;
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
}

/*---------------------------------
	MAIN CONTENT
-----------------------------------*/

#content {
    padding: 21px 0;

}

/*---------------------------------
	BREADCRUMBS
-----------------------------------*/
.breadcrumb {
    padding: 0 10px;
    margin: 10px 0;
}

/*---------------------------------
	FOOTER
-----------------------------------*/
#footer {
    background: @base-dark;
    min-height: 100px;
    padding: 10px 0;
}
#footer .secondary-branding {
    display: none;
}

