.clearfix {
  *zoom: 1;
}
.clearfix:before,
.clearfix:after {
  display: table;
  content: "";
}
.clearfix:after {
  clear: both;
}
.hide-text {
  font: 0/0 a;
  color: transparent;
  text-shadow: none;
  background-color: transparent;
  border: 0;
}
.input-block-level {
  display: block;
  width: 100%;
  min-height: 28px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
}
body {
  background: #0061a1;
}
a {
  color: #0061a1;
  text-decoration: none;
}
a:hover {
  color: #007bcc;
  text-decoration: underline;
}
.page-top {
  background: #007bcc;
  border-bottom: 4px solid #0061a1;
}
.navbar-static-top .container {
  margin-left: -20px;
}
.navbar-static-top .navbar-inner {
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}
.navbar .brand img {
  margin: 0px 12px 0 0;
}
.search-bar {
  height: 44px;
}
.search-bar form {
  margin: 0;
  float: left;
}
.site-navigation {
  background: #eeeeee;
  height: 50px;
  margin: 0 0 0 0;
}
.site-navigation .nav {
  margin: 8px 0 0 0;
}
.nav-pills > li > a {
  color: #ffffff;
  background-color: #333333;
}
.nav-pills > li > a:hover {
  background-color: #007bcc;
}
.facets-header {
  background: #007bcc;
  color: #fff;
  padding: 4px 8px;
}
.branding {
  margin-left: -20px;
  *zoom: 1;
}
.branding:before,
.branding:after {
  display: table;
  content: "";
}
.branding:after {
  clear: both;
}
.branding .inner {
  float: left;
  margin-left: 20px;
  width: 940px;
}
.site-logo {
  float: left;
  margin: 0 13px 13px 0;
}
#content {
  background: #ffffff;
  padding: 21px 0;
  min-height: 300px;
}
#footer {
  margin: 11px 0;
}
#footer a {
  color: #ffffff;
}
/* Large desktop */
@media (min-width: 1200px) {
  .container {
    width: 75%path;
  }
}
@media (max-width: 767px) {
  body {
    padding: 0;
  }
  .navbar-fixed-top {
    margin-bottom: 0px;
  }
}
@media (min-width: 768px) and (max-width: 979px) {
  body {
    padding: 0;
  }
  .container {
    width: 96%;
  }
  .page-top .container {
    width: 100%;
  }
  .navbar-fixed-top {
    margin-bottom: 0px;
  }
}
