#{extends "organization/crudListBody.html" /}

<tr>
   #{list columnFields, as: 'field'}
   <td>
       #{if field_isFirst}
           <a data-bind="attr: { href: '${viewLink}'#{list viewLinkParams, as: 'p'}.replace('_${p}_', $data.${p}())#{/list} }"><span class="item-title" data-bind="text: ${field}"></span></a>
       #{/if}
       #{else}
           <span data-bind="text: ${field}"></span>
       #{/else}
   </td>
   #{/list}
   <td>
       #{list additionalActions, as: 'action'}
           #{if !action.isAdminAction || (action.isAdminAction && isAdmin) }
           <a class="btn btn-primary btn-mini" href="#" data-bind="attr: { href: '\${action.url}'#{list action.urlFields, as: 'field'}.replace('_${field}_', $data.${field}())#{/list}.replace('_orgId_', '${orgId}' ) }" rel="nofollow"><i class="icon-${action.actionClass} icon-white"></i> &{action.labelKey}</a>
           #{/if}
       #{/list}
       #{if isAdmin}
       #{if editActionEnabled}
       <a class="btn btn-primary btn-mini" href="#" data-bind="click: function() { $parent.update($data) }" rel="nofollow">
           <i class="icon-edit icon-white"></i> &{'ui.label.edit'}
       </a>
       #{/if}
       #{if deleteActionEnabled}
       <a class="btn btn-danger btn-mini pull-right delete" href="#" data-bind="click: function() { $parent.delete($data) }" rel="nofollow">
           <i class="icon-trash icon-white"></i> &{'ui.label.delete'}
       </a>
       #{/if}
       #{/if}
    </td>
</tr>