<section class="statistics-block">
    <div class="statistics-inner">
        <header class="statistics-header">&{'stats.Statistics'}</header>
        <ul class="statistics-list">
            <li>&{'stats.NumberOfRecords'} <span id="nrRecords" class="label"></span></li>
            <li>&{'stats.WithObjects'} <span id="nrDigitalObjects" class="label"></span></li>
            <li>&{'hubb.Administrators'} <span id="owners" class="label"></span></li>
        </ul>
    </div>
</section>
<script type="text/javascript">
    $(document).ready(function() {
        $.get('/organizations/${orgId}/api/statistics', function(data) {
            $('#nrRecords').text(data.statistics.totalRecords);
            $('#nrDigitalObjects').text(data.statistics.totalRecordsWithDigitalObjects);
            $('#owners').text(data.statistics.facetCounts['delving_owner_facet']);
        });
    });
</script>