#{extends themeInfo.get('themeLayout') /}
#{set title: messages.get('plugin.statistics.statistics') /}
#{set bodyId:'statistics' /}
#{set pageId:'Statistics'/}
#{set 'moreScripts'}
<script type="text/javascript" src="@{routes.Assets.at("common/javascripts/bootstrap/bootstrap-tooltip.js")}"></script>
#{/set}
#{breadcrumbs /}

#{organizationNavBar orgId: orgId, active:"statistics", navigation: navigation /}

<div class="row">
    <div class="span12">
        <h3 class="page-header">
        &{'plugin.statistics.statistics'}
        </h3>
        <div class="tabbable">

            <ul class="nav nav-pills" id="stats-tabs">
                <li class="active"><a href="#datasets-pane" data-toggle="tab">&{'thing.datasets'}</a></li>
            </ul>

            <div class="tab-content">
                <div class="tab-pane active" id="datasets-pane">
                    <table class="table">
                        <thead>
                        <tr>
                            <th>&{'thing.name'}</th>
                            <th>&{'plugin.statistics.nrRecords'}</th>
                            <th>&{'plugin.statistics.withObjects'}</th>
                            <th>&{'plugin.statistics.landingPages'}</th>
                            <th></th>
                        </tr>
                        </thead>
                        <tbody>
                        %{
                        Random rand = new Random()
                        int maxNr = 10000
                        int maxPer = 40
                        int min = 50

                        for(i in 1..10) {
                            def randNr = rand.nextInt(maxNr+122) + 1000
                            def randNr2 = rand.nextInt(maxNr+27)
                            def randPer = rand.nextInt(maxPer) + min
                            def randPer2 = rand.nextInt(maxPer) + min
                            int total = (i*randNr + i*randNr2)
                        }%

                        <tr>
                            <td>&{'thing.dataset'} ${i}</td>
                            <td>${total}</td>
                            <td><span class="badge badge-info" rel="tooltip" title="${i*randNr} records">${randPer}%</span></td>
                            <td><span class="badge badge-info" rel="tooltip" title="${i*randNr2} records">${randPer2}%</span></td>
                            <td><button data-toggle="modal" data-target="#datasetHistory" class="btn btn-primary btn-mini pull-right">&{'plugin.statistics.history'}</button></td>
                        </tr>
                        %{ }}%
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    $(document).ready(function(){
        $('span[rel=tooltip]').tooltip();
    })
</script>