@(title:String)

@import views.context._
@main(title) {

<div class="grid_8">
    <h1>Hi and welcome to the Delving Culture-Hub!</h1>
    <h2>@themeName</h2>

    @if(flash.get("registrationSuccess") != null) {
    <p class="success">
        Your account was successfully created! An email has been sent to @flash.get("registrationSuccess") for activation
    </p>
    }
    @if(flash.get("registrationError") != null) {
    <p class="error">
        Error creating your account, please try again. The cause of the error is: "@flash.get("registrationError")"
    </p>
    }
    @if(flash.get("activation") != null && flash.get("activation") == "true") {
    <p class="success">
        Your account is now active!
    </p>
    }
    @if(flash.get("activation") != null && flash.get("activation") == "false") {
    <p class="error">
        Error activating your account.
    </p>
    }
    @if(flash.get("resetPasswordEmail") != null && flash.get("resetPasswordEmail") == "true") {
    <p class="success">
        An e-mail has been sent to you with a link to reset your password
    </p>
    }
    @if(flash.get("resetPasswordError") != null) {
    <p class="error">
        Error resetting your password: @flash.get("resetPasswordError")
    </p>
    }

    @if(flash.get("resetPasswordSuccess") != null && flash.get("resetPasswordSuccess") == "true") {
    <p class="success">
        Your password has been successfully changed
    </p>
    }

    <p>
        This is the development environment for the uber-cool and amazing Delving Play-Ground - a precursor for Culture-Hub. This is a place where objects come to life through
        contextual grouping in 'collections' and through story-telling. We believe that every object tells a story, but that story depends on context. So
        one object may be able to tell a different story depending on its context.
    </p>

    <p>
        <a href="@action(controllers.Registration.index)">Register</a> and start adding and grouping objects. You can work on your own collections and stories or collaborate with other users to create collections and tell stories.
    </p>

</div>

<div class="grid_8">

</div>
}