#{extends viewUtils.themeProperty('themeLayout') /}
#{set title:'Welcome' /}
#{set bodyId:'home' /}
#{set 'moreCss'}

#{/set}

#{set 'moreScripts'}

<script src='${views.context.package.themePath("javascripts/index.js")}' type='text/javascript'></script>

#{/set}

<div class="messages-container">
    <div class="messages">
        #{if flash.registrationSuccess}
        <p class="success">
            Your account was successfully created! An email has been sent to ${flash.registrationSuccess} for activation
        </p>
        #{/}
        #{if flash.registrationError}
        <p class="error">
            Error creating your account, please try again. The cause of the error is: "${flash.registrationError}"
        </p>
        #{/}
        #{if flash.activation && flash.activation == "true"}
        <p class="success">
            Your account is now active!
        </p>
        #{/}
        #{if flash.activation && flash.activation == "false"}
        <p class="error">
            Error activating your account.
        </p>
        #{/}
        #{if flash.resetPasswordEmail && flash.resetPasswordEmail == "true"}
        <p class="success">
            An e-mail has been sent to you with a link to reset your password
        </p>
        #{/}
        #{if flash.resetPasswordError}
        <p class="error">
            Error resetting your password: ${flash.resetPasswordError}
        </p>
        #{/}
        #{if flash.resetPasswordSuccess && flash.resetPasswordSuccess == "true"}
        <p class="success">
            Your password has been successfully changed
        </p>
        #{/}
    </div>
</div>

<div class="line">

    #{if recentObjects.size() > 0}
    <div class="unit size1of3">
        <div class="mod simple recent">
            <div class="inner">
					<div class="hd section">
						<h3>Recent Object</h3>
					</div>
					<div class="bd">
                        #{list recentObjects, as: 'o'}
                        <div class="media">
                            <a href="/${o.userName}/object/${o.id}" class="clip"><img src='${views.context.package.thumbnailUrl(o.thumbnail)}' class="img" width="300" alt="${o.title}"/></a>

                            <div class="bd">
                                <div class="metadata">
                                    <span class="title"><a href="">${o.title.shorten(50)}</a></span>
                                    <p>${o.description.shorten(100)}</p>
                                </div>
                            </div>
                        </div>
                        #{/list}
                    </div>
            </div>
        </div>
    </div>
    #{/if}

    #{if recentCollections.size() > 0}
     <div class="unit size1of3">
        <div class="mod simple recent">
            <div class="inner">
					<div class="hd section">
						<h3>Recent Collection</h3>
					</div>
					<div class="bd">
                        #{list recentCollections, as: 'c'}
                        <div class="media">
                            <a href="/${c.userName}/collection/${c.id}" class="clip"><img src='${views.context.package.thumbnailUrl(c.thumbnail)}' class="img" width="300" alt="${c.name}"/></a>

                            <div class="bd">
                                <div class="metadata">
                                    <span class="title"><a href="">${c.name.shorten(50)}</a></span>
                                    <p>${c.shortDescription.shorten(100)}</p>
                                </div>
                            </div>
                        </div>
                        #{/list}
                    </div>
            </div>
        </div>
    </div>
    #{/if}

    #{if recentCollections.size() > 0}
    <div class="unit size1of3">
        <div class="mod simple recent">
            <div class="inner">
					<div class="hd section">
						<h3>Recent Story</h3>
					</div>
					<div class="bd">
                        #{list recentStories, as: 's'}
                        <div class="media">
                            <a href="/${s.userName}/story/${s.id}" class="clip"><img src='${views.context.package.thumbnailUrl(s.thumbnail)}' class="img" width="300" alt="${s.name}"/></a>

                            <div class="bd">
                                <div class="metadata">
                                    <span class="title"><a href="">${s.name.shorten(50)}</a></span>
                                    <p>${s.shortDescription.shorten(100)}</p>
                                </div>
                            </div>
                        </div>
                        #{/list}
                    </div>
            </div>
        </div>
    </div>
    #{/if}
</div>








