#{extends 'header.html' /}
#{set title:'Welcome' /}
#{set bodyId:'home' /}
#{set 'moreCss'}
<link rel="stylesheet" type="text/css" media="screen" href="@{'/public/themes/common/stylesheets/carousel.css'}"/>
#{/set}
#{set 'moreScripts'}
<script src='${views.context.package.themePath("javascripts/index.js")}' type='text/javascript' language="javascript"></script>
#{/set}

<div class="messages-container">
    <div class="messages">
        #{if flash.registrationSuccess}
        <p class="success">
            Your account was successfully created! An email has been sent to ${flash.registrationSuccess} for activation
        </p>
        #{/}
        #{if flash.registrationError}
        <p class="error">
            Error creating your account, please try again. The cause of the error is: "${flash.registrationError}"
        </p>
        #{/}
        #{if flash.activation && flash.activation == "true"}
        <p class="success">
            Your account is now active!
        </p>
        #{/}
        #{if flash.activation && flash.activation == "false"}
        <p class="error">
            Error activating your account.
        </p>
        #{/}
        #{if flash.resetPasswordEmail && flash.resetPasswordEmail == "true"}
        <p class="success">
            An e-mail has been sent to you with a link to reset your password
        </p>
        #{/}
        #{if flash.resetPasswordError}
        <p class="error">
            Error resetting your password: ${flash.resetPasswordError}
        </p>
        #{/}
        #{if flash.resetPasswordSuccess && flash.resetPasswordSuccess == "true"}
        <p class="success">
            Your password has been successfully changed
        </p>
        #{/}
    </div>
</div>

#{if recentObjects.size() > 0}
<div id="recent-objects">
    <div class="inner">

        <h1><span>Recent Objects</span></h1>

            <ul id="recent-objects-list" class="items">
            #{list recentObjects, as: 'o'}
            <li class="item">

                <a href="/${o.userName}/object/${o.id}" rel="nofollow">

                    <div class="media medium container">
                        <div class="inner">
                            <img src='${views.context.package.thumbnailUrl(o.thumbnail)}' alt="${o.title}"/>
                        </div>
                    </div>

                    <div class="metadata">
                        <div class="title">
                            <div class="inner">
                                ${o.title.shorten(50)}
                            </div>
                        </div>
                        <div class="more-info">
                            <div class="inner">
                                <span class="detail">${views.context.package.fullName(o.userName)}</span>
                            </div>
                        </div>
                    </div>
                </a>




            </li>
            #{/list}
        </ul>
        <a href="/objects" class="">More objects</a>
        </div>
    </div>
#{/if}


#{if recentCollections.size() > 0}
    <div id="recent-collections">
         <div class="inner">

             <h1><span>Recent Collections</span></h1>
             <ul class="items">
            #{list recentCollections, as: 'c'}

            <li class="item">

                <a href="/${c.userName}/collection/${c.id}" rel="nofollow">

                    <div class="media medium container">
                        <div class="inner">
                            <img src='${views.context.package.thumbnailUrl(c.thumbnail)}' alt="${c.name}"/>
                        </div>
                    </div>

                    <div class="metadata">
                        <div class="title">
                            <div class="inner">
                                ${c.name.shorten(50)}
                            </div>
                        </div>
                        <div class="more-info">
                            <div class="inner">
                                <span class="detail">${views.context.package.fullName(c.userName)}</span>
                                <span class="detail">${views.context.package.niceTime(c.TS_update)}</span>
                            </div>
                        </div>
                    </div>
                </a>
            </li>
            #{/list}
        </ul>
             <a href="/collections" class="">More collections</a>
        </div>
    </div>
#{/if}

#{if recentStories.size() > 0}
    <div id="recent-stories">
        <div class="inner">

            <h1><span>Recent Stories</span></h1>
            <ul class="items">
            #{list recentStories, as: 's'}
            <li class="item">
                <a href="/${s.userName}/story/${s.id}" rel="nofollow">
                    <div class="media medium container">
                        <div class="inner">
                            <img src='${views.context.package.thumbnailUrl(s.thumbnail)}' alt="${s.name}"/>
                        </div>
                    </div>

                    <div class="metadata">
                        <div class="title">
                            <div class="inner">${s.name.shorten(50)}</div>
                        </div>
                        <div class="more-info">
                            <div class="inner">
                                <span class="detail">${views.context.package.fullName(s.userName)}</span>
                                <span class="detail">${views.context.package.niceTime(s.TS_update)}</span>
                            </div>
                        </div>
                    </div>
                </a>
            </li>
            #{/list}
        </ul>
            <a href="/stories" class="">More stories</a>
        </div>
    </div>
#{/if}




