@(title:String)

@import views.context._
@main(title) {
<h2>Hi and welcome to Play-Services!</h2>

@if(flash.get("registrationSuccess") != null) {
<p class="success">
  Your account was successfully created! An email has been sent to @flash.get("registrationSuccess") for activation
</p>
}
@if(flash.get("registrationError") != null) {
<p class="error">
  Error creating your account, please try again. The cause of the error is: "@flash.get("registrationError")"
</p>
}
@if(flash.get("activation") != null && flash.get("activation") == "true") {
<p class="success">
  Your account is now active!
</p>
}
@if(flash.get("activation") != null && flash.get("activation") == "false") {
<p class="error">
  Error activating your account.
</p>
}
@if(flash.get("resetPasswordEmail") != null && flash.get("resetPasswordEmail") == "true") {
<p class="success">
  An e-mail has been sent to you with a link to reset your password
</p>
}
@if(flash.get("resetPasswordError") != null) {
<p class="error">
  Error resetting your password: @flash.get("resetPasswordError")
</p>
}

@if(flash.get("resetPasswordSuccess") != null && flash.get("resetPasswordSuccess") == "true") {
<p class="success">
  Your password has been successfully changed
</p>
}

<p>
  This awesome welcome message has been written in a Starbucks in Vienna on a sunny tuesday afternoon.
</p>

}