<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8"/>
    <meta name="description" content=""/>
    <meta name="keywords" content=""/>
    <meta charset="utf-8">
    <title>#{get 'title' /} </title>
    #{press.stylesheet '/public/themes/common/stylesheets/reset.css' /}
    #{press.stylesheet '/public/themes/common/stylesheets/grid/grid-zemmy.css' /}
    #{press.stylesheet '/public/themes/common/stylesheets/ui/jquery-ui-1.8.16.custom.css' /}
    #{press.stylesheet '/public/themes/common/stylesheets/module/mod.css' /}
    #{press.stylesheet '/public/themes/common/stylesheets/media/media.css' /}
    #{press.stylesheet '/public/themes/common/stylesheets/spacing/space.css' /}
    #{press.stylesheet '/public/themes/common/stylesheets/forms/form-elements.css' /}
    #{press.stylesheet '/public/themes/common/stylesheets/breadcrumb/breadcrumb.css' /}
    #{press.stylesheet '/public/themes/common/stylesheets/tiptip.css' /}
    #{press.stylesheet '/public/themes/common/stylesheets/tables.css' /}
    #{press.stylesheet '/public/themes/common/stylesheets/links.css' /}
    #{press.stylesheet '/public/themes/common/stylesheets/plugins/jquery.fileupload-ui.css' /}
    #{press.stylesheet '/public/themes/common/stylesheets/pagination/pagination.css' /}
    #{press.stylesheet '/public/themes/common/stylesheets/plugins/token-input.css' /}
    #{press.stylesheet '/public/themes/common/stylesheets/buttons/css3-buttons.css' /}
    #{press.stylesheet '/public/themes/common/stylesheets/helpers.css' /}
    #{press.compressed-stylesheet /}
    *{#{press.stylesheet views.context.package.themePath("stylesheets/style.scss") /}}*
    #{get 'moreCss' /}
    <link rel="stylesheet" type="text/css" href='${views.context.package.themePath("stylesheets/style.scss")}'/>
    <script>var themePath = "${views.context.package.themePath('')}";</script>
    *{#{press.script '/public/themes/common/javascripts/less-1.1.3.min.js', compress:false /}}*
    #{press.script '/public/themes/common/javascripts/modernizr-2.0.6.min.js', compress:false /}
    #{press.script '/public/themes/common/javascripts/jquery-1.6.2.min.js', compress:false /}
    #{press.script '/public/themes/common/javascripts/jquery.hoverIntent.minified.js', compress:false /}
    #{press.script '/public/themes/common/javascripts/jquery-ui-1.8.13.custom.min.js', compress:false /}
    #{press.script '/public/themes/common/javascripts/jquery.iframe-transport.js' /}
    #{press.script '/public/themes/common/javascripts/jquery.fileupload.js' /}
    #{press.script '/public/themes/common/javascripts/jquery.fileupload-ui.js' /}
    #{press.script '/public/themes/common/javascripts/upload.js' /}
    #{press.script '/public/themes/common/javascripts/jquery.tmpl.min.js', compress:false /}
    #{press.script '/public/themes/common/javascripts/jquery.metadata.js' /}
    #{press.script '/public/themes/common/javascripts/jquery.validate.js' /}
    #{press.script '/public/themes/common/javascripts/knockout-1.2.1.js' /}
    #{press.script '/public/themes/common/javascripts/knockout.mapping-latest.js', compress:false /}
    #{press.script '/public/themes/common/javascripts/jquery.form.js'/}
    #{press.script '/public/themes/common/javascripts/jquery.delving.spinner.js'/}
    #{press.script '/public/themes/common/javascripts/jquery.tokeninput-1.5.0.js'/}
    #{press.script '/public/themes/common/javascripts/jquery.multiselect.min.js'/}
    #{press.script '/public/themes/common/javascripts/jquery.multiselect.filter.js'/}
    #{press.script '/public/themes/common/javascripts/jquery.tools.min.js', compress:false /}
    #{press.script 'public/themes/common/javascripts/jquery.tiptip.js'/}
    #{press.script '/public/themes/common/javascripts/smartupdater.js'/}
    #{press.script '/public/themes/common/javascripts/jquery.pagination.js'/}
    #{press.script '/public/themes/common/javascripts/culturehub.js'/}
    #{press.compressed-script /}
    #{get 'moreScripts' /}
    <script type="text/javascript">$(document).ready(function(){initializeElements();bindCSRFToken('${authenticityToken}');$.metadata.setType('html5');});</script>
    <script type="text/html" id="uploadFileTemplate">
        <form action="#" method="post" enctype="multipart/form-data">
            <div class="fileupload-buttonbar">
                <label class="fileinput-button">
                    <span>&{'ui.label.filesadd'}</span>
                    <input type="file" name="files[]" multiple="true"/>
                </label>
                <button type="submit" class="start">&{'ui.label.uploadstart'}</button>
                <button type="reset" class="cancel">&{'ui.label.uploadcancel'}</button>
                <button type="button" class="delete">&{'ui.label.filesdelete'}</button>
            </div>
        </form>
        <div class="fileupload-content">
            <table class="files"></table>
        </div>
    </script>
    <script type="text/html" id="simpleUploadFileTemplate">
        <form action="#" method="post" enctype="multipart/form-data">
            <div class="fileupload-buttonbar">
                <label class="fileinput-button">
                    <span>&{'ui.label.filesadd'}</span>
                    <input type="file" name="files[]" multiple="true"/>
                </label>
            </div>
        </form>
        <div class="fileupload-content">
            <table class="files"></table>
        </div>
    </script>
</head>

<body id="#{get 'bodyId' /}" style="visibility: ${play.templates.BaseTemplate.layoutData.get().get('visibility') ? play.templates.BaseTemplate.layoutData.get().get('visibility') : 'visible'}">