<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content=""/>
    <meta name="keywords" content=""/>
    <link rel="shortcut icon" href="${themeInfo.path("images/favicon.ico")}" >
    <meta charset="utf-8">
    <title>#{get 'title' /}</title>
    <link rel="stylesheet" type="text/css" href="@{routes.Assets.at("common/stylesheets/media/media.css")}"/>
    <link rel="stylesheet" type="text/css" href="@{routes.Assets.at("common/stylesheets/plugins/token-input.css")}"/>
    <link rel="stylesheet" type="text/css" href="@{routes.Assets.at("common/stylesheets/common.css")}"/>
    <!--[if lt IE 10]>
    <link type="text/css" rel="stylesheet" href="@{routes.Assets.at("common/stylesheets/ie-lt-10.css")}"" media="all" />
    <![endif]-->
    #{if themeInfo.get('responsiveLayout') == "true" }
    <link rel="stylesheet" type="text/css" href="@{routes.Assets.at("common/stylesheets/bootstrap-responsive.css")}"/>
    #{/if}
    *{ always make organization section responsive for more workspace }*
    #{if themeInfo.get('responsiveLayout') == "false" && bodyId == "organization" }
        <link rel="stylesheet" type="text/css" href="@{routes.Assets.at("common/stylesheets/bootstrap-responsive.css")}"/>
    #{/if}


    #{get 'moreCss' /}
    <link rel="stylesheet" type="text/css" href='${themeInfo.path("stylesheets/theme.css")}'/>
    <script>
        var themePath = "${themeInfo.path('')}";
        // i18n messages
        jsLabels = new Object();
        jsLabels.add = "${messages.get('ui.label.add')}";
        jsLabels.cancel = "${messages.get('ui.label.cancel')}";
        jsLabels.remove = "${messages.get('ui.label.delete')}";
        jsLabels.enlargeImage = "${messages.get('ui.label.enlargeImage')}";
    </script>
    <script src="@{routes.Assets.at("common/javascripts/jquery.js")}"></script>
    <script src="@{routes.Assets.at("common/javascripts/modernizr-2.0.6.min.js")}"></script>
    <script src="@{routes.Assets.at("common/javascripts/jquery.tmpl.min.js")}"></script>
    <script src="@{routes.Assets.at("common/javascripts/jquery-ui-1.8.16.custom.min.js")}"></script>
    <script src="@{routes.Assets.at("common/javascripts/jquery.cookie.js")}"></script>
    <script src="@{routes.Assets.at("common/javascripts/jquery.metadata.js")}"></script>
    <script src="@{routes.Assets.at("common/javascripts/jquery.validate.js")}"></script>
    <script src="@{routes.Assets.at("common/javascripts/knockout-2.0.0.js")}"></script>
    <script src="@{routes.Assets.at("common/javascripts/knockout.mapping-latest.js")}"></script>
    <script src="@{routes.Assets.at("common/javascripts/jquery.delving.spinner.js")}"></script>
    <script src="@{routes.Assets.at("common/javascripts/jquery.tokeninput.js")}"></script>
    <script src="@{routes.Assets.at("common/javascripts/jquery.capSlide.js")}"></script>
    <script src="@{routes.Assets.at("common/javascripts/bootstrap/google-code-prettify/prettify.js")}"></script>
    <script src="@{routes.Assets.at("common/javascripts/bootstrap/bootstrap.min.js")}"></script>
    <script src="@{routes.Assets.at("common/javascripts/bootbox.min.js")}"></script>
    <script src="@{routes.Assets.at("common/javascripts/culturehub.js")}"></script>

#{get 'moreScripts' /}
<script type="text/javascript">
  $(document).ready(function() {
    initializeElements();
//        bindCSRFToken('${authenticityToken}');
      checkCookie(function() {
        bootbox.alert("&{'ui.message.noCookies'}");
      });
    $.metadata.setType('html5');
  });

  #{if themeInfo.googleAnalyticsTrackingCode}
  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', '${themeInfo.googleAnalyticsTrackingCode}']);
  _gaq.push(['_trackPageview']);

  (function() {
      var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
      ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
      var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();
  #{/if}

</script>

</head>
<body class="${userName ? 'logged-in' : 'anonymous'}" id="#{get 'bodyId' /}" style="visibility: ${play.templates.BaseTemplate.layoutData.get().get('visibility') ? play.templates.BaseTemplate.layoutData.get().get('visibility') : 'visible'}">