@(title:String = "", bodyId: String = "")(body: => Html)
@import views.context._
@import views.tags.html._


<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8"/>
    <meta name="description" content=""/>
    <meta name="keywords" content=""/>

    <title>@title</title>
    <link rel="stylesheet" type="text/css" href='@asset(themePath("stylesheets/common.css"))'/>
    <link rel="stylesheet" type="text/css" media="screen" href='@asset("/public/themes/common/stylesheets/ui/jquery-ui-1.8.16.custom.css")'/>
    <link rel="stylesheet" type="text/css" href='@asset(themePath("stylesheets/style.css"))'/>

    <!--[if lt IE 9]>
      <script src='@asset("/public/themes/common/javascripts/excanvas.js")' type='text/javascript'></script>
    <![endif]-->
    <script src='@asset("/public/themes/common/javascripts/modernizr-2.0.6.min.js")' type='text/javascript'></script>
    <script src='@asset("/public/themes/common/javascripts/jquery-1.6.2.min.js")' type='text/javascript'></script>
    <script src='@asset("/public/themes/common/javascripts/jquery.hoverIntent.minified.js")' type='text/javascript'></script>
    <script src='@asset("/public/themes/common/javascripts/jquery-ui-1.8.13.custom.min.js")' type='text/javascript'></script>
    <script src='@asset("/public/themes/common/javascripts/jquery.iframe-transport.js")' type='text/javascript'></script>
    <script src='@asset("/public/themes/common/javascripts/jquery.fileupload.js")' type='text/javascript'></script>
    <script src='@asset("/public/themes/common/javascripts/jquery.fileupload-ui.js")' type='text/javascript'></script>
    <script src='@asset("/public/themes/common/javascripts/upload.js")' type='text/javascript'></script>
    <script src='@asset("/public/themes/common/javascripts/upload.js")' type='text/javascript'></script>
    <script src='@asset("/public/themes/common/javascripts/jquery.tmpl.min.js")' type='text/javascript'></script>
    <script src='@asset("/public/themes/common/javascripts/jquery.metadata.js")' type='text/javascript'></script>
    <script src='@asset("/public/themes/common/javascripts/jquery.validate.js")' type='text/javascript'></script>
    <script src='@asset("/public/themes/common/javascripts/knockout-1.2.1.js")' type='text/javascript'></script>
    <script src='@asset("/public/themes/common/javascripts/knockout.mapping-latest.js")' type='text/javascript'></script>
    <script src='@asset("/public/themes/common/javascripts/jquery.form.js")' type='text/javascript'></script>
    <script src='@asset("/public/themes/common/javascripts/jquery.pagination.js")' type='text/javascript'></script>
    <script src='@asset("/public/themes/common/javascripts/jquery.delving.spinner.js")' type='text/javascript'></script>
    <script src='@asset("/public/themes/common/javascripts/jquery.tokeninput-1.5.0.js")' type='text/javascript'></script>
    <script src='@asset("/public/themes/common/javascripts/jquery.multiselect.min.js")' type='text/javascript'></script>
    <script src='@asset("/public/themes/common/javascripts/jquery.multiselect.filter.js")' type='text/javascript'></script>
    <script src='@asset("/public/themes/common/javascripts/jquery.tools.min.js")' type='text/javascript'></script>
    <script src='@asset("/public/themes/common/javascripts/culturehub.js")' type='text/javascript'></script>

    <script type="text/javascript">
        $(document).ready(function() {
            initializeElements();
            $.metadata.setType('html5');
        });
    </script>

    <script type="text/html" id="uploadFileTemplate">
      <form action="" method="post" enctype="multipart/form-data">
        <div class="fileupload-buttonbar">
          <label class="fileinput-button">
            <span>Add files...</span>
            <input type="file" name="files[]" multiple="true"/>
          </label>
          <button type="submit" class="start">Start upload</button>
          <button type="reset" class="cancel">Cancel upload</button>
          <button type="button" class="delete">Delete files</button>
        </div>
      </form>
      <div class="fileupload-content">
        <table class="files"></table>
      </div>
    </script>

    <script type="text/html" id="simpleUploadFileTemplate">
      <form action="" method="post" enctype="multipart/form-data">
        <div class="fileupload-buttonbar">
          <label class="fileinput-button">
            <span>Add files...</span>
            <input type="file" name="files[]" multiple="true"/>
          </label>
        </div>
      </form>
      <div class="fileupload-content">
        <table class="files"></table>
      </div>
    </script>

    <script type="text/html" id="labelTemplate">
      <div class="field">
          <label for="$item.name">Label</label>
          <div class="inputs">
              <select id="labelType" data-bind="value: labelType">
                  <option value="Who">Who</option>
                  <option value="What">What</option>
                  <option value="Where">Where</option>
                  <option value="When">When</option>
              </select>
              <input type="text" class="textinput" id="$item.name" name="$item.name" maxlength="40" data-bind="value: labelValue"/>
              <button class="add label-add" name="add-annotations-button" id="add-annotation-button" data-bind="click: addLabel">Add Label</button>
          </div>
      </div>
      <div>
        <ul>
          {{each(i, label) labels()}}
          <li>${label.labelType} - ${label.value} (<a href="#" data-bind="click: function() { removeLabel(label) }">Remove</a>)</li>
          {{/each}}
        </ul>
      </div>
    </script>
</head>
@if(bodyId.length == 0) {
<body>
} else {
<body id="@bodyId">
}

<div id="wrapper">

    <header id="header">

        <nav id="header-top" class="clearfix">
            <div class="container_16">
                <div class="grid_10" id="hub-navigation">
                    <a class='@if(isCurrent("Application")) {current}' href="@action(controllers.Application.index)"><span>Home</span></a><span class="pipe">|</span>
                    <a class='@if(isCurrent("Users")) {current}' href="/users"><span>Users</span></a><span class="pipe">|</span>
                    <a class='@if(isCurrent("DObjects.list")) {current}' href="/objects"><span>Objects</span></a><span class="pipe">|</span>
                    <a class='@if(isCurrent("Collections")) {current}' href="/collections"><span>Collections</span></a><span class="pipe">|</span>
                    <a class='@if(isCurrent("Stories")) {current}' href="/stories"><span>Stories</span></a>

                </div>
                <div class="grid_6" id="login-registration">

                    @if(userName == null) {

                    <a href="/login"><span>Login</span></a><span class="pipe">|</span>
                    <a class='@if(isCurrent("Registration.index")) {current}' href="@action(controllers.Registration.index)"><span>Register</span></a><span class="pipe">|</span>
                    <a class='@if(isCurrent("Registration.lostPassword")) {current}' href="@action(controllers.Registration.lostPassword)"><span>Forgot Password</span></a>

                    } else {
                    <div id="user-tools" class="">
                       <ul id="user-menu">
                           <li>
                               <a href="#" class="user"> Hi @fullName</a>
                                 <div class="sub">
                                    <ul>
                                        <li><h2>Go to</h2></li>
                                        <li><a class="action goto" href='/@userName'><span>Your Profile</span></a></li>
                                        <li><a class="action goto" href='/@userName/object'><span>Your Objects</span></a></li>
                                        <li><a class="action goto" href='/@userName/collection'><span>Your Collections</span></a></li>
                                        <li><a class="action goto" href='/@userName/story'><span>Your Stories</span></a></li>
                                        <li><a class="action goto" href='/@userName/dataset'><span>Your DataSets</span></a></li>
                                    </ul>
                                    <ul>
                                        <li><h2>Create</h2></li>
                                       <li ><a class="action add image-add" href='/@userName/object/add'>Create new object</a></li>
                                       <li><a class="action add collection-add" href='/@userName/collection/add'>Create new collection</a></li>
                                       <li><a class="action add story-add" href='/@userName/story/add'>Create new story</a></li>
                                       <li><a class="action add collection-add" href='/@userName/dataset/add'>Create new dataset</a></li>
                                    </ul>

                                </div>

                           </li>
                           <li><span class="pipe">|</span><a href="/logout"><span>Logout</span></a></li>
                       </ul>
                        <!--<span class="pipe">|</span><a href="/logout"><span>Logout</span></a>-->
                    </div>

                    }

                </div>
            </div>

        </nav>

        <div id="header-main" class="clearfix">
            <div class="container_16">
                <div class="grid_16" id="branding">

                    <h1 class="ir"><span>@themeDisplayName</span></h1>

                    <div id="header-text">
                        <p>This is the development environment for the Delving Culture-Hub. This is a place where objects come to life through
                            contextual grouping in collections and through story-telling. We believe that every object tells a story, but that story depends on context. So
                            one object may be able to tell a different story depending on its context.</p>

                        <p>
                            <a href="@action(controllers.Registration.index)">Register</a> or
                            <a href="/login">login</a> and start adding and grouping objects. You can work on your own collections and stories or collaborate with other users to create collections and tell stories.
                        </p>
                    </div>

                </div>
            </div>
        </div>

        <div id="header-bot" class="clearfix">
            <div class="container_16">
                <div class="grid_16">

                </div>
            </div>
        </div>

    </header>

    <div id="search" class="clearfix">
        <div class="container_16">
            <div class="grid_16">
                <form method="get" action="">
                    <input type="text" class="textinput" id="query" name="query" value='@params.get("query")' />
                    <input type="submit" class="dui-button" value="Search">
                </form>
            </div>
        </div>
    </div>

    <div id="page" class="clearfix">

        <div id="messages-container">
            <div class="container_16">
                <div class="grid_16">

                </div>
            </div>
        </div>

        <div id="page-main">
            <div class="container_16">
                <div class="grid_16">
                     @body
                </div>
            </div>
        </div>

    </div>

</div>

<div id="footer">
    <div class="container_16">
        <div class="grid_16">
            &#160;
        </div>
    </div>
</div>




</body>
</html>
