@(title:String = "")(body: => Html)

@import views.context._

<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8"/>
    <meta name="description" content=""/>
    <meta name="keywords" content=""/>

    <title>@title</title>
    <!--<link rel="stylesheet" type="text/css" href="@asset("/public/stylesheets/960.css")"/>-->
    <link rel="stylesheet" type="text/css" href='@asset("/public/stylesheets/960.css")'/>
    <link rel="stylesheet" type="text/css" href='@asset("/public/stylesheets/style.css")'/>
    <link rel="stylesheet" type="text/css" media="screen" href='@asset("/public/stylesheets/ui-lightness/jquery-ui-1.8.14.custom.css")' />
    <link rel="stylesheet" type="text/css" media="screen" href='@asset("/public/stylesheets/jquery.fileupload-ui.css")' />
    <link rel="stylesheet" type="text/css" media="screen" href='@asset("/public/stylesheets/token-input.css")' />
    <link rel="stylesheet" type="text/css" media="screen" href='@asset("/public/stylesheets/token-input-facebook.css")' />

    <script id='jquery' src='@asset("/public/javascripts/jquery-1.6.2.min.js")' type='text/javascript'></script>
    <script id='jquery-ui' src='@asset("/public/javascripts/jquery-ui-1.8.13.custom.min.js")' type='text/javascript'></script>
    <script id='jquery-iframe-transport' src='@asset("/public/javascripts/jquery.iframe-transport.js")' type='text/javascript'></script>
    <script id='jquery-fileupload' src='@asset("/public/javascripts/jquery.fileupload.js")' type='text/javascript'></script>
    <script id='jquery-fileupload-ui' src='@asset("/public/javascripts/jquery.fileupload-ui.js")' type='text/javascript'></script>
    <script id='jquery-template' src='@asset("/public/javascripts/jquery.tmpl.min.js")' type='text/javascript'></script>
    <script id='knockoutJS' src='@asset("/public/javascripts/knockout-1.2.1.js")' type='text/javascript'></script>
    <script id='knockoutJS-mapping' src='@asset("/public/javascripts/knockout.mapping-latest.js")' type='text/javascript'></script>
    <script id='jquery-form' src='@asset("/public/javascripts/jquery.form.js")' type='text/javascript'></script>
    <script id='jquery-tokeninput' src='@asset("/public/javascripts/jquery.tokeninput-1.5.0.js")' type='text/javascript'></script>
    <script id='culturehub' src='@asset("/public/javascripts/culturehub.js")' type='text/javascript'></script>

    <script type="text/javascript">
      $(document).ready(function() {
        initializeElements();
      });
    </script>

</head>
<body>
<div class="container_16">

      <div id="header" class="grid_16">
        <div id="logo"><img src='@asset("/public/images/logo.png")' /></div>
        <h1 class="grid_12 push_4 omega">DELVING Play Services</h1>
        <div id="user-bar">
            @if(renderArgs.get("displayName") != null) {

                Hi @renderArgs.get("fullName")
                <a href='/@renderArgs.get("displayName")/profile'>Profile</a>
                <a href='/@renderArgs.get("displayName")/object'>Objects</a>
                <a href='/@renderArgs.get("displayName")/collection'>Collections</a>
                <a href='/@renderArgs.get("displayName")/story'>Stories</a>
                <a href="/logout">Logout</a>

            } else {
            <a href="/login">Login</a>
            <a href="@action(controllers.Registration.lostPassword)">Lost password</a>
            <a href="@action(controllers.Registration.index)">Register!</a>
            }
        </div>
    </div>

    @body

    <div id="footer" class="grid_16">
        <a href="http://www.delving.eu" target="_blank">Delving</a>
    </div>

</div>
</body>
</html>
