@(title:String = "", bodyId: String = "")(body: => Html)
@import views.context._
<!DOCTYPE html
        PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8"/>
    <meta name="description" content=""/>
    <meta name="keywords" content=""/>

    <title>@title</title>
    <link rel="stylesheet" type="text/css" href='@asset("/public/themes/common/stylesheets/common.css")'/>

    <link rel="stylesheet" type="text/css" media="screen" href='@asset("/public/stylesheets/custom-theme/jquery-ui-1.8.14.custom.css")'/>

    <link rel="stylesheet" type="text/css" href='@asset("/public/themes/frieseverhalen/stylesheets/style.css")'/>
    <link rel="stylesheet" type="text/css" href='@asset("/public/themes/frieseverhalen/stylesheets/links.css")'/>



    <script id='jquery' src='@asset("/public/javascripts/jquery-1.6.2.min.js")' type='text/javascript'></script>
    <script id='jquery-ui' src='@asset("/public/javascripts/jquery-ui-1.8.13.custom.min.js")' type='text/javascript'></script>
    <script id='jquery-iframe-transport' src='@asset("/public/javascripts/jquery.iframe-transport.js")' type='text/javascript'></script>
    <script id='jquery-fileupload' src='@asset("/public/javascripts/jquery.fileupload.js")' type='text/javascript'></script>
    <script id='jquery-fileupload-ui' src='@asset("/public/javascripts/jquery.fileupload-ui.js")' type='text/javascript'></script>
    <script id='jquery-upload' src='@asset("/public/javascripts/upload.js")' type='text/javascript'></script>
    <script id='jquery-template' src='@asset("/public/javascripts/jquery.tmpl.min.js")' type='text/javascript'></script>
    <script id='knockoutJS' src='@asset("/public/javascripts/knockout-1.2.1.js")' type='text/javascript'></script>
    <script id='knockoutJS-mapping' src='@asset("/public/javascripts/knockout.mapping-latest.js")' type='text/javascript'></script>
    <script id='jquery-form' src='@asset("/public/javascripts/jquery.form.js")' type='text/javascript'></script>
    <script id='jquery-tokeninput' src='@asset("/public/javascripts/jquery.tokeninput-1.5.0.js")' type='text/javascript'></script>
    <script id='culturehub' src='@asset("/public/javascripts/culturehub.js")' type='text/javascript'></script>

    <script type="text/javascript">
        $(document).ready(function() {
            initializeElements();
        });
    </script>

    <script type="text/html" id="uploadFileTemplate">
      <form action="" method="POST" enctype="multipart/form-data">
        <div class="fileupload-buttonbar">
          <label class="fileinput-button">
            <span>Add files...</span>
            <input type="file" name="files[]" multiple="true"/>
          </label>
          <button type="submit" class="start">Start upload</button>
          <button type="reset" class="cancel">Cancel upload</button>
          <button type="button" class="delete">Delete files</button>
        </div>
      </form>
      <div class="fileupload-content">
        <table class="files"></table>
        <div class="fileupload-progressbar"></div>
      </div>
    </script>

  <script type="text/html" id="simpleUploadFileTemplate">
    <form action="" method="POST" enctype="multipart/form-data">
      <div class="fileupload-buttonbar">
        <label class="fileinput-button">
          <span>Add files...</span>
          <input type="file" name="files[]" multiple="true"/>
        </label>
      </div>
    </form>
    <div class="fileupload-content">
      <table class="files"></table>
      <div class="fileupload-progressbar"></div>
    </div>
  </script>


</head>
@if(bodyId.length == 0) {
<body>
} else {
<body id="@bodyId">
}

<div id="wrapper">

    <div id="header">

        <div id="header-top">
            <div class="container_16">
                <div class="grid_10" id="hub-navigation">
                    <a class='@if(isCurrent("Application")) {current}' href="@action(controllers.Application.index)"><span>Home</span></a><span class="pipe">|</span>
                    <a class='@if(isCurrent("Users")) {current}' href="#"><span>Users</span></a><span class="pipe">|</span>
                    <a class='@if(isCurrent("Objects")) {current}' href="#"><span>Objects</span></a><span class="pipe">|</span>
                    <a class='@if(isCurrent("Collections")) {current}' href="#"><span>Collections</span></a><span class="pipe">|</span>
                    <a class='@if(isCurrent("Stories")) {current}' href="#"><span>Stories</span></a>

                </div>
                <div class="grid_6" id="login-registration">

                    @if(userName == null) {

                    <a href="/login"><span>Login</span></a><span class="pipe">|</span>
                    <a href="@action(controllers.Registration.index)"><span>Register</span></a><span class="pipe">|</span>
                    <a href="@action(controllers.Registration.lostPassword)"><span>Forgot Password</span></a>

                    } else {

                    <a href="/logout"><span>Logout</span></a>

                    }

                </div>
            </div>

        </div>

        @if(userName != null) {

        <div id="header-user-bar">
            <div class="container_16">
                <div class="grid_16" id="user-navigation">
                    <span id="user-name">Hi @fullName</span>
                    <a href='/@userName/profile'><span>Your Profile</span></a><span class="pipe">|</span>
                    <a href='/@userName/object'><span>Your Objects</span></a><span class="pipe">|</span>
                    <a href='/@userName/collection'><span>Your Collections</span></a><span class="pipe">|</span>
                    <a href='/@userName/story'><span>Your Stories</span></a>
                </div>
            </div>
        </div>

        }

        <div id="header-main">
            <div class="container_16">
                <div class="grid_16" id="branding">
                    <h1><span>@themeDisplayName</span></h1>

                    <div id="header-text">
                        <p>This is the development environment for the uber-cool and amazing Delving Play-Ground - a precursor for Culture-Hub. This is a place where objects come to life through
                            contextual grouping in 'collections' and through story-telling. We believe that every object tells a story, but that story depends on context. So
                            one object may be able to tell a different story depending on its context.</p>

                        <p>
                            <a href="@action(controllers.Registration.index)">Register</a> or
                            <a href="/login">login</a> and start adding and grouping objects. You can work on your own collections and stories or collaborate with other users to create collections and tell stories.
                        </p>
                    </div>
                </div>
            </div>
        </div>

        <div id="header-bot">
            <div class="container_16">
                <div class="grid_16">

                </div>
            </div>
        </div>

    </div>

    <div id="search">
        <div class="container_16">
            <div class="grid_16">

                <form method="get" action="@action(controllers.Search.index)" class="grid_12 alpha push_4">
                    <p>
                    <input type="text" class="textinput" id="query" name="query"/>
                    <input type="submit" class="dui-button ui-state-default" value="Search">
                    </p>
                </form>

            </div>
        </div>
    </div>

    <div id="page">

        <div id="messages-container">
            <div class="container_16">
                <div class="grid_16">
                    @body
                </div>
            </div>
        </div>

        <div id="page-main">
            <div class="container_16">
                <div class="grid_16">

                </div>
            </div>
        </div>

    </div>

</div>

<div id="footer">
    <div class="container_16">
        <div class="grid_16">

        </div>
    </div>
</div>

</body>
</html>
