#{include 'commonHeader.html'/}

<div class="page-top">
    <div class="container">
        <div class="row">
            <div class="branding span3">
                <div id="primary-branding">
                    <a href="/">
                        <img src='${themeInfo.path("images/logo-primary.png")}' alt="${themeInfo.siteName()}" title="${themeInfo.siteName()}"/>
                    </a>
                </div>
            </div>
            <div class="navigation span9">
                <div class="navbar navbar-user">
                    <div class="navbar-inner">
                        <div class="container">
                        #{userNav userName: userName, email:email, organization:organization, showLogin:themeInfo.showLogin(), showRegistration:themeInfo.showRegistration(), extraClass:"pull-right"/}
                        </div>
                    </div>
                </div>
                #{mainMenu menu:menu, extraClass: 'nav-site'/}
            </div>
        </div>
    </div>
</div>

<div id="header">
    <div class="container">
        <div class="row">
            <div class="span12">
                <h1>${themeInfo.siteSlogan()}</h1>
                <h2>${themeInfo.siteName()}</h2>
            </div>
        </div>
    </div>
</div>

<div class="search">
    <div class="container">
        <div class="row">
            <div class="span12" id="hub-simple-search-container">
                #{search.searchForm showSearchIn: true, searchIn: params.searchIn, fields: searchIn, advancedSearchLink: true, showAll: themeInfo.showAllObjects()/}
            </div>
        </div>
    </div>
</div>

<div id="content" role="main">
    <div class="container">
        #{doLayout /}
    </div>
</div>

<div id="footer">
    <div class="container">
        <div class="row">
        ${themeInfo.footer().raw()}
            <div class="${themeInfo.footer().length() > 0 ? 'span4' : 'span12'}">
                <a href="http://www.delving.eu" target="_blank" title="Powered by DELVING.EU" class="pull-right">
                    <img src="/assets/common/images/delving-small.png" alt="Powered by DELVING.EU" id="pbd"/>
                    Powered by Delving
                </a>
            </div>
        </div>
    </div>
</div>

#{include 'commonFooter.html' /}