%{ def pageId = get 'pageId' }%

#{include 'commonHeader.html' /}

<div class="page-top">
    <div class="container">
        <div class="navbar navbar-fixed-top">
            <div class="navbar-inner">
                <div class="container">
                    <a class="brand" href="/" title="${themeInfo.siteSlogan()}"><img src="${themeInfo.path("images/logo-small.png")}" alt=""/><span>${themeInfo.siteName()}</span></a>
                    #{userNav userName: userName, email:email, organization:organization, showLang:themeInfo.get('userNavLangSelect'), showLogin:themeInfo.showLogin(), showRegistration:themeInfo.showRegistration(), /}
                    <div class="visible-desktop pull-right">
                        #{search.searchForm showSearchIn: true, searchIn: params.searchIn, fields: searchIn, advancedSearchLink: false, iconOnly: true/}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="search-bar hidden-desktop">
    <div class="container">
    <div class="row">
        <div class="span12">
        #{search.searchForm searchIn: params.searchIn, fields: searchIn, advancedSearchLink: false, iconOnly: true/}
        </div>
    </div>
    </div>
</div>

<div class="site-navigation">
    <div class="container">
        <div class="row">
            <div class="span12">
                #{mainMenu menu:menu, extraClass: "nav-pills" /}
            </div>
        </div>
    </div>

</div>

<div id="content" role="main">
    <div class="container">
        #{doLayout /}
    </div>
</div>

#{include 'commonFooter.html' /}
