#{include 'commonHeader.html' /}
<!--<link rel="stylesheet" href='${views.context.package.themePath("stylesheets/font-face.css")}' type="text/css"/>-->
<link href='http://fonts.googleapis.com/css?family=IM+Fell+English:400,400italic' rel='stylesheet' type='text/css'>

<div class="user-nav">
    <div class="container_12">
       #{userNav userName: userName, email:email, organizations:organizations/}
    </div>
</div>

<div class="header">
    <div class="container_12">

        <div class="header-top">
            <div class="grid_12">
                <div id="primary-branding">
                    <a href="@{Application.index()}"><img src='${views.context.package.themePath("images/logo-primary.png")}' alt="${views.context.package.themeDisplayName()}" title="${views.context.package.themeDisplayName()}"/></a>
                </div>
                <h1 id="site-name"><span>${views.context.package.themeDisplayName()}</span></h1>
            </div>
             <div id="secondary-branding" role="banner">
                <a href="${viewUtils.themeProperty('secondaryBrandingURL')}" target="_blank" title="${viewUtils.themeProperty('secondaryBrandingName')}"><img src='${views.context.package.themePath("images/logo-secondary.png")}' alt="" title=""/></a>
             </div>
        </div>

        <div class="header-main">
            <div class="grid_6">
                <div id="site-nav">
                    <ul>
                        <li class='${"Application".isCurrent()}'>
                            <a href="@{Application.index()}"><span>&{'site.nav.home'}</span></a></li>
                        <li class='${"HeritageObjects".isCurrent()}'>
                            <a href="@{HeritageObjects.list()}"><span>&{'thing.objects.heritage'}</span></a></li>
                        <li class='${"DObjects".isCurrent()}'>
                            <a href="@{DObjects.list()}"><span>&{'thing.objects'}</span></a></li>
                        <li class='${"Collections".isCurrent()}'>
                            <a href="@{Collections.list()}"><span>&{'thing.collections'}</span></a></li>
                        <li class='${"Stories".isCurrent()}'><a href="@{Stories.list()}"><span>&{'thing.stories'}</span></a>
                        </li>
                        <li class='${"Users".isCurrent()}'><a href="@{Users.list()}"><span>&{'thing.users'}</span></a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="grid_6">
                <div id="search" role="search">
                    <form method="get" action="/search" id="simple-search" onsubmit="return checkSimpleSearchSubmit('query');">
                        <input type="text" id="query" name="query" value='${params.query}'/>
                        <input type="submit" value="&{'ui.label.search'}">
                    </form>
                </div>
            </div>
        </div>
        <div class="header-bg row">
            <div id="site-slogan">${viewUtils.themeProperty('siteSlogan').raw()}</div>
        </div>
    </div>
</div>

<div class="main">
    <div class="container_12">
        <div class="content">
            #{doLayout /}
        </div>
    </div>
</div>

<div class="footer">
    <div class="container_12">
        <div class="grid_6 row">
        <div class="poweredBy ptm">
            <a href="http://www.delving.eu" target="_blank" title="Powered by DELVING.EU"><img src="@{'/public/common/images/powered-by-delving.png'}" alt="Powered by DELVING.EU" width="100"/></a>
        </div>
        </div>

        <div class="grid_6">

        </div>
    </div>
</div>




#{include 'commonFooter.html' /}