#{include 'commonHeader.html'/}

<div class="header-top">
    <div class="container">
        <div class="row">
            <div class="span4">
                <div id="primary-branding">
                    <a href="/">
                        <img src='${themeInfo.path("images/logo-primary.png")}' alt="${themeInfo.siteName()}" title="${themeInfo.siteName()}"/>
                    </a>
                </div>
            </div>
            <div class="span8">
                <div class="navbar navbar-user">
                    <div class="navbar-inner">
                        <div class="container">
                        #{userNav userName: userName, email:email, organization:organization, showLogin:themeInfo.showLogin(), showRegistration:themeInfo.showRegistration(), extraClass:"pull-right"/}
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="span12">
                *{<div class="navbar">}*
                    *{<div class="navbar-inner">}*
                        *{<div class="container">}*
                            *{<div class="nav-collapse">}*
                                <ul class="nav k-nav">
                                    <li><a href="https://beta.kulturnett.no/portal/web/kulturnett/home" tabindex="-1"><span> Hjem</span></a></li>
                                    <li #{if pageId != 'statistics'}class="active"#{/if}><a href="http://samlinger.kulturnett.no/search?query=*:*" tabindex="0" class="active"><span>Kulturs&#248;k</span></a></li>
                                    <li><a href="https:/beta.kulturnett.no/portal/web/kulturnett/e-kultur-i-sosiale-media" tabindex="-1" ><span> Sosiale media</span></a></li>
                                    <li #{if  pageId == 'statistics'}class="active"#{/if}><a href="http://samlinger.kulturnett.no/organizations/kulturnett2/statistics#provider-tab" tabindex="-1"><span> Statistikk</span></a></li>
                                    <li><a href="https://beta.kulturnett.no/portal/web/kulturnett/om" tabindex="-1"><span> Om</span></a></li>
                                    <li><a href="https://beta.kulturnett.no/portal/web/kulturnett/regionale-kulturnett" tabindex="-1"><span> Regionale kulturnett</span></a></li>
                                    <li><a href="https://beta.kulturnett.no/portal/web/kulturnett/tidligere-kulturnett" tabindex="-1"><span> Tidligere kulturnett</span></a></li>
                                </ul>
                            *{</div><!-- /.nav-collapse -->}*
                        *{</div>}*
                    *{</div><!-- /navbar-inner -->}*
                *{</div>}*
            </div>
        </div>
    </div>
</div>

*{<div id="header">}*
    *{<div class="container">}*
        *{<div class="row">}*
            *{<div class="span12">}*
                *{<h1>${themeInfo.siteName()}</h1>}*
                *{<h2>${themeInfo.siteSlogan()}</h2>}*
            *{</div>}*
        *{</div>}*
    *{</div>}*
*{</div>}*

<div class="search">
    <div class="container">
        <div class="row">
            <div class="span12">
                <form method="get" action="/search" class="form-horizontal form-search" id="simple-search" onsubmit="return checkSimpleSearchSubmit('query');">
                    *{<select name="search_in" class="span2">}*
                        *{<option selected="selected" value="text">Alles</option>}*
                        *{<option value="dc_title">Titel</option>}*
                        *{<option value="dc_creator">Vervaardiger</option>}*
                        *{<option value="dc_subject">Onderwerp</option>}*
                    *{</select>}*
                    <input class="search-query" placeholder="&{'ui.label.search'} ..." type="text" id="query" name="query" value='${params.get("query")? params.get("query")[0] : ""}'/>
                    <button type="submit" class="btn btn-primary submit" title="&{'ui.label.search'}"><i class="icon icon-search icon-white"></i></button>
                    &#160;<a href="/search/advanced" rel="nofollow">&{'plugin.advancedsearch'}</a>
                </form>
            </div>
        </div>
    </div>
</div>

<div id="content" role="main">
    <div class="container">
        #{doLayout /}
    </div>
</div>

<div id="footer">
    <div class="container">
        <div class="row">
            <div class="span12">
                <div class="pull-right">
                    <a href="http://www.delving.eu" target="_blank" title="Powered by DELVING.EU">
                        <img src="@{routes.Assets.at('common/images/delving-small.png')}" alt="Powered by DELVING.EU" id="pbd" />
                        Powered by Delving
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>

#{include 'commonFooter.html' /}


