%{ def pageId = get 'pageId' }%

#{include 'commonHeader.html' /}

<div class="page-top">
    <div class="container">
        <div class="branding row">
            <div class="branding-inner">
                <div class="site-logo span1">
                    <img src='${themeInfo.path("images/logo-primary.png")}' alt="${themeInfo.siteName}" title="${themeInfo.siteName}" style="width:75px"/>
                </div>
                <div class="site-name span11">
                    <h1><a href="/" class="brand">${themeInfo.siteName}</a> <small>${themeInfo.siteSlogan}</small></h1>
                </div>
            </div>
        </div>

        <div class="navbar">
            <div class="navbar-inner">
                <div class="container">
                <a class="brand" href="/">${themeInfo.siteName()}</a>
                #{userNav userName: userName, email:email, organizations:organizations, showLang:themeInfo.get('userNavLangSelect'), showLogin:themeInfo.showLogin(), showRegistration:themeInfo.showRegistration(), /}
                <div class="nav-collapse">
                    <form method="get" action="/search" class="navbar-search pull-right form-horizontal" id="simple-search" onsubmit="return checkSimpleSearchSubmit('query');">
                        #{searchIn searchIn: params.searchIn, fields: searchIn /}
                        <input class="search-query" placeholder="&{'ui.label.search'} ..." type="text" id="query" name="query" value='${params.get("query")? params.get("query").apply(0) : ""}'/>
                        <button type="submit" class="btn btn-primary submit" title="&{'ui.label.search'}"><i class="icon icon-search icon-white"></i></button>
                    </form>
                </div>
                </div>
            </div>
        </div>

        <div class="site-nav row">
            <div class="site-nav-inner span12">
            #{mainMenu menu:menu, extraClass: "nav-pills" /}
            </div>
        </div>

    </div>
</div>

<div id="content" role="main">
    <div class="container">
        #{doLayout /}
    </div>
</div>

#{include 'commonFooter.html' /}
