#{set useGrid = "960" /}
#{include 'commonHeader.html'/}

<div id="page-top">
    <div class="container container_12">

        <div class="grid_3" id="primary-branding">
            <a href="@{Application.index()}">
                <img src='${views.context.package.themePath("images/logo-primary.png")}' alt="${views.context.package.themeDisplayName()}" title="${views.context.package.themeDisplayName()}"/>
            </a>
        </div>

        <div class="secondary-branding" role="banner">
            <a href="${viewUtils.themeProperty('secondaryBrandingURL')}" target="_blank" title="${viewUtils.themeProperty('secondaryBrandingName')}">
                <img src='${views.context.package.themePath("images/logo-secondary.png")}' alt="" title=""/>
            </a>
        </div>

        <div class="grid_9" id="user-nav">



            #{if !userName}
            <a href="/login" tabindex="1" rel="nofollow" class="${'Authentication.login'.isCurrent()}"><span class="label">${messages.get('ui.label.login')}</span></a>
            <span class="pipe">|</span>
            <a href="/registration" tabindex="2" rel="nofollow" class="${'Registration.login'.isCurrent()}"><span class="label">${messages.get('ui.label.register')}</span></a>
            #{/if}
            #{else}
            <div class="user-panel">
                <span class="user-name">
                    #{gravatar.img email, size:26 /}
                    <span class="label">Hi ${userName}</span>
                </span>
                <a href="/${userName}"><span class="label">${messages.get('user.nav.yourprofile')}</span></a><span class="pipe">|</span>
                <a href="/${userName}/object"><span class="label">${messages.get('user.nav.yourobjects')}</span></a><span class="pipe">|</span>
                <a href="/${userName}/collection"><span class="label">${messages.get('user.nav.yourcollections')}</span></a><span class="pipe">|</span>
                <a href="/${userName}/story"><span class="label">${messages.get('user.nav.yourstories')}</span></a><span class="pipe">|</span>
                <a href="/logout"><span class="label">${messages.get('ui.label.logout')}</span></a>
                <div class="actions">
                    <select name="actions" class="dk link">
                        <option value="">&{'ui.label.create'}</option>
                        <option value="${userName}/object/add">&{'user.nav.newobject'}</option>
                        <option value="/${userName}/collection/add">&{'user.nav.newcollection'}</option>
                        <option value="/${userName}/story/add">&{'user.nav.newstory'}</option>
                    </select>
                #{if organizations.length() > 0}
                    <select name="organizations" class="dk link">
                        <option value="">&{'thing.organizations'}</option>
                        #{list organizations, as: 'org'}
                        <option value="/organizations/${org}">${org}</option>
                        #{/list}
                    </select>
                #{/}
                </div>



            </div>

            #{/else}
        </div>

        <div class="grid_12" id="site-nav">
            <ul>
                <li class='${"Application.index".isCurrent()}'>
                    <a href="@{Application.index()}"><span>&{'site.nav.home'}</span></a></li>
                <li class='${"HeritageObjects".isCurrent()}'>
                    <a href="@{HeritageObjects.list()}"><span>&{'thing.objects.heritage'}</span></a></li>
                <li class='${"DObjects".isCurrent()}'>
                    <a href="@{DObjects.list()}"><span>&{'thing.objects.user'}</span></a></li>
                <li class='${"Collections".isCurrent()}'>
                    <a href="@{Collections.list()}"><span>&{'thing.collections'}</span></a></li>
                <li class='${"Stories".isCurrent()}'>
                    <a href="@{Stories.list()}"><span>&{'thing.stories'}</span></a>
                </li>
                <li class='${"Users".isCurrent()}'>
                    <a href="@{Users.list()}"><span>&{'thing.users'}</span></a>
                </li>
                #{mainMenu menu:menu /}
            </ul>

        </div>

    </div>
</div>

<div id="header">
    <div class="container_12">
        <div class="grid_12">
            <h1>${views.context.package.themeDisplayName()}</h1>
            <h2>${viewUtils.themeProperty('siteSlogan').raw()}</h2>
        </div>
    </div>
</div>

<div id="search" role="search">
    <div class="container_12">
        <div class="grid_12">
            <form method="get" action="/search" id="simple-search" onsubmit="return checkSimpleSearchSubmit('query');">
                <input type="text" id="query" name="query" value='${params.query}'/>
                <input type="submit" value="&{'ui.label.search'}">
            </form>
        </div>
    </div>
</div>

<div id="content" role="main">
    <div class="container_12">
        #{doLayout /}
    </div>
</div>

<div id="footer">
    <div class="container_12">
        <div class="grid_6">
            <div class="poweredBy">
                <a href="http://www.delving.eu" target="_blank" title="Powered by DELVING.EU"><img src="@{'/public/common/images/powered-by-delving.png'}" alt="Powered by DELVING.EU" width="100"/></a>
            </div>
        </div>
        <div class="grid_6">
            <div class="secondary-branding" role="banner">
                <a href="${viewUtils.themeProperty('secondaryBrandingURL')}" target="_blank" title="${viewUtils.themeProperty('secondaryBrandingName')}"><img src='${views.context.package.themePath("images/logo-secondary.png")}' alt="" title="" align="absmiddle"/></a>
            </div>
        </div>
    </div>
</div>


