%{ def pageId = get 'pageId' }%

#{include 'commonHeader.html' /}

<div id="page-top">
    <div class="container">
       <div class="navbar navbar-fixed-top">
            <div class="navbar-inner">
                <div class="container"  id="top-nav">
                #{userNav userName: userName, email:email, organizations:organizations, showLang:themeInfo.get('userNavLangSelect'), showLogin:themeInfo.get('showLogin')/}
                <div class="nav-collapse">
                    <form method="get" action="/search" class="navbar-search pull-right form-horizontal" id="simple-search" onsubmit="return checkSimpleSearchSubmit('query');">
                        <input class="search-query" placeholder="&{'ui.label.search'} ..." type="text" id="query" name="query" value='${params.get("query")? params.get("query").apply(0) : ""}'/>
                        <button type="submit" class="btn btn-primary submit" title="&{'ui.label.search'}"><i class="icon icon-search icon-white"></i></button>
                    </form>
                </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="span6">
                <div class="branding">
                    <img class="site-logo pull-left" src='${themeInfo.path("images/logo-primary.png")}' alt="${themeInfo.siteName}" title="${themeInfo.siteName}"/>
                    <div class="pull-left">
                        <h1 class="site-name"><a href="/" class="brand">${themeInfo.siteName}</a></h1>
                        <h2 class="site-slogan">${themeInfo.siteSlogan}</h2>
                    </div>
                </div>
            </div>
            <div class="span6 site-nav">
            #{mainMenu menu:menu, extraClass: "nav-pills bordered" /}
            </div>
        </div>
    </div>
</div>
</div>
<div id="content" role="main">
    <div class="container">
        #{doLayout /}
    </div>
</div>

#{include 'commonFooter.html' /}
