#{include 'commonHeader.html' /}
<link rel="stylesheet" href='${views.context.package.themePath("stylesheets/font-face.css")}' type="text/css"/>

<div class="container container_12">

    <div class="user-nav">
        #{include 'userNav.html' /}
    </div>
    <div class="header">
        <div class="grid_6">
            <h1 id="site-name" class="grid_3 alpha"><span>${views.context.package.themeDisplayName()}</span></h1>

            <div id="primary-branding">
                <a href="@{Application.index()}"><img src='${views.context.package.themePath("images/logo-primary.png")}' alt="${views.context.package.themeDisplayName()}" title="${views.context.package.themeDisplayName()}"/></a>
            </div>
            <div id="secondary-branding" role="banner" class="grid_3 omega">
                <a href="${viewUtils.themeProperty('secondaryBrandingURL')}" target="_blank" title="${viewUtils.themeProperty('secondaryBrandingName')}"><img src='${views.context.package.themePath("images/logo-secondary.png")}' alt="" title=""/></a>
            </div>
        </div>

        <div id="site-nav" class="grid_6">
            <ul>
                <li class='${"Application".isCurrent()}'>
                    <a href="@{Application.index()}"><span>&{'site.nav.home'}</span></a></li>
                <li class='${"DObjects".isCurrent()}'>
                    <a href="@{DObjects.list()}"><span>&{'thing.objects'}</span></a></li>
                <li class='${"Collections".isCurrent()}'>
                    <a href="@{Collections.list()}"><span>&{'thing.collections'}</span></a></li>
                <li class='${"Stories".isCurrent()}'><a href="@{Stories.list()}"><span>&{'thing.stories'}</span></a>
                </li>
                <li class='${"Users".isCurrent()}'><a href="@{Users.list()}"><span>&{'thing.users'}</span></a></li>
            </ul>
        </div>
        <div id="search" role="search" class="grid_6">
            <form method="get" action="/search" id="simple-search" onsubmit="return checkSimpleSearchSubmit('query');">
                <input type="text" id="query" name="query" value='${params.query}'/>
                <input type="submit" value="&{'ui.label.search'}">
            </form>
        </div>
        <div id="site-slogan">${viewUtils.themeProperty('siteSlogan').raw()}</div>
    </div>

    <div class="main">
            #{doLayout /}
    </div>

    <div class="footer">
        <div class="content">
            <a href="http://www.delving.eu" target="_blank" title="Powered by DELVING.EU"><img src="@{'/public/common/images/powered-by-delving.png'}" alt="&{'ui.poweredby'}"/></a>

        </div>
    </div>
</div>
#{include 'commonFooter.html' /}