#{include 'commonHeader.html' /}

<div id="page" class="containers">

    <h1 id="site-name"><span>${views.context.package.themeDisplayName()}</span></h1>

    <div id="primary-branding">
        <div class="container">
            <div class="content">
                <a href="@{Application.index()}"><img src='${views.context.package.themePath("images/logo-primary.png")}' alt="${views.context.package.themeDisplayName()}" title="${views.context.package.themeDisplayName()}"/></a>
            </div>
        </div>
    </div>

    <div id="secondary-branding">
        <div class="container">
            <div class="content">
                <a href="" target="_blank" title="9999u"><img src='${views.context.package.themePath("images/logo-secondary.png")}' alt="" title=""/></a>
            </div>
        </div>
    </div>

    <div id="header" role="banner">
        <div class="container">
            <div class="content">

            </div>
        </div>
    </div>

    <div id="search" role="search">
        <div class="container">
            <div class="content">
                <form method="get" action="/search" id="simple-search" onsubmit="return checkSimpleSearchSubmit('query');">
                    <input type="text" id="query" name="query" value='${params.query}'/>
                    <input type="submit" value="&{'ui.label.search'}">
                </form>
            </div>
        </div>
    </div>

    <div id="user-nav">
        <div class="container">
            <div class="content">
               #{userNav
                    userName: userName,
                    email:email,
                    organizations:organizations,
                    navStyle:viewUtils.themeProperty('userNavStyle'),
                    showLang:viewUtils.themeProperty('userNavLangSelect')
                /}
            </div>
        </div>
    </div>

    <div id="main">
        <div class="container">
            <div class="content">
                #{doLayout /}
            </div>
            <div class="clear"></div>
        </div>
    </div>

    <div id="main-nav">
        <div class="container">
            <div class="content">
                <ul class="nav">
                <li class='${"Application".isCurrent()}'><a href="@{Application.index()}"><span>&{'site.nav.home'}</span></a></li>
                <li class='${"HeritageObjects".isCurrent()}'><a href="@{HeritageObjects.list()}"><span>&{'thing.objects.heritage'}</span></a></li>
                <li class='${"DObjects".isCurrent()}'><a href="/objects"><span>&{'thing.objects.user'}</span></a></li>
                <li class='${"Collections".isCurrent()}'><a href="/collections"><span>&{'thing.collections'}</span></a></li>
                <li class='${"Stories".isCurrent()}'><a href="/stories"><span>&{'thing.stories'}</span></a>
                <li class='${"Users".isCurrent()}'><a href="/users"><span>&{'thing.users'}</span></a></li>
                </ul>
            </div>
        </div>
    </div>



    <div id="footer">
        <div class="container">
            <div class="content">

                <a href="http://www.delving.eu" target="_blank" title="Powered by DELVING.EU"><img src="@{'/public/common/images/powered-by-delving.png'}" alt="Powered by DELVING.EU"/></a>

            </div>
        </div>
    </div>

</div>

<div id="extraDiv1"><span></span></div>
<div id="extraDiv2"><span></span></div>
<div id="extraDiv3"><span></span></div>
<div id="extraDiv4"><span></span></div>
<div id="extraDiv5"><span></span></div>
<div id="extraDiv6"><span></span></div>
#{include 'commonFooter.html' /}
