#{extends viewUtils.themeProperty('themeLayout') /}
#{if count > views.context.package.PAGE_SIZE()}
#{set 'moreScripts'}
    <script>
        pageObject = new Object();
        pageObject.count = ${count};
        pageObject.page = ${page};
        pageObject.link = '?page=__id__';
        pageObject.previous = "${viewUtils.getKey('ui.label.previous')}";
        pageObject.next = "${viewUtils.getKey('ui.label.next')}";
        pageObject.itemsPerPage = ${views.context.package.PAGE_SIZE()}
        pageObject.selector = ".pager"
    </script>
    <script type="text/javascript" language="javascript" src="/public/common/javascripts/paginationInit.js"></script>
#{/set}
#{/if}

#{breadcrumbs /}

#{if browsedUserName}
    #{set title: viewUtils.getKey('ui.label.browse') + ' ' + viewUtils.getKey("thing.${itemName.pluralize()}") + ': ' + browsedUserName + ' (' + count +')' /}
    <h1 class="sep">&{'ui.label.browse'} ${viewUtils.getKey("thing.${itemName.pluralize()}")}: <span>${browsedUserName}</span> (${count})</h1>
#{/if}
#{else}
    #{set title: viewUtils.getKey('ui.label.browse') + ' ' + viewUtils.getKey("thing.${itemName.pluralize()}") + ' (' + count +')' /}
    <h1 class="sep">&{'ui.label.browse'} ${viewUtils.getKey("thing.${itemName.pluralize()}")} (${count})</h1>
#{/else}
    <div class="row">
        <div class="g-12of12 grid_12 mbm">
        #{if count > views.context.package.PAGE_SIZE()}
            <div class="pager"></div>
        #{/if}
        #{elseif items.length() == 0}
        <p>
            &{'ui.message.nothingFound'}
        </p>
        #{/elseif}
        </div>
    </div>

%{ def counter = 1 }%
#{list items, as: 'i'}
    #{if counter == 1}
    <div class="row">
    #{/if}
    <div class="g-1of3 grid_3 #{if i.isPrivate}private#{/if}">
        #{thingSummaryView data: i, iSize: 220, isPrivate: i.isPrivate /}
    </div>
    %{ counter++ }%
    #{if counter > 4 || i_isLast }
    </div><!-- end row -->
    %{ counter = 1 }%
    #{/if}
#{/list}

#{if count > views.context.package.PAGE_SIZE()}
<div class="row">
    <div class="g-12of12 grid_12 mtm">
        <div class="pager"></div>
    </div>
</div>
#{/if}

<script>
    $(document).ready(function(){
    $(".ic_container").capslide({
        caption_color    : 'white',
        caption_bgcolor    : 'black',
        overlay_bgcolor : 'black',
        border            : '',
        showcaption        : true
    });
    });

</script>