@(title: String, itemName: String, items: List[controllers.ListItem], page: Int, count: Int)

@import views.context._
@import views.tags.html._

@header(title) {

@breadcrumbs()

<div class="grid_16 alpha" id="items">
    <!-- @count @page @PAGE_SIZE -->
    @if(browsedUserName != null) {
    <h2>Browse @itemName.pluralize owned by: <span>@browsedUserName</span> (@count)</h2>
    } else {
    <h2>Browse @itemName.pluralize (@count)</h2>
    }

    @if(items.length > 0) {
    <div class="item-nav">
        <div id="pager">@pagination(selector = "#pager", count = count, start = page)</div>
    </div>
    }   else {
        <p>There are currently no @itemName.pluralize available</p>
    }

    <div class="clear"></div>
    <div class="items">
    @for(i <- items) {
    <div class="item two-col">
      <div class="inner">
        <div class="media medium">
            <!--<img src='thumbnailUrl(i.thumbnail)' width="84" alt="@i.title"/>-->
        </div>
        <div class="metadata">
            <div class="hd">
                <h4><a href="/@i.userName/@itemName/@i.id">@i.title</a></h4>
            </div>
            <div class="bd">
                @i.description
            </div>
            <div class="ft">
            @if(i.userName == userName) {
            <div class="actions">
                <a class="action edit image-edit" href="/@i.userName/@itemName/@i.id/update">Edit @itemName.capitalize</a>
            </div>
            }
            </div>
        </div>
       </div>
    </div>
    }
    </div>
</div>

}