#{extends viewUtils.themeProperty('themeLayout') /}
#{set title: title /}
#{breadcrumbs /}

#{if browsedUserName}
<h1 class="sep">Browse ${viewUtils.getKey("thing.${itemName.pluralize()}")}: <span>${browsedUserName}</span> (${count})</h1>
#{/if}
#{else}
<h1 class="sep">Browse ${viewUtils.getKey("thing.${itemName.pluralize()}")} (${count})</h1>
#{/else}
#{if items.length() > 0}
<div class="g-12of12">
    <div class="mod pager">#{pagination selector: ".pager", count: count, start: page /}</div>
</div>
#{/if}
#{else}
<p>There are currently no ${itemName.pluralize()} available</p>
#{/else}



%{ def counter = 1 }%

#{list items, as: 'i'}

#{if counter == 1}
<div class="row">
    #{/if}

    <div class="g-4of12">
        <div class="mod">
            <div class="media ${itemName}">

                <a href="/${i.userName}/${itemName}/${i.id}" class="img" rel="nofollow">
                    <img src='${views.context.package.thumbnailUrl(i.thumbnail)}' alt="${i.title}" width="100" class="img"/>
                </a>

                <div class="bd">
                    <div class="metadata">

                        <a href="/${i.userName}/${itemName}/${i.id}" class="title" rel="nofollow">${i.title.shorten(50)}</a>

                        #{if i.description}
                        <div class="more-info">
                            <div class="inner">
                                ${i.description.shorten(100)}
                            </div>
                        </div>
                        #{/if}

                    </div>
                </div>
            </div>
        </div>

    </div>

    %{ counter++ }%

    #{if counter > 3 || i_isLast }
</div><!-- end line -->
%{ counter = 1 }%
#{/if}

#{/list}

#{if items.length() > 0}
<div class="row">
    <div class="mod pager">#{pagination selector: ".pager", count: count, start: page /}</div>
</div>
#{/if}