#{extends viewUtils.themeProperty('themeLayout') /}
#{if count > views.context.package.PAGE_SIZE()}
#{set 'moreScripts'}
    <script>
        pageObject = new Object();
        pageObject.count = ${count};
        pageObject.page = ${page};
        pageObject.link = '?page=__id__';
        pageObject.previous = "${viewUtils.getKey('ui.label.previous')}";
        pageObject.next = "${viewUtils.getKey('ui.label.next')}";
        pageObject.itemsPerPage = ${views.context.package.PAGE_SIZE()}
        pageObject.selector = ".pager"
    </script>
    <script type="text/javascript" language="javascript" src="/public/common/javascripts/paginationInit.js"></script>
#{/set}
#{/if}

#{breadcrumbs /}

#{if browsedUserName}
    #{set title: 'Browse  '+ viewUtils.getKey("thing.${itemName.pluralize()}") + ': ' + browsedUserName + ' (' + count +')' /}
    <h1 class="sep">Browse ${viewUtils.getKey("thing.${itemName.pluralize()}")}: <span>${browsedUserName}</span> (${count})</h1>
#{/if}
#{else}
    #{set title: 'Browse  '+ viewUtils.getKey("thing.${itemName.pluralize()}") + ' (' + count +')' /}
    <h1 class="sep">Browse ${viewUtils.getKey("thing.${itemName.pluralize()}")} (${count})</h1>
#{/else}
    <div class="row">
        <div class="g-12of12 grid_12 mbm">
        #{if count > views.context.package.PAGE_SIZE()}
            <div class="pager"></div>
        #{/if}
        #{elseif items.length() == 0}
        <p>
            &{'ui.message.nothingFound'}
        </p>
        #{/elseif}
        </div>
    </div>

%{ def counter = 1 }%
#{list items, as: 'i'}
    #{if counter == 1}
    <div class="row">
    #{/if}
    <div class="g-3of12 grid_3 #{if i.isPrivate}private#{/if}">
        <div class="list">
            <div class="media ${itemName}">
                <a href="/${i.userName}/${itemName}/${i.id}" class="clip" rel="nofollow">
                    <img src='${i.thumbnail(220)}' widht="220" alt="${i.title}" class="img"/>
                </a>
                <div class="bd">
                    <div class="metadata">
                        <a href="/${i.userName}/${itemName}/${i.id}" class="title" rel="nofollow">${i.title.shorten(50)}</a>
                        <span class="label">&{'thing.owner'}:</span> <a href="/${i.userName}">${i.userName}</a>
                        *{
                        #{if i.description}
                        <div class="more-info">
                            <div class="inner">
                                ${i.description.shorten(100)}
                            </div>
                        </div>
                        #{/if}
                        }*
                        #{if i.isPrivate}
                        <div class="private">
                            %{ def updateLink = '/'+ i.userName + '/' + itemName + '/' + i.id + '/update' }%
                            <span> ${viewUtils.getKey('ui.message.statusPrivate', updateLink).raw()}</span>
                        </div>
                        #{/if}
                    </div>
                </div>
            </div>
        </div>
    </div>
    %{ counter++ }%
    #{if counter > 4 || i_isLast }
    </div><!-- end row -->
    %{ counter = 1 }%
    #{/if}
#{/list}

#{if count > views.context.package.PAGE_SIZE()}
<div class="row">
    <div class="g-12of12 grid_12 mtm">
        <div class="pager"></div>
    </div>
</div>
#{/if}

<script>
//    $(document).ready(function(){
//       $('.media').hover(function(){
//             $(this).find('.more-info').toggle('fast');
//       })
//    });

</script>