@(title: String = "", isCurrent: String = "")(body: => Html)

@import views.context._

@header(title, isCurrent) {

    <div class="clear"></div>

    <div class="grid_16" id="search">
          <form method="get" action="search" class="grid_12 alpha push_4">
              <input type="text" class="textinput" id="query" name="query"/>
              <input type="submit" value="Search"/>
          </form>
    </div>

        <div id="content" class="grid_16">
            @body
        </div>
    <div class="clear"></div>

}