@(title: String = "")(body: => Html)

@import views.context._

@header(title) {

    <div id="main-nav" class="grid_16">
        <ul class="push_4 omega">
            <li><a href="@action(controllers.Application.index)">Home</a></li>
            <li><a href="">Users</a></li>
            <li><a href="">Objects</a></li>
            <li><a href="">Collections</a></li>
            <li><a href="">Stories</a></li>
        </ul>
    </div>

    <div class="clear"></div>

    <div class="grid_16" id="search">
          <form method="get" action="search" class="grid_12 alpha push_4">
              <input type="text" class="textinput" id="query" name="query"/>
              <input type="submit" value="Search"/>
          </form>
    </div>

        <div id="content" class="grid_16">
            @body
        </div>
    <div class="clear"></div>

}