@(error: Option[Throwable], message: Option[String])

<!DOCTYPE html>

<html>
<head>
    <title>500</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <link rel="stylesheet" href="/assets/common/stylesheets/error-pages.css" type="text/css" media="all" />
</head>
<body>

<div class="container fivehundred">
    <h1 class="error-code">500</h1>
    <h2 class="error-message">Holy cow, an error occured!</h2>
    <img src="/assets/common/images/error-500-1.jpg" width="300" />
    <img src="/assets/common/images/error-500-2.jpg" width="300" />
    <p>We are dispatching a team of highly trained mathematicians to analyze the issue.</p>
    @if(error.isDefined) {
        <p>@error.get.getMessage</p>
    }
    @if(message.isDefined) {
        <p>@message.get</p>
    }
    <div class="options">
      <a href="/">@play.api.i18n.Messages("_hub.Home")</a>
    </div>
</div>


        @if(error.isDefined && error.get.isInstanceOf[play.api.UsefulException]) {
		<p id="detail">
			This exception has been logged with id <strong>@error.get.asInstanceOf[play.api.UsefulException].id</strong>.
		</p>
        }

	</body>
</html>






