@(request:play.api.mvc.RequestHeader, message: String, router:Option[play.core.Router.Routes])

<!DOCTYPE html>
<html>
<head>
    <title>Not found</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <link rel="stylesheet" href="/assets/common/stylesheets/error-pages.css" type="text/css" media="all" />
    <title>404</title>
</head>
<body>

<div class="container">
    <h1 class="error-code">404</h1>
    <h2 class="error-message">Page not found!</h2>
    <img src="/assets/common/images/error-404.jpg" width="300" />
    <p>@message</p>
    <div class="options">
        <a href="/">@play.api.i18n.Messages("_hub.Home")</a>
    </div>
</div>

</body>
</html>