@()

<!DOCTYPE html>
<html>
<head>
    <title>Service unavailable</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <link rel="stylesheet" href="/assets/common/stylesheets/error-pages.css" type="text/css" media="all" />
    <title>503</title>
</head>
<body>

<div class="container">
    <h1 class="error-code">503</h1>
    <h2 class="error-message">Service unavailable</h2>
    <img src="/assets/common/images/error-503.jpg" width="300" />
    <p>We seem to have a bit too much on our shoulders right now, we'll be right back!</p>
</div>

</body>
</html>