#{extends viewUtils.themeProperty('themeLayout') /}
#{set title: viewUtils.getKey('profile.title') + ': ' + userName /}

#{breadcrumbs /}

<h1 class="sep">&{'profile.title'}: <span>${user.fullname()}</span></h1>

<div class="dashboard pam">
    <div class="row">
        <div class="g-6of12 grid_6">
            <div class="info-box">
                <span class="label">&{'ui.label.username'}:</span><span class="text">${user.userName}</span>
                <span class="label">&{'ui.label.fullname'}:</span><span class="text">${user.fullname()}</span>
                <span class="label">&{'profile.activesince'}:</span><span class="text">${views.context.package.niceTime(user._id.getTime())}</span>
                <span class="label">&{'user.profile.aboutYou'}:</span><span class="text">${user.userProfile.description().isEmpty() ? " - " : user.userProfile.description().get()}</span>
            </div>
        </div>
        <div class="g-6of12 grid_6">
            <div class="info-box long">
                <span class="label">&{'thing.objectcount'}:</span><span class="text"><a href="/${user.userName}/object"> ${objects.length()}</a></span>
                <span class="label">&{'thing.collectioncount'}:</span><span class="text"><a href="/${user.userName}/collection">${collections.length()}</a></span>
                <span class="label">&{'thing.storycount'}:</span><span class="text"><a href="/${user.userName}/story">${stories.length()}</a></span>
                <span class="label">&{'user.profile.funFact'}:</span><span class="text">${user.userProfile.funFact().isEmpty() ? " - " : user.userProfile.funFact().get()}</span>
                <span class="label">Twitter:</span><span class="text">${user.userProfile.twitter().isEmpty() ? " - " : user.userProfile.twitter().get()}</span>
                <span class="label">LinkedIn:</span><span class="text">${user.userProfile.linkedIn().isEmpty() ? " - " : user.userProfile.linkedIn().get()}</span>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="g-12of12 grid_12">
            #{if user.userName == userName}
            #{btnHref label:messages.get('ui.label.edit'), extraClass:"fright", iconClass:"icon145", href: "/" + user.userName + "/admin/profile/update" /}
            #{/if}
        </div>

    </div>

</div>