#{extends viewUtils.themeProperty('themeLayout') /}
#{set title: viewUtils.getKey('profile.title') + ': ' + userName /}

#{breadcrumbs /}

<h1 class="sep">&{'profile.title'}: <span>${user.fullname()}</span></h1>

<div class="grid_12">
<div class="dashboard ptm ">

    <div class="row">
        <div class="g-6of12 grid_6">
            <div class="info-box">
                <span class="label">&{'ui.label.username'}:</span><span class="text">${user.userName}</span>
                <span class="label">&{'ui.label.fullname'}:</span><span class="text">${user.fullname()}</span>
                <span class="label">&{'profile.activesince'}:</span><span class="text">${views.context.package.niceTime(user._id.getTime())}</span>
                <span class="label">&{'user.profile.aboutYou'}:</span><span class="text">${user.userProfile.description().isEmpty() ? " - " : user.userProfile.description().get()}</span>
            </div>
        </div>
        <div class="g-6of12 grid_6">
            <div class="info-box long">
                <span class="label">&{'user.profile.funFact'}:</span><span class="text">${user.userProfile.funFact().isEmpty() ? " - " : user.userProfile.funFact().get()}</span>
                <span class="label">Twitter:</span><span class="text">${user.userProfile.twitter().isEmpty() ? " - " : user.userProfile.twitter().get()}</span>
                <span class="label">LinkedIn:</span><span class="text">${user.userProfile.linkedIn().isEmpty() ? " - " : user.userProfile.linkedIn().get()}</span>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="g-12of12 grid_12">
            #{if user.userName == userName}
            #{btnHref label:messages.get('ui.label.edit'), extraClass:"fright", iconClass:"icon145", href: "/" + user.userName + "/admin/profile/update" /}
            #{/if}
        </div>

    </div>

    <div class="row">
        <div class="g-1of3 grid_4">
            <div class="widget">
                <div class="hd"><h3>&{'thing.objects'} (${objectsCount})</h3></div>
                <div class="bd">
                    #{list objects, as: 'o'}
                    <div class="media">
                        <a href="/${o.userName}/object/${o.id}" class="clip"><img src='${views.context.package.thumbnailUrl(o.thumbnail, 80)}' width="80" class="img" alt="${o.title}"/></a>

                        <div class="bd">
                            <div class="metadata">
                                <span class="title"><a href="/${o.userName}/object/${o.id}" title="${o.title}">${o.title.shorten(50)}</a></span>
                            </div>
                        </div>
                    </div>
                    #{/list}
                </div>
            </div>
        </div>

        <div class="g-1of3 grid_4">
            <div class="widget">
                <div class="hd"><h3>&{'thing.collections'} (${collectionsCount})</h3></div>
                <div class="bd">
                    #{list collections, as: 'c'}
                    <div class="media">
                        <a href="/${c.userName}/collections/${c.id}" class="clip"><img src='${views.context.package.thumbnailUrl(c.thumbnail, 80)}' width="80" class="img" alt="${c.title}"/></a>

                        <div class="bd">
                            <div class="metadata">
                                <span class="title"><a href="/${c.userName}/collection/${c.id}" title="${c.title}">${c.title.shorten(50)}</a></span>
                            </div>
                        </div>
                    </div>
                    #{/list}
                </div>
            </div>
        </div>

        <div class="g-1of3 grid_4">
            <div class="widget">
                <div class="hd"><h3>&{'thing.stories'} (${storiesCount})</h3></div>
                <div class="bd">
                    %{ def counter = 0}%
                    #{list stories, as: 's'}
                    #{if counter < 3}
                    <div class="media">
                        <a href="/${s.userName}/story/${s.id}" class="clip"><img src='${views.context.package.thumbnailUrl(s.thumbnail, 80)}' width="80" class="img" alt="${s.title}"/></a>

                        <div class="bd">
                            <div class="metadata">
                                <span class="title"><a href="/${s.userName}/story/${s.id}" title="${s.title}">${s.title.shorten(50)}</a></span>
                            </div>
                        </div>
                    </div>
                    #{/if}
                    #{if counter == 3 }
                    #{btnHref label:viewUtils.getKey('ui.label.more'), href:"test" /}
                    <a href="sdffa" class="button">
                        <span class="label">test</span>
                    </a>
                    #{/if}
                    %{ counter++ }%
                    #{/list}
                </div>
            </div>
        </div>
    </div>
</div>
</div>