#{extends themeInfo.get('themeLayout') /}
#{set title: messages.get('_hub.ProfilePageFor') + ': ' + browsedUserName /}
#{set bodyId: 'profile' /}

#{breadcrumbs crumbs: breadcrumbs /}

<div class="row">
    <div class="span3">
      <p>#{gravatar.img user.email, size:200 /}</p>
      #{if user.userName == userName}
        <p>#{btnHref label:messages.get('_hub.Edit'), extraClass:"btn-primary", href: "/" + user.userName + "/admin/profile/update", rel:"nofollow" /}</p>
      #{/if}
    </div>
    <div class="span9">
        <dl class="dl-horizontal">
            <dt>&{'_hub.Username'}:</dt>
            <dd>${user.userName}</dd>
            #{if isVisible}
            <dt>&{'_hub.FullName'}:</dt>
            <dd>${user.fullname()}</dd>
            <dt>&{'_hub.ProfileActiveSince'}:</dt>
            <dd>${views.Helpers.niceTime(user._id.getTime())}</dd>
            #{ifnot user.userProfile.funFact().isEmpty()}
                <dt>&{'_hub.FunFact'}:</dt><dd>${user.userProfile.funFact().get()}</dd>
            #{/ifnot}
            #{ifnot user.userProfile.fixedPhone().isEmpty()}
                <dt>Phone:</dt><dd>${user.userProfile.fixedPhone().get()}</dd>
            #{/ifnot}
            #{ifnot user.userProfile.twitter().isEmpty()}
                <dt>Twitter:</dt><dd><a href="http://twitter.com/${user.userProfile.twitter().get()}" target="_blank">${user.userProfile.twitter().get()}</a></dd>
            #{/ifnot}
            #{ifnot user.userProfile.linkedIn().isEmpty()}
                <dt>LinkedIn:</dt><dd><a href="http://www.linkedin.com/in/${user.userProfile.linkedIn().get()}" target="_blank"><img src="http://www.linkedin.com/img/webpromo/btn_profile_bluetxt_80x15.png" width="80" height="15" border="0" alt="${user.fullname()}"></a></dd>
            #{/ifnot}
            #{ifnot user.userProfile.description().isEmpty()}
                <dt>&{'_hub.AboutYou'}:</dt>
                <dd>${user.userProfile.description().get()}</dd>
            #{/ifnot}
            #{/if}
        </dl>
    </div>
</div>
*{
    #{if false}
    <div class="grid_12">
    #{censorship canCensor:isNodeAdmin, type:"user", userName: user.userName /}
    </div>
    </div>
    <div class="row">
        <div class="span4">
            <div class="widget">
                <div class="hd"><h3>&{'_hubb.Objects'} (${objectsCount ? objectsCount : 0})</h3></div>
                <div class="bd">

                    #{list objects, as: 'o'}
                    #{thingSummaryView data: o, iSize: 40, viewType: 'media'  /}
                    <hr/>
                    #{/list}
                    #{if objectsCount > objects.size()}
                    #{btnHref label: messages.get('_hub.More')+"...", href: user.userName + "/object", extraClass: "fright" /}
                    #{/if}

                </div>

            </div>
        </div>

        <div class="span4">
            <div class="widget">
                <div class="hd"><h3>&{'_hubb.Collections'} (${collectionsCount? collectionsCount : 0})</h3></div>
                <div class="bd">
                    #{list collections, as: 'c'}
                    #{thingSummaryView data: c, iSize: 40, viewType: 'media'  /}
                    <hr/>
                    #{/list}
                    #{if collectionsCount > collections.size()}
                    #{btnHref label: messages.get('_hub.More')+"...", href: user.userName + "/collection" /}
                    #{/if}
                </div>
            </div>
        </div>

        <div class="span4">
            <div class="widget">
                <div class="hd"><h3>&{'_hubb.Stories'} (${storiesCount? storiesCount : 0})</h3></div>
                <div class="bd">
                    #{list stories, as: 's'}
                    #{thingSummaryView data: s, iSize: 40, viewType: 'media'  /}
                    <hr/>
                    #{/list}
                    #{if storiesCount > stories.size()}
                    #{btnHref label: messages.get('_hub.More')+"...", href: user.userName + "/story" /}
                    #{/if}

                </div>
            </div>
        </div>
    </div>
    #{/if}
}*