@(user:controllers.ShortUser, objects: List[controllers.ShortObject], collections: List[controllers.ShortCollection], stories: List[controllers.ShortStory])

@import views.context._

@header("Profile of user " + user.fullName ) {
<h2 class="grid_16">Profile page for: <span>@user.fullName</span></h2>

<hr/>
        UserName: @user.userName
<hr/>
        First Name: @user.firstName
<hr/>
        Last Name: @user.lastName
<hr/>
        Full Name: @user.fullName
<hr/>
        Email: @user.email
<hr/>
<hr/>
        All the objects of this user:
        @for(o <- objects) {
          <ul>
            <li>ID: @o.id</li>
            <li>Updated: @niceTime(o.TS_update)</li>
            <li>Name: @o.name</li>
            <li>Description: @o.shortDescription</li>
            <li><img src="@thumbnailUrl(o.id)"></li>
          </ul>
        }
<hr/>
All the collections of this user:
@for(c <- collections) {
  <ul>
    <li>ID: @c.id</li>
    <li>Updated: @niceTime(c.TS_update)</li>
    <li>Name: @c.name</li>
    <li>Description: @c.shortDescription</li>
    <li><img src="@thumbnailUrl(c.thumbnail)"></li>
  </ul>
}

<hr/>
All the stories of this user:
@for(s <- stories) {
  <ul>
    <li>ID: @s.id</li>
    <li>Updated: @niceTime(s.TS_update)</li>
    <li>Name: @s.name</li>
    <li>Description: @s.shortDescription</li>
    <li><img src="@thumbnailUrl(s.thumbnail)"></li>
  </ul>
}






}