@(user:controllers.ShortUser, objects: List[controllers.ListItem], collections: List[controllers.ShortCollection], stories: List[controllers.ShortStory])

@import views.context._
@import views.tags.html._

@header("Profile of user " + user.fullName ) {

@breadcrumbs()

<h1>Profile page for: <span>@user.fullName</span></h1>
User name: @user.userName<br/>
Full Name: @user.fullName<br/>
Active since: @niceTime(user.id.getTime)<br/>
<!--Email: @user.email<br/>-->
Number of objects: <a href="/@user.userName/object"> @objects.length</a><br/>
Number of collections: <a href="/@user.userName/collection">@collections.length</a><br/>
Number of stories: <a href="/@user.userName/story">@stories.length</a><br/>
}