#{extends themeInfo.get('themeLayout') /}

#{set title: messages.get('thing.pages') /}

#{set bodyId: 'organization' /}

#{breadcrumbs theme: themeInfo.getTheme() /}

#{organizationNavBar orgId: orgId, active:"site", isOwner: isOwner, isCMSAdmin: isCMSAdmin, currentLanguage: currentLanguage /}

<div class="row">

    <div class="span12">
        <form class="form-inline well">
        <label for="language">&{'org.cms.list.languageSwitch'}</label>
        <select id="language" name="language">
        #{list languages, as: 'option'}
            <option #{if currentLanguage == option._1} selected="selected #{/if}value="${option._1}">${option._2}</option>
        #{/list}
        </select>
        </form>




            <table class="table table-striped">
                <caption>Site pages</caption>
                <thead>
                <tr>
                    <th>&{'thing.title'}</th>
                    <th width="25%">&{'thing.actions'}</th>
                </tr>
                </thead>
                <tbody data-bind="foreach: pages()">
                <tr>
                    <td>
                        <span class="page-title" data-bind="text: title"></span>
                        *{TODO: CREATE URL FOR THIS}*
                        *{<a data-bind="attr: {href: '/page/' key}"><span class="page-title" data-bind="text: title"></span></a>}*
                    </td>
                    <td>
                        <a class="btn btn-primary btn-prominent" href="#" data-bind="click: function() { $parent.editPage($data) }">
                            &{'ui.label.edit'}
                        </a>
                        <a class="btn btn-danger pull-right" href="#" data-bind="click: function() { $parent.deletePage($data) }">
                            &{'ui.label.delete'}
                        </a>
                    </td>
                </tr>
                </tbody>
            </table>

    </div>
    </div>




<div id="dialog-confirm-page-delete" title="&{'org.cms.list.deletePage'}" style="display: none;">
    <p>
        <span class="ui-icon ui-icon-alert" style="float:left; margin:0 7px 20px 0;"></span>
    &{'org.cms.list.deletePageConfirm'}
    </p>
</div>

<script type="text/javascript">
    $(document).ready(function () {
        var pagesModel = {
            editPage:function (page) {
                document.location = "/organizations/${orgId}/site/" + page.lang() + "/page/" + page.key() + "/update"
            },
            deletePage:function (page) {
                confirmDeletion('#dialog-confirm-page-delete', function () {
                    $.ajax({
                        url:'/organizations/${orgId}/site/' + page.lang() + '/page/' + page.key(),
                        type:'DELETE',
                        success:function () {
                            var idx;
                            pagesModel.pages.remove(function (item) {
                                return item.key === page.key;
                            });
                        }
                    });
                });
            }
        };

        load(${data.raw()}, pagesModel, null, function () {
            $("body").css('visibility', 'visible');
        });

        $('#language').change(function () {
            document.location = '/organizations/${orgId}/site/' + $('select option:selected').val();
        });


    });
</script>