#{extends viewUtils.themeProperty('themeLayout') /}

#{set title: viewUtils.getKey('org.cms.upload') /}

#{set bodyId: 'organization' /}

#{breadcrumbs /}

#{organizationNavBar orgId: orgId, active:"site", isOwner: isOwner, isCMSAdmin: isCMSAdmin /}

<div class="row">
    <div class="grid_12">

        <div id="fileupload">

            <form action="#" method="post" enctype="multipart/form-data">
                <div class="fileupload-buttonbar">
                    <label class="fileinput-button">
                        <span>&{'ui.label.filesadd'}</span>
                        <input type="file" name="files[]" multiple="true"/>
                    </label>
                </div>
            </form>
            <div class="fileupload-content">
                <table class="files"></table>
            </div>

        </div>
    </div>


</div>


<script type="text/javascript">
    $(document).ready(function () {

        initUploadWidget(false);

        $('#fileupload').fileupload({
            url: '@{user.FileUpload.uploadFile(uid)}',
            autoUpload: true
        }).bind('fileuploaddone', function (e, data) {
            $.post('/organizations/${orgId}/site/upload/${uid}', function() {
                document.location = '/organizations/${orgId}/site/upload';
            });
        });

        var files = ${files.raw()};
        var fu = $('#fileupload').data('fileupload');
        fu._adjustMaxNumberOfFiles(-files.length);
        fu._renderDownload(files)
                .appendTo($('#fileupload .files'))
                .fadeIn(function () {
                    // Fix for IE7 and lower:
                    $(this).show();
                });

        $("body").css('visibility', 'visible');


    });

</script>