#{extends themeInfo.get('themeLayout') /}

#{set title: messages.get('org.cms.upload') /}

#{set bodyId: 'organization' /}

#{breadcrumbs request: request, theme: themeInfo.getTheme() /}

#{organizationNavBar orgId: orgId, active:"site", isOwner: isOwner, isCMSAdmin: isCMSAdmin /}

<div class="tab-content">
    <div class="buttons">
    #{cmsNavBar active:'image', currentLanguage:currentLanguage, orgId: orgId/}
    </div>
    <hr/>
    <div class="panel">
        <p>&{'org.cms.upload.image.explain'}</p>
    </div>

    <div class="row">


        <div id="fileupload">

            <form action="#" method="post" enctype="multipart/form-data">
                <div class="fileupload-buttonbar">
                    <label class="fileinput-button">
                        <span>&{'ui.label.filesadd'}</span>
                        <input type="file" name="files[]" multiple="true"/>
                    </label>
                </div>
            </form>
            <div class="fileupload-content">
                <table class="files"></table>
            </div>

        </div>
    </div>


</div>


<script type="text/javascript">
    $(document).ready(function () {

        initUploadWidget(false);

        $('#fileupload').fileupload({
            url:'@{controllers.user.routes.FileUpload.uploadFile(uid)}',
            autoUpload:true
        }).bind('fileuploaddone', function (e, data) {
                    $.post('/organizations/${orgId}/site/upload/${uid}');
                });

        var files = ${files.raw()};
        var fu = $('#fileupload').data('fileupload');
        fu._adjustMaxNumberOfFiles(-files.length);
        fu._renderDownload(files)
                .appendTo($('#fileupload .files'))
                .fadeIn(function () {
                    // Fix for IE7 and lower:
                    $(this).show();
                });

        $("body").css('visibility', 'visible');


    });

</script>