#{extends themeInfo.get('themeLayout') /}

#{set title: messages.get('hubb.Organization') + ': ' + orgId /}
#{set bodyId: 'organization' /}
#{breadcrumbs crumbs: breadcrumbs /}

#{if isMember}
    #{organizationNavBar isReadOnly: isReadOnly, isAdmin: isAdmin, orgId: orgId, active: 'overview', navigation: navigation /}
#{/if}


<div class="row">
    #{if collections.size() > 0}
    <div class="span4">
        <h3>&{'dataset.Datasets'}</h3>
        <ol>
        #{list collections, as: 'c'}
            #{if  c.class == models.DataSet }
            <li><a href=${"/admin/dataset/"+c.spec}>${c.spec}</a></li>
            #{/if}
            #{else}
            <li><a href=${"/admin/virtualCollection/"+c.spec}>${c.spec}</a></li>
            #{/else}
        #{/list}
        </ol>
    </div>
    #{/if}
    <div class="span4">
        <h3>&{'hub.Members'}</h3>
        <ol>
        #{list members, as: 'm'}
            <li><a href="/${m.userName}">${m.userName}</a></li>
        #{/list}
        </ol>
    </div>

</div>