#{extends viewUtils.themeProperty('themeLayout') /}

#{set title: viewUtils.getKey('thing.organization') + ': ' + orgId /}

#{breadcrumbs /}

<h1 class="sep">${orgName}</h1>

<div class="row">
    <div class="g-12of12">
        <div class="info-box">
            <span class="label">&{'thing.name'}</span><span class="text">${orgName}</span>
            #{if memberSince.isDefined()}
            <span class="label">&{'ui.label.memberSince'}</span><span class="text">${views.context.package.niceTime(memberSince.get())}</span>
            #{/if}
        </div>
    </div>
</div>

<hr/>
#{if memberSince.isDefined()}
<div class="row">
    <div class="g-12of12">
        <div class="toolbar">
            <div class="buttons">
                  #{btnHref label: viewUtils.getKey('ui.label.administration'), iconClass:"icon96", href:"/organizations/" + orgId + "/admin" /}
                  #{btnHref label: viewUtils.getKey('thing.groups'), iconClass:"icon203", href:"/organizations/" + orgId + "/groups" /}
                  #{btnHref label: viewUtils.getKey('thing.datasets'), iconClass:"icon175", href:"/organizations/" + orgId + "/dataset" /}
            </div>
        </div>
    </div>
</div>
#{/if}
<div class="row">
    <div class="g-1of2">
      #{if memberSince.isDefined()}
        <h3><a href="/organizations/${orgId}/dataset">&{'thing.datasets'}</a></h3>
      #{/}
      #{else}
        <h3>&{'thing.datasets'}</h3>
      #{/}

        <div class="mod">
          <ol>
          #{list dataSets, as: 'ds'}
            <li>${ds.spec}</li>
          #{/list}
          </ol>
        </div>
    </div>
    <div class="g-1of2">
        <h3>&{'organization.members'}</h3>

        <div class="mod">
          <ol>
            #{list members, as: 'm'}
            <li>${m.userName} (${m.fullUserName})</li>
            #{/list}
          </ol>
        </div>
    </div>
</div>