body {
    background:  #60652A;
    font: 15px/1.5 Arial,Helvetica,sans-serif;
    margin:  0;
}

body#authenticate {
       background:  #60652A url(../images/bg-header.png) repeat-x top left;
}

#login h2 {
    color: #555;
}

#login-registration {
    text-align: right;
}

#login #branding {
    margin:  0;
    text-align: center;
}

#login #branding h1 {
    margin:  0 auto 20px auto;
    color: #fff;
    width: 335px;
}



.container_16 {
    /*position: relative;*/
    min-width: 960px;
}

a, a:active, a:visited { color: #0673b9; }
a:hover { color: #10a1ff; }

/* typography */

h1 {
    color: #CC3333;
    font-size: 165%;
}

h2 {
    color: #CC3333;
    font-size: 130%;
}

h3 {
    color: #ff0033;
    font-size: 115%;
}

h4 {
    font-size: 100%;
}

h4.user {
    background:  transparent url(../../common/images/user.png) top left no-repeat;
    padding:  0 0 0 24px;
}

ol.small li {
    font-size: 80%;
}

/* basic page layout */

#page {
    background-color: #fff;
    min-height: 200px;
    overflow: hidden;
    padding:  20px 0;
    clear: both;
}

#page .container_16 .grid_16 {
    clear: both;
}

#page #messages-container {
    background:  #fff;
    display: none;
}

#header-top  {
    background:  #272911;
    border-bottom:  1px solid #4a4d32;
    height: 42px;
    /*line-height: 42px;*/
    line-height: 42px;
    /*overflow:  hidden;*/
}

#header-top a {
    color: #fff;
}

    /* User menu - override common menu.css*/

    ul#user-menu li .sub {
        top: 42px; left: -200px;
        background: #272911;
    }

#header-main {
    background:  #60652A url(../images/bg-header.png) repeat-x top left;
    height: 140px;
    /*position: relative;*/
    /*z-index: 1;*/
}


#header-main .container_16 {
    background: transparent url(../images/bg-main.png) no-repeat  right -150px;
    height: 140px;
}


#home #header-main {
    height: 350px;
}

#home #header-main .container_16 {
    background: transparent url(../images/bg-main.png) no-repeat bottom right;
    height: 350px;
}


#footer {
    background:  #60652A;
    min-height: 100px;
}



/* Name / Branding */

#branding h1 {
    background: transparent url(../images/bg-name.png) no-repeat top left;
    color: #fff;
    font: 42px arial;
    margin: 40px 0 0 0;
    padding:  0;
    width: auto;
}

#branding h1 span {
    display: inline-block;
    text-align: center;
    width: 335px;
    /*margin-left: 20px;*/
}

#header-text {
    display: none;
}

#header-text a {
    color: pink;
}

#home #header-text {
    display: block;
    color: #fff;
    font-size: 13px;
    width: 40%;
    margin-top: 30px;
}

/* User bar navigation */

#header-user-bar  {
    background: #272911;
    border-bottom:  1px solid #4a4d32;
    /*overflow:  hidden;*/
    line-height: 32px;
    height: 32px;
    /*position: relative;*/
    /*z-index: 1000;*/
}

#user-name {
    color: #fff;
    display: inline-block;
    font-weight: bold;
    margin-right: 20px;
}

/* Search */

#search {
    background:  #CFD0BF;
    text-align: center;
    padding:  10px 0;
}


/*#search input[type="text"]{*/
    /*background: transparent url(../images/bg-search-input.png) 0 0 no-repeat;*/
    /*border: none;*/
    /*height: 32px;*/
    /*line-height: 40px;*/
    /*margin: 0 0;*/
    /*padding: 0 10px;*/
    /*width: 430px;*/
/*}*/

/*#search input[type="submit"] {*/
    /*background: transparent url(../images/bg-button-states.png) 0 0 no-repeat;*/
    /*background:  #272911;*/
    /*border:  none;*/
    /*color: #fff;*/
    /*font-weight: normal;*/
    /*height: 32px;*/
    /*margin: 0 0 0 -5px;*/
    /*padding: 0 5px;*/
    /*width: 82px;*/

/*}*/

#search input[type="text"] {
font-size: 14px;
height: 22px;
width: 336px;
background-color: white;
margin: 0!important;
padding: 2px 0 2px 8px;
}

#search input[type="submit"] {
    background: none repeat scroll 0 0 #CC3333;
    border: medium none;
    border-radius: 0 0 0 0;
    color: #FFFFFF;
    height: 28px;
    margin-left: -4px;
    padding: 2px 12px;
    text-transform: uppercase;
}

#search input[type="submit"]:hover {
    /*background: transparent url(../images/bg-button-states.png) 0 -32px no-repeat;*/
}

#search input[type="submit"]:active {
    /*background: transparent url(../images/bg-button-states.png) 0 -64px no-repeat;*/
}

/* result page */

.item-nav {
    border-bottom: 1px solid #CFD0BF;
    padding: 10px 0;
    margin-bottom: 1em;
    width: 100%;
}

.item-count {
    /*display: inline-block;*/
    /*width: 20%;*/
}

.item-pager {
    /*display: inline-block;*/
    /*text-align: right;*/
    /*display: inline-block;*/
    /*width: 70%;*/
}



.items {
    clear: both;

}


    .one-col {
        clear: both;
        padding: 0 1% 10px 1%;
    }
     .one-col:after {
      content: ".";
      display: block;
      height: 0;
      clear: both;
      visibility: hidden;
    }
    .two-col {
        float: left;
        margin: 0 2% 1em 0;
        width: 48%;
    }

    .three-col {
        float: left;
        margin: 0 1% 1em 1%;
        width: 31.33%;
    }

.row {
    border-bottom: 1px dotted #555;
    display: block;
    height: 21px;
    line-height: 21px;
    margin-bottom: 4px;

}

.row label {
    clear: left;
    float: left;
    font-weight: bold;
    margin-right: 10px;
    width: 100px;
    text-align: right;
}

.row span {
    display: block
}

/* containers */

.container {
    background:  #E7E8DF;
    border:  1px solid #E7E8DF;
    border-radius: 4px;
}

.container .head,
.container .body {
    padding:  4px 10px;
}



/* COMMENTS */
ul.comment-list {
    list-style: none;
    margin: 0;
    padding: 0;
}

li.comment {
    color: #555;
    margin-bottom: 10px;
    padding: 5px;
}

li.comment:hover {
    background: #eaeaea;
}

li.comment .avatar {
    float: left;
    margin-right: 10px;
}

li.comment .content {
    display: table-cell;
    vertical-align: top;
    width: 75%;
}

li.comment .date {
    color: #b22222;
    font-weight: bold;
}

li.comment .user {
    font-weight: bold;
}

.comment p {
    margin: 0;
}

#add-comment-dialog {
    display: none;
}

/* LABELS */

#add-label-dialog {
    display: none;
}

/* form-elements.css over-rides */

input[type=submit],
input[type=button],
input[type=file],
button {
    background-color: #cfd0bf;
    color: #555;
}

input[type=file] {
    background: #fff;
}

input[type=submit]:hover,
input[type=button]:hover,
input[type=file]:hover,
button:hover{
    background-color: #666600;
    color: #fff;
}

input[type=submit]:active,
input[type=button]:active,
input[type=file]:active,
button:active{
    background-color: #3c3c00;
    color: #fff;
}

button[disabled] {
    background-color: #cfd0bf;
    color: #555;
    cursor: default;
    opacity:0.4;
    filter:alpha(opacity=40)
}

ul.inline {
    margin: 0;
    padding: 0;
}

ul.inline li {
    display: inline-block;
    list-style: none;
    margin: 0 10px 10px 0;
}

/* item over-ride */

.item h2 {
    font-size: 110%;
}

p.error {
    padding:  4px;
    background: #cc0000;
    color: #fff
}

p.success {
    padding:  4px;
    background:  green;
    color: #fff;
}

/*table over-rides */

.datagrid table thead th {
    background-color: #aaaaa0;
    border-left: 1px solid #ccccc0;
}

.datagrid table tbody td {
    color: #00496B;
    border-left: 1px solid #ccccc0;
}

.datagrid table tbody .alt td {
    background: #fffff0;
    color: #00496B;
}

.datagrid table tfoot td {
    border-top: 1px solid #ccccc0;
    background: #ddddd0;
}



