body {
    background:  #60652A;
    font: 15px/1.5 Arial,Helvetica,sans-serif;
    margin:  0;
}

body#authenticate {
       background:  #60652A url(../images/bg-header.png) repeat-x top left;
}

.container_16 {
    /*position: relative;*/
    min-width: 960px;
}

/* Sticky Footer Code thanks to: http://www.cssstickyfooter.com/ */

/*html, body {height: 100%;}*/

/*#wrapper {min-height: 100%;}*/

/*#page {overflow:auto;*/
	/*padding-bottom: 200px;}  *//* must be same height as the footer */

/*#footer {position: relative;*/
	/*margin-top: -200px; *//* negative value of footer height */
	/*height: 200px;*/
	/*clear:both;}*/

/*Opera Fix*/
/*body:before {*/
	/*content:"";*/
	/*height:100%;*/
	/*float:left;*/
	/*width:0;*/
	/*margin-top:-32767px;/*/
/*}*/

/* end sticky footer code! */

a, a:active, a:visited { color: #0673b9; }
a:hover { color: #10a1ff; }

/* typography */

h1 {
    color: #CC3333;
    font-size: 165%;
}

h2 {
    color: #CC3333;
    font-size: 130%;
}

h3 {
    color: #ff0033;
    font-size: 115%;
}

h4 {
    font-size: 100%;
}

h4.user {
    background:  transparent url(../../common/images/user.png) top left no-repeat;
    padding:  0 0 0 24px;
}

ol.small li {
    font-size: 80%;
}

/*p {*/
    /*margin:  0;*/
/*}*/

/* basic page layout */

#page {
    background-color: #fff;
    min-height: 200px;
    overflow: hidden;
    padding:  20px 0;
    clear: both;
}

#page .container_16 .grid_16 {
    clear: both;
}

#page #messages-container {
    background:  #fff;
    display: none;
}

#header-top  {
    background:  #272911;
    border-bottom:  1px solid #4a4d32;
    height: 42px;
    /*line-height: 42px;*/
    line-height: 42px;
    /*overflow:  hidden;*/
}

#header-main {
    background:  #60652A url(../images/bg-header.png) repeat-x top left;
    height: 140px;
    /*position: relative;*/
    /*z-index: 1;*/
}


#header-main .container_16 {
    background: transparent url(../images/bg-main.png) no-repeat  right -150px;
    height: 140px;
}


#home #header-main {
    height: 350px;
}

#home #header-main .container_16 {
    background: transparent url(../images/bg-main.png) no-repeat bottom right;
    height: 350px;
}


#footer {
    background:  #60652A;
    min-height: 100px;
}

#login-registration {
    text-align: right;
}

/* Name / Branding */

#branding h1 {
    background: transparent url(../images/bg-name.png) no-repeat top left;
    color: #fff;
    font: 42px arial;
    margin: 40px 0 0 0;
    padding:  0;
}

#branding h1 span {
    display: inline-block;
    text-align: center;
    width: 335px;
    /*margin-left: 20px;*/
}

#header-text {
    display: none;
}

#header-text a {
    color: pink;
}

#home #header-text {
    display: block;
    color: #fff;
    font-size: 13px;
    width: 40%;
    margin-top: 30px;
}

/* User bar navigation */

#header-user-bar  {
    background: #272911;
    border-bottom:  1px solid #4a4d32;
    /*overflow:  hidden;*/
    line-height: 32px;
    height: 32px;
    /*position: relative;*/
    /*z-index: 1000;*/
}

#user-name {
    color: #fff;
    display: inline-block;
    font-weight: bold;
    margin-right: 20px;
}

/* Search */

#search {
    background:  #CFD0BF;
    height: 75px;
    line-height: 70px;
    text-align: center;
}
#search input[type="text"]{
    background: transparent url(../images/bg-search-input.png) 0 0 no-repeat;
    border: none;
    height: 40px;
    line-height: 40px;
    margin: 0 10px 0 0;
    padding: 0 10px;
    width: 430px;
}

#search input[type="submit"] {
    background: transparent url(../images/bg-button-states.png) 0 0 no-repeat;
    border:  none;
    color: #fff;
    font-weight: normal;
    height: 32px;
    margin: 0 10px 0 0;
    padding: 0 5px;
    width: 82px;

}

#search input[type="submit"]:hover {
    background: transparent url(../images/bg-button-states.png) 0 -32px no-repeat;
}

#search input[type="submit"]:active {
    background: transparent url(../images/bg-button-states.png) 0 -64px no-repeat;
}

/* result page */

.item-nav {
    border-bottom: 1px solid #CFD0BF;
    padding: 10px 0;
    margin-bottom: 1em;
    width: 100%;
}

.item-count {
    /*display: inline-block;*/
    /*width: 20%;*/
}

.item-pager {
    /*display: inline-block;*/
    /*text-align: right;*/
    /*display: inline-block;*/
    /*width: 70%;*/
}



.items {
    clear: both;

}


    .one-col {
        clear: both;
        padding: 0 1% 10px 1%;
    }
     .one-col:after {
      content: ".";
      display: block;
      height: 0;
      clear: both;
      visibility: hidden;
    }
    .two-col {
        float: left;
        margin: 0 2% 1em 0;
        width: 48%;
    }

    .three-col {
        float: left;
        margin: 0 1% 1em 1%;
        width: 31.33%;
    }

.row {
    border-bottom: 1px dotted #555;
    display: block;
    height: 21px;
    line-height: 21px;
    margin-bottom: 4px;

}

.row label {
    clear: left;
    float: left;
    font-weight: bold;
    margin-right: 10px;
    width: 100px;
    text-align: right;
}

.row span {
    display: block
}

/* containers */

.container {
    background:  #E7E8DF;
    border:  1px solid #E7E8DF;
    border-radius: 4px;
}

.container .head,
.container .body {
    padding:  4px 10px;
}

/* TABLE STYLES */
table {
    border-collapse: separate;
    border-spacing: 0;
    margin: 0 0 10px 0;
}

thead th {
    /*border-bottom: 4px solid #000;*/
    /*font-size: 1em;*/
    text-align: left;
    font-weight: normal;
    margin-top: 0;
    padding: 0 5px;
}

thead th span {
    color: #888;
}

tbody th {
    text-align: right;
    min-width: 120px;
    font-size: 1.1em;
}

tbody th,
tbody td {
    padding: 4px 6px;
    vertical-align: top;
    line-height: 1.5em;
}


table.mceLayout {
    width: 100% !important;
}


/* COMMENTS */
ul.comment-list {
    list-style: none;
    margin: 0;
    padding: 0;
}

li.comment {
    color: #555;
    margin-bottom: 10px;
    padding: 5px;
}

li.comment:hover {
    background: #eaeaea;
}

li.comment .avatar {
    float: left;
    margin-right: 10px;
}

li.comment .content {
    display: table-cell;
    vertical-align: top;
    width: 75%;
}

li.comment .date {
    color: #b22222;
    font-weight: bold;
}

li.comment .user {
    font-weight: bold;
}

.comment p {
    margin: 0;
}

#add-comment-dialog {
    display: none;
}

/* LABELS */

#add-label-dialog {
    display: none;
}

/* form-elements.css over-rides */

input[type=submit],
input[type=button],
input[type=file],
button {
    background-color: #cfd0bf;
    color: #555;
}

input[type=file] {
    background: #fff;
}

input[type=submit]:hover,
input[type=button]:hover,
input[type=file]:hover,
button:hover{
    background-color: #666600;
    color: #fff;
}

input[type=submit]:active,
input[type=button]:active,
input[type=file]:active,
button:active{
    background-color: #3c3c00;
    color: #fff;
}

button[disabled] {
    background-color: #cfd0bf;
    color: #555;
    cursor: default;
    opacity:0.4;
    filter:alpha(opacity=40)
}

/* table styles */

table.list,
table.files{
    width: 100%;
    font-size: 12px;
}

table.list th.header {
    background:  #ddddd0;
    border-bottom:  1px solid #fff;
    color: #555;
    font-weight: bold;
    padding:  2px 6px;
}

table.list th {
    padding:  2px 6px;
    background-color: #555;
    color: #fff;
    font-weight: normal;
}

    /*table.list td.action,*/
    /*table.list td.thumb {*/
        /*text-align: right*/
    /*}*/

    /*table.list td.thumb img {*/
        /*margin-right: 5px;*/
    /*}*/

table.list tr:nth-child(odd),
table.files tr:nth-child(odd){
    background-color:#eeeee0;
}
table.list tr:nth-child(even){
    background-color:#fffff0;
}

table.list tr:hover {
    background:  #fff;
}

ul.inline {
    margin: 0;
    padding: 0;
}

ul.inline li {
    display: inline-block;
    list-style: none;
    margin: 0 10px 10px 0;
}

/* item over-ride */

.item h2 {
    font-size: 110%;
}




