/* less declarations */

/* WIDTHS ***************************************************************/

@page-width: 100%;
@container-width: 960px;
@content-width: 940px;

/* MARGINS **************************************************************/

@container-margin: 0 auto;
@content-margin: 0 0;

/* POSITIONS & HEIGHTS **************************************************/

@position: absolute;

@sitename-height: 50px;
@sitename-left: 0px;
@sitename-top: 0px;

@primary-branding-height: 50px;
@primary-branding-left: 0;
@primary-branding-top: 0px;

@secondary-branding-height: 50px;
@secondary-branding-left: 0px;
@secondary-branding-top: 150px;

@user-nav-left: 0;
@user-nav-top: 60px;
@user-nav-height: 30px;

@main-nav-left: 0px;
@main-nav-top: 100px;
@main-nav-height: 30px;

@header-left: 0px;
@header-top: 50px;
@header-height: 300px;
@header-home-height: 420px;


@search-height: 40px;
@search-right: 10px;
@search-left: 0px;
@search-top: 0px;

@crumbs-top: @header-top + @header-height;
@crumbs-height:32px;

@main-top: @header-top + @header-height + @crumbs-height;
@main-home-top: @header-top + @header-home-height + 10px;

@footer-height: 100px;

html {
    height: 100%;
    width: 100%;
}

/* LAYOUT **********************************************************************************************************/

/*#header, #search {*/
    /*width: 100%;*/
/*}*/

#page {
    height: auto;
    background: #ccc;
    margin: 0 auto;
    width: @page-width;
    position: absolute;
}

.container {
    margin: @container-margin;
    width: @container-width;
}

.content {
    margin: @content-margin;
    width: @content-width;
}

#site-name {
    height: @sitename-height;
    position: @position;
    top: @sitename-top;
    left: @sitename-left;
    z-index: 11;
}


#header  {
    height: @header-height;
    position: @position;
    top: @header-top;
    left: @header-left;
    width: 100%;
    z-index: 9;
}

#primary-branding {
    height: @primary-branding-height;
    position: @position;
    top: @primary-branding-top;
    left: @primary-branding-left;
    right: 0;
    z-index: 10;
}

#secondary-branding {
    height: @secondary-branding-height;
    position: @position;
    top: @secondary-branding-top;
    left: @secondary-branding-left;
    right: 0;
    z-index: 10;
}

#main-nav {
    height: @main-nav-height;
    position: @position;
    top: @main-nav-top;
    left: @main-nav-left;
    z-index: 10;
}

#user-nav{
    height: @user-nav-height;
    position: @position;
    top: @user-nav-top;
    left: @user-nav-left;
    right: 0;

}

#search {
    height: @search-height;
    position: @position;
    top: @search-top;
    left: @search-left;
}

#main {
    position: static;
    margin-top: @main-top;
}

#footer {
    position: static;
    height: @footer-height;
}

/* COLORS AND BACKGROUNDS ***************************************************************************/

#primary-branding {
    background-color: #ccffff;
}

#secondary-branding .container {
    background-color: #ccccff;
}

#header {
   background-color: #ccc;
}

#main-nav{
   background-color: #ffccff;
}

#user-nav{
    background-color: #ffffcc;
}

#search {
    background-color: #ccff99;
}

#main {
    background-color: #fff;
}

#footer {
    background-color: #9999ff;
}